/* screen - 00u46-process-codes-landing-page */

.x00u46-process-codes-landing-page {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px 0px;
  position: relative;
}

.x00u46-process-codes-landing-page .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x00u46-process-codes-landing-page .logo-title {
  cursor: pointer;
  height: 55px;
  position: relative;
  width: 410px;
}

.x00u46-process-codes-landing-page .foundation-for-public-code {
  height: 56px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 349px;
}

.x00u46-process-codes-landing-page .logo-symbol {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.x00u46-process-codes-landing-page .navigation {
  display: flex;
  gap: 51px;
  height: 24px;
  position: relative;
  width: 534px;
}

.x00u46-process-codes-landing-page .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  height: 19px;
  justify-content: flex-end;
  margin-top: 2.5px;
  position: relative;
  width: 371px;
}

.x00u46-process-codes-landing-page .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x00u46-process-codes-landing-page .services {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  height: 24px;
  position: relative;
  width: 112px;
}

.x00u46-process-codes-landing-page .intro {
  align-items: center;
  background-color: var(--melon);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  gap: 3px;
  justify-content: center;
  overflow: hidden;
  padding: 30px 60px;
  position: relative;
  width: 1080px;
}

.x00u46-process-codes-landing-page .process-codes-are-fl {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 487.85px;
}

.x00u46-process-codes-landing-page .span0 {
  font-weight: 700;
}

.x00u46-process-codes-landing-page .span1 {
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxl);
  letter-spacing: 0;
}

.x00u46-process-codes-landing-page .we-invite-you-to-tes {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  width: 420px;
}

.x00u46-process-codes-landing-page .overlap-group2 {
  height: 325px;
  left: 40px;
  position: relative;
  top: 55px;
  width: 354px;
}

.x00u46-process-codes-landing-page .rectangle-11 {
  background-color: var(--white);
  height: 35px;
  left: 108px;
  position: absolute;
  top: 136px;
  width: 58px;
}

.x00u46-process-codes-landing-page .vector {
  height: 33px;
  left: 78px;
  position: absolute;
  top: 39px;
  width: 50px;
}

.x00u46-process-codes-landing-page .vector-1 {
  height: 49px;
  left: 79px;
  position: absolute;
  top: 33px;
  width: 62px;
}

.x00u46-process-codes-landing-page .vector-2 {
  height: 44px;
  left: 80px;
  position: absolute;
  top: 35px;
  width: 74px;
}

.x00u46-process-codes-landing-page .group-2 {
  height: 86px;
  left: 141px;
  position: absolute;
  top: 239px;
  width: 211px;
}

.x00u46-process-codes-landing-page .ellipse {
  border: 2.06px solid;
  border-color: var(--blue-violet);
  border-radius: 123.23px/123.74px;
  height: 247px;
  left: 61px;
  position: absolute;
  top: 36px;
  width: 246px;
}

.x00u46-process-codes-landing-page .comment {
  align-items: flex-start;
  display: flex;
  height: 72px;
  left: 26px;
  min-width: 72px;
  position: absolute;
  top: 246px;
  transform: rotate(-90.00deg);
}

.x00u46-process-codes-landing-page .overlap-group {
  height: 72px;
  margin-top: 0;
  position: relative;
  width: 72px;
}

.x00u46-process-codes-landing-page .union {
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(90.00deg);
  width: 72px;
}

.x00u46-process-codes-landing-page .rectangle-315 {
  border: 1.03px solid;
  border-color: var(--white);
  border-radius: 5.16px;
  height: 8px;
  left: 19px;
  position: absolute;
  top: 32px;
  width: 8px;
}

.x00u46-process-codes-landing-page .rectangle-316 {
  border: 1.03px solid;
  border-color: var(--white);
  border-radius: 5.16px;
  height: 8px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 8px;
}

.x00u46-process-codes-landing-page .rectangle-317 {
  border: 1.03px solid;
  border-color: var(--white);
  border-radius: 5.16px;
  height: 8px;
  left: 45px;
  position: absolute;
  top: 32px;
  width: 8px;
}

.x00u46-process-codes-landing-page .rectangle-315-1 {
  background-color: var(--blue-violet);
  border-radius: 5.16px;
  height: 8px;
  left: 120px;
  position: absolute;
  top: 149px;
  width: 8px;
}

.x00u46-process-codes-landing-page .rectangle-316-1 {
  background-color: var(--blue-violet);
  border-radius: 5.16px;
  height: 8px;
  left: 133px;
  position: absolute;
  top: 149px;
  width: 8px;
}

.x00u46-process-codes-landing-page .rectangle-317-1 {
  background-color: var(--blue-violet);
  border-radius: 5.16px;
  height: 8px;
  left: 146px;
  position: absolute;
  top: 149px;
  width: 8px;
}

.x00u46-process-codes-landing-page .ellipse-1 {
  background-color: var(--fpchlyellow);
  border-radius: 13.92px;
  height: 28px;
  left: 106px;
  position: absolute;
  top: 100px;
  width: 28px;
}

.x00u46-process-codes-landing-page .symbol-dev {
  align-items: flex-start;
  display: flex;
  height: 22px;
  justify-content: center;
  left: 159px;
  min-width: 49px;
  position: absolute;
  top: 25px;
}

.x00u46-process-codes-landing-page .rectangle {
  height: 24px;
  margin-top: -1.02px;
  width: 13px;
}

.x00u46-process-codes-landing-page .ellipse-2 {
  align-self: center;
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  margin-left: 9px;
  margin-top: 0;
  width: 15px;
}

.x00u46-process-codes-landing-page .rectangle-1 {
  height: 24px;
  margin-left: 10px;
  margin-top: -1.02px;
  width: 13px;
}

.x00u46-process-codes-landing-page .ellipse-3 {
  height: 158px;
  left: 61px;
  position: absolute;
  top: 83px;
  width: 293px;
}

.x00u46-process-codes-landing-page .ellipse-4 {
  height: 98px;
  left: 164px;
  position: absolute;
  top: 106px;
  width: 143px;
}

.x00u46-process-codes-landing-page .ellipse-5 {
  height: 291px;
  left: 106px;
  position: absolute;
  top: 7px;
  width: 234px;
}

.x00u46-process-codes-landing-page .vector-3 {
  height: 98px;
  left: 0;
  position: absolute;
  top: 113px;
  width: 121px;
}

.x00u46-process-codes-landing-page .ellipse-6 {
  background-color: var(--fpchlyellow);
  border-radius: 12.37px;
  height: 25px;
  left: 170px;
  position: absolute;
  top: 270px;
  width: 25px;
}

.x00u46-process-codes-landing-page .group {
  height: 27px;
  left: 312px;
  position: absolute;
  top: 253px;
  width: 27px;
}

.x00u46-process-codes-landing-page .vector-4 {
  height: 90px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 161px;
}

.x00u46-process-codes-landing-page .group-1 {
  height: 23px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 23px;
}

.x00u46-process-codes-landing-page .rectangle-9 {
  background-color: var(--blue-violet);
  height: 35px;
  left: 184px;
  position: absolute;
  top: 159px;
  width: 58px;
}

.x00u46-process-codes-landing-page .symbol-dev-1 {
  left: 194px;
  top: 168px;
}

.x00u46-process-codes-landing-page .rectangle-10 {
  background-color: var(--carnation);
  height: 35px;
  left: 51px;
  position: absolute;
  top: 186px;
  width: 58px;
}

.x00u46-process-codes-landing-page .symbol-dev-2 {
  left: 61px;
  top: 194px;
}

.x00u46-process-codes-landing-page .ellipse-2-1 {
  background-color: var(--bittersweet);
  border-radius: 6.19px;
  height: 12px;
  left: 177px;
  position: absolute;
  top: 172px;
  width: 12px;
}

.x00u46-process-codes-landing-page .ellipse-5-1 {
  background-color: var(--bittersweet);
  border-radius: 6.19px;
  height: 12px;
  left: 102px;
  position: absolute;
  top: 147px;
  width: 12px;
}

.x00u46-process-codes-landing-page .ellipse-3-1 {
  background-color: var(--blue-violet);
  border-radius: 6.19px;
  height: 12px;
  left: 102px;
  position: absolute;
  top: 199px;
  width: 12px;
}

.x00u46-process-codes-landing-page .ellipse-4-1 {
  background-color: var(--blue-violet);
  border-radius: 6.19px;
  height: 12px;
  left: 176px;
  position: absolute;
  top: 276px;
  width: 12px;
}

.x00u46-process-codes-landing-page .ellipse-7 {
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  left: 54px;
  position: absolute;
  top: 149px;
  width: 15px;
}

.x00u46-process-codes-landing-page .vector-3-1 {
  height: 29px;
  left: 107px;
  position: absolute;
  top: 177px;
  width: 78px;
}

.x00u46-process-codes-landing-page .vector-5 {
  height: 41px;
  left: 46px;
  position: absolute;
  top: 113px;
  width: 64px;
}

.x00u46-process-codes-landing-page .vector-4-1 {
  height: 79px;
  left: 107px;
  position: absolute;
  top: 204px;
  width: 76px;
}

.x00u46-process-codes-landing-page .ellipse-8 {
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  left: 298px;
  position: absolute;
  top: 149px;
  width: 15px;
}

.x00u46-process-codes-landing-page .ellipse-9 {
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  left: 90px;
  position: absolute;
  top: 239px;
  width: 15px;
}

.x00u46-process-codes-landing-page .ellipse-10 {
  background-color: var(--fpchlyellow);
  border-radius: 23.2px;
  height: 46px;
  left: 205px;
  position: absolute;
  top: 61px;
  width: 46px;
}

.x00u46-process-codes-landing-page .comment-1 {
  align-items: flex-start;
  display: flex;
  height: 59px;
  justify-content: flex-end;
  left: 199px;
  min-width: 59px;
  position: absolute;
  top: 55px;
  transform: rotate(180deg);
}

.x00u46-process-codes-landing-page .overlap-group1 {
  height: 61px;
  margin-top: -1.03px;
  position: relative;
  width: 61px;
}

.x00u46-process-codes-landing-page .union-1 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 61px;
}

.x00u46-process-codes-landing-page .group-2-1 {
  height: 21px;
  left: 20px;
  position: absolute;
  top: 20px;
  transform: rotate(-180deg);
  width: 21px;
}

.x00u46-process-codes-landing-page .main-frame {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 58px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x00u46-process-codes-landing-page .content-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.x00u46-process-codes-landing-page .intro-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .what-is-a-process-code {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x00u46-process-codes-landing-page .flex-container {
  gap: 10px;
}

.x00u46-process-codes-landing-page .text {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x00u46-process-codes-landing-page .span2 {
  letter-spacing: 0;
}

.x00u46-process-codes-landing-page .module {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .pc01-software-procurement {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
}

.x00u46-process-codes-landing-page .this-process-introdu {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.x00u46-process-codes-landing-page .see-this-process-code {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.x00u46-process-codes-landing-page .module-1 {
  border: 2px solid;
  border-color: var(--fpcblue);
  box-shadow: 0px 4px 0px #a3def180;
}

.x00u46-process-codes-landing-page .frame-178 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .pc02-building-a-cod {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 468px;
}

.x00u46-process-codes-landing-page .meta {
  align-items: flex-start;
  background-color: var(--fpcbluehl);
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 3px 8px;
  position: relative;
}

.x00u46-process-codes-landing-page .in-development {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x00u46-process-codes-landing-page .this-process-code-is {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.x00u46-process-codes-landing-page .join-our-next-community-workshop {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.x00u46-process-codes-landing-page .module-2 {
  border: 2px dashed;
  border-color: var(--fpchlyellow);
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
}

.x00u46-process-codes-landing-page .have-a-suggestion {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x00u46-process-codes-landing-page .if-you-or-your-organ {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.x00u46-process-codes-landing-page .contact-us {
  align-self: stretch;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
}

.x00u46-process-codes-landing-page .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.x00u46-process-codes-landing-page .frame-115 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
}

.x00u46-process-codes-landing-page .flex-container-1546747 {
  display: inline-flex;
}

.x00u46-process-codes-landing-page .text-1 {
  align-self: stretch;
  color: transparent;
}

.x00u46-process-codes-landing-page .span0-1 {
  color: var(--black);
  font-weight: 700;
}

.x00u46-process-codes-landing-page .span-1 {
  color: var(--basic-link);
  font-weight: 600;
  text-decoration: underline;
}

.x00u46-process-codes-landing-page .have-a-question {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x00u46-process-codes-landing-page .email-us {
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x00u46-process-codes-landing-page .flex-col {
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x00u46-process-codes-landing-page .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .text0-i8593376885932298 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.x00u46-process-codes-landing-page .text1-i8593376885932298 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.x00u46-process-codes-landing-page .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .links-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .links-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .frame-201 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  position: relative;
  width: 343px;
}

.x00u46-process-codes-landing-page .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x00u46-process-codes-landing-page .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x00u46-process-codes-landing-page .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x00u46-process-codes-landing-page .group-199 {
  height: 60px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x00u46-process-codes-landing-page .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x00u46-process-codes-landing-page .links-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.x00u46-process-codes-landing-page .text-4 {
  color: var(--black);
  margin-top: -1.00px;
  width: fit-content;
}

.x00u46-process-codes-landing-page .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x00u46-process-codes-landing-page .flex-container-i8593376885932358 {
  display: flex;
  height: 130px;
  margin-top: 8px;
  position: relative;
  width: 650px;
}

.x00u46-process-codes-landing-page .span-2 {
  text-decoration: underline;
}

.x00u46-process-codes-landing-page .flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x00u46-process-codes-landing-page .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x00u46-process-codes-landing-page .flex-container-1 {
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.x00u46-process-codes-landing-page .module-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.x00u46-process-codes-landing-page .symbol-dev-3 {
  height: 19px;
  position: absolute;
  width: 38px;
}

.x00u46-process-codes-landing-page .text-2 {
  font-weight: 400;
  line-height: normal;
  position: relative;
}
