/* screen - 1a-getting-oriented */

.x1a-getting-oriented {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  left: 0px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 60px 0px 0px;
  position: relative;
  top: 0px;
}

.x1a-getting-oriented .header-0l2DeX {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x1a-getting-oriented .logo-title-P596rI {
  min-width: 410px;
  position: relative;
}

.x1a-getting-oriented .navigation-P596rI {
  background-color: transparent;
  height: 24px;
  min-width: 534px;
  position: relative;
}

.x1a-getting-oriented .links-augFFV {
  align-items: flex-start;
  gap: 30px;
  justify-content: flex-end;
  left: 0px;
  position: absolute;
  top: 2px;
  width: fit-content;
}

.x1a-getting-oriented .stewardship-xxQ1Vg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1a-getting-oriented .resources-xxQ1Vg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1a-getting-oriented .who-we-are-xxQ1Vg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1a-getting-oriented .join-us-xxQ1Vg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1a-getting-oriented .services-augFFV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  left: 422px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.x1a-getting-oriented .mastodon-4RV20g {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .twitter-4RV20g {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .github-4RV20g {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .title-0l2DeX {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 1080px;
}

.x1a-getting-oriented .main-frame-0l2DeX {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x1a-getting-oriented .content-KBYxO9 {
  align-items: flex-end;
  flex: 1;
  gap: 60px;
}

.x1a-getting-oriented .meta-wVTU8w {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  mix-blend-mode: normal;
  padding: 20px;
  position: relative;
}

.x1a-getting-oriented .this-process-code-wi-5eW1IF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .read-more-about-process-codes-here-5eW1IF {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1a-getting-oriented .intro-wVTU8w {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1a-getting-oriented .titlepage-QLXRaL {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 0px 0px 10px;
  position: relative;
}

.x1a-getting-oriented .page-title-rypxNW {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1a-getting-oriented .cluster-QLXRaL {
  gap: 30px;
  height: auto;
}

.x1a-getting-oriented .phaseorientation-pg6N8x {
  background-color: #00ba8d;
  border-radius: 12px;
  height: 230px;
  min-width: 230px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
}

.x1a-getting-oriented .group-147-eQsoui {
  background-color: transparent;
  height: 87.72%;
  left: 5.24%;
  position: relative;
  top: 3.24%;
  width: 91.67%;
}

.x1a-getting-oriented .ellipse-NYX0T1 {
  background-color: transparent;
  height: 24.25%;
  left: 52.25%;
  position: absolute;
  top: 0px;
  width: 23.20%;
}

.x1a-getting-oriented .rectangle-NYX0T1 {
  background-color: var(--governor-bay);
  height: 35.83%;
  left: 35.84%;
  mix-blend-mode: normal;
  position: absolute;
  top: 60.91%;
  width: 26.75%;
}

.x1a-getting-oriented .ellipse-29-NYX0T1 {
  background-color: #fff400e6;
  border-radius: 23.55px;
  height: 23.34%;
  left: 43.64%;
  mix-blend-mode: normal;
  position: absolute;
  top: 10.97%;
  width: 22.34%;
}

.x1a-getting-oriented .vector-NYX0T1 {
  height: 54.19%;
  left: 20.49%;
  top: 16.72%;
  width: 38.69%;
}

.x1a-getting-oriented .rectangle-bjOh5W {
  background-color: var(--fpcpurple);
  height: 35.83%;
  left: 34.55%;
  mix-blend-mode: normal;
  position: absolute;
  top: 62.27%;
  width: 26.75%;
}

.x1a-getting-oriented .vector-bjOh5W {
  height: 67.77%;
  left: 39.27%;
  top: 22.96%;
  width: 39.12%;
}

.x1a-getting-oriented .vector-TC0PW4 {
  height: 25.20%;
  left: 64.02%;
  top: 72.86%;
  width: 13.34%;
}

.x1a-getting-oriented .vector-DY8eZA {
  height: 5.97%;
  left: 29.68%;
  top: 68.04%;
  width: 1.42%;
}

.x1a-getting-oriented .ellipse-bjOh5W {
  background-color: var(--fpchlyellow);
  border-radius: 2.74px;
  height: 2.71%;
  left: 65.45%;
  mix-blend-mode: normal;
  position: absolute;
  top: 41.10%;
  width: 2.60%;
}

.x1a-getting-oriented .ellipse-TC0PW4 {
  background-color: var(--fpchlyellow);
  border-radius: 2.19px;
  height: 2.17%;
  left: 27.27%;
  mix-blend-mode: normal;
  position: absolute;
  top: 35.40%;
  width: 2.08%;
}

.x1a-getting-oriented .ellipse-DY8eZA {
  background-color: var(--fpchlyellow);
  border-radius: 2.74px;
  height: 2.71%;
  left: 85.45%;
  mix-blend-mode: normal;
  position: absolute;
  top: 36.48%;
  width: 2.60%;
}

.x1a-getting-oriented .ellipse-49DcFH {
  background-color: var(--fpchlyellow);
  border-radius: 1.64px;
  height: 1.63%;
  left: 81.30%;
  mix-blend-mode: normal;
  position: absolute;
  top: 37.03%;
  width: 1.56%;
}

.x1a-getting-oriented .ellipse-Nc00qi {
  background-color: var(--fpchlyellow);
  border-radius: 1.64px;
  height: 1.63%;
  left: 89.35%;
  mix-blend-mode: normal;
  position: absolute;
  top: 37.03%;
  width: 1.56%;
}

.x1a-getting-oriented .ellipse-27-NYX0T1 {
  background-color: transparent;
  height: 4.34%;
  left: 28.31%;
  mix-blend-mode: normal;
  position: absolute;
  top: 62.81%;
  width: 4.16%;
}

.x1a-getting-oriented .ellipse-210-NYX0T1 {
  background-color: transparent;
  height: 5.43%;
  left: 64.16%;
  mix-blend-mode: normal;
  position: absolute;
  top: 87.51%;
  width: 5.19%;
}

.x1a-getting-oriented .ellipse-AbLkP2 {
  background-color: var(--fpchlyellow);
  border-radius: 1.64px;
  height: 1.63%;
  left: 91.95%;
  mix-blend-mode: normal;
  position: absolute;
  top: 37.03%;
  width: 1.56%;
}

.x1a-getting-oriented .ellipse-T7xpax {
  background-color: var(--fpchlyellow);
  border-radius: 1.64px;
  height: 1.63%;
  left: 94.55%;
  mix-blend-mode: normal;
  position: absolute;
  top: 37.03%;
  width: 1.56%;
}

.x1a-getting-oriented .ellipse-OcPq0Q {
  background-color: var(--fpchlyellow);
  border-radius: 1.64px;
  height: 1.63%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28.21%;
  transform: rotate(10.76deg);
  width: 1.56%;
}

.x1a-getting-oriented .ellipse-bESuN1 {
  background-color: var(--fpchlyellow);
  border-radius: 1.64px;
  height: 1.63%;
  left: 2.68%;
  mix-blend-mode: normal;
  position: absolute;
  top: 28.71%;
  transform: rotate(10.76deg);
  width: 1.56%;
}

.x1a-getting-oriented .ellipse-QcPwPo {
  background-color: var(--fpchlyellow);
  border-radius: 1.64px;
  height: 1.63%;
  left: 5.24%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.22%;
  transform: rotate(10.76deg);
  width: 1.56%;
}

.x1a-getting-oriented .ellipse-JxlMSW {
  background-color: var(--fpchlyellow);
  border-radius: 2.74px;
  height: 2.71%;
  left: 85.45%;
  mix-blend-mode: normal;
  position: absolute;
  top: 45.71%;
  width: 2.60%;
}

.x1a-getting-oriented .ellipse-BEsDe1 {
  background-color: transparent;
  height: 12.59%;
  left: 61.86%;
  position: absolute;
  top: 37.35%;
  width: 38.14%;
}

.x1a-getting-oriented .ellipse-DKohSE {
  background-color: transparent;
  height: 6.42%;
  left: 66.28%;
  position: absolute;
  top: 39.25%;
  width: 3.55%;
}

.x1a-getting-oriented .ellipse-oBofeN {
  background-color: transparent;
  height: 7.94%;
  left: 24.98%;
  position: absolute;
  top: 33.00%;
  width: 7.60%;
}

.x1a-getting-oriented .ellipse-32-NYX0T1 {
  background-color: var(--white);
  border-radius: 2.19px;
  height: 2.17%;
  left: 29.35%;
  mix-blend-mode: normal;
  position: absolute;
  top: 63.90%;
  width: 2.08%;
}

.x1a-getting-oriented .ellipse-33-NYX0T1 {
  background-color: var(--governor-bay);
  border-radius: 2.19px;
  height: 2.17%;
  left: 65.71%;
  mix-blend-mode: normal;
  position: absolute;
  top: 89.14%;
  width: 2.08%;
}

.x1a-getting-oriented .ellipse-34-NYX0T1 {
  background-color: var(--governor-bay);
  border-radius: 4.38px;
  height: 4.34%;
  left: 74.81%;
  mix-blend-mode: normal;
  position: absolute;
  top: 95.66%;
  width: 4.16%;
}

.x1a-getting-oriented .ellipse-31-NYX0T1 {
  background-color: var(--fpchlyellow);
  border-radius: 7.67px;
  height: 7.60%;
  left: 51.17%;
  mix-blend-mode: normal;
  position: absolute;
  top: 18.84%;
  width: 7.27%;
}

.x1a-getting-oriented .vector-2-NYX0T1 {
  background-color: transparent;
  height: 27.16%;
  left: 2.08%;
  position: absolute;
  top: 11.86%;
  width: 28.71%;
}

.x1a-getting-oriented .symbol-dev-NYX0T1 {
  background-color: transparent;
  height: 5.70%;
  left: 41.56%;
  position: absolute;
  top: 84.53%;
  width: 12.47%;
}

.x1a-getting-oriented .rectangle-rvDOc4 {
  background-color: transparent;
  height: 117.20%;
  left: -3.85%;
  position: absolute;
  top: -8.60%;
  width: 30.06%;
}

.x1a-getting-oriented .rectangle-RPxBnZ {
  background-color: transparent;
  height: 117.20%;
  left: 73.79%;
  position: absolute;
  top: -8.60%;
  width: 30.06%;
}

.x1a-getting-oriented .line-rvDOc4 {
  background-color: transparent;
  height: 99.06%;
  left: 36.69%;
  position: absolute;
  top: 3.14%;
  width: 28.81%;
}

.x1a-getting-oriented .ellipse-211-NYX0T1 {
  background-color: transparent;
  height: 4.61%;
  left: 45.71%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.93%;
  width: 4.42%;
}

.x1a-getting-oriented .ellipse-212-NYX0T1 {
  background-color: transparent;
  height: 2.17%;
  left: 75.84%;
  mix-blend-mode: normal;
  position: absolute;
  top: 96.74%;
  width: 2.08%;
}

.x1a-getting-oriented .we-believe-that-soft-pg6N8x {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .cluster-xeAr5y {
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.x1a-getting-oriented .who-should-use-this-lQqpCd {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .several-people-from-lQqpCd {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .cluster-EIIIdb {
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.x1a-getting-oriented .how-to-use-this-process-code-2lq83L {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .you-should-read-thro-2lq83L {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .frame-203-2lq83L {
  align-items: flex-start;
  gap: 15px;
}

.x1a-getting-oriented .frame-203-JX4rAi {
  align-items: center;
  gap: 5px;
}

.x1a-getting-oriented .line-xsSvJ7 {
  background-color: var(--fpcgreen);
  border-radius: 6px;
  height: 16px;
  min-width: 3px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .x1-orientation-xsSvJ7 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1a-getting-oriented .frame-203-x7Z0Pf {
  align-items: center;
  gap: 5px;
}

.x1a-getting-oriented .line-YO0nf2 {
  background-color: var(--fpcblue);
  border-radius: 6px;
  height: 16px;
  min-width: 3px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .x2-planning-YO0nf2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1a-getting-oriented .frame-204-JX4rAi {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 5px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .line-KDxxxc {
  background-color: var(--fpcbgpeach);
  border-radius: 6px;
  height: 16px;
  min-width: 3px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .x3-assessment-KDxxxc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1a-getting-oriented .frame-205-JX4rAi {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 5px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .line-BMZ1ij {
  background-color: var(--fpcpurple);
  border-radius: 6px;
  height: 16px;
  min-width: 3px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .x4-implementation-BMZ1ij {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1a-getting-oriented .within-each-phase-th-2lq83L {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .main-diagram-v6-1-2lq83L {
  background-color: transparent;
  height: 140.75px;
  min-width: 740px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
}

.x1a-getting-oriented .the-process-code-end-2lq83L {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .strategic-paths-wVTU8w {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
}

.x1a-getting-oriented .cluster-PNxWi0 {
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.x1a-getting-oriented .strategic-paths-1plKwn {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1a-getting-oriented .at-the-end-of-the-or-1plKwn {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .boxes-PNxWi0 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1a-getting-oriented .cluster-3DEvuW {
  gap: 20px;
  height: 104px;
}

.x1a-getting-oriented .box-1-04Ooxo {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 15px;
  justify-content: center;
  mix-blend-mode: normal;
  padding: 15px 30px;
  position: relative;
}

.x1a-getting-oriented .iconpathoff-the-shelf-6tRMEp {
  background-color: transparent;
  height: 64px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .purchase-existing-bu-6tRMEp {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.x1a-getting-oriented .span0-ScZpXp {
  font-style: normal;
  font-weight: 700;
}

.x1a-getting-oriented .span1-ScZpXp {
  font-style: normal;
}

.x1a-getting-oriented .box-2-04Ooxo {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 15px;
  justify-content: center;
  mix-blend-mode: normal;
  padding: 15px 30px;
  position: relative;
}

.x1a-getting-oriented .iconpathvendor-oss-LaQMVA {
  background-color: transparent;
  height: 64px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .paper-AURMxU {
  left: 7px;
  top: 7px;
}

.x1a-getting-oriented .union-QGxxzp {
  height: 21.57%;
  left: -1.81%;
  top: -1.54%;
  width: 25.41%;
}

.x1a-getting-oriented .union-8fzHDA {
  height: 103.31%;
  left: 9.08%;
  top: -1.77%;
  width: 74.26%;
}

.x1a-getting-oriented .union-8NkbQB {
  height: 23.21%;
  left: 33.38%;
  top: 78.56%;
  width: 68.43%;
}

.x1a-getting-oriented .x-AURMxU {
  background-color: transparent;
  height: 24.10%;
  left: 57.81%;
  position: absolute;
  top: 43.75%;
  width: 9.38%;
}

.x1a-getting-oriented .vector-kehPhm {
  height: 75.39%;
  left: -16.66%;
  top: 12.46%;
  width: 133.31%;
}

.x1a-getting-oriented .fork-standard-AURMxU {
  background-color: transparent;
  height: 43.75%;
  left: 40.62%;
  position: absolute;
  top: 23.44%;
  width: 25.00%;
}

.x1a-getting-oriented .ellipse-192-fmmRzO {
  background-color: transparent;
  border: 1.8102669715881348px solid;
  border-color: var(--black);
  border-radius: 3.41px;
  height: 24.32%;
  left: -5.66%;
  position: absolute;
  top: -3.23%;
  width: 42.56%;
}

.x1a-getting-oriented .ellipse-193-fmmRzO {
  background-color: transparent;
  border: 1.8102669715881348px solid;
  border-color: var(--black);
  border-radius: 3.41px;
  height: 24.32%;
  left: -5.66%;
  position: absolute;
  top: 78.91%;
  width: 42.56%;
}

.x1a-getting-oriented .vector-6-fmmRzO {
  background-color: transparent;
  height: 17.86%;
  left: 56.25%;
  position: absolute;
  top: 14.29%;
  width: 50.00%;
}

.x1a-getting-oriented .vector-fmmRzO {
  height: 64.29%;
  left: 9.38%;
  top: 17.86%;
  width: 12.50%;
}

.x1a-getting-oriented .vector-H8u4P1 {
  height: 53.57%;
  left: 9.38%;
  top: 17.86%;
  width: 78.12%;
}

.x1a-getting-oriented .customize-oss-contra-LaQMVA {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.x1a-getting-oriented .span0-wPQDkl {
  font-style: normal;
  font-weight: 700;
}

.x1a-getting-oriented .span1-wPQDkl {
  font-style: normal;
}

.x1a-getting-oriented .cluster-0KTZos {
  gap: 20px;
  height: 104px;
}

.x1a-getting-oriented .box-3-q3udtX {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 15px;
  justify-content: center;
  mix-blend-mode: normal;
  padding: 15px 30px;
  position: relative;
}

.x1a-getting-oriented .iconpathvendor-xJm1MO {
  background-color: transparent;
  height: 64px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .group-146-FfxTRb {
  background-color: transparent;
  height: 51px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 50px;
}

.x1a-getting-oriented .paper-4ChY5a {
  left: 0px;
  top: 0px;
}

.x1a-getting-oriented .union-Rf9Og4 {
  height: 21.62%;
  left: -1.81%;
  top: -1.77%;
  width: 25.41%;
}

.x1a-getting-oriented .union-mcmxHP {
  height: 103.55%;
  left: 9.08%;
  top: -1.77%;
  width: 74.26%;
}

.x1a-getting-oriented .union-34gfT2 {
  height: 23.26%;
  left: 33.38%;
  top: 78.52%;
  width: 68.43%;
}

.x1a-getting-oriented .code-4ChY5a {
  background-color: transparent;
  height: 52.24%;
  left: 30.74%;
  position: absolute;
  top: 14.18%;
  width: 41.59%;
}

.x1a-getting-oriented .x-4ChY5a {
  background-color: transparent;
  height: 30.23%;
  left: 60.00%;
  position: absolute;
  top: 41.16%;
  width: 12.01%;
}

.x1a-getting-oriented .vector-5jjppE {
  height: 75.39%;
  left: -16.66%;
  top: 12.46%;
  width: 133.31%;
}

.x1a-getting-oriented .custom-software-cont-xJm1MO {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.x1a-getting-oriented .span0-RrVuhB {
  font-style: normal;
  font-weight: 700;
}

.x1a-getting-oriented .span1-RrVuhB {
  font-style: normal;
}

.x1a-getting-oriented .box-4-q3udtX {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 4px;
  display: flex;
  flex: 1;
  gap: 15px;
  justify-content: center;
  mix-blend-mode: normal;
  padding: 15px 30px;
  position: relative;
}

.x1a-getting-oriented .iconpathinhouse-RwckLA {
  background-color: transparent;
  height: 64px;
  min-width: 64px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .icon-home-BBD6Dg {
  background-color: transparent;
  height: 83.81%;
  left: 2.43%;
  position: absolute;
  top: 6.81%;
  width: 95.14%;
}

.x1a-getting-oriented .gear-2-BBD6Dg {
  background-color: transparent;
  height: 42.77%;
  left: 26.49%;
  position: absolute;
  top: 31.25%;
  width: 47.02%;
}

.x1a-getting-oriented .build-in-house-build-RwckLA {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.x1a-getting-oriented .span0-2Ja2sH {
  font-style: normal;
  font-weight: 700;
}

.x1a-getting-oriented .span1-2Ja2sH {
  font-style: normal;
}

.x1a-getting-oriented .getting-oriented-wVTU8w {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1a-getting-oriented .titlesubsection-SVG3XW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 0px 0px 10px;
  position: relative;
}

.x1a-getting-oriented .subsection-title-82rTds {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1a-getting-oriented .procurement-is-an-op-SVG3XW {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .footer-nav-wVTU8w {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 5px;
  height: auto;
  justify-content: flex-end;
  position: relative;
}

.x1a-getting-oriented .navfooternext-0e0Flj {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .group-134-VjyoAQ {
  background-color: transparent;
  height: 38px;
  min-width: 168px;
  position: relative;
}

.x1a-getting-oriented .x1b-discovery-research-llvGwB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x1a-getting-oriented .next-llvGwB {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1a-getting-oriented .arrow-32-VjyoAQ {
  background-color: transparent;
  height: 12.46923828125px;
  margin-right: -0.85px;
  min-width: 15.2392578125px;
  position: relative;
}

.x1a-getting-oriented .sidebarv2-KBYxO9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: normal;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .top-8a1Hxa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .navsidebarexpanded-xY8iIj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  position: relative;
  width: 240px;
}

.x1a-getting-oriented .navmainv3-0rMbzM {
  background-color: var(--algae-green);
}

.x1a-getting-oriented .x1-section-name-z8QySn {
  color: var(--black);
}

.x1a-getting-oriented .navsubsectionv2-SFdmkE {
  background-color: var(--fpcgreen50);
}

.x1a-getting-oriented .navsubsectionv2-S3qP5y {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-HrKHxK {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-LkFWjH {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-fbmaRS {
  background-color: transparent;
}

.x1a-getting-oriented .e-subsection-name-YuxvmS {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1a-getting-oriented .navmainv3-x0NOpn {
  background-color: var(--fpcbluehl);
}

.x1a-getting-oriented .x1-section-name-nxqyb8 {
  color: var(--black-2);
}

.x1a-getting-oriented .navsubsectionv2-tmSeN1 {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-hQEqO8 {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-YiKvDx {
  background-color: transparent;
}

.x1a-getting-oriented .navmainv3-up6QIu {
  background-color: var(--fpchlpeach);
}

.x1a-getting-oriented .x1-section-name-F3qX5V {
  color: var(--black);
}

.x1a-getting-oriented .navsubsectionv2-F7Sh39 {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-h0tZ25 {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-x7Z2sp {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-Vwiu38 {
  background-color: transparent;
}

.x1a-getting-oriented .span0-fG4Z1Y {
  font-style: normal;
}

.x1a-getting-oriented .navmainv3-MfIZwq {
  background-color: var(--periwinkle-gray);
}

.x1a-getting-oriented .x1-section-name-oTu0Ou {
  color: var(--black-2);
}

.x1a-getting-oriented .navsubsectionv2-BGlIVZ {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-uXHxlL {
  background-color: transparent;
}

.x1a-getting-oriented .navsubsectionv2-bEbaKu {
  background-color: transparent;
}

.x1a-getting-oriented .sidebarbottom-8a1Hxa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .have-a-question-rqQilt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 240px;
}

.x1a-getting-oriented .have-a-question-ex4bCg {
  align-self: stretch;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
}

.x1a-getting-oriented .email-us-ex4bCg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1a-getting-oriented .footer-0l2DeX {
  align-self: stretch;
  background-color: transparent;
  height: 916px;
  min-width: 1440px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .base-F6MxZL {
  background-color: var(--concrete);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x1a-getting-oriented .information-F6MxZL {
  background-color: transparent;
  height: 281px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 575px;
  width: 1024px;
}

.x1a-getting-oriented .metadata-sEtY2B {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: calc(50.00% - 142px);
  position: absolute;
  top: 196px;
  width: fit-content;
}

.x1a-getting-oriented .updated-2Ccxel {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .icon-clock-zAjFZi {
  background-color: transparent;
  height: 16px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .last-updated-15-february-2021-zAjFZi {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1a-getting-oriented .copyright-2Ccxel {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .text_label-33DIOM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1a-getting-oriented .x2021-foundation-for-public-code-33DIOM {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1a-getting-oriented .span0-VHfyAS {
  font-style: normal;
}

.x1a-getting-oriented .span1-VHfyAS {
  font-style: normal;
  text-decoration: underline;
}

.x1a-getting-oriented .license-2Ccxel {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .iconlicense-HOdg23 {
  background-color: transparent;
  height: 14.5px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x1a-getting-oriented .creative-commons-zero-v10-universal-HOdg23 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x1a-getting-oriented .organizational-notes-sEtY2B {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 142px);
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 650px;
}

.x1a-getting-oriented .foundation-for-publi-sEtY2B {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 142px);
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 650px;
}

.x1a-getting-oriented .span0-5IUWD2 {
  font-style: normal;
}

.x1a-getting-oriented .span1-5IUWD2 {
  font-style: normal;
  text-decoration: underline;
}

.x1a-getting-oriented .span2-5IUWD2 {
  font-style: normal;
}

.x1a-getting-oriented .span3-5IUWD2 {
  font-style: normal;
  text-decoration: underline;
}

.x1a-getting-oriented .span4-5IUWD2 {
  font-style: normal;
}

.x1a-getting-oriented .span5-5IUWD2 {
  font-style: normal;
  text-decoration: underline;
}

.x1a-getting-oriented .span6-5IUWD2 {
  font-style: normal;
}

.x1a-getting-oriented .span7-5IUWD2 {
  font-style: normal;
  text-decoration: underline;
}

.x1a-getting-oriented .span8-5IUWD2 {
  font-style: normal;
}

.x1a-getting-oriented .contact-sEtY2B {
  height: 201px;
  left: calc(50.00% - 512px);
  width: 345px;
}

.x1a-getting-oriented .contact-uDGrjx {
  height: auto;
  left: calc(50.00% - 172px);
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
  width: 120px;
}

.x1a-getting-oriented .frame-201-uDGrjx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  left: calc(50.00% - 172px);
  position: absolute;
  top: 36px;
  width: fit-content;
}

.x1a-getting-oriented .group-196-Y1LazY {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1a-getting-oriented .join-our-mailing-list-IcWbtz {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1a-getting-oriented .newsletter-IcWbtz {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1a-getting-oriented .group-197-Y1LazY {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1a-getting-oriented .x31-20-2-444-500-9ExuUm {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1a-getting-oriented .phone-9ExuUm {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1a-getting-oriented .group-200-Y1LazY {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1a-getting-oriented .infopubliccodenet-ksD0rd {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1a-getting-oriented .email-ksD0rd {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1a-getting-oriented .group-199-Y1LazY {
  background-color: transparent;
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1a-getting-oriented .links-zq9H0G {
  align-items: flex-start;
  gap: 10px;
  left: 103px;
  position: absolute;
  top: 40px;
  width: fit-content;
}

.x1a-getting-oriented .open-street-map-yALUng {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1a-getting-oriented .x-yALUng {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1a-getting-oriented .google-yALUng {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1a-getting-oriented .keizersgracht-617-10-zq9H0G {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.x1a-getting-oriented .address-zq9H0G {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1a-getting-oriented .block-trio-F6MxZL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 340px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 175px;
  width: 1080px;
}

.x1a-getting-oriented .about-us-1k4UGd {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1a-getting-oriented .content-4ylUxh {
  align-items: flex-start;
  align-self: stretch;
  gap: 15px;
}

.x1a-getting-oriented .about-us-nAFgu5 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1a-getting-oriented .all-of-our-staff-inf-nAFgu5 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .links-4ylUxh {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x1a-getting-oriented .how-we-work-XQr2ZT {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1a-getting-oriented .project-resources-1k4UGd {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1a-getting-oriented .content-mumwum {
  align-items: flex-start;
  align-self: stretch;
  gap: 15px;
}

.x1a-getting-oriented .project-resources-oxLBqv {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1a-getting-oriented .open-products-were-r-oxLBqv {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .links-mumwum {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.x1a-getting-oriented .free-to-use-and-modify-RFQhQf {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x1a-getting-oriented .see-all-our-work-on-git-hub-RFQhQf {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x1a-getting-oriented .careers-1k4UGd {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1a-getting-oriented .content-Zv7ly7 {
  align-items: flex-start;
  align-self: stretch;
  gap: 15px;
}

.x1a-getting-oriented .careers-OKRt4s {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1a-getting-oriented .calling-all-publicly-OKRt4s {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1a-getting-oriented .links-Zv7ly7 {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x1a-getting-oriented .open-positions-xxQwIn {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1a-getting-oriented .logo-title-F6MxZL {
  left: calc(50.00% - 540px);
  position: absolute;
  top: 60px;
  width: 410px;
}

.x1a-getting-oriented .cluster {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  position: relative;
}

.x1a-getting-oriented .content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.x1a-getting-oriented .frame-203 {
  background-color: transparent;
  display: flex;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1a-getting-oriented .strategic-paths {
  align-self: stretch;
  background-color: transparent;
  position: relative;
}

.x1a-getting-oriented .union {
  background-color: transparent;
  position: absolute;
}
