/* screen - 1b-capacity-building */

.x1b-capacity-building {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  left: 0px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 60px 0px 0px;
  position: relative;
  top: 0px;
}

.x1b-capacity-building .header-7TAmGf {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x1b-capacity-building .logo-title-Tafqqf {
  min-width: 410px;
  position: relative;
}

.x1b-capacity-building .navigation-Tafqqf {
  background-color: transparent;
  height: 24px;
  min-width: 534px;
  position: relative;
}

.x1b-capacity-building .links-TTRgmV {
  align-items: flex-start;
  gap: 30px;
  justify-content: flex-end;
  left: 0px;
  position: absolute;
  top: 2px;
  width: fit-content;
}

.x1b-capacity-building .stewardship-yCdtMh {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1b-capacity-building .resources-yCdtMh {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1b-capacity-building .who-we-are-yCdtMh {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1b-capacity-building .join-us-yCdtMh {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1b-capacity-building .services-TTRgmV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  left: 422px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.x1b-capacity-building .mastodon-AVbmsK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1b-capacity-building .twitter-AVbmsK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1b-capacity-building .github-AVbmsK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1b-capacity-building .title-7TAmGf {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  mix-blend-mode: normal;
  text-align: left;
  width: 1080px;
}

.x1b-capacity-building .main-frame-7TAmGf {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x1b-capacity-building .content-JOHj7T {
  background-color: transparent;
  flex: 1;
  gap: 60px;
}

.x1b-capacity-building .intro-xtzQfr {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1b-capacity-building .titlepage-SFyHEW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 0px 0px 10px;
  position: relative;
}

.x1b-capacity-building .page-title-r46Up3 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1b-capacity-building .content-SFyHEW {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  mix-blend-mode: normal;
  padding: 20px;
}

.x1b-capacity-building .this-section-will-help-you-58SRB1 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 650px;
}

.x1b-capacity-building .cluster-58SRB1 {
  gap: 10px;
}

.x1b-capacity-building .challenges-xtzQfr {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1b-capacity-building .cluster-rv8kA5 {
  flex-direction: column;
  gap: 20px;
}

.x1b-capacity-building .you-may-encounter-th-CnhhsM {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .span0-IXcNy5 {
  font-style: normal;
  line-height: 24px;
}

.x1b-capacity-building .span1-IXcNy5 {
  font-style: normal;
  font-weight: 600;
}

.x1b-capacity-building .span2-IXcNy5 {
  font-style: normal;
  line-height: 24px;
}

.x1b-capacity-building .x-e0oUvT {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x1b-capacity-building .content-gZwn0j {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .title-i3IuOn {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1b-capacity-building .x-RK140U {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x1b-capacity-building .content-RCSEVu {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .title-6Q1x7Q {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1b-capacity-building .x-Pd7aJg {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x1b-capacity-building .content-ddO2Nl {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .title-eVWS8w {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1b-capacity-building .x-2ELgx6 {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x1b-capacity-building .content-1S4xyy {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .title-T3dmfe {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1b-capacity-building .actions-xtzQfr {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1b-capacity-building .cluster-adP5s8 {
  flex-direction: column;
  gap: 20px;
}

.x1b-capacity-building .x1-training-and-desig-xaf4tB {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .the-central-figure-i-xaf4tB {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .span0-mNqGxg {
  font-style: normal;
}

.x1b-capacity-building .span1-mNqGxg {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x1b-capacity-building .span2-mNqGxg {
  font-style: normal;
}

.x1b-capacity-building .content-i3a4yO {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement-ba2wiy {
  line-height: normal;
}

.x1b-capacity-building .guidelinessolo-adP5s8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  mix-blend-mode: normal;
  padding: 15px 20px;
  position: relative;
}

.x1b-capacity-building .title-FLFQzg {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x1b-capacity-building .iconguidelines-rl83Wx {
  background-color: transparent;
  height: 32px;
  min-width: 32.00901794433594px;
  position: relative;
}

.x1b-capacity-building .x-dImwoZ {
  background-color: transparent;
  height: 25.81%;
  left: 74.20%;
  position: absolute;
  top: 15.62%;
  width: 7.81%;
}

.x1b-capacity-building .ellipse-193-dImwoZ {
  background-color: transparent;
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 18px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.x1b-capacity-building .line-dImwoZ {
  height: 22px;
  left: 6px;
  top: 4px;
  width: 15px;
}

.x1b-capacity-building .line-v70vIw {
  height: 13px;
  left: 6px;
  top: 15px;
  width: 20px;
}

.x1b-capacity-building .line-sHHVTz {
  height: 4px;
  left: 7px;
  top: 22px;
  width: 18px;
}

.x1b-capacity-building .guidelines-rl83Wx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1b-capacity-building .arrowdown-rl83Wx {
  background-color: transparent;
  height: 8.4141845703125px;
  margin-right: -1.00px;
  min-width: 14px;
  position: relative;
}

.x1b-capacity-building .technical-staffing-i-FLFQzg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 14px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .cluster-9pb4t2 {
  flex-direction: column;
  gap: 20px;
}

.x1b-capacity-building .x2-building-familiari-llwfrT {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .champions-of-procure-llwfrT {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .iconknowledge-OT0428 {
  background-color: transparent;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.x1b-capacity-building .bulb-MVQelq {
  background-color: transparent;
  height: 24px;
  left: 7px;
  position: relative;
  top: 3px;
  width: 18px;
}

.x1b-capacity-building .union-x0uYCe {
  background-color: transparent;
  height: 83.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x1b-capacity-building .group-194-x0uYCe {
  background-color: transparent;
  height: 16.68%;
  left: 29.17%;
  position: absolute;
  top: 29.19%;
  width: 41.67%;
}

.x1b-capacity-building .line-48-x0uYCe {
  background-color: transparent;
  height: 8.16%;
  left: 30.56%;
  position: absolute;
  top: 91.84%;
  width: 38.89%;
}

.x1b-capacity-building .content-OT0428 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .a-knowledge-acquisit-otk2B6 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .content-HiGJhV {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement-KxJ70Y {
  line-height: normal;
}

.x1b-capacity-building .content-34sYNQ {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement-XmSu6M {
  line-height: normal;
}

.x1b-capacity-building .cluster-a1xXkc {
  flex-direction: column;
  gap: 20px;
}

.x1b-capacity-building .x3-reaching-out-to-in-5q7kNb {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .several-individuals-5q7kNb {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .content-9G9csc {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement-uQSwXl {
  line-height: normal;
}

.x1b-capacity-building .cluster-RwZ5xx {
  flex-direction: column;
  gap: 20px;
}

.x1b-capacity-building .x4-hosting-workshops-RvX79H {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .a-great-way-to-reach-RvX79H {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .content-NQkAAG {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement-1IcOlu {
  line-height: 24px;
  white-space: nowrap;
}

.x1b-capacity-building .lorem-ipsum-1IcOlu {
  white-space: nowrap;
}

.x1b-capacity-building .content-yV7Os2 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement-B4AzfC {
  line-height: 24px;
  white-space: nowrap;
}

.x1b-capacity-building .lorem-ipsum-B4AzfC {
  white-space: nowrap;
}

.x1b-capacity-building .content-2J0Vc9 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement-A2wVBx {
  line-height: 24px;
  white-space: nowrap;
}

.x1b-capacity-building .outcomes-xtzQfr {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1b-capacity-building .content-0gKBV4 {
  align-self: stretch;
  background-color: transparent;
  gap: 20px;
}

.x1b-capacity-building .create-or-complete-t-dlxr5s {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x1b-capacity-building .goals-dlxr5s {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1b-capacity-building .icon-check_mark-eATxml {
  background-color: transparent;
  height: 33.77%;
  left: 28.39%;
  position: absolute;
  top: 34.62%;
  width: 44.21%;
}

.x1b-capacity-building .references-xtzQfr {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1b-capacity-building .frame-140-bytxQs {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1b-capacity-building .content-9TzxFA {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1b-capacity-building .content-xs4Ycs {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1b-capacity-building .content-RR3BjJ {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1b-capacity-building .content-K4JMjB {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1b-capacity-building .footer-nav-xtzQfr {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x1b-capacity-building .navfooterprev-XmAmUx {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .arrow-32-lrkaad {
  margin-left: -0.85px;
}

.x1b-capacity-building .group-134-lrkaad {
  margin-right: -4.00px;
  min-width: 107px;
}

.x1b-capacity-building .x1a-welcome-fAquCx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x1b-capacity-building .previous-fAquCx {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1b-capacity-building .navfooternext-XmAmUx {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .group-134-ekcOV3 {
  min-width: 175px;
}

.x1b-capacity-building .x1b-discovery-research-OKvMqw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x1b-capacity-building .next-OKvMqw {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1b-capacity-building .arrow-32-ekcOV3 {
  margin-right: -0.85px;
}

.x1b-capacity-building .sidebarv2-JOHj7T {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: normal;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .top-PNo2br {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .navsidebarexpanded-UeJnlQ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  position: relative;
  width: 240px;
}

.x1b-capacity-building .navmainv3-LpR71q {
  background-color: var(--algae-green);
}

.x1b-capacity-building .x1-section-name-qdVIxg {
  color: var(--black);
}

.x1b-capacity-building .navsubsectionv2-co6zOl {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-AkndDF {
  background-color: var(--fpcgreen50);
}

.x1b-capacity-building .navsubsectionv2-09OTvo {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-Gbubwr {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-ySQxCi {
  background-color: transparent;
}

.x1b-capacity-building .e-subsection-name-raxl7u {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1b-capacity-building .navmainv3-HJImGr {
  background-color: var(--fpcbluehl);
}

.x1b-capacity-building .x1-section-name-NFxxeE {
  color: var(--black-2);
}

.x1b-capacity-building .navsubsectionv2-66UMDh {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-9xRYmV {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-So3jhW {
  background-color: transparent;
}

.x1b-capacity-building .navmainv3-BDkG0e {
  background-color: var(--fpchlpeach);
}

.x1b-capacity-building .x1-section-name-hXEA7d {
  color: var(--black);
}

.x1b-capacity-building .navsubsectionv2-XCAxXp {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-Xxg5B1 {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-mJp4Yf {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-fuF0c0 {
  background-color: transparent;
}

.x1b-capacity-building .span0-nrpy8W {
  font-style: normal;
}

.x1b-capacity-building .navmainv3-GOsPOd {
  background-color: var(--periwinkle-gray);
}

.x1b-capacity-building .x1-section-name-YlPIxF {
  color: var(--black-2);
}

.x1b-capacity-building .navsubsectionv2-A7th7V {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-SNTwlr {
  background-color: transparent;
}

.x1b-capacity-building .navsubsectionv2-FWN0gr {
  background-color: transparent;
}

.x1b-capacity-building .sidebarbottom-PNo2br {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .have-a-question-AjlxH9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 240px;
}

.x1b-capacity-building .have-a-question-mTmK99 {
  align-self: stretch;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
}

.x1b-capacity-building .email-us-mTmK99 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1b-capacity-building .footer-7TAmGf {
  align-self: stretch;
  background-color: transparent;
  height: 916px;
  min-width: 1440px;
  mix-blend-mode: normal;
  position: relative;
}

.x1b-capacity-building .base-XiuszS {
  background-color: var(--concrete);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x1b-capacity-building .information-XiuszS {
  background-color: transparent;
  height: 281px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 575px;
  width: 1024px;
}

.x1b-capacity-building .metadata-P2MaUq {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: calc(50.00% - 142px);
  position: absolute;
  top: 196px;
  width: fit-content;
}

.x1b-capacity-building .updated-aWxxyI {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .icon-clock-SVfD5U {
  background-color: transparent;
  height: 16px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x1b-capacity-building .last-updated-15-february-2021-SVfD5U {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1b-capacity-building .copyright-aWxxyI {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .text_label-W8dHdc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1b-capacity-building .x2021-foundation-for-public-code-W8dHdc {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1b-capacity-building .span0-iU8OOR {
  font-style: normal;
}

.x1b-capacity-building .span1-iU8OOR {
  font-style: normal;
  text-decoration: underline;
}

.x1b-capacity-building .license-aWxxyI {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1b-capacity-building .iconlicense-ZgLbMv {
  background-color: transparent;
  height: 14.5px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x1b-capacity-building .creative-commons-zero-v10-universal-ZgLbMv {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x1b-capacity-building .organizational-notes-P2MaUq {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 142px);
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 650px;
}

.x1b-capacity-building .foundation-for-publi-P2MaUq {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 142px);
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 650px;
}

.x1b-capacity-building .span0-nFnzVd {
  font-style: normal;
}

.x1b-capacity-building .span1-nFnzVd {
  font-style: normal;
  text-decoration: underline;
}

.x1b-capacity-building .span2-nFnzVd {
  font-style: normal;
}

.x1b-capacity-building .span3-nFnzVd {
  font-style: normal;
  text-decoration: underline;
}

.x1b-capacity-building .span4-nFnzVd {
  font-style: normal;
}

.x1b-capacity-building .span5-nFnzVd {
  font-style: normal;
  text-decoration: underline;
}

.x1b-capacity-building .span6-nFnzVd {
  font-style: normal;
}

.x1b-capacity-building .span7-nFnzVd {
  font-style: normal;
  text-decoration: underline;
}

.x1b-capacity-building .span8-nFnzVd {
  font-style: normal;
}

.x1b-capacity-building .contact-P2MaUq {
  height: 201px;
  left: calc(50.00% - 512px);
  width: 345px;
}

.x1b-capacity-building .contact-iiG2Ur {
  height: auto;
  left: calc(50.00% - 172px);
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
  width: 120px;
}

.x1b-capacity-building .frame-201-iiG2Ur {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  left: calc(50.00% - 172px);
  position: absolute;
  top: 36px;
  width: fit-content;
}

.x1b-capacity-building .group-196-BRVPhx {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1b-capacity-building .join-our-mailing-list-AeHItH {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1b-capacity-building .newsletter-AeHItH {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1b-capacity-building .group-197-BRVPhx {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1b-capacity-building .x31-20-2-444-500-aHIKwz {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1b-capacity-building .phone-aHIKwz {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1b-capacity-building .group-200-BRVPhx {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1b-capacity-building .infopubliccodenet-EPaP9T {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1b-capacity-building .email-EPaP9T {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1b-capacity-building .group-199-BRVPhx {
  background-color: transparent;
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1b-capacity-building .links-eUy2nD {
  align-items: flex-start;
  gap: 10px;
  left: 103px;
  position: absolute;
  top: 40px;
  width: fit-content;
}

.x1b-capacity-building .open-street-map-fl1JMz {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1b-capacity-building .x-fl1JMz {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1b-capacity-building .google-fl1JMz {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1b-capacity-building .keizersgracht-617-10-eUy2nD {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.x1b-capacity-building .address-eUy2nD {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1b-capacity-building .block-trio-XiuszS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 340px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 175px;
  width: 1080px;
}

.x1b-capacity-building .about-us-GcIJPx {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1b-capacity-building .content-ixJSqs {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x1b-capacity-building .about-us-A8FkWE {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1b-capacity-building .all-of-our-staff-inf-A8FkWE {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .links-ixJSqs {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x1b-capacity-building .how-we-work-sRMcMJ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1b-capacity-building .project-resources-GcIJPx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1b-capacity-building .content-92eaEU {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x1b-capacity-building .project-resources-xntjha {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1b-capacity-building .open-products-were-r-xntjha {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .links-92eaEU {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.x1b-capacity-building .free-to-use-and-modify-piIGOh {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x1b-capacity-building .see-all-our-work-on-git-hub-piIGOh {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x1b-capacity-building .careers-GcIJPx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1b-capacity-building .content-aCRWNr {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x1b-capacity-building .careers-O1jWR6 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1b-capacity-building .calling-all-publicly-O1jWR6 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .links-aCRWNr {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x1b-capacity-building .open-positions-eHPxu7 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1b-capacity-building .logo-title-XiuszS {
  left: calc(50.00% - 540px);
  position: absolute;
  top: 60px;
  width: 410px;
}

.x1b-capacity-building .an-action-that-requires-high-engagement {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .arrow-32 {
  background-color: transparent;
  height: 12.46923828125px;
  min-width: 15.2392578125px;
  position: relative;
}

.x1b-capacity-building .cluster {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  position: relative;
}

.x1b-capacity-building .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.x1b-capacity-building .gear-2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.00%;
}

.x1b-capacity-building .line {
  background-color: transparent;
  position: absolute;
}

.x1b-capacity-building .link-title-here {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x1b-capacity-building .lorem-ipsum {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .this-is-an-outcome-t {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1b-capacity-building .you-should-read-this {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}
