/* screen - 1c-discovery-research-and-problem-statement */

.x1c-discovery-research-and-problem-statement {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  left: 0px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 60px 0px 0px;
  position: relative;
  top: 0px;
}

.x1c-discovery-research-and-problem-statement .header-2i3VAF {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x1c-discovery-research-and-problem-statement .logo-title-ojGWOQ {
  min-width: 410px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .navigation-ojGWOQ {
  background-color: transparent;
  height: 24px;
  min-width: 534px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .links-X7k7lX {
  align-items: flex-start;
  gap: 30px;
  justify-content: flex-end;
  left: 0px;
  position: absolute;
  top: 2px;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .stewardship-dxX63Y {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .resources-dxX63Y {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .who-we-are-dxX63Y {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .join-us-dxX63Y {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .services-X7k7lX {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  left: 422px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .mastodon-gbRMVT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .twitter-gbRMVT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .github-gbRMVT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .title-2i3VAF {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  mix-blend-mode: normal;
  text-align: left;
  width: 1080px;
}

.x1c-discovery-research-and-problem-statement .main-frame-2i3VAF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x1c-discovery-research-and-problem-statement .content-pyxZwn {
  background-color: transparent;
  flex: 1;
  gap: 60px;
}

.x1c-discovery-research-and-problem-statement .intro-bOfIDm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .titlepage-YKTtzZ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 0px 0px 10px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .page-title-n652sE {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .content-YKTtzZ {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  mix-blend-mode: normal;
  padding: 20px;
}

.x1c-discovery-research-and-problem-statement .this-section-will-help-you-vAyjm9 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 650px;
}

.x1c-discovery-research-and-problem-statement .cluster-vAyjm9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 5px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .icongoal-Oo2MFD {
  min-width: 32.0087890625px;
}

.x1c-discovery-research-and-problem-statement .icongoal-LDXcxn {
  min-width: 32.0087890625px;
}

.x1c-discovery-research-and-problem-statement .icongoal-mYgxU1 {
  min-width: 32.0087890625px;
}

.x1c-discovery-research-and-problem-statement .icongoal-J8u0lG {
  min-width: 32.0087890625px;
}

.x1c-discovery-research-and-problem-statement .icongoal-wIyVgc {
  min-width: 32.0087890625px;
}

.x1c-discovery-research-and-problem-statement .challenges-bOfIDm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .cluser-3uPbkN {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .you-may-encounter-th-5BoteC {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .span0-liIfFr {
  font-style: normal;
  line-height: 24px;
}

.x1c-discovery-research-and-problem-statement .span1-liIfFr {
  font-style: normal;
  font-weight: 600;
}

.x1c-discovery-research-and-problem-statement .span2-liIfFr {
  font-style: normal;
  line-height: 24px;
}

.x1c-discovery-research-and-problem-statement .content-UdiH4r {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .title-SIY8pY {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .content-b2sz4G {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .title-xN5xzX {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .content-aVMpmh {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .title-2wkwDi {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .content-BeCI9x {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .title-eMxrHs {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .actions-bOfIDm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .frame-142-BxnujK {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .x1-doing-discovery-research-FvKPBS {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .discovery-research-i-FvKPBS {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .iconknowledge-N1hnKM {
  background-color: transparent;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .bulb-xuqvxY {
  background-color: transparent;
  height: 24px;
  left: 7px;
  position: relative;
  top: 3px;
  width: 18px;
}

.x1c-discovery-research-and-problem-statement .union-NDGndr {
  background-color: transparent;
  height: 83.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x1c-discovery-research-and-problem-statement .group-194-NDGndr {
  background-color: transparent;
  height: 16.68%;
  left: 29.17%;
  position: absolute;
  top: 29.19%;
  width: 41.67%;
}

.x1c-discovery-research-and-problem-statement .line-48-NDGndr {
  background-color: transparent;
  height: 8.16%;
  left: 30.56%;
  position: absolute;
  top: 91.84%;
  width: 38.89%;
}

.x1c-discovery-research-and-problem-statement .content-N1hnKM {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1c-discovery-research-and-problem-statement .the-following-design-VfQpjZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .frame-204-VfQpjZ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 2px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .cognitive-walkthroug-y8hTBC {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .dot-voting-five-whys-y8hTBC {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .content-oohnQP {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .frame-136-BxnujK {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .x2-creating-user-profiles-P2oHbQ {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .software-should-alwa-P2oHbQ {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .content-KfnNIc {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .content-U6MUBP {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .content-4lnMPH {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .content-HDzsq8 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .visualaiduserprofile-P2oHbQ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  mix-blend-mode: normal;
  padding: 1px;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .group-201-LIrHL0 {
  background-color: transparent;
  height: 279px;
  min-width: 530px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .visualaidmatrixbox-Xhggz9 {
  left: calc(50.00% - 266px);
  top: calc(50.00% - 140px);
}

.x1c-discovery-research-and-problem-statement .noun_secretary_simpler-VynK3i {
  background-color: transparent;
  height: 65.639404296875px;
  min-width: 79.3134765625px;
  mix-blend-mode: normal;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .name-VynK3i {
  background-color: transparent;
  height: 81px;
  margin-right: -2.00px;
  min-width: 249px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .meta-wjEb1K {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: auto;
  left: 0px;
  position: absolute;
  top: 48px;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .flex-container-ZzWQpy {
  gap: 1px;
  height: 33px;
  width: 38px;
}

.x1c-discovery-research-and-problem-statement .text0-5xHiyD {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 38px;
}

.x1c-discovery-research-and-problem-statement .span0-TLXB02 {
}

.x1c-discovery-research-and-problem-statement .text1-5xHiyD {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 38px;
}

.x1c-discovery-research-and-problem-statement .span1-zxxDAA {
}

.x1c-discovery-research-and-problem-statement .flex-container-I6l1Iz {
  gap: 1px;
  height: 33px;
  width: 195px;
}

.x1c-discovery-research-and-problem-statement .text0-qcOCAL {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 195px;
}

.x1c-discovery-research-and-problem-statement .span0-opBDN4 {
}

.x1c-discovery-research-and-problem-statement .text1-qcOCAL {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 195px;
}

.x1c-discovery-research-and-problem-statement .span1-jlP6Tw {
}

.x1c-discovery-research-and-problem-statement .greta-hansen-27-wjEb1K {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .transit-data-analyst-wjEb1K {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .visualaidmatrixbox-IWYnsx {
  left: calc(50.00% - 1px);
  top: calc(50.00% - 140px);
}

.x1c-discovery-research-and-problem-statement .flex-container-6mFy8H {
  gap: 4px;
  height: 57px;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .text0-GDw7Ev {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .span0-vZLmn9 {
}

.x1c-discovery-research-and-problem-statement .text1-GDw7Ev {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .span1-jVxM4M {
}

.x1c-discovery-research-and-problem-statement .text2-GDw7Ev {
  letter-spacing: 0.00px;
  line-height: normal;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .span2-tGgcvB {
}

.x1c-discovery-research-and-problem-statement .visualaidmatrixbox-l1Y0Ax {
  left: calc(50.00% - 1px);
  top: calc(50.00% - 64px);
}

.x1c-discovery-research-and-problem-statement .flex-container-FdkoDX {
  gap: 4px;
  height: 78px;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .text0-8u7JZW {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .span0-1Pv091 {
}

.x1c-discovery-research-and-problem-statement .text1-8u7JZW {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .span1-QxJvvI {
}

.x1c-discovery-research-and-problem-statement .text2-8u7JZW {
  letter-spacing: 0.00px;
  line-height: normal;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .span2-mxxqrX {
}

.x1c-discovery-research-and-problem-statement .text3-8u7JZW {
  letter-spacing: 0.00px;
  line-height: normal;
  width: 245px;
}

.x1c-discovery-research-and-problem-statement .span3-GM68FH {
}

.x1c-discovery-research-and-problem-statement .frame-196-Xhggz9 {
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: -1px;
  mix-blend-mode: normal;
  padding: 10px;
  position: absolute;
  top: 174px;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .flex-container-ZVugQQ {
  gap: 4px;
  height: 84px;
  width: 510px;
}

.x1c-discovery-research-and-problem-statement .text0-SwVmjL {
  letter-spacing: 0.00px;
  line-height: normal;
  white-space: nowrap;
  width: 510px;
}

.x1c-discovery-research-and-problem-statement .span0-O5QZQu {
}

.x1c-discovery-research-and-problem-statement .text1-SwVmjL {
  letter-spacing: 0.00px;
  line-height: normal;
  width: 510px;
}

.x1c-discovery-research-and-problem-statement .span1-WhjSq4 {
}

.x1c-discovery-research-and-problem-statement .frame-137-BxnujK {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .x3-writing-a-problem-statement-Nb9nfO {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .successful-software-Nb9nfO {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .content-JRRuPm {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .content-T188Rx {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .frame-138-BxnujK {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .x4-defining-key-perfo-3wr54b {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .the-problem-statemen-3wr54b {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .span0-i8kq3R {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .span1-i8kq3R {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x1c-discovery-research-and-problem-statement .span2-i8kq3R {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .content-RjSPh8 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .content-EDbpeC {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .lorem-ipsum-KZTEbC {
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .content-ld6wLW {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .frame-143-BxnujK {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .x5-underwriting-the-problem-statement-K1Yzxs {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .everyone-involved-wi-K1Yzxs {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .span0-0KqjDq {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .span1-0KqjDq {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x1c-discovery-research-and-problem-statement .span2-0KqjDq {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .content-nhlqq0 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x1c-discovery-research-and-problem-statement .guidelinessolo-BxnujK {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  mix-blend-mode: normal;
  padding: 15px 20px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .title-4V7V41 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .iconguidelines-qvHGNp {
  background-color: transparent;
  height: 32px;
  min-width: 32.0087890625px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .guidelines-qvHGNp {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .arrowdown-qvHGNp {
  background-color: transparent;
  height: 8.414306640625px;
  margin-right: -1.00px;
  min-width: 14px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .flex-container-4V7V41 {
  gap: 10px;
  height: 167px;
  width: 700px;
}

.x1c-discovery-research-and-problem-statement .text0-8zl553 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 700px;
}

.x1c-discovery-research-and-problem-statement .span0-AiZKKL {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .text1-8zl553 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  white-space: nowrap;
  width: 700px;
}

.x1c-discovery-research-and-problem-statement .span1-5JMp67 {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .text2-8zl553 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 700px;
}

.x1c-discovery-research-and-problem-statement .span2-x7ojMu {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .text3-8zl553 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 700px;
}

.x1c-discovery-research-and-problem-statement .span3-iwGJi0 {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .outcomes-bOfIDm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .create-or-complete-t-eBbI9B {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .frame-144-eBbI9B {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .icongoal-mqHuMX {
  min-width: 32.00901794433594px;
}

.x1c-discovery-research-and-problem-statement .icongoal-xRJhIh {
  min-width: 32.00901794433594px;
}

.x1c-discovery-research-and-problem-statement .icongoal-7BHhDx {
  min-width: 32.00901794433594px;
}

.x1c-discovery-research-and-problem-statement .this-is-an-outcome-t-7BHhDx {
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .icongoal-wibWqG {
  min-width: 32.00901794433594px;
}

.x1c-discovery-research-and-problem-statement .references-bOfIDm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .frame-140-vyL7WK {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .content-4ADZ86 {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1c-discovery-research-and-problem-statement .content-kNy8xG {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1c-discovery-research-and-problem-statement .content-Tm4drI {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1c-discovery-research-and-problem-statement .content-C7xcoi {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1c-discovery-research-and-problem-statement .you-should-read-this-ger4S9 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .content-sEoxPl {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1c-discovery-research-and-problem-statement .content-SbuNuE {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x1c-discovery-research-and-problem-statement .footer-nav-bOfIDm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .navfooterprev-GE9Sgr {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .arrow-32-VxINSD {
  margin-left: -0.85px;
}

.x1c-discovery-research-and-problem-statement .group-134-VxINSD {
  margin-right: -4.00px;
  min-width: 168px;
}

.x1c-discovery-research-and-problem-statement .x1a-welcome-5mlBdL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .previous-5mlBdL {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .navfooternext-GE9Sgr {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .group-134-b758kB {
  min-width: 156px;
}

.x1c-discovery-research-and-problem-statement .x1b-discovery-research-6Z42gO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .next-6Z42gO {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .arrow-32-b758kB {
  margin-right: -0.85px;
}

.x1c-discovery-research-and-problem-statement .sidebarv2-pyxZwn {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: normal;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .top-xHkeIA {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .navsidebarexpanded-bzubnS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  position: relative;
  width: 240px;
}

.x1c-discovery-research-and-problem-statement .navmainv3-Ve5qlx {
  background-color: var(--algae-green);
}

.x1c-discovery-research-and-problem-statement .x1-section-name-tmEFqG {
  color: var(--black);
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-Cdty5V {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-CP760N {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-EHbwWc {
  background-color: var(--fpcgreen50);
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-CkhHmV {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-VyZb3E {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .e-subsection-name-2PGjne {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .navmainv3-Q8jcvX {
  background-color: var(--fpcbluehl);
}

.x1c-discovery-research-and-problem-statement .x1-section-name-5sS1T5 {
  color: var(--black-2);
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-gne7U8 {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-dEM5BA {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-37dt7r {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navmainv3-DSifHe {
  background-color: var(--fpchlpeach);
}

.x1c-discovery-research-and-problem-statement .x1-section-name-rtucLo {
  color: var(--black);
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-lLxofB {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-bXuBM2 {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-ijvAFH {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-OFwQkx {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .span0-xV20D2 {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .navmainv3-Ud7l4T {
  background-color: var(--periwinkle-gray);
}

.x1c-discovery-research-and-problem-statement .x1-section-name-ZSMuUW {
  color: var(--black-2);
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-GpYRf9 {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-Rrq5pV {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .navsubsectionv2-l08Mg4 {
  background-color: transparent;
}

.x1c-discovery-research-and-problem-statement .sidebarbottom-xHkeIA {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .have-a-question-QN8kmx {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 240px;
}

.x1c-discovery-research-and-problem-statement .have-a-question-AZUmVW {
  align-self: stretch;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .email-us-AZUmVW {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .footer-2i3VAF {
  align-self: stretch;
  background-color: transparent;
  height: 916px;
  min-width: 1440px;
  mix-blend-mode: normal;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .base-EaCokd {
  background-color: var(--concrete);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x1c-discovery-research-and-problem-statement .information-EaCokd {
  background-color: transparent;
  height: 281px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 575px;
  width: 1024px;
}

.x1c-discovery-research-and-problem-statement .metadata-eSQgjd {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: calc(50.00% - 142px);
  position: absolute;
  top: 196px;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .updated-kKbczH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .icon-clock-EBLGZ9 {
  background-color: transparent;
  height: 16px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .last-updated-15-february-2021-EBLGZ9 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1c-discovery-research-and-problem-statement .copyright-kKbczH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .text_label-xlginP {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .x2021-foundation-for-public-code-xlginP {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1c-discovery-research-and-problem-statement .span0-L4WE0O {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .span1-L4WE0O {
  font-style: normal;
  text-decoration: underline;
}

.x1c-discovery-research-and-problem-statement .license-kKbczH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .iconlicense-zBxx61 {
  background-color: transparent;
  height: 14.5px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .creative-commons-zero-v10-universal-zBxx61 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x1c-discovery-research-and-problem-statement .organizational-notes-eSQgjd {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 142px);
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 650px;
}

.x1c-discovery-research-and-problem-statement .flex-container-eSQgjd {
  gap: 10px;
  height: 130px;
  left: 370px;
  position: absolute;
  top: 36px;
  width: 650px;
}

.x1c-discovery-research-and-problem-statement .text0-BCCM5d {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 650px;
}

.x1c-discovery-research-and-problem-statement .span0-aZYM8b {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .span1-aZYM8b {
  font-style: normal;
  text-decoration: underline;
}

.x1c-discovery-research-and-problem-statement .span2-aZYM8b {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .span3-aZYM8b {
  font-style: normal;
  text-decoration: underline;
}

.x1c-discovery-research-and-problem-statement .span4-aZYM8b {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .text1-BCCM5d {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 650px;
}

.x1c-discovery-research-and-problem-statement .span5-0D964F {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .span6-0D964F {
  font-style: normal;
  text-decoration: underline;
}

.x1c-discovery-research-and-problem-statement .span7-0D964F {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .span8-0D964F {
  font-style: normal;
  text-decoration: underline;
}

.x1c-discovery-research-and-problem-statement .span9-0D964F {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .contact-eSQgjd {
  height: 201px;
  left: calc(50.00% - 512px);
  width: 345px;
}

.x1c-discovery-research-and-problem-statement .contact-z0b2Cq {
  height: auto;
  left: calc(50.00% - 172px);
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
  width: 120px;
}

.x1c-discovery-research-and-problem-statement .frame-201-z0b2Cq {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  left: calc(50.00% - 172px);
  position: absolute;
  top: 36px;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .group-196-lHWysj {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .join-our-mailing-list-63cYeu {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1c-discovery-research-and-problem-statement .newsletter-63cYeu {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .group-197-lHWysj {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .x31-20-2-444-500-ywOs6p {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1c-discovery-research-and-problem-statement .phone-ywOs6p {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .group-200-lHWysj {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .infopubliccodenet-xzjEZe {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x1c-discovery-research-and-problem-statement .email-xzjEZe {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .group-199-lHWysj {
  background-color: transparent;
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .links-sxjyxE {
  align-items: flex-start;
  gap: 10px;
  left: 103px;
  position: absolute;
  top: 40px;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .open-street-map-HwNtJF {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .x-HwNtJF {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .google-HwNtJF {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .keizersgracht-617-10-sxjyxE {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.x1c-discovery-research-and-problem-statement .address-sxjyxE {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x1c-discovery-research-and-problem-statement .block-trio-EaCokd {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 340px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 175px;
  width: 1080px;
}

.x1c-discovery-research-and-problem-statement .about-us-pDkw0Y {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1c-discovery-research-and-problem-statement .content-SbcA4d {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x1c-discovery-research-and-problem-statement .about-us-sYEvrF {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .flex-container-sYEvrF {
  gap: 10px;
  height: 170px;
  width: 286.6666564941406px;
}

.x1c-discovery-research-and-problem-statement .text0-eRgHxL {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 286.6666564941406px;
}

.x1c-discovery-research-and-problem-statement .span0-AFSxjA {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .text1-eRgHxL {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 286.6666564941406px;
}

.x1c-discovery-research-and-problem-statement .span1-JJxcXx {
  font-style: normal;
}

.x1c-discovery-research-and-problem-statement .links-SbcA4d {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .how-we-work-3N1I8W {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .project-resources-pDkw0Y {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1c-discovery-research-and-problem-statement .content-WIxE2S {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x1c-discovery-research-and-problem-statement .project-resources-xNSGPs {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .open-products-were-r-xNSGPs {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .links-WIxE2S {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .free-to-use-and-modify-9PIbkb {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x1c-discovery-research-and-problem-statement .see-all-our-work-on-git-hub-9PIbkb {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x1c-discovery-research-and-problem-statement .careers-pDkw0Y {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x1c-discovery-research-and-problem-statement .content-sblR28 {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x1c-discovery-research-and-problem-statement .careers-0XGShC {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .calling-all-publicly-0XGShC {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .links-sblR28 {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .open-positions-j7BYn9 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1c-discovery-research-and-problem-statement .logo-title-EaCokd {
  left: calc(50.00% - 540px);
  position: absolute;
  top: 60px;
  width: 410px;
}

.x1c-discovery-research-and-problem-statement .an-action-that-requires-high-engagement {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .arrow-32 {
  background-color: transparent;
  height: 12.46875px;
  min-width: 15.2392578125px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .flex-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.x1c-discovery-research-and-problem-statement .gear-2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.00%;
}

.x1c-discovery-research-and-problem-statement .icon-caution {
  background-color: transparent;
  height: 32px;
  min-width: 32.0087890625px;
  position: relative;
}

.x1c-discovery-research-and-problem-statement .link-title-here {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x1c-discovery-research-and-problem-statement .lorem-ipsum {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .text0 {
  background-color: transparent;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .text1 {
  background-color: transparent;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .text2 {
  background-color: transparent;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .text3 {
  background-color: transparent;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x1c-discovery-research-and-problem-statement .this-is-an-outcome-t {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x1c-discovery-research-and-problem-statement .visualaidmatrixbox {
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px;
  position: absolute;
  width: fit-content;
}
