/* screen - 1cu46-discovery-research-and-problem-statement */

.x1cu46-discovery-research-and-problem-statement {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px 0px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x1cu46-discovery-research-and-problem-statement .logo-title {
  cursor: pointer;
  height: 55px;
  position: relative;
  width: 410px;
}

.x1cu46-discovery-research-and-problem-statement .foundation-for-public-code {
  height: 56px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 349px;
}

.x1cu46-discovery-research-and-problem-statement .logo-symbol {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.x1cu46-discovery-research-and-problem-statement .navigation {
  display: flex;
  gap: 51px;
  height: 24px;
  position: relative;
  width: 534px;
}

.x1cu46-discovery-research-and-problem-statement .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  height: 19px;
  justify-content: flex-end;
  margin-top: 2.5px;
  position: relative;
  width: 371px;
}

.x1cu46-discovery-research-and-problem-statement .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .services {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  height: 24px;
  position: relative;
  width: 112px;
}

.x1cu46-discovery-research-and-problem-statement .title-2 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x1cu46-discovery-research-and-problem-statement .main-frame {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x1cu46-discovery-research-and-problem-statement .content-3 {
  flex: 1;
  flex-grow: 1;
  gap: 60px;
}

.x1cu46-discovery-research-and-problem-statement .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .cluser {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .you-may-encounter-th {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .span {
  line-height: 24px;
}

.x1cu46-discovery-research-and-problem-statement .span1-1 {
  font-weight: 600;
}

.x1cu46-discovery-research-and-problem-statement .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .title-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .frame-142 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x1-doing-discovery-research {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .discovery-research-i {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .overlap-group {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x1cu46-discovery-research-and-problem-statement .content-1 {
  flex: 1;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .the-following-design {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .frame-204 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 2px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .ive-w {
  color: var(--black);
  flex: 1;
  font-weight: 400;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .frame-136 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x2-creating-user-profiles {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .software-should-alwa {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .visualaiduserprofile {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 1px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .group-201 {
  height: 279px;
  position: relative;
  width: 530px;
}

.x1cu46-discovery-research-and-problem-statement .overlap-group-1 {
  height: 281px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 532px;
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--black);
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.x1cu46-discovery-research-and-problem-statement .noun_secretary_simpler {
  height: 65.64px;
  position: relative;
  width: 79.31px;
}

.x1cu46-discovery-research-and-problem-statement .name {
  height: 81px;
  margin-right: -2.00px;
  position: relative;
  width: 249px;
}

.x1cu46-discovery-research-and-problem-statement .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 81px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .name-1 {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .transit-data-analyst {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .meta {
  align-items: flex-start;
  display: inline-flex;
  margin-top: 5px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118463 {
  gap: 1px;
  width: 38px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118463 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118463 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118797 {
  gap: 1px;
  width: 195px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118797 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118797 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox-1 {
  top: 0;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i4118814411880 {
  gap: 4px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118806 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118806 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text2-i41188144118806 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox-2 {
  top: 77px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118808 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118808 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text2-i41188144118808 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text3-i41188144118808 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .frame-196 {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--black);
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 175px;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118811 {
  gap: 4px;
  width: 510px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118811 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118811 {
  letter-spacing: 0;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .frame-137 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x3-writing-a-problem-statement {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .successful-software {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .frame-138 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x4-defining-key-perf {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .the-problem-statemen {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .span1 {
  letter-spacing: 0;
}

.x1cu46-discovery-research-and-problem-statement .frame-143 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x5-underwriting-the-problem-statement {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .everyone-involved-wi {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .title-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .text0-i22667502117085 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1cu46-discovery-research-and-problem-statement .text1-i22667502117085 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1cu46-discovery-research-and-problem-statement .text2-i22667502117085 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1cu46-discovery-research-and-problem-statement .text3-i22667502117085 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1cu46-discovery-research-and-problem-statement .create-or-complete-t {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .frame-144 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .this-is-an-outcome-t {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .frame-140 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .text-9 {
  text-align: right;
  width: 30px;
}

.x1cu46-discovery-research-and-problem-statement .frame-163 {
  align-items: flex-start;
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 1px 5px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .navfooterprev {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  position: relative;
  width: 15.24px;
}

.x1cu46-discovery-research-and-problem-statement .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  position: relative;
  width: 168px;
}

.x1cu46-discovery-research-and-problem-statement .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 164px;
}

.x1cu46-discovery-research-and-problem-statement .navfooternext {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  position: relative;
  width: 156px;
}

.x1cu46-discovery-research-and-problem-statement .next {
  color: var(--white);
  font-weight: 400;
  height: 15px;
  line-height: normal;
  width: 27px;
}

.x1cu46-discovery-research-and-problem-statement .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 152px;
}

.x1cu46-discovery-research-and-problem-statement .sidebarv2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .navsidebarexpanded {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--algae-green);
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x1-section-name {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .subsections {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2 {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .capacity-building {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .b-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcgreen50);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .c-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .d-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .e-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-1 {
  background-color: var(--fpcbluehl);
}

.x1cu46-discovery-research-and-problem-statement .x1-section-name-1 {
  color: var(--black-2);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-2 {
  background-color: var(--fpchlpeach);
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-3 {
  background-color: var(--periwinkle-gray);
}

.x1cu46-discovery-research-and-problem-statement .have-a-question {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x1cu46-discovery-research-and-problem-statement .email-us {
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .flex-col-1 {
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x1cu46-discovery-research-and-problem-statement .content-2 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .text0-i8593779185932298 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i8593779185932298 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
}

.x1cu46-discovery-research-and-problem-statement .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .links-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .links-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .frame-201 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  position: relative;
  width: 343px;
}

.x1cu46-discovery-research-and-problem-statement .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x1cu46-discovery-research-and-problem-statement .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x1cu46-discovery-research-and-problem-statement .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x1cu46-discovery-research-and-problem-statement .group-199 {
  height: 60px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x1cu46-discovery-research-and-problem-statement .flex-col-2 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x1cu46-discovery-research-and-problem-statement .links-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .text-10 {
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .flex-col-3 {
  min-height: 281px;
  width: 650px;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i8593779185932358 {
  gap: 10px;
  height: 130px;
  margin-top: 8px;
  position: relative;
  width: 650px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i8593779185932358 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
}

.x1cu46-discovery-research-and-problem-statement .span-2 {
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .text1-i8593779185932358 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
}

.x1cu46-discovery-research-and-problem-statement .capacity-building-4 {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .content-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x1cu46-discovery-research-and-problem-statement .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x1cu46-discovery-research-and-problem-statement .goal-5 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-4 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .reference-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .text {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .text0 {
  align-self: stretch;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .text1 {
  align-self: stretch;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .text2 {
  align-self: stretch;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .text3 {
  align-self: stretch;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .this-is-a-goal-for-a-5 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox-3 {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--black);
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 265px;
  padding: 10px;
  position: absolute;
}

.x1cu46-discovery-research-and-problem-statement .x1-5 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
