/* screen - 1cu46-discovery-research-and-problem-statement */

.x1cu46-discovery-research-and-problem-statement {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.x1cu46-discovery-research-and-problem-statement .header-6Tba7z {
  align-items: center;
  align-self: stretch;
  background-color: var(--concrete);
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .content-ih4pWU {
  align-items: center;
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.x1cu46-discovery-research-and-problem-statement .logo-title-NlVZT5 {
  width: 426px;
}

.x1cu46-discovery-research-and-problem-statement .navigation-NlVZT5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.x1cu46-discovery-research-and-problem-statement .links-nxxD6g {
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
}

.x1cu46-discovery-research-and-problem-statement .stewardship-u83xst {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .resources-u83xst {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .who-we-are-u83xst {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .join-us-u83xst {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .services-nxxD6g {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .mastodon-8qpHxi {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.x1cu46-discovery-research-and-problem-statement .twitter-8qpHxi {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.x1cu46-discovery-research-and-problem-statement .github-8qpHxi {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.x1cu46-discovery-research-and-problem-statement .title-6Tba7z {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  width: 1080px;
}

.x1cu46-discovery-research-and-problem-statement .main-frame-6Tba7z {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x1cu46-discovery-research-and-problem-statement .content-CwB1Cx {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 60px;
}

.x1cu46-discovery-research-and-problem-statement .intro-FmGrIY {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .titlepage-QLivjK {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .page-title-xdJt9C {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .content-QLivjK {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .this-section-will-help-you-cZ0me3 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 650px;
}

.x1cu46-discovery-research-and-problem-statement .cluster-cZ0me3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-PV5Ucm {
  width: 32.0087890625px;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-9OgPOf {
  width: 32.0087890625px;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-JpFags {
  width: 32.0087890625px;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-FxDXmi {
  width: 32.0087890625px;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-xiIuXw {
  width: 32.0087890625px;
}

.x1cu46-discovery-research-and-problem-statement .challenges-FmGrIY {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .cluser-Aazy3K {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .you-may-encounter-th-oTF3v5 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-Rkff83 {
  font-style: normal;
  line-height: 24px;
}

.x1cu46-discovery-research-and-problem-statement .span1-Rkff83 {
  font-style: normal;
  font-weight: 600;
}

.x1cu46-discovery-research-and-problem-statement .span2-Rkff83 {
  font-style: normal;
  line-height: 24px;
}

.x1cu46-discovery-research-and-problem-statement .content-fZf6Wn {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .title-wlpWHs {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .content-FUQEWg {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .title-uNWza5 {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .content-OrCg78 {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .title-WqHNes {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .content-aD7u59 {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .title-Rnxhlu {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .actions-FmGrIY {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .frame-142-Ch1lRW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x1-doing-discovery-research-EvSYkZ {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .discovery-research-i-EvSYkZ {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .action-EvSYkZ {
  padding: 0px 20px;
}

.x1cu46-discovery-research-and-problem-statement .iconknowledge-Lx3y9x {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.x1cu46-discovery-research-and-problem-statement .bulb-61vaIk {
  background-color: transparent;
  height: 24px;
  left: 7px;
  position: relative;
  top: 3px;
  width: 18px;
}

.x1cu46-discovery-research-and-problem-statement .union-Nw77Ls {
  background-color: transparent;
  height: 83.64%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .group-194-Nw77Ls {
  background-color: transparent;
  height: 16.68%;
  left: 29.17%;
  position: absolute;
  top: 29.19%;
  width: 41.67%;
}

.x1cu46-discovery-research-and-problem-statement .line-48-Nw77Ls {
  background-color: transparent;
  height: 8.16%;
  left: 30.56%;
  position: absolute;
  top: 91.84%;
  width: 38.89%;
}

.x1cu46-discovery-research-and-problem-statement .content-Lx3y9x {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .the-following-design-EsIalB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .frame-204-EsIalB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 2px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .cognitive-walkthroug-kI40Sa {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .dot-voting-five-whys-kI40Sa {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .action-wYx3Ib {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-MBfFfY {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .frame-136-Ch1lRW {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x2-creating-user-profiles-uiKeIO {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .software-should-alwa-uiKeIO {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .action-uiKeIO {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-7CAtTc {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .action-75UWoD {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-gLl7zj {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .action-TUkKzX {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-0LSxRB {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .action-THsD4u {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-73cCJN {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .visualaiduserprofile-uiKeIO {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 1px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .group-201-4326mO {
  background-color: transparent;
  height: 279px;
  position: relative;
  width: 530px;
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox-Lu7RxE {
  left: calc(50.00% - 266px);
  top: calc(50.00% - 140px);
}

.x1cu46-discovery-research-and-problem-statement .noun_secretary_simpler-cNcoeG {
  background-color: transparent;
  height: 65.639404296875px;
  position: relative;
  width: 79.3134765625px;
}

.x1cu46-discovery-research-and-problem-statement .name-cNcoeG {
  background-color: transparent;
  height: 81px;
  margin-right: -2.00px;
  position: relative;
  width: 249px;
}

.x1cu46-discovery-research-and-problem-statement .meta-Sx48fw {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  left: 0px;
  position: absolute;
  top: 48px;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118463-gd3NDb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 38px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118463-D6kP1r {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-yATwJO {
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118463-D6kP1r {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span1-ZV5SLi {
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118797-gd3NDb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 195px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118797-Tz411K {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-KjyFEW {
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118797-Tz411K {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span1-NuJ6dC {
}

.x1cu46-discovery-research-and-problem-statement .greta-hansen-27-Sx48fw {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .transit-data-analyst-Sx48fw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox-IPI24s {
  left: calc(50.00% - 1px);
  top: calc(50.00% - 140px);
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118806-27xG5V {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118806-WcCBbv {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-2IHydc {
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118806-WcCBbv {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span1-7YUyG5 {
}

.x1cu46-discovery-research-and-problem-statement .text2-i41188144118806-WcCBbv {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span2-P7Qs4x {
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox-WiblpX {
  left: calc(50.00% - 1px);
  top: calc(50.00% - 64px);
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118808-yLV1sN {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 245px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118808-UYVtxh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-nXlVXb {
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118808-UYVtxh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span1-1vuMoP {
}

.x1cu46-discovery-research-and-problem-statement .text2-i41188144118808-UYVtxh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span2-KRjLOU {
}

.x1cu46-discovery-research-and-problem-statement .text3-i41188144118808-UYVtxh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span3-Ycx1zx {
}

.x1cu46-discovery-research-and-problem-statement .frame-196-Lu7RxE {
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: -1px;
  padding: 10px;
  position: absolute;
  top: 174px;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i41188144118811-xT6YEW {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 510px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i41188144118811-qRzk6W {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-bMLzc5 {
}

.x1cu46-discovery-research-and-problem-statement .text1-i41188144118811-qRzk6W {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span1-wkTOmv {
}

.x1cu46-discovery-research-and-problem-statement .frame-137-Ch1lRW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x3-writing-a-problem-statement-B8rsre {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .successful-software-B8rsre {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .action-B8rsre {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-psUCYf {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .action-2iIz1K {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-wEDVbz {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .frame-138-Ch1lRW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x4-defining-key-perfo-xNCBbo {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .the-problem-statemen-xNCBbo {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-Zl4uhR {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .span1-Zl4uhR {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x1cu46-discovery-research-and-problem-statement .span2-Zl4uhR {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .action-xNCBbo {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-LWPA0U {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .action-vjxqhx {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-7IJ89x {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .action-vBdITE {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-YHkeBC {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .frame-143-Ch1lRW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .x5-underwriting-the-problem-statement-EJzL3L {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .everyone-involved-wi-EJzL3L {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-ZF15S9 {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .span1-ZF15S9 {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x1cu46-discovery-research-and-problem-statement .span2-ZF15S9 {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .action-EJzL3L {
  padding: 0px 10px;
}

.x1cu46-discovery-research-and-problem-statement .content-4HnyNF {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.x1cu46-discovery-research-and-problem-statement .guidelinessolo-Ch1lRW {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .title-mnxl9e {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
}

.x1cu46-discovery-research-and-problem-statement .iconguidelines-SCnaqM {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.0087890625px;
}

.x1cu46-discovery-research-and-problem-statement .guidelines-SCnaqM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .arrowdown-SCnaqM {
  background-color: transparent;
  height: 8.414306640625px;
  margin-right: -1.00px;
  position: relative;
  width: 14px;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i22667502117085-mnxl9e {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i22667502117085-6wIaqe {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-VMOwLX {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i22667502117085-6wIaqe {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span1-EUUMmJ {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .text2-i22667502117085-6wIaqe {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span2-P3XC79 {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .text3-i22667502117085-6wIaqe {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span3-rW22dX {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .outcomes-FmGrIY {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .create-or-complete-t-xbTxfN {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .frame-144-xbTxfN {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-iBDWxq {
  width: 32.00901794433594px;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-gTpS3x {
  width: 32.00901794433594px;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-x25xpM {
  width: 32.00901794433594px;
}

.x1cu46-discovery-research-and-problem-statement .icongoal-xU3bKd {
  width: 32.00901794433594px;
}

.x1cu46-discovery-research-and-problem-statement .references-FmGrIY {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .frame-140-GISdxa {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .content-vVYlTK {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .content-U1wtr1 {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .content-jNlJ3n {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .content-chnEg4 {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .you-should-read-this-0VrAjU {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .content-nXG7ZN {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .content-0Kj8xW {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.x1cu46-discovery-research-and-problem-statement .footer-nav-FmGrIY {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .navfooterprev-v02-IxJfVL {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 64px 4px 4px 64px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: flex-end;
  min-width: 140px;
  padding: 10px 15px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .arrow-n0jNKx {
  margin-left: -0.85px;
}

.x1cu46-discovery-research-and-problem-statement .title-n0jNKx {
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: right;
}

.x1cu46-discovery-research-and-problem-statement .navfooternext-v02-IxJfVL {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 4px 64px 64px 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  min-width: 140px;
  padding: 10px 15px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .title-xblLIS {
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .arrow-xblLIS {
  margin-right: -0.85px;
}

.x1cu46-discovery-research-and-problem-statement .sidebarv2-CwB1Cx {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .top-uXS3KR {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .navsidebarexpanded-xyJPVK {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-757f1X {
  background-color: var(--algae-green);
}

.x1cu46-discovery-research-and-problem-statement .x1-section-name-hroRGl {
  color: var(--black);
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-xnxIWL {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-iU3y3G {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-Dto0Ha {
  background-color: var(--fpcgreen50);
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-O061L6 {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-nx9cQh {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .e-subsection-name-orJ3pW {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-mMTjIz {
  background-color: var(--fpcbluehl);
}

.x1cu46-discovery-research-and-problem-statement .x1-section-name-A036RQ {
  color: var(--black-2);
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-0oTPKn {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-K4JxPW {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-KgxaEb {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-wQ2O2R {
  background-color: var(--fpchlpeach);
}

.x1cu46-discovery-research-and-problem-statement .x1-section-name-yTY9Jy {
  color: var(--black);
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-RuEixi {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-SSB6um {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-ztOPSx {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-tDcbe0 {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .span0-lSyFEJ {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .navmainv3-PfSTx4 {
  background-color: var(--periwinkle-gray);
}

.x1cu46-discovery-research-and-problem-statement .x1-section-name-5KJcbU {
  color: var(--black-2);
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-iAI7Bm {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-4IVEj1 {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2-S6vmBl {
  background-color: transparent;
}

.x1cu46-discovery-research-and-problem-statement .sidebarbottom-uXS3KR {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: 240px;
}

.x1cu46-discovery-research-and-problem-statement .have-a-question-xCi2zm {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .have-a-question-7SxWB9 {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .email-us-7SxWB9 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .footer-6Tba7z {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--concrete);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .logo-title-MH3Mur {
  flex: 0 0 auto;
  width: 409.66314697265625px;
}

.x1cu46-discovery-research-and-problem-statement .block-trio-MH3Mur {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .about-us-DA1XNf {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
}

.x1cu46-discovery-research-and-problem-statement .content-jIIix5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .about-us-F3g8jz {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i8593779185932298-F3g8jz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i8593779185932298-paZwcv {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-dSydbX {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i8593779185932298-paZwcv {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span1-0DwRdW {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .links-jIIix5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .how-we-work-WNfcvP {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .project-resources-DA1XNf {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.x1cu46-discovery-research-and-problem-statement .content-LP7LuJ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .project-resources-yHprYx {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .open-products-were-r-yHprYx {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .links-LP7LuJ {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .free-to-use-and-modify-g4nDl0 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.x1cu46-discovery-research-and-problem-statement .see-all-our-work-on-git-hub-g4nDl0 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: right;
}

.x1cu46-discovery-research-and-problem-statement .careers-DA1XNf {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.x1cu46-discovery-research-and-problem-statement .content-MW03ZH {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .careers-xLcxTx {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .calling-all-publicly-xLcxTx {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .links-MW03ZH {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .open-positions-S57vgA {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .information-MH3Mur {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .contact-HngS9E {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 373px;
}

.x1cu46-discovery-research-and-problem-statement .contact-1QDGLb {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: 26px;
  margin-top: -1.00px;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .contact-info-1QDGLb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  margin-right: -15.00px;
  position: relative;
  width: 388px;
}

.x1cu46-discovery-research-and-problem-statement .newsletter-O3oZmc {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .newsletter-yavOkN {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x1cu46-discovery-research-and-problem-statement .join-our-mailing-list-yavOkN {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .phone-O3oZmc {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .phone-dWlu1M {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x1cu46-discovery-research-and-problem-statement .x31-20-2-444-500-dWlu1M {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .email-O3oZmc {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .email-1zav84 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x1cu46-discovery-research-and-problem-statement .infopubliccodenet-1zav84 {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .address-O3oZmc {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .address-eiChKr {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x1cu46-discovery-research-and-problem-statement .content-eiChKr {
  align-items: flex-start;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

.x1cu46-discovery-research-and-problem-statement .keizersgracht-617-10-ThAME6 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 240px;
}

.x1cu46-discovery-research-and-problem-statement .links-ThAME6 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
}

.x1cu46-discovery-research-and-problem-statement .open-street-map-bE5xFf {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .x-bE5xFf {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .google-bE5xFf {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .organization-HngS9E {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .notes-qZ5GVG {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .organizational-notes-1YeKOC {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .flex-container-i8593779185932358-1YeKOC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x1cu46-discovery-research-and-problem-statement .text0-i8593779185932358-ETTrYK {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span0-lRn3TT {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .span1-lRn3TT {
  font-style: normal;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .span2-lRn3TT {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .span3-lRn3TT {
  font-style: normal;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .span4-lRn3TT {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .text1-i8593779185932358-ETTrYK {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .span5-degutP {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .span6-degutP {
  font-style: normal;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .span7-degutP {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .span8-degutP {
  font-style: normal;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .span9-degutP {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .metadata-qZ5GVG {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .updated-lJcxYj {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .iconupdated-PNJBAh {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.x1cu46-discovery-research-and-problem-statement .last-updated-22-august-2023-PNJBAh {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1cu46-discovery-research-and-problem-statement .copyright-lJcxYj {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .text_label-PPxRUC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x1cu46-discovery-research-and-problem-statement .x2023-foundation-for-public-code-PPxRUC {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x1cu46-discovery-research-and-problem-statement .span0-0dtTzC {
  font-style: normal;
}

.x1cu46-discovery-research-and-problem-statement .span1-0dtTzC {
  font-style: normal;
  text-decoration: underline;
}

.x1cu46-discovery-research-and-problem-statement .license-lJcxYj {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .iconlicense-r9BcwA {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.x1cu46-discovery-research-and-problem-statement .creative-commons-zero-v10-universal-r9BcwA {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x1cu46-discovery-research-and-problem-statement .action {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .an-action-that-requires-high-engagement {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .arrow {
  background-color: transparent;
  height: 12.46875px;
  position: relative;
  width: 15.2392578125px;
}

.x1cu46-discovery-research-and-problem-statement .contact {
  background-color: transparent;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .content {
  display: flex;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .foundation-for-public-code {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .gear-2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.00%;
}

.x1cu46-discovery-research-and-problem-statement .goal {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .iconchallenge {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.0087890625px;
}

.x1cu46-discovery-research-and-problem-statement .links {
  background-color: transparent;
  flex: 0 0 auto;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.6630859375px;
}

.x1cu46-discovery-research-and-problem-statement .logo-title {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 13px;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .lorem-ipsum {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .navsubsectionv2 {
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: 100%;
}

.x1cu46-discovery-research-and-problem-statement .outcome {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .this-is-an-outcome-t {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x1cu46-discovery-research-and-problem-statement .title {
  background-color: transparent;
  position: relative;
}

.x1cu46-discovery-research-and-problem-statement .visualaidmatrixbox {
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: absolute;
}
