/* screen - 1e-strategic-analysis-existing-software */

.x1e-strategic-analysis-existing-software {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 1440px;
  padding: 60px 0px 0px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .title-3 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x1e-strategic-analysis-existing-software .main-frame {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x1e-strategic-analysis-existing-software .content-3 {
  flex: 1;
  gap: 60px;
}

.x1e-strategic-analysis-existing-software .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  padding: 20px;
}

.x1e-strategic-analysis-existing-software .cluster-2 {
  gap: 10px;
}

.x1e-strategic-analysis-existing-software .group-193 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 2px;
  min-width: 30px;
  padding: 0.0px 0;
  position: relative;
}

.x1e-strategic-analysis-existing-software .span-1 {
  letter-spacing: 0;
}

.x1e-strategic-analysis-existing-software .content-5 {
  align-self: stretch;
  gap: 20px;
}

.x1e-strategic-analysis-existing-software .you-may-encounter-th {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .span-2 {
  line-height: 24px;
}

.x1e-strategic-analysis-existing-software .span1 {
  font-weight: 600;
}

.x1e-strategic-analysis-existing-software .overlap-group {
  height: 24px;
  left: 3px;
  position: relative;
  top: 1px;
  width: 27px;
}

.x1e-strategic-analysis-existing-software .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .title-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-1 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1e-strategic-analysis-existing-software .x-2 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-2 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1e-strategic-analysis-existing-software .pathways {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .at-the-end-of-this-p {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 690px;
}

.x1e-strategic-analysis-existing-software .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 20px;
  height: 104px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .span-3 {
  font-weight: 700;
}

.x1e-strategic-analysis-existing-software .overlap-group3 {
  height: 51px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 50px;
}

.x1e-strategic-analysis-existing-software .union {
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 13px;
}

.x1e-strategic-analysis-existing-software .union-1 {
  height: 53px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 37px;
}

.x1e-strategic-analysis-existing-software .union-2 {
  height: 12px;
  left: 18px;
  position: absolute;
  top: 41px;
  width: 34px;
}

.x1e-strategic-analysis-existing-software .overlap-group1 {
  height: 15px;
  left: 29px;
  position: absolute;
  top: 21px;
  width: 8px;
}

.x1e-strategic-analysis-existing-software .vector {
  height: 12px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 8px;
}

.x1e-strategic-analysis-existing-software .overlap-group2 {
  height: 30px;
  margin-top: -0.91px;
  position: relative;
  width: 18px;
}

.x1e-strategic-analysis-existing-software .ellipse-193 {
  border: 1.81px solid;
  border-color: var(--black);
  border-radius: 3.41px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 7px;
}

.x1e-strategic-analysis-existing-software .vector-1 {
  height: 18px;
  left: 2px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x1e-strategic-analysis-existing-software .vector-2 {
  height: 15px;
  left: 2px;
  position: absolute;
  top: 6px;
  width: 12px;
}

.x1e-strategic-analysis-existing-software .group-146 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  justify-content: flex-end;
  left: 7px;
  min-width: 50px;
  position: relative;
  top: 7px;
}

.x1e-strategic-analysis-existing-software .overlap-group-3 {
  align-items: flex-end;
  background-image: url(../img/union-20@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 54px;
  left: 2px;
  min-width: 61px;
  padding: 10.6px 15.4px;
  position: relative;
  top: 4px;
}

.x1e-strategic-analysis-existing-software .frame-114 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x1e-strategic-analysis-existing-software .x1-performing-a-tota {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .software-ownership-c {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-3 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1e-strategic-analysis-existing-software .frame-138 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x1e-strategic-analysis-existing-software .x2-performing-a-tota {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .if-your-research-did {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-4 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1e-strategic-analysis-existing-software .title-2 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .overlap-group-1 {
  height: 26px;
  left: 6px;
  position: relative;
  top: 2px;
  width: 26px;
}

.x1e-strategic-analysis-existing-software .x-3 {
  height: 8px;
  left: 18px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.x1e-strategic-analysis-existing-software .ellipse-193-1 {
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 14px;
}

.x1e-strategic-analysis-existing-software .line {
  height: 22px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}

.x1e-strategic-analysis-existing-software .line-1 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 20px;
}

.x1e-strategic-analysis-existing-software .line-2 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 18px;
}

.x1e-strategic-analysis-existing-software .bullet-sub-bullet-sub-bullet-bullet {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .frame-139 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x1e-strategic-analysis-existing-software .x3-comparing-options {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .your-tco-licensing {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x1e-strategic-analysis-existing-software .a-knowledge-acquisit {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-5 {
  letter-spacing: 0;
  line-height: 14px;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-6 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  white-space: nowrap;
}

.x1e-strategic-analysis-existing-software .bullet-sub-bullet-sub-bullet-bullet-1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .frame-140 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x1e-strategic-analysis-existing-software .x4-co-procurement {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .peer-jurisdictions {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-7 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-8 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-9 {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
}

.x1e-strategic-analysis-existing-software .frame-139-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 20px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .this-is-an-outcome-t {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .v2-1 {
  background-image: url(../img/gear-2-2@2x.png);
}

.x1e-strategic-analysis-existing-software .v2-2 {
  background-image: url(../img/gear-2-1@2x.png);
}

.x1e-strategic-analysis-existing-software .frame-140-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .text-8 {
  text-align: right;
  width: 30px;
}

.x1e-strategic-analysis-existing-software .content-1 {
  flex: 1;
  gap: 5px;
}

.x1e-strategic-analysis-existing-software .frame-163 {
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  gap: 10px;
  padding: 1px 5px;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .strategic-paths {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .cluster-3 {
  flex-direction: column;
  gap: 20px;
}

.x1e-strategic-analysis-existing-software .you-should-now-have {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .boxes-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .cluster-1 {
  gap: 20px;
  height: 99px;
}

.x1e-strategic-analysis-existing-software .purchase-existing-bu-1 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 216px;
}

.x1e-strategic-analysis-existing-software .customize-oss-contra-1 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 216px;
}

.x1e-strategic-analysis-existing-software .custom-software-cont-1 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 216px;
}

.x1e-strategic-analysis-existing-software .overlap-group-4 {
  align-items: flex-end;
  background-image: url(../img/union-25@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 54px;
  left: 2px;
  min-width: 61px;
  padding: 10.6px 15.4px;
  position: relative;
  top: 4px;
}

.x1e-strategic-analysis-existing-software .build-in-house-build-1 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 216px;
}

.x1e-strategic-analysis-existing-software .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .navfooterprev {
  align-items: center;
  background-color: var(--fpcgreen);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  min-width: 15.24px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  min-width: 156px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 152px;
}

.x1e-strategic-analysis-existing-software .navfooternext {
  align-items: center;
  background-color: var(--fpcblue);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  min-width: 151px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 147px;
}

.x1e-strategic-analysis-existing-software .sidebarv2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcgreen50);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x1e-strategic-analysis-existing-software .content-2 {
  align-self: stretch;
  gap: 15px;
}

.x1e-strategic-analysis-existing-software .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x1e-strategic-analysis-existing-software .links-1 {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
}

.x1e-strategic-analysis-existing-software .links-2 {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
}

.x1e-strategic-analysis-existing-software .frame-201 {
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  width: 343px;
}

.x1e-strategic-analysis-existing-software .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .group-199 {
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x1e-strategic-analysis-existing-software .links-3 {
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .text-9 {
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x1e-strategic-analysis-existing-software .span-4 {
  text-decoration: underline;
}

.x1e-strategic-analysis-existing-software .a-knowledge-acquisit-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.x1e-strategic-analysis-existing-software .an-action-that-requires-high-engagement-4 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.x1e-strategic-analysis-existing-software .cluster-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  position: relative;
}

.x1e-strategic-analysis-existing-software .content-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x1e-strategic-analysis-existing-software .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x1e-strategic-analysis-existing-software .frame {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.x1e-strategic-analysis-existing-software .links-4 {
  display: flex;
  position: relative;
}

.x1e-strategic-analysis-existing-software .lorem-ipsum-10 {
  align-self: stretch;
  position: relative;
}

.x1e-strategic-analysis-existing-software .source-name-9 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x1e-strategic-analysis-existing-software .v2-3 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x1e-strategic-analysis-existing-software .x1-8 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
