/* screen - 2au46-planning-phase-introduction-u40abcu41 */

.x2au46-planning-phase-introduction-u40abcu41 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.x2au46-planning-phase-introduction-u40abcu41 .header-wqea70 {
  align-items: center;
  align-self: stretch;
  background-color: var(--concrete);
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .content-i9Mgt5 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.x2au46-planning-phase-introduction-u40abcu41 .logo-title-U1zyuh {
  width: 426px;
}

.x2au46-planning-phase-introduction-u40abcu41 .navigation-U1zyuh {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.x2au46-planning-phase-introduction-u40abcu41 .links-9fKIKg {
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
}

.x2au46-planning-phase-introduction-u40abcu41 .stewardship-DcrVos {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .resources-DcrVos {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .who-we-are-DcrVos {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .join-us-DcrVos {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .services-9fKIKg {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .mastodon-YdbdRT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.x2au46-planning-phase-introduction-u40abcu41 .twitter-YdbdRT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.x2au46-planning-phase-introduction-u40abcu41 .github-YdbdRT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.x2au46-planning-phase-introduction-u40abcu41 .title-wqea70 {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  text-align: left;
  width: 1080px;
}

.x2au46-planning-phase-introduction-u40abcu41 .main-frame-wqea70 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 58px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x2au46-planning-phase-introduction-u40abcu41 .content-pa57Sx {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 60px;
}

.x2au46-planning-phase-introduction-u40abcu41 .intro-MHbsgx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .titlepage-4HUmcO {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .page-title-U51xxx {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .cluster-4HUmcO {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .phaseplanning-mQdrsT {
  background-color: var(--fpcblue);
  border-radius: 12px;
  height: 230px;
  overflow: hidden;
  position: relative;
  width: 230px;
}

.x2au46-planning-phase-introduction-u40abcu41 .group-148-MgcGiD {
  background-color: transparent;
  height: 86.25%;
  left: 7.38%;
  position: relative;
  top: 1.46%;
  width: 93.80%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-11-RNfwbh {
  background-color: var(--white);
  height: 9.39%;
  left: 29.19%;
  position: absolute;
  top: 49.38%;
  width: 14.21%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-RNfwbh {
  height: 8.86%;
  left: 21.73%;
  top: 23.52%;
  width: 12.30%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-1CfC4X {
  height: 13.02%;
  left: 22.09%;
  top: 22.01%;
  width: 15.31%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-NjhRif {
  height: 11.79%;
  left: 22.11%;
  top: 22.32%;
  width: 18.26%;
}

.x2au46-planning-phase-introduction-u40abcu41 .group-2-RNfwbh {
  height: 23.02%;
  left: 37.31%;
  top: 76.98%;
  width: 51.84%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-RNfwbh {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--blue-violet);
  border-radius: 65.89px/66.17px;
  height: 66.71%;
  left: 17.31%;
  position: absolute;
  top: 22.37%;
  width: 61.09%;
}

.x2au46-planning-phase-introduction-u40abcu41 .comment-RNfwbh {
  height: 19.32%;
  left: 8.88%;
  top: 78.91%;
  transform: rotate(-90.00deg);
  width: 17.77%;
}

.x2au46-planning-phase-introduction-u40abcu41 .union-hk8fmF {
  height: 100.00%;
  left: 0px;
  top: 0px;
  transform: rotate(90.00deg);
  width: 100.00%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-315-hk8fmF {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  height: 11.43%;
  left: 25.71%;
  top: 44.29%;
  width: 11.43%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-316-hk8fmF {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  height: 11.43%;
  left: 44.29%;
  top: 44.29%;
  width: 11.43%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-317-hk8fmF {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--white);
  height: 11.43%;
  left: 62.86%;
  top: 44.29%;
  width: 11.43%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-315-RNfwbh {
  background-color: var(--blue-violet);
  height: 2.21%;
  left: 31.98%;
  top: 52.96%;
  width: 2.03%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-316-RNfwbh {
  background-color: var(--blue-violet);
  height: 2.21%;
  left: 35.28%;
  top: 52.96%;
  width: 2.03%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-317-RNfwbh {
  background-color: var(--blue-violet);
  height: 2.21%;
  left: 38.58%;
  top: 52.96%;
  width: 2.03%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-1CfC4X {
  background-color: var(--fpchlyellow);
  border-radius: 7.39px;
  height: 7.45%;
  left: 28.68%;
  position: absolute;
  top: 39.71%;
  width: 6.85%;
}

.x2au46-planning-phase-introduction-u40abcu41 .symbol-dev-RNfwbh {
  height: 5.80%;
  left: 41.63%;
  top: 19.84%;
  width: 12.18%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-lylZAN {
  left: -12.18%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-XhlV2x {
  left: 82.11%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-lylZAN {
  background-color: var(--fpchlyellow);
  border-radius: 4.11px;
  height: 71.43%;
  left: 33.33%;
  position: absolute;
  top: 14.29%;
  width: 31.25%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-NjhRif {
  background-color: transparent;
  height: 44.25%;
  left: 17.31%;
  position: absolute;
  top: 35.07%;
  width: 72.64%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-xbpTQk {
  background-color: transparent;
  height: 28.23%;
  left: 42.69%;
  position: absolute;
  top: 39.87%;
  width: 35.70%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-yJjX20 {
  background-color: transparent;
  height: 78.90%;
  left: 28.54%;
  position: absolute;
  top: 14.70%;
  width: 58.05%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-xbpTQk {
  height: 28.23%;
  left: 2.33%;
  top: 43.07%;
  width: 30.25%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-UkHxsS {
  background-color: var(--fpchlyellow);
  border-radius: 6.57px;
  height: 6.63%;
  left: 44.42%;
  position: absolute;
  top: 85.26%;
  width: 6.09%;
}

.x2au46-planning-phase-introduction-u40abcu41 .group-RNfwbh {
  height: 7.63%;
  left: 79.24%;
  top: 80.62%;
  width: 7.02%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-yJjX20 {
  height: 24.22%;
  left: 3.01%;
  top: 13.07%;
  width: 39.67%;
}

.x2au46-planning-phase-introduction-u40abcu41 .group-1CfC4X {
  height: 6.66%;
  left: 4.87%;
  top: 14.92%;
  width: 6.12%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-9-RNfwbh {
  background-color: var(--blue-violet);
  height: 9.39%;
  left: 47.72%;
  position: absolute;
  top: 55.72%;
  width: 14.21%;
}

.x2au46-planning-phase-introduction-u40abcu41 .symbol-dev-1CfC4X {
  height: 5.44%;
  left: 50.05%;
  top: 57.70%;
  width: 9.80%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-10-RNfwbh {
  background-color: var(--carnation);
  height: 9.39%;
  left: 14.98%;
  position: absolute;
  top: 62.90%;
  width: 14.21%;
}

.x2au46-planning-phase-introduction-u40abcu41 .symbol-dev-NjhRif {
  height: 5.44%;
  left: 17.31%;
  top: 64.88%;
  width: 9.80%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-2-RNfwbh {
  background-color: var(--bittersweet);
  border-radius: 3.29px;
  height: 3.31%;
  left: 46.20%;
  position: absolute;
  top: 59.04%;
  width: 3.05%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-5-RNfwbh {
  background-color: var(--bittersweet);
  border-radius: 3.29px;
  height: 3.31%;
  left: 27.67%;
  position: absolute;
  top: 52.41%;
  width: 3.05%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-3-RNfwbh {
  background-color: var(--blue-violet);
  border-radius: 3.29px;
  height: 3.31%;
  left: 27.67%;
  position: absolute;
  top: 66.22%;
  width: 3.05%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-4-RNfwbh {
  background-color: var(--blue-violet);
  border-radius: 3.29px;
  height: 3.31%;
  left: 45.94%;
  position: absolute;
  top: 86.92%;
  width: 3.05%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-dMWCU0 {
  background-color: var(--fpchlyellow);
  border-radius: 4.11px;
  height: 4.14%;
  left: 15.74%;
  position: absolute;
  top: 52.96%;
  width: 3.81%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-3-RNfwbh {
  background-color: transparent;
  height: 8.32%;
  left: 28.60%;
  position: absolute;
  top: 60.19%;
  width: 19.58%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-5-RNfwbh {
  background-color: transparent;
  height: 11.50%;
  left: 13.62%;
  position: absolute;
  top: 43.07%;
  width: 16.16%;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector-4-RNfwbh {
  background-color: transparent;
  height: 21.71%;
  left: 28.73%;
  position: absolute;
  top: 67.51%;
  width: 19.08%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-oB0xMM {
  background-color: var(--fpchlyellow);
  border-radius: 4.11px;
  height: 4.14%;
  left: 75.90%;
  position: absolute;
  top: 52.96%;
  width: 3.81%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-FKDxmg {
  background-color: var(--fpchlyellow);
  border-radius: 4.11px;
  height: 4.14%;
  left: 24.62%;
  position: absolute;
  top: 76.98%;
  width: 3.81%;
}

.x2au46-planning-phase-introduction-u40abcu41 .ellipse-5XldUD {
  background-color: var(--fpchlyellow);
  border-radius: 12.32px;
  height: 12.42%;
  left: 53.05%;
  position: absolute;
  top: 29.50%;
  width: 11.42%;
}

.x2au46-planning-phase-introduction-u40abcu41 .comment-1CfC4X {
  height: 15.74%;
  left: 51.53%;
  top: 27.84%;
  transform: rotate(180deg);
  width: 14.47%;
}

.x2au46-planning-phase-introduction-u40abcu41 .union-hq1k52 {
  height: 106.41%;
  left: -3.20%;
  top: -3.20%;
  transform: rotate(-180deg);
  width: 106.41%;
}

.x2au46-planning-phase-introduction-u40abcu41 .group-2-hq1k52 {
  height: 37.84%;
  left: 31.08%;
  top: 31.08%;
  transform: rotate(-180deg);
  width: 37.84%;
}

.x2au46-planning-phase-introduction-u40abcu41 .flex-container-1483862-mQdrsT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x2au46-planning-phase-introduction-u40abcu41 .text0-1483862-xFJca3 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span0-F2jk32 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span1-F2jk32 {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x2au46-planning-phase-introduction-u40abcu41 .span2-F2jk32 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span3-F2jk32 {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x2au46-planning-phase-introduction-u40abcu41 .span4-F2jk32 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .text1-1483862-xFJca3 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span5-78VCpQ {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .flex-container-2259843-4HUmcO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x2au46-planning-phase-introduction-u40abcu41 .text0-2259843-GO0Sch {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span0-2oSx7g {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .text1-2259843-GO0Sch {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span1-V5huto {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span2-V5huto {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x2au46-planning-phase-introduction-u40abcu41 .span3-V5huto {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span4-V5huto {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x2au46-planning-phase-introduction-u40abcu41 .span5-V5huto {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .text2-2259843-GO0Sch {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span6-qRcD19 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .footer-nav-MHbsgx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .navfooterprev-kxNc7N {
  align-items: flex-start;
  background-color: var(--fpcgreen);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .arrow-vTsTAG {
  margin-left: -0.85px;
}

.x2au46-planning-phase-introduction-u40abcu41 .prev-vTsTAG {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .title-yN9qpQ {
  letter-spacing: 0.00px;
  text-align: right;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .navfooternext-kxNc7N {
  align-items: flex-end;
  background-color: var(--fpcblue);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .next-1dMhwe {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .arrow-1dMhwe {
  margin-right: -0.85px;
}

.x2au46-planning-phase-introduction-u40abcu41 .title-QUd6x4 {
  letter-spacing: 0.00px;
  text-align: left;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .sidebarv2-pa57Sx {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .top-J18Nh0 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsidebarexpanded-CRZxAW {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x2au46-planning-phase-introduction-u40abcu41 .navmainv3-UJNSzg {
  background-color: var(--algae-green);
}

.x2au46-planning-phase-introduction-u40abcu41 .x1-section-name-J3IJTl {
  color: var(--black);
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-iknGSa {
  background-color: transparent;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-GUoRV7 {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-PwdQxY {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-GGaGDU {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-1iO89x {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navmainv3-OQHPox {
  background-color: var(--fpcbluehl);
}

.x2au46-planning-phase-introduction-u40abcu41 .x1-section-name-B1DGXs {
  color: var(--black-2);
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-y6RhKj {
  background-color: var(--fpcblue50);
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-Ux0gxz {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-8Lhxzl {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navmainv3-XVx6y1 {
  background-color: var(--fpchlpeach);
}

.x2au46-planning-phase-introduction-u40abcu41 .x1-section-name-x7tpDi {
  color: var(--black);
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-GFO42J {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-nvxh0x {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-tzAsfM {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-TUaQkK {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .span0-zQNHm3 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .navmainv3-iPNXaq {
  background-color: var(--periwinkle-gray);
}

.x2au46-planning-phase-introduction-u40abcu41 .x1-section-name-zP89K7 {
  color: var(--black-2);
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-jUbaul {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-XGK8WH {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .navsubsectionv2-JaLR7J {
  background-color: transparent;
  cursor: pointer;
}

.x2au46-planning-phase-introduction-u40abcu41 .sidebarbottom-J18Nh0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: 240px;
}

.x2au46-planning-phase-introduction-u40abcu41 .have-a-question-VTrIxx {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .have-a-question-xr1xwh {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .email-us-xr1xwh {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .footer-wqea70 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--concrete);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .logo-title-HAXWxd {
  flex: 0 0 auto;
  width: 409.66314697265625px;
}

.x2au46-planning-phase-introduction-u40abcu41 .block-trio-HAXWxd {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .about-us-1TsvoP {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
}

.x2au46-planning-phase-introduction-u40abcu41 .content-xunndO {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .about-us-UFz9b7 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .flex-container-i8593838785932298-UFz9b7 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x2au46-planning-phase-introduction-u40abcu41 .text0-i8593838785932298-hxH0pK {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span0-HIYSh6 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .text1-i8593838785932298-hxH0pK {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span1-qozAXs {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .links-xunndO {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .how-we-work-sAF9KD {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .project-resources-1TsvoP {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.x2au46-planning-phase-introduction-u40abcu41 .content-mxUc3e {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .project-resources-y6xRih {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .open-products-were-r-y6xRih {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .links-mxUc3e {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .free-to-use-and-modify-hOcddT {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.x2au46-planning-phase-introduction-u40abcu41 .see-all-our-work-on-git-hub-hOcddT {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: right;
}

.x2au46-planning-phase-introduction-u40abcu41 .careers-1TsvoP {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.x2au46-planning-phase-introduction-u40abcu41 .content-QDflDx {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .careers-rzmPbs {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .calling-all-publicly-rzmPbs {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .links-QDflDx {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .open-positions-niPtZx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .information-HAXWxd {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .contact-7esbEB {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 373px;
}

.x2au46-planning-phase-introduction-u40abcu41 .contact-xhMrix {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: 26px;
  margin-top: -1.00px;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .contact-info-xhMrix {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  margin-right: -15.00px;
  position: relative;
  width: 388px;
}

.x2au46-planning-phase-introduction-u40abcu41 .newsletter-bWSZXH {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .newsletter-euxP8Y {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x2au46-planning-phase-introduction-u40abcu41 .join-our-mailing-list-euxP8Y {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .phone-bWSZXH {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .phone-fMIG5M {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x2au46-planning-phase-introduction-u40abcu41 .x31-20-2-444-500-fMIG5M {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .email-bWSZXH {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .email-xMDb2J {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x2au46-planning-phase-introduction-u40abcu41 .infopubliccodenet-xMDb2J {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .address-bWSZXH {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .address-p8gIlm {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.x2au46-planning-phase-introduction-u40abcu41 .content-p8gIlm {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

.x2au46-planning-phase-introduction-u40abcu41 .keizersgracht-617-10-2nAMAQ {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 240px;
}

.x2au46-planning-phase-introduction-u40abcu41 .links-2nAMAQ {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
}

.x2au46-planning-phase-introduction-u40abcu41 .open-street-map-jKQmiE {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .x-jKQmiE {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .google-jKQmiE {
  background-color: transparent;
  color: var(--basic-link);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .organization-7esbEB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .notes-AzTkKZ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .organizational-notes-E3Fi1L {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .flex-container-i8593838785932358-E3Fi1L {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x2au46-planning-phase-introduction-u40abcu41 .text0-i8593838785932358-idBbdJ {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span0-P77AL0 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span1-P77AL0 {
  font-style: normal;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .span2-P77AL0 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span3-P77AL0 {
  font-style: normal;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .span4-P77AL0 {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .text1-i8593838785932358-idBbdJ {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .span5-jt0LJo {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span6-jt0LJo {
  font-style: normal;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .span7-jt0LJo {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span8-jt0LJo {
  font-style: normal;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .span9-jt0LJo {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .metadata-AzTkKZ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.x2au46-planning-phase-introduction-u40abcu41 .updated-WcuBDm {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .iconupdated-wB70dl {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.x2au46-planning-phase-introduction-u40abcu41 .last-updated-22-august-2023-wB70dl {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.x2au46-planning-phase-introduction-u40abcu41 .copyright-WcuBDm {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .text_label-gICUif {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x2au46-planning-phase-introduction-u40abcu41 .x2023-foundation-for-public-code-gICUif {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x2au46-planning-phase-introduction-u40abcu41 .span0-EQQzxu {
  font-style: normal;
}

.x2au46-planning-phase-introduction-u40abcu41 .span1-EQQzxu {
  font-style: normal;
  text-decoration: underline;
}

.x2au46-planning-phase-introduction-u40abcu41 .license-WcuBDm {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .iconlicense-ujkE6W {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.x2au46-planning-phase-introduction-u40abcu41 .creative-commons-zero-v10-universal-ujkE6W {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x2au46-planning-phase-introduction-u40abcu41 .arrow {
  background-color: transparent;
  height: 12.468994140625px;
  position: relative;
  width: 19.69140625px;
}

.x2au46-planning-phase-introduction-u40abcu41 .comment {
  background-color: transparent;
  position: absolute;
}

.x2au46-planning-phase-introduction-u40abcu41 .contact {
  background-color: transparent;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .foundation-for-public-code {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.x2au46-planning-phase-introduction-u40abcu41 .group-2 {
  background-color: transparent;
  position: absolute;
}

.x2au46-planning-phase-introduction-u40abcu41 .links {
  background-color: transparent;
  flex: 0 0 auto;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.6640625px;
}

.x2au46-planning-phase-introduction-u40abcu41 .logo-title {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 13px;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle {
  background-color: transparent;
  height: 117.20%;
  position: absolute;
  top: -8.60%;
  width: 30.06%;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-315 {
  border-radius: 5px;
  position: absolute;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-316 {
  border-radius: 5px;
  position: absolute;
}

.x2au46-planning-phase-introduction-u40abcu41 .rectangle-317 {
  border-radius: 5px;
  position: absolute;
}

.x2au46-planning-phase-introduction-u40abcu41 .title {
  background-color: transparent;
  line-height: normal;
  position: relative;
}

.x2au46-planning-phase-introduction-u40abcu41 .union {
  background-color: transparent;
  position: absolute;
}

.x2au46-planning-phase-introduction-u40abcu41 .vector {
  background-color: transparent;
  position: absolute;
}
