/* screen - 2c-rfp-writing */

.x2c-rfp-writing {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 1440px;
  padding: 60px 0px 0px;
  position: relative;
}

.x2c-rfp-writing .title-1 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x2c-rfp-writing .main-frame {
  align-items: flex-start;
  display: flex;
  gap: 58px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x2c-rfp-writing .content-3 {
  flex: 1;
  gap: 60px;
}

.x2c-rfp-writing .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.x2c-rfp-writing .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
}

.x2c-rfp-writing .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  padding: 20px;
}

.x2c-rfp-writing .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
}

.x2c-rfp-writing .group-193 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 2px;
  min-width: 30px;
  padding: 0.0px 0;
  position: relative;
}

.x2c-rfp-writing .content-5 {
  align-self: stretch;
  gap: 20px;
}

.x2c-rfp-writing .you-may-encounter-th {
  align-self: stretch;
  color: var(--red);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .span {
  color: var(--black);
  line-height: 24px;
}

.x2c-rfp-writing .span1 {
  color: var(--black);
  font-weight: 600;
}

.x2c-rfp-writing .overlap-group {
  height: 24px;
  left: 3px;
  position: relative;
  top: 1px;
  width: 27px;
}

.x2c-rfp-writing .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x2c-rfp-writing .title-2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .lorem-ipsum {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2c-rfp-writing .title-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .x-2 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x2c-rfp-writing .frame-142 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x2c-rfp-writing .x1-mapping-existing {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .your-goal-is-to-desi {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x2c-rfp-writing .lorem-ipsum-3 {
  white-space: nowrap;
}

.x2c-rfp-writing .lorem-ipsum-5 {
  white-space: nowrap;
}

.x2c-rfp-writing .cluster-1 {
  align-items: center;
  flex-direction: column;
}

.x2c-rfp-writing .x2-designing-value {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .it-is-important-to-s {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x2c-rfp-writing .span-2 {
  font-weight: 700;
}

.x2c-rfp-writing .span3 {
  letter-spacing: 0;
}

.x2c-rfp-writing .visualaidmatrix {
  height: 226px;
  min-width: 534px;
  position: relative;
}

.x2c-rfp-writing .overlap-group-2 {
  height: 202px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 534px;
}

.x2c-rfp-writing .visualaidmatrixbox {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 102px;
  left: 24px;
  padding: 15px 10px;
  position: absolute;
  top: 0;
  width: 256px;
}

.x2c-rfp-writing .open-source-licensa {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .visualaidmatrixbox-1 {
  left: 24px;
  top: 100px;
}

.x2c-rfp-writing .software-will-ideall {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .visualaidmatrixbox-2 {
  left: 278px;
  top: 0;
}

.x2c-rfp-writing .we-require-a-local {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .visualaidmatrixbox-3 {
  left: 278px;
  top: 100px;
}

.x2c-rfp-writing .we-prefer-energy-sta {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .mandatory {
  left: -42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 42px;
  transform: rotate(-90deg);
  width: 100px;
}

.x2c-rfp-writing .optional {
  left: -42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 142px;
  transform: rotate(-90deg);
  width: 100px;
}

.x2c-rfp-writing .evaluation-criteria-container {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: 25px;
  min-width: 508px;
  position: absolute;
  top: -1px;
}

.x2c-rfp-writing .software-evaluation-criteria {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
  text-align: center;
  width: 254px;
}

.x2c-rfp-writing .vendor-evaluation-criteria {
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
  text-align: center;
  width: 254px;
}

.x2c-rfp-writing .title-5 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.x2c-rfp-writing .overlap-group-3 {
  height: 26px;
  left: 6px;
  position: relative;
  top: 2px;
  width: 26px;
}

.x2c-rfp-writing .x-3 {
  height: 8px;
  left: 18px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.x2c-rfp-writing .ellipse-193 {
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 14px;
}

.x2c-rfp-writing .line {
  height: 22px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}

.x2c-rfp-writing .line-1 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 20px;
}

.x2c-rfp-writing .line-2 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 18px;
}

.x2c-rfp-writing .bullet-sub-bullet-sub-bullet-bullet {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2c-rfp-writing .frame-146 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x2c-rfp-writing .x3-writing-with-effective-language {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .vendors-will-underst {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x2c-rfp-writing .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x2c-rfp-writing .lorem-ipsum-8 {
  white-space: nowrap;
}

.x2c-rfp-writing .lorem-ipsum-9 {
  white-space: nowrap;
}

.x2c-rfp-writing .lorem-ipsum-10 {
  white-space: nowrap;
}

.x2c-rfp-writing .frame-147 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x2c-rfp-writing .x4-including-additio {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2c-rfp-writing .your-colleagues-in-t {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x2c-rfp-writing .lorem-ipsum-12 {
  white-space: nowrap;
}

.x2c-rfp-writing .cluster-2 {
  align-items: flex-start;
}

.x2c-rfp-writing .this-is-an-outcome-t {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.x2c-rfp-writing .frame-140 {
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
}

.x2c-rfp-writing .text-19 {
  text-align: right;
  width: 30px;
}

.x2c-rfp-writing .content-1 {
  flex: 1;
  gap: 5px;
}

.x2c-rfp-writing .frame-163 {
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  gap: 10px;
  padding: 1px 5px;
  width: fit-content;
}

.x2c-rfp-writing .link-title-here-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
}

.x2c-rfp-writing .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x2c-rfp-writing .navfooterprev {
  align-items: center;
  background-color: var(--fpcblue);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x2c-rfp-writing .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  min-width: 15.24px;
  position: relative;
}

.x2c-rfp-writing .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  min-width: 147px;
  position: relative;
}

.x2c-rfp-writing .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 143px;
}

.x2c-rfp-writing .navfooternext {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x2c-rfp-writing .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  min-width: 175px;
  position: relative;
}

.x2c-rfp-writing .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 171px;
}

.x2c-rfp-writing .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x2c-rfp-writing .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcblue50);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: fit-content;
}

.x2c-rfp-writing .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x2c-rfp-writing .content-2 {
  align-self: stretch;
  gap: 15px;
}

.x2c-rfp-writing .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x2c-rfp-writing .links-1 {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
}

.x2c-rfp-writing .links-2 {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
}

.x2c-rfp-writing .frame-201 {
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  width: 343px;
}

.x2c-rfp-writing .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x2c-rfp-writing .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x2c-rfp-writing .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x2c-rfp-writing .group-199 {
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x2c-rfp-writing .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x2c-rfp-writing .links-3 {
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
}

.x2c-rfp-writing .text-20 {
  width: fit-content;
}

.x2c-rfp-writing .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x2c-rfp-writing .span-3 {
  text-decoration: underline;
}

.x2c-rfp-writing .cluster-3 {
  align-self: stretch;
  display: flex;
  gap: 20px;
  position: relative;
}

.x2c-rfp-writing .content-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x2c-rfp-writing .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x2c-rfp-writing .frame {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.x2c-rfp-writing .links-4 {
  display: flex;
  position: relative;
}

.x2c-rfp-writing .lorem-ipsum-13 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2c-rfp-writing .v2-3 {
  align-items: flex-end;
  background-image: url(../img/gear-2@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x2c-rfp-writing .visualaidmatrixbox-4 {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 102px;
  padding: 15px 10px;
  position: absolute;
  width: 256px;
}

.x2c-rfp-writing .x1-5 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
