/* screen - 2cu46-rfp-writing */

.x2cu46-rfp-writing {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px 0px;
  position: relative;
}

.x2cu46-rfp-writing .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x2cu46-rfp-writing .logo-title {
  cursor: pointer;
  height: 55px;
  position: relative;
  width: 410px;
}

.x2cu46-rfp-writing .foundation-for-public-code {
  height: 56px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 349px;
}

.x2cu46-rfp-writing .logo-symbol {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.x2cu46-rfp-writing .navigation {
  display: flex;
  gap: 51px;
  height: 24px;
  position: relative;
  width: 534px;
}

.x2cu46-rfp-writing .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  height: 19px;
  justify-content: flex-end;
  margin-top: 2.5px;
  position: relative;
  width: 371px;
}

.x2cu46-rfp-writing .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x2cu46-rfp-writing .services {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  height: 24px;
  position: relative;
  width: 112px;
}

.x2cu46-rfp-writing .title-1 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x2cu46-rfp-writing .main-frame {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 58px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x2cu46-rfp-writing .content-3 {
  flex: 1;
  flex-grow: 1;
  gap: 60px;
}

.x2cu46-rfp-writing .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.x2cu46-rfp-writing .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .content-5 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 20px;
  width: 100%;
}

.x2cu46-rfp-writing .you-may-encounter-th {
  align-self: stretch;
  color: var(--red);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .span {
  color: var(--black);
  line-height: 24px;
}

.x2cu46-rfp-writing .span1 {
  color: var(--black);
  font-weight: 600;
}

.x2cu46-rfp-writing .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  position: relative;
}

.x2cu46-rfp-writing .title-2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .title-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .frame-142 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x2cu46-rfp-writing .x1-mapping-existing {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .your-goal-is-to-desi {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x2cu46-rfp-writing .cluster-1 {
  align-items: center;
  flex-direction: column;
}

.x2cu46-rfp-writing .x2-designing-value {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .flex-container {
  gap: 10px;
}

.x2cu46-rfp-writing .text0-2457236 {
  line-height: 24px;
}

.x2cu46-rfp-writing .text1-2457236 {
  line-height: 24px;
}

.x2cu46-rfp-writing .text0-i246742360214892 {
  line-height: 21px;
}

.x2cu46-rfp-writing .text1-i246742360214892 {
  line-height: 21px;
}

.x2cu46-rfp-writing .span-2 {
  font-weight: 700;
}

.x2cu46-rfp-writing .span3 {
  letter-spacing: 0;
}

.x2cu46-rfp-writing .text3-i246742360214892 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2cu46-rfp-writing .text4-i246742360214892 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2cu46-rfp-writing .text5-i246742360214892 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2cu46-rfp-writing .visualaidmatrix {
  height: 226px;
  position: relative;
  width: 534px;
}

.x2cu46-rfp-writing .overlap-group-1 {
  height: 202px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 534px;
}

.x2cu46-rfp-writing .visualaidmatrixbox {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 102px;
  left: 24px;
  padding: 15px 10px;
  position: absolute;
  top: 0;
  width: 256px;
}

.x2cu46-rfp-writing .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.x2cu46-rfp-writing .visualaidmatrixbox-1 {
  left: 24px;
  top: 100px;
}

.x2cu46-rfp-writing .software-will-ideall {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .visualaidmatrixbox-2 {
  left: 278px;
  top: 0;
}

.x2cu46-rfp-writing .we-require-a-local {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .visualaidmatrixbox-3 {
  left: 278px;
  top: 100px;
}

.x2cu46-rfp-writing .we-prefer-energy-sta {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .mandatory {
  left: -42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 42px;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100px;
}

.x2cu46-rfp-writing .optional {
  left: -42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 142px;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100px;
}

.x2cu46-rfp-writing .evaluation-criteria-container {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: 25px;
  min-width: 508px;
  position: absolute;
  top: -1px;
}

.x2cu46-rfp-writing .software-evaluation-criteria {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
  text-align: center;
  white-space: nowrap;
  width: 254px;
}

.x2cu46-rfp-writing .vendor-evaluation-criteria {
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
  text-align: center;
  white-space: nowrap;
  width: 254px;
}

.x2cu46-rfp-writing .title-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.x2cu46-rfp-writing .text0-i24572692117085 {
  line-height: 21px;
}

.x2cu46-rfp-writing .text1-i24572692117085 {
  line-height: 21px;
}

.x2cu46-rfp-writing .frame-146 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x2cu46-rfp-writing .x3-writing-with-effective-language {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .vendors-will-underst {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x2cu46-rfp-writing .overlap-group {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x2cu46-rfp-writing .frame-147 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x2cu46-rfp-writing .x4-including-additio {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .your-colleagues-in-t {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x2cu46-rfp-writing .cluster-2 {
  align-items: flex-start;
}

.x2cu46-rfp-writing .this-is-an-outcome-t {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.x2cu46-rfp-writing .frame-140 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.x2cu46-rfp-writing .text-19 {
  text-align: right;
  width: 30px;
}

.x2cu46-rfp-writing .content-1 {
  flex: 1;
  flex-grow: 1;
  gap: 5px;
}

.x2cu46-rfp-writing .frame-163 {
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 1px 5px;
}

.x2cu46-rfp-writing .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .navfooterprev {
  align-items: center;
  background-color: var(--fpcblue);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x2cu46-rfp-writing .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  position: relative;
  width: 15.24px;
}

.x2cu46-rfp-writing .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  position: relative;
  width: 147px;
}

.x2cu46-rfp-writing .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 143px;
}

.x2cu46-rfp-writing .navfooternext {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x2cu46-rfp-writing .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  position: relative;
  width: 175px;
}

.x2cu46-rfp-writing .next {
  color: var(--white);
  font-weight: 400;
  height: 15px;
  line-height: normal;
  width: 27px;
}

.x2cu46-rfp-writing .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 171px;
}

.x2cu46-rfp-writing .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.x2cu46-rfp-writing .navsidebarexpanded {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x2cu46-rfp-writing .navmainv3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--algae-green);
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .x1-section-name {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x2cu46-rfp-writing .subsections {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x2cu46-rfp-writing .navsubsectionv2 {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x2cu46-rfp-writing .capacity-building {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x2cu46-rfp-writing .b-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x2cu46-rfp-writing .c-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x2cu46-rfp-writing .d-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x2cu46-rfp-writing .navmainv3-1 {
  background-color: var(--fpcbluehl);
}

.x2cu46-rfp-writing .x1-section-name-1 {
  color: var(--black-2);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x2cu46-rfp-writing .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcblue50);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x2cu46-rfp-writing .navmainv3-2 {
  background-color: var(--fpchlpeach);
}

.x2cu46-rfp-writing .navmainv3-3 {
  background-color: var(--periwinkle-gray);
}

.x2cu46-rfp-writing .have-a-question {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x2cu46-rfp-writing .email-us {
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x2cu46-rfp-writing .flex-col {
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x2cu46-rfp-writing .content-2 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  width: 100%;
}

.x2cu46-rfp-writing .text0-i8593851785932298 {
  line-height: normal;
}

.x2cu46-rfp-writing .text1-i8593851785932298 {
  line-height: normal;
}

.x2cu46-rfp-writing .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .links-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .links-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .frame-201 {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  width: 343px;
}

.x2cu46-rfp-writing .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x2cu46-rfp-writing .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x2cu46-rfp-writing .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x2cu46-rfp-writing .group-199 {
  height: 60px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x2cu46-rfp-writing .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x2cu46-rfp-writing .links-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.x2cu46-rfp-writing .text-20 {
  width: fit-content;
}

.x2cu46-rfp-writing .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x2cu46-rfp-writing .flex-container-i8593851785932358 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 130px;
  margin-top: 8px;
  position: relative;
  width: 650px;
}

.x2cu46-rfp-writing .text0-i8593851785932358 {
  line-height: 24px;
}

.x2cu46-rfp-writing .span-3 {
  text-decoration: underline;
}

.x2cu46-rfp-writing .text1-i8593851785932358 {
  line-height: 24px;
}

.x2cu46-rfp-writing .cluster-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .content-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x2cu46-rfp-writing .flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x2cu46-rfp-writing .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x2cu46-rfp-writing .frame {
  align-items: flex-start;
  position: relative;
}

.x2cu46-rfp-writing .lorem-ipsum-12 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2cu46-rfp-writing .navmainv3-4 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x2cu46-rfp-writing .text-1 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x2cu46-rfp-writing .text0 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  position: relative;
}

.x2cu46-rfp-writing .text1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  position: relative;
}

.x2cu46-rfp-writing .text2 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x2cu46-rfp-writing .v2-3 {
  align-items: flex-end;
  background-image: url(../img/gear-2@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x2cu46-rfp-writing .visualaidmatrixbox-4 {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 102px;
  padding: 15px 10px;
  position: absolute;
  width: 256px;
}

.x2cu46-rfp-writing .x1-5 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
