/* screen - 3a-assessment-phase */

.x3a-assessment-phase {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 1440px;
  padding: 60px 0px 0px;
  position: relative;
}

.x3a-assessment-phase .title {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x3a-assessment-phase .main-frame {
  align-items: flex-start;
  display: flex;
  gap: 58px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x3a-assessment-phase .content-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.x3a-assessment-phase .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.x3a-assessment-phase .cluster {
  display: flex;
  gap: 30px;
  height: 240px;
  margin-right: -2.00px;
  min-width: 744px;
  position: relative;
}

.x3a-assessment-phase .phaseassessment {
  align-items: flex-end;
  background-color: var(--melon);
  border-radius: 12px;
  display: flex;
  height: 230px;
  overflow: hidden;
  padding: 0.0px 0;
  width: 230px;
}

.x3a-assessment-phase .overlap-group4 {
  height: 209px;
  position: relative;
  width: 211px;
}

.x3a-assessment-phase .group {
  height: 209px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.x3a-assessment-phase .union {
  height: 107px;
  left: 104px;
  position: absolute;
  top: 1px;
  width: 107px;
}

.x3a-assessment-phase .wrench {
  align-items: flex-end;
  display: flex;
  height: 73px;
  justify-content: flex-end;
  left: 143px;
  min-width: 22px;
  position: absolute;
  top: 39px;
  transform: rotate(-105.00deg);
}

.x3a-assessment-phase .overlap-group {
  height: 78px;
  margin-bottom: -4.26px;
  position: relative;
  width: 50px;
}

.x3a-assessment-phase .union-1 {
  height: 32px;
  left: -11px;
  position: absolute;
  top: 23px;
  transform: rotate(105.00deg);
  width: 72px;
}

.x3a-assessment-phase .rectangle {
  background-color: var(--turbo);
  border-radius: 10px;
  height: 53px;
  left: 20px;
  position: absolute;
  top: 19px;
  width: 5px;
}

.x3a-assessment-phase .union-2 {
  height: 67px;
  left: 124px;
  position: absolute;
  top: 119px;
  width: 67px;
}

.x3a-assessment-phase .screwdriver {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 151px;
  min-height: 74px;
  position: absolute;
  top: 3px;
  transform: rotate(90.00deg);
  width: 17px;
}

.x3a-assessment-phase .rectangle-1 {
  height: 13px;
  margin-left: -10.2px;
  margin-top: 12px;
  transform: rotate(-90.00deg);
  width: 37px;
}

.x3a-assessment-phase .overlap-group2 {
  height: 39px;
  margin-left: 0;
  position: relative;
  width: 17px;
}

.x3a-assessment-phase .overlap-group1 {
  height: 37px;
  left: 5px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.x3a-assessment-phase .rectangle-2 {
  background-color: var(--turbo);
  border-radius: 10px;
  height: 29px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 2px;
}

.x3a-assessment-phase .rectangle-3 {
  background-color: var(--turbo);
  border-radius: 10px;
  height: 29px;
  left: 6px;
  position: absolute;
  top: 2px;
  width: 2px;
}

.x3a-assessment-phase .rectangle-4 {
  background-color: var(--turbo);
  border-radius: 10px;
  height: 29px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 2px;
}

.x3a-assessment-phase .rectangle-5 {
  height: 5px;
  left: -14px;
  position: absolute;
  top: 16px;
  transform: rotate(-90.00deg);
  width: 37px;
}

.x3a-assessment-phase .rectangle-6 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 30px;
  transform: rotate(-90.00deg);
  width: 8px;
}

.x3a-assessment-phase .rectangle-7 {
  background-color: var(--turbo);
  border-radius: 10px;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.x3a-assessment-phase .bolt-ortho {
  align-items: flex-start;
  display: flex;
  height: 17px;
  left: 163px;
  min-width: 20px;
  padding: 0 0.3px;
  position: absolute;
  top: 155px;
  transform: rotate(-105.00deg);
}

.x3a-assessment-phase .subtract {
  height: 19px;
  margin-top: -0.87px;
  transform: rotate(105.00deg);
  width: 19px;
}

.x3a-assessment-phase .nut {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 141px;
  min-height: 26px;
  position: absolute;
  top: 129px;
  transform: rotate(-120.35deg);
  width: 19px;
}

.x3a-assessment-phase .overlap-group3 {
  border-radius: 1px;
  height: 5px;
  position: relative;
  width: 19px;
}

.x3a-assessment-phase .rectangle-8 {
  background-color: var(--fpchlyellow);
  border-radius: 1px;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.x3a-assessment-phase .rectangle-9 {
  background-color: var(--turbo);
  border-radius: 1px;
  height: 5px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 9px;
}

.x3a-assessment-phase .rectangle-10 {
  height: 17px;
  margin-left: -1.06px;
  transform: rotate(120.35deg);
  width: 22px;
}

.x3a-assessment-phase .in-this-phase-you-w {
  color: var(--black);
  font-weight: 400;
  height: 240px;
  line-height: 24px;
  width: 482px;
}

.x3a-assessment-phase .when-bids-have-been {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3a-assessment-phase .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.x3a-assessment-phase .navfooterprev {
  align-items: center;
  background-color: var(--fpcblue);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3a-assessment-phase .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  min-width: 15.24px;
  position: relative;
}

.x3a-assessment-phase .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  min-width: 123px;
}

.x3a-assessment-phase .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 119px;
}

.x3a-assessment-phase .navfooternext {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3a-assessment-phase .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  min-width: 181px;
  position: relative;
}

.x3a-assessment-phase .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 177px;
}

.x3a-assessment-phase .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x3a-assessment-phase .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcpeachmid);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: fit-content;
}

.x3a-assessment-phase .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x3a-assessment-phase .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.x3a-assessment-phase .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x3a-assessment-phase .links-1 {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
}

.x3a-assessment-phase .links-2 {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
}

.x3a-assessment-phase .frame-201 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  position: relative;
  width: 343px;
}

.x3a-assessment-phase .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  min-width: 347px;
}

.x3a-assessment-phase .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  min-width: 347px;
}

.x3a-assessment-phase .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  min-width: 347px;
}

.x3a-assessment-phase .group-199 {
  height: 60px;
  min-width: 347px;
}

.x3a-assessment-phase .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x3a-assessment-phase .links-3 {
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
}

.x3a-assessment-phase .text-18 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x3a-assessment-phase .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x3a-assessment-phase .span-1 {
  text-decoration: underline;
}

.x3a-assessment-phase .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x3a-assessment-phase .group-1 {
  margin-right: -4.00px;
  position: relative;
}

.x3a-assessment-phase .links-4 {
  display: flex;
  position: relative;
}
