/* screen - 3c-bid-evaluation */

.x3c-bid-evaluation {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 1440px;
  padding: 60px 0px 0px;
  position: relative;
}

.x3c-bid-evaluation .title-2 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x3c-bid-evaluation .main-frame {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x3c-bid-evaluation .content-3 {
  flex: 1;
  gap: 60px;
}

.x3c-bid-evaluation .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.x3c-bid-evaluation .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
}

.x3c-bid-evaluation .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  padding: 20px;
}

.x3c-bid-evaluation .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
}

.x3c-bid-evaluation .group-193 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 2px;
  min-width: 30px;
  padding: 0.0px 0;
  position: relative;
}

.x3c-bid-evaluation .you-may-encounter-th {
  align-self: stretch;
  color: var(--red);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.x3c-bid-evaluation .span {
  color: var(--black);
  line-height: 24px;
}

.x3c-bid-evaluation .span1 {
  color: var(--black);
  font-weight: 600;
}

.x3c-bid-evaluation .overlap-group {
  height: 24px;
  left: 3px;
  position: relative;
  top: 1px;
  width: 27px;
}

.x3c-bid-evaluation .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x3c-bid-evaluation .title-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3c-bid-evaluation .x-2 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x3c-bid-evaluation .x-3 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x3c-bid-evaluation .frame-143 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x3c-bid-evaluation .x1-creating-a-selection-panel {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3c-bid-evaluation .the-selection-panel {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3c-bid-evaluation .lorem-ipsum {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
}

.x3c-bid-evaluation .title-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .overlap-group-2 {
  height: 26px;
  left: 6px;
  position: relative;
  top: 2px;
  width: 26px;
}

.x3c-bid-evaluation .ellipse-193 {
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 14px;
}

.x3c-bid-evaluation .line {
  height: 22px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}

.x3c-bid-evaluation .line-1 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 20px;
}

.x3c-bid-evaluation .line-2 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 18px;
}

.x3c-bid-evaluation .bullet-sub-bullet-sub-bullet-bullet {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3c-bid-evaluation .span-1 {
  font-weight: 700;
}

.x3c-bid-evaluation .frame-145 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x3c-bid-evaluation .x2-conducting-a-quan {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3c-bid-evaluation .it-is-important-to-c {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3c-bid-evaluation .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x3c-bid-evaluation .frame-144 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x3c-bid-evaluation .x3-conducting-a-qual {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3c-bid-evaluation .if-you-are-comparing {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3c-bid-evaluation .frame-142 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x3c-bid-evaluation .x4-considering-value-beyond-cost {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3c-bid-evaluation .because-you-introduc {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3c-bid-evaluation .frame-146 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x3c-bid-evaluation .x5-post-selection {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3c-bid-evaluation .the-actions-you-take {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3c-bid-evaluation .create-or-complete-t {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 690px;
}

.x3c-bid-evaluation .this-is-an-outcome-t {
  align-self: stretch;
  color: var(--fpcpurple);
  font-weight: 600;
  line-height: 24px;
  position: relative;
}

.x3c-bid-evaluation .v2-1 {
  background-image: url(../img/gear-2-2@2x.png);
}

.x3c-bid-evaluation .v2-2 {
  background-image: url(../img/gear-2-1@2x.png);
}

.x3c-bid-evaluation .this-is-an-outcome-t-1 {
  align-self: stretch;
  color: var(--fpcpurple);
  font-weight: 600;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.x3c-bid-evaluation .frame-140 {
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
}

.x3c-bid-evaluation .text-25 {
  text-align: right;
  width: 30px;
}

.x3c-bid-evaluation .content-1 {
  flex: 1;
  gap: 5px;
}

.x3c-bid-evaluation .frame-163 {
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  gap: 10px;
  padding: 1px 5px;
  width: fit-content;
}

.x3c-bid-evaluation .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x3c-bid-evaluation .navfooterprev {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  min-width: 15.24px;
  position: relative;
}

.x3c-bid-evaluation .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  min-width: 181px;
  position: relative;
}

.x3c-bid-evaluation .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 177px;
}

.x3c-bid-evaluation .navfooternext {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  min-width: 122px;
  position: relative;
}

.x3c-bid-evaluation .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 118px;
}

.x3c-bid-evaluation .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcpeachmid);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x3c-bid-evaluation .content-2 {
  align-self: stretch;
  gap: 15px;
}

.x3c-bid-evaluation .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x3c-bid-evaluation .links-1 {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
}

.x3c-bid-evaluation .links-2 {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
}

.x3c-bid-evaluation .frame-201 {
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  width: 343px;
}

.x3c-bid-evaluation .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .group-199 {
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x3c-bid-evaluation .links-3 {
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
}

.x3c-bid-evaluation .text-26 {
  width: fit-content;
}

.x3c-bid-evaluation .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x3c-bid-evaluation .span-3 {
  text-decoration: underline;
}

.x3c-bid-evaluation .cluster-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.x3c-bid-evaluation .content-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x3c-bid-evaluation .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x3c-bid-evaluation .frame {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.x3c-bid-evaluation .links-4 {
  display: flex;
  position: relative;
}

.x3c-bid-evaluation .lorem-ipsum-12 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3c-bid-evaluation .v2-3 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x3c-bid-evaluation .x1-3 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
