/* screen - 3c-bid-evaluation */

.x3c-bid-evaluation {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  left: 0px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 60px 0px 0px;
  position: relative;
  top: 0px;
}

.x3c-bid-evaluation .header-t6e5ft {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x3c-bid-evaluation .logo-title-mpuPMs {
  min-width: 410px;
  position: relative;
}

.x3c-bid-evaluation .navigation-mpuPMs {
  background-color: transparent;
  height: 24px;
  min-width: 534px;
  position: relative;
}

.x3c-bid-evaluation .links-AgASXc {
  align-items: flex-start;
  gap: 30px;
  justify-content: flex-end;
  left: 0px;
  position: absolute;
  top: 2px;
  width: fit-content;
}

.x3c-bid-evaluation .stewardship-KJzCjP {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3c-bid-evaluation .resources-KJzCjP {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3c-bid-evaluation .who-we-are-KJzCjP {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3c-bid-evaluation .join-us-KJzCjP {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3c-bid-evaluation .services-AgASXc {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  left: 422px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.x3c-bid-evaluation .mastodon-viNAxq {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x3c-bid-evaluation .twitter-viNAxq {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x3c-bid-evaluation .github-viNAxq {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x3c-bid-evaluation .title-t6e5ft {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  mix-blend-mode: normal;
  text-align: left;
  width: 1080px;
}

.x3c-bid-evaluation .main-frame-t6e5ft {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x3c-bid-evaluation .content-jQOZxi {
  background-color: transparent;
  flex: 1;
  gap: 60px;
}

.x3c-bid-evaluation .intro-bW9o9G {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .titlepage-8GRYR9 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 0px 0px 10px;
  position: relative;
}

.x3c-bid-evaluation .page-title-H2BDL7 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x3c-bid-evaluation .content-8GRYR9 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  mix-blend-mode: normal;
  padding: 20px;
}

.x3c-bid-evaluation .this-section-will-help-you-ci7KQL {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 650px;
}

.x3c-bid-evaluation .cluster-ci7KQL {
  gap: 10px;
}

.x3c-bid-evaluation .icongoal-xzPKwU {
  min-width: 32.009765625px;
}

.x3c-bid-evaluation .icongoal-wo0597 {
  min-width: 32.009765625px;
}

.x3c-bid-evaluation .icongoal-d9cAbl {
  min-width: 32.009765625px;
}

.x3c-bid-evaluation .challenges-bW9o9G {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .cluster-qdux0A {
  flex-direction: column;
  gap: 20px;
}

.x3c-bid-evaluation .you-may-encounter-th-kxuJzU {
  align-self: stretch;
  background-color: transparent;
  color: var(--red);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .span0-M7QJZC {
  color: var(--black);
  font-style: normal;
  line-height: 24px;
}

.x3c-bid-evaluation .span1-M7QJZC {
  color: var(--black);
  font-style: normal;
  font-weight: 600;
}

.x3c-bid-evaluation .span2-M7QJZC {
  color: var(--black);
  font-style: normal;
  line-height: 24px;
}

.x3c-bid-evaluation .content-73YgRW {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .title-WPbH9e {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x3c-bid-evaluation .content-0AMfMF {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .title-FihVaL {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x3c-bid-evaluation .content-xuqo2o {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .title-CWqtUB {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x3c-bid-evaluation .content-91N7SC {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .title-lCS3z3 {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x3c-bid-evaluation .actions-bW9o9G {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .frame-143-pxNM57 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .x1-creating-a-selection-panel-2Ch0n2 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .the-selection-panel-2Ch0n2 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .content-0VP7Xf {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .lorem-ipsum-08eVu3 {
  white-space: nowrap;
}

.x3c-bid-evaluation .guidelinessolo-2Ch0n2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  mix-blend-mode: normal;
  padding: 15px 20px;
  position: relative;
}

.x3c-bid-evaluation .title-nQeNGp {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x3c-bid-evaluation .iconguidelines-eRwvIv {
  background-color: transparent;
  height: 32px;
  min-width: 32.009765625px;
  position: relative;
}

.x3c-bid-evaluation .guidelines-eRwvIv {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x3c-bid-evaluation .arrowdown-eRwvIv {
  background-color: transparent;
  height: 8.4141845703125px;
  margin-right: -1.00px;
  min-width: 14px;
  position: relative;
}

.x3c-bid-evaluation .flex-container-nQeNGp {
  height: 327px;
  width: 700px;
}

.x3c-bid-evaluation .text0-ot88xn {
  line-height: 21px;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span0-GTiFxD {
  font-style: normal;
  font-weight: 700;
}

.x3c-bid-evaluation .text1-ot88xn {
  line-height: 21px;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span1-RKBHmg {
  font-style: normal;
}

.x3c-bid-evaluation .text2-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span2-wZKXpQ {
  font-style: normal;
}

.x3c-bid-evaluation .text3-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span3-9l4ihs {
  font-style: normal;
}

.x3c-bid-evaluation .text4-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span4-eQLExE {
  font-style: normal;
}

.x3c-bid-evaluation .text5-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span5-ISaJXj {
  font-style: normal;
  font-weight: 700;
}

.x3c-bid-evaluation .text6-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 700px;
}

.x3c-bid-evaluation .span6-xKUYrv {
  font-style: normal;
}

.x3c-bid-evaluation .text7-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span7-NZzsy8 {
  font-style: normal;
  font-weight: 700;
}

.x3c-bid-evaluation .text8-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span8-RgwwX5 {
  font-style: normal;
}

.x3c-bid-evaluation .text9-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span9-Fvz3Mx {
  font-style: normal;
}

.x3c-bid-evaluation .text10-ot88xn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 700px;
}

.x3c-bid-evaluation .span10-tbZkNC {
  font-style: normal;
}

.x3c-bid-evaluation .frame-145-pxNM57 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .x2-conducting-a-quant-CL264t {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .it-is-important-to-c-CL264t {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .content-nN3fvu {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .lorem-ipsum-36IdsL {
  white-space: nowrap;
}

.x3c-bid-evaluation .content-Y4XgOB {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .content-yr7sld {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .content-yGm0Ti {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .content-E16CBT {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .lorem-ipsum-SgewYH {
  white-space: nowrap;
}

.x3c-bid-evaluation .frame-144-pxNM57 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .x3-conducting-a-quali-5MN3lT {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .if-you-are-comparing-5MN3lT {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .content-6cv95R {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .content-vVoqu8 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .frame-142-pxNM57 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .x4-considering-value-beyond-cost-OaxBOK {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .because-you-introduc-OaxBOK {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .content-MY6xKx {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .lorem-ipsum-4KOAxI {
  white-space: nowrap;
}

.x3c-bid-evaluation .content-xcxxcx {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .frame-146-pxNM57 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .x5-post-selection-A4JBWB {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .the-actions-you-take-A4JBWB {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .content-uz6RXm {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .lorem-ipsum-xuhFT9 {
  white-space: nowrap;
}

.x3c-bid-evaluation .content-Zmce7P {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .lorem-ipsum-DUTaEK {
  white-space: nowrap;
}

.x3c-bid-evaluation .content-NzaueZ {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3c-bid-evaluation .outcomes-bW9o9G {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .cluster-GamAnx {
  flex-direction: column;
  gap: 20px;
}

.x3c-bid-evaluation .create-or-complete-t-h1N5WE {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 690px;
}

.x3c-bid-evaluation .goals-h1N5WE {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .icongoal-Xo0wov {
  min-width: 32.00901794433594px;
}

.x3c-bid-evaluation .icon-check_mark-J55cZP {
  background-color: transparent;
  height: 33.77%;
  left: 28.39%;
  position: absolute;
  top: 34.62%;
  width: 44.21%;
}

.x3c-bid-evaluation .icongoal-R0Iw0L {
  min-width: 32.00901794433594px;
}

.x3c-bid-evaluation .icongoal-WzAk7v {
  min-width: 32.00901794433594px;
}

.x3c-bid-evaluation .this-is-an-outcome-t-WzAk7v {
  white-space: nowrap;
}

.x3c-bid-evaluation .references-bW9o9G {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .frame-140-jFEpE8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .content-Cx4tay {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3c-bid-evaluation .content-3gxUxj {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3c-bid-evaluation .content-9qeIVb {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3c-bid-evaluation .content-SfqDyQ {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3c-bid-evaluation .you-should-read-this-xZRB6f {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .footer-nav-bW9o9G {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x3c-bid-evaluation .navfooterprev-dnnX9U {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .arrow-32-UxZRbc {
  margin-left: -0.85px;
}

.x3c-bid-evaluation .group-134-UxZRbc {
  margin-right: -4.00px;
  min-width: 181px;
}

.x3c-bid-evaluation .x1a-welcome-iYc01W {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x3c-bid-evaluation .previous-iYc01W {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3c-bid-evaluation .navfooternext-dnnX9U {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .group-134-5aAlDW {
  min-width: 122px;
}

.x3c-bid-evaluation .x1b-discovery-research-3SvD7l {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x3c-bid-evaluation .next-3SvD7l {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3c-bid-evaluation .arrow-32-5aAlDW {
  margin-right: -0.85px;
}

.x3c-bid-evaluation .sidebarv2-jQOZxi {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: normal;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .top-9wrQuh {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .navsidebarexpanded-4tOe2j {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  position: relative;
  width: 240px;
}

.x3c-bid-evaluation .navmainv3-6vivLr {
  background-color: var(--algae-green);
}

.x3c-bid-evaluation .x1-section-name-AOC7uo {
  color: var(--black);
}

.x3c-bid-evaluation .navsubsectionv2-xnWiFz {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-m733lQ {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-EiDP3x {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-7wwnBu {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-XRRrZ3 {
  background-color: transparent;
}

.x3c-bid-evaluation .navmainv3-VATiXT {
  background-color: var(--fpcbluehl);
}

.x3c-bid-evaluation .x1-section-name-DMRwQj {
  color: var(--black-2);
}

.x3c-bid-evaluation .navsubsectionv2-FHeHf4 {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-DqfmrI {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-YYDx5m {
  background-color: transparent;
}

.x3c-bid-evaluation .navmainv3-sY0OjL {
  background-color: var(--fpchlpeach);
}

.x3c-bid-evaluation .x1-section-name-U9vfUx {
  color: var(--black);
}

.x3c-bid-evaluation .navsubsectionv2-ZUQppv {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-xkC68B {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-xSqTlF {
  background-color: var(--fpcpeachmid);
}

.x3c-bid-evaluation .navsubsectionv2-QnbnHn {
  background-color: transparent;
}

.x3c-bid-evaluation .span0-JbpZS4 {
  font-style: normal;
}

.x3c-bid-evaluation .navmainv3-hENnNn {
  background-color: var(--periwinkle-gray);
}

.x3c-bid-evaluation .x1-section-name-5Y6IaC {
  color: var(--black-2);
}

.x3c-bid-evaluation .navsubsectionv2-zYxddf {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-dSFlnf {
  background-color: transparent;
}

.x3c-bid-evaluation .navsubsectionv2-6siWQ1 {
  background-color: transparent;
}

.x3c-bid-evaluation .sidebarbottom-9wrQuh {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .have-a-question-1XUNLB {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 240px;
}

.x3c-bid-evaluation .have-a-question-i33SCt {
  align-self: stretch;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
}

.x3c-bid-evaluation .email-us-i33SCt {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3c-bid-evaluation .footer-t6e5ft {
  align-self: stretch;
  background-color: transparent;
  height: 916px;
  min-width: 1440px;
  mix-blend-mode: normal;
  position: relative;
}

.x3c-bid-evaluation .base-Ebg0Hq {
  background-color: var(--concrete);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x3c-bid-evaluation .information-Ebg0Hq {
  background-color: transparent;
  height: 281px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 575px;
  width: 1024px;
}

.x3c-bid-evaluation .metadata-AjFxY4 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: calc(50.00% - 142px);
  position: absolute;
  top: 196px;
  width: fit-content;
}

.x3c-bid-evaluation .updated-mE5y6q {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .icon-clock-j1xSkW {
  background-color: transparent;
  height: 16px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x3c-bid-evaluation .last-updated-15-february-2021-j1xSkW {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x3c-bid-evaluation .copyright-mE5y6q {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .text_label-MrayYo {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x3c-bid-evaluation .x2021-foundation-for-public-code-MrayYo {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x3c-bid-evaluation .span0-gqoVYM {
  font-style: normal;
}

.x3c-bid-evaluation .span1-gqoVYM {
  font-style: normal;
  text-decoration: underline;
}

.x3c-bid-evaluation .license-mE5y6q {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3c-bid-evaluation .iconlicense-hIxxnX {
  background-color: transparent;
  height: 14.5px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x3c-bid-evaluation .creative-commons-zero-v10-universal-hIxxnX {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x3c-bid-evaluation .organizational-notes-AjFxY4 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 142px);
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 650px;
}

.x3c-bid-evaluation .flex-container-AjFxY4 {
  height: 130px;
  left: 370px;
  position: absolute;
  top: 36px;
  width: 650px;
}

.x3c-bid-evaluation .text0-3UWdFM {
  line-height: 24px;
  width: 650px;
}

.x3c-bid-evaluation .span0-8A6Knm {
  font-style: normal;
}

.x3c-bid-evaluation .span1-8A6Knm {
  font-style: normal;
  text-decoration: underline;
}

.x3c-bid-evaluation .span2-8A6Knm {
  font-style: normal;
}

.x3c-bid-evaluation .span3-8A6Knm {
  font-style: normal;
  text-decoration: underline;
}

.x3c-bid-evaluation .span4-8A6Knm {
  font-style: normal;
}

.x3c-bid-evaluation .text1-3UWdFM {
  line-height: 24px;
  width: 650px;
}

.x3c-bid-evaluation .span5-5Q5PaC {
  font-style: normal;
}

.x3c-bid-evaluation .span6-5Q5PaC {
  font-style: normal;
  text-decoration: underline;
}

.x3c-bid-evaluation .span7-5Q5PaC {
  font-style: normal;
}

.x3c-bid-evaluation .span8-5Q5PaC {
  font-style: normal;
  text-decoration: underline;
}

.x3c-bid-evaluation .span9-5Q5PaC {
  font-style: normal;
}

.x3c-bid-evaluation .contact-AjFxY4 {
  height: 201px;
  left: calc(50.00% - 512px);
  width: 345px;
}

.x3c-bid-evaluation .contact-Qum9EH {
  height: auto;
  left: calc(50.00% - 172px);
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
  width: 120px;
}

.x3c-bid-evaluation .frame-201-Qum9EH {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  left: calc(50.00% - 172px);
  position: absolute;
  top: 36px;
  width: fit-content;
}

.x3c-bid-evaluation .group-196-xzFqTv {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .join-our-mailing-list-XEK6QZ {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x3c-bid-evaluation .newsletter-XEK6QZ {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3c-bid-evaluation .group-197-xzFqTv {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .x31-20-2-444-500-1dkSbD {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x3c-bid-evaluation .phone-1dkSbD {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3c-bid-evaluation .group-200-xzFqTv {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .infopubliccodenet-WFfxxB {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x3c-bid-evaluation .email-WFfxxB {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3c-bid-evaluation .group-199-xzFqTv {
  background-color: transparent;
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3c-bid-evaluation .links-BcmCg4 {
  align-items: flex-start;
  gap: 10px;
  left: 103px;
  position: absolute;
  top: 40px;
  width: fit-content;
}

.x3c-bid-evaluation .open-street-map-N3OJSb {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3c-bid-evaluation .x-N3OJSb {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x3c-bid-evaluation .google-N3OJSb {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3c-bid-evaluation .keizersgracht-617-10-BcmCg4 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.x3c-bid-evaluation .address-BcmCg4 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3c-bid-evaluation .block-trio-Ebg0Hq {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 340px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 175px;
  width: 1080px;
}

.x3c-bid-evaluation .about-us-oBEw2x {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x3c-bid-evaluation .content-xEf2vx {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x3c-bid-evaluation .about-us-GtPFGR {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x3c-bid-evaluation .flex-container-GtPFGR {
  height: 170px;
  width: 286.6666564941406px;
}

.x3c-bid-evaluation .text0-0jzuZ8 {
  line-height: normal;
  width: 286.6666564941406px;
}

.x3c-bid-evaluation .span0-syptxx {
  font-style: normal;
}

.x3c-bid-evaluation .text1-0jzuZ8 {
  line-height: normal;
  width: 286.6666564941406px;
}

.x3c-bid-evaluation .span1-PGTlry {
  font-style: normal;
}

.x3c-bid-evaluation .links-xEf2vx {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x3c-bid-evaluation .how-we-work-EpwRPU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x3c-bid-evaluation .project-resources-oBEw2x {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x3c-bid-evaluation .content-xlmNiQ {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x3c-bid-evaluation .project-resources-EfFagz {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x3c-bid-evaluation .open-products-were-r-EfFagz {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .links-xlmNiQ {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.x3c-bid-evaluation .free-to-use-and-modify-2WaKJf {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x3c-bid-evaluation .see-all-our-work-on-git-hub-2WaKJf {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x3c-bid-evaluation .careers-oBEw2x {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x3c-bid-evaluation .content-jIIMfz {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x3c-bid-evaluation .careers-M2x37e {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x3c-bid-evaluation .calling-all-publicly-M2x37e {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .links-jIIMfz {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x3c-bid-evaluation .open-positions-WeSzP6 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x3c-bid-evaluation .logo-title-Ebg0Hq {
  left: calc(50.00% - 540px);
  position: absolute;
  top: 60px;
  width: 410px;
}

.x3c-bid-evaluation .an-action-that-requires-high-engagement {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x3c-bid-evaluation .arrow-32 {
  background-color: transparent;
  height: 12.46875px;
  min-width: 15.23828125px;
  position: relative;
}

.x3c-bid-evaluation .cluster {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.x3c-bid-evaluation .flex-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x3c-bid-evaluation .gear-2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.00%;
}

.x3c-bid-evaluation .icon-caution {
  background-color: transparent;
  height: 32px;
  min-width: 32.009765625px;
  position: relative;
}

.x3c-bid-evaluation .link-title-here {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x3c-bid-evaluation .lorem-ipsum {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .text0 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .text1 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .this-is-an-outcome-t {
  align-self: stretch;
  background-color: transparent;
  color: var(--fpcpurple);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3c-bid-evaluation .union {
  background-color: transparent;
  height: 83.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}
