/* screen - 3cu46-bid-evaluation */

.x3cu46-bid-evaluation {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px 0px;
  position: relative;
}

.x3cu46-bid-evaluation .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x3cu46-bid-evaluation .logo-title {
  cursor: pointer;
  height: 55px;
  position: relative;
  width: 410px;
}

.x3cu46-bid-evaluation .foundation-for-public-code {
  height: 56px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 349px;
}

.x3cu46-bid-evaluation .logo-symbol {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.x3cu46-bid-evaluation .navigation {
  display: flex;
  gap: 51px;
  height: 24px;
  position: relative;
  width: 534px;
}

.x3cu46-bid-evaluation .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  height: 19px;
  justify-content: flex-end;
  margin-top: 2.5px;
  position: relative;
  width: 371px;
}

.x3cu46-bid-evaluation .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x3cu46-bid-evaluation .services {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  height: 24px;
  position: relative;
  width: 112px;
}

.x3cu46-bid-evaluation .title-2 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x3cu46-bid-evaluation .main-frame {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x3cu46-bid-evaluation .content-3 {
  flex: 1;
  flex-grow: 1;
  gap: 60px;
}

.x3cu46-bid-evaluation .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.x3cu46-bid-evaluation .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .you-may-encounter-th {
  align-self: stretch;
  color: var(--red);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .span {
  color: var(--black);
  line-height: 24px;
}

.x3cu46-bid-evaluation .span1 {
  color: var(--black);
  font-weight: 600;
}

.x3cu46-bid-evaluation .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  position: relative;
}

.x3cu46-bid-evaluation .title-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .frame-143 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x3cu46-bid-evaluation .x1-creating-a-selection-panel {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .the-selection-panel {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3cu46-bid-evaluation .title-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.x3cu46-bid-evaluation .text0-i21174582117085 {
  line-height: 21px;
}

.x3cu46-bid-evaluation .span-1 {
  font-weight: 700;
}

.x3cu46-bid-evaluation .text1-i21174582117085 {
  line-height: 21px;
}

.x3cu46-bid-evaluation .text2-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text3-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text4-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text5-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text6-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text7-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text8-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text9-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .text10-i21174582117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .frame-145 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x3cu46-bid-evaluation .x2-conducting-a-quan {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .it-is-important-to-c {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3cu46-bid-evaluation .overlap-group {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x3cu46-bid-evaluation .frame-144 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x3cu46-bid-evaluation .x3-conducting-a-qual {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .if-you-are-comparing {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3cu46-bid-evaluation .frame-142 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x3cu46-bid-evaluation .x4-considering-value-beyond-cost {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .because-you-introduc {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3cu46-bid-evaluation .frame-146 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x3cu46-bid-evaluation .x5-post-selection {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .the-actions-you-take {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x3cu46-bid-evaluation .create-or-complete-t {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 690px;
}

.x3cu46-bid-evaluation .this-is-an-outcome-t {
  align-self: stretch;
  color: var(--fpcpurple);
  font-weight: 600;
  line-height: 24px;
  position: relative;
}

.x3cu46-bid-evaluation .v2-1 {
  background-image: url(../img/gear-2-22@2x.png);
}

.x3cu46-bid-evaluation .v2-2 {
  background-image: url(../img/gear-2-23@2x.png);
}

.x3cu46-bid-evaluation .frame-140 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.x3cu46-bid-evaluation .text-26 {
  text-align: right;
  width: 30px;
}

.x3cu46-bid-evaluation .content-1 {
  flex: 1;
  flex-grow: 1;
  gap: 5px;
}

.x3cu46-bid-evaluation .frame-163 {
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 1px 5px;
}

.x3cu46-bid-evaluation .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .navfooterprev {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x3cu46-bid-evaluation .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  position: relative;
  width: 15.24px;
}

.x3cu46-bid-evaluation .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  position: relative;
  width: 181px;
}

.x3cu46-bid-evaluation .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 177px;
}

.x3cu46-bid-evaluation .navfooternext {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x3cu46-bid-evaluation .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  position: relative;
  width: 122px;
}

.x3cu46-bid-evaluation .next {
  color: var(--white);
  font-weight: 400;
  height: 15px;
  line-height: normal;
  width: 27px;
}

.x3cu46-bid-evaluation .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 118px;
}

.x3cu46-bid-evaluation .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.x3cu46-bid-evaluation .navsidebarexpanded {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x3cu46-bid-evaluation .navmainv3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--algae-green);
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .x1-section-name {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x3cu46-bid-evaluation .subsections {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x3cu46-bid-evaluation .navsubsectionv2 {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x3cu46-bid-evaluation .capacity-building {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x3cu46-bid-evaluation .b-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x3cu46-bid-evaluation .c-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x3cu46-bid-evaluation .d-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x3cu46-bid-evaluation .navmainv3-1 {
  background-color: var(--fpcbluehl);
}

.x3cu46-bid-evaluation .x1-section-name-1 {
  color: var(--black-2);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x3cu46-bid-evaluation .navmainv3-2 {
  background-color: var(--fpchlpeach);
}

.x3cu46-bid-evaluation .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcpeachmid);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x3cu46-bid-evaluation .navmainv3-3 {
  background-color: var(--periwinkle-gray);
}

.x3cu46-bid-evaluation .have-a-question {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x3cu46-bid-evaluation .email-us {
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x3cu46-bid-evaluation .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x3cu46-bid-evaluation .content-2 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  width: 100%;
}

.x3cu46-bid-evaluation .text0-i8593871285932298 {
  line-height: normal;
}

.x3cu46-bid-evaluation .text1-i8593871285932298 {
  line-height: normal;
}

.x3cu46-bid-evaluation .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .links-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .links-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .frame-201 {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  width: 343px;
}

.x3cu46-bid-evaluation .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x3cu46-bid-evaluation .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x3cu46-bid-evaluation .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x3cu46-bid-evaluation .group-199 {
  height: 60px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x3cu46-bid-evaluation .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x3cu46-bid-evaluation .links-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.x3cu46-bid-evaluation .text-27 {
  width: fit-content;
}

.x3cu46-bid-evaluation .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x3cu46-bid-evaluation .flex-container-i8593871285932358 {
  height: 130px;
  margin-top: 8px;
  position: relative;
  width: 650px;
}

.x3cu46-bid-evaluation .text0-i8593871285932358 {
  line-height: 24px;
}

.x3cu46-bid-evaluation .span-3 {
  text-decoration: underline;
}

.x3cu46-bid-evaluation .text1-i8593871285932358 {
  line-height: 24px;
}

.x3cu46-bid-evaluation .cluster-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .content-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x3cu46-bid-evaluation .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x3cu46-bid-evaluation .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x3cu46-bid-evaluation .frame {
  align-items: flex-start;
  position: relative;
}

.x3cu46-bid-evaluation .lorem-ipsum-17 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x3cu46-bid-evaluation .navmainv3-4 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x3cu46-bid-evaluation .text {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x3cu46-bid-evaluation .text0 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  position: relative;
}

.x3cu46-bid-evaluation .text1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  position: relative;
}

.x3cu46-bid-evaluation .v2-3 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x3cu46-bid-evaluation .x1-3 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
