/* screen - 3d-contracting */

.x3d-contracting {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  left: 0px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 60px 0px 0px;
  position: relative;
  top: 0px;
}

.x3d-contracting .header-xqOeb2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x3d-contracting .logo-title-Nt3ujl {
  min-width: 410px;
  position: relative;
}

.x3d-contracting .navigation-Nt3ujl {
  background-color: transparent;
  height: 24px;
  min-width: 534px;
  position: relative;
}

.x3d-contracting .links-CYwGwl {
  align-items: flex-start;
  gap: 30px;
  justify-content: flex-end;
  left: 0px;
  position: absolute;
  top: 2px;
  width: fit-content;
}

.x3d-contracting .stewardship-eQWyKE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3d-contracting .resources-eQWyKE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3d-contracting .who-we-are-eQWyKE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3d-contracting .join-us-eQWyKE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3d-contracting .services-CYwGwl {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  left: 422px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.x3d-contracting .mastodon-LeBD5c {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x3d-contracting .twitter-LeBD5c {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x3d-contracting .github-LeBD5c {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x3d-contracting .title-xqOeb2 {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  mix-blend-mode: normal;
  text-align: left;
  width: 1080px;
}

.x3d-contracting .main-frame-xqOeb2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x3d-contracting .content-t8QTtU {
  background-color: transparent;
  flex: 1;
  gap: 60px;
}

.x3d-contracting .intro-WINxyX {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3d-contracting .titlepage-KVDYOs {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 0px 0px 10px;
  position: relative;
}

.x3d-contracting .page-title-CmH76u {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x3d-contracting .content-KVDYOs {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  mix-blend-mode: normal;
  padding: 20px;
}

.x3d-contracting .this-section-will-help-you-NegfB0 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 650px;
}

.x3d-contracting .cluster-NegfB0 {
  gap: 10px;
}

.x3d-contracting .challenges-WINxyX {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3d-contracting .you-may-encounter-th-5ZPOua {
  align-self: stretch;
  background-color: transparent;
  color: var(--red);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .span0-CTscqw {
  color: var(--black);
  font-style: normal;
  line-height: 24px;
}

.x3d-contracting .span1-CTscqw {
  color: var(--black);
  font-style: normal;
  font-weight: 600;
}

.x3d-contracting .span2-CTscqw {
  color: var(--black);
  font-style: normal;
  line-height: 24px;
}

.x3d-contracting .x-MmQxtm {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x3d-contracting .content-uIzhB9 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3d-contracting .title-RuSdKc {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x3d-contracting .lorem-ipsum-RuSdKc {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x3d-contracting .x-F2J3o2 {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x3d-contracting .content-WTQGX7 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3d-contracting .title-CdoAcP {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x3d-contracting .lorem-ipsum-CdoAcP {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x3d-contracting .x-VReIkq {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x3d-contracting .content-yaTPAn {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3d-contracting .title-2SmVx4 {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x3d-contracting .lorem-ipsum-2SmVx4 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x3d-contracting .actions-WINxyX {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3d-contracting .frame-142-xSEmjM {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3d-contracting .x1-incorporating-non-TUnpNk {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .contracts-should-lay-TUnpNk {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .content-bSV7kP {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3d-contracting .lorem-ipsum-ezhCPn {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

.x3d-contracting .title-MVR40w {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x3d-contracting .x-bU0TCJ {
  background-color: transparent;
  height: 25.81%;
  left: 74.20%;
  position: absolute;
  top: 15.62%;
  width: 7.81%;
}

.x3d-contracting .line-bU0TCJ {
  height: 22px;
  left: 6px;
  top: 4px;
  width: 15px;
}

.x3d-contracting .line-8LOEwc {
  height: 13px;
  left: 6px;
  top: 15px;
  width: 20px;
}

.x3d-contracting .line-YNlQ8l {
  height: 4px;
  left: 7px;
  top: 22px;
  width: 18px;
}

.x3d-contracting .arrowdown-6BAKrE {
  height: 8.4141845703125px;
}

.x3d-contracting .frame-143-xSEmjM {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3d-contracting .x2-working-with-technical-requirements-D376b8 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .your-market-research-D376b8 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .content-agxx1j {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3d-contracting .lorem-ipsum-EbFf5T {
  letter-spacing: 0.00px;
  white-space: nowrap;
}

.x3d-contracting .title-I4BZFd {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x3d-contracting .x-FwD8co {
  background-color: transparent;
  height: 25.81%;
  left: 74.20%;
  position: absolute;
  top: 15.62%;
  width: 7.81%;
}

.x3d-contracting .line-FwD8co {
  height: 22px;
  left: 6px;
  top: 4px;
  width: 15px;
}

.x3d-contracting .line-hnqKEW {
  height: 13px;
  left: 6px;
  top: 15px;
  width: 20px;
}

.x3d-contracting .line-qxktxC {
  height: 4px;
  left: 7px;
  top: 22px;
  width: 18px;
}

.x3d-contracting .arrowdown-1TNofg {
  height: 8.4141845703125px;
}

.x3d-contracting .frame-144-xSEmjM {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3d-contracting .x3-fostering-good-working-relationships-hXQEtU {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .contracts-are-not-th-hXQEtU {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .iconknowledge-9xoZcc {
  background-color: transparent;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.x3d-contracting .bulb-PuQOih {
  background-color: transparent;
  height: 24px;
  left: 7px;
  position: relative;
  top: 3px;
  width: 18px;
}

.x3d-contracting .union-edyyUM {
  background-color: transparent;
  height: 83.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x3d-contracting .group-194-edyyUM {
  background-color: transparent;
  height: 16.68%;
  left: 29.17%;
  position: absolute;
  top: 29.19%;
  width: 41.67%;
}

.x3d-contracting .line-48-edyyUM {
  background-color: transparent;
  height: 8.16%;
  left: 30.56%;
  position: absolute;
  top: 91.84%;
  width: 38.89%;
}

.x3d-contracting .content-9xoZcc {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3d-contracting .lorem-ipsum-9nSJfj {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x3d-contracting .content-Ok2D13 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x3d-contracting .lorem-ipsum-6C645m {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x3d-contracting .span0-vhiA09 {
  font-style: normal;
}

.x3d-contracting .span1-vhiA09 {
  font-style: normal;
  font-weight: 700;
}

.x3d-contracting .span2-vhiA09 {
  font-style: normal;
}

.x3d-contracting .span3-vhiA09 {
  font-style: normal;
  font-weight: 700;
}

.x3d-contracting .span4-vhiA09 {
  font-style: normal;
}

.x3d-contracting .span5-vhiA09 {
  font-style: normal;
  font-weight: 700;
}

.x3d-contracting .span6-vhiA09 {
  font-style: normal;
}

.x3d-contracting .span7-vhiA09 {
  font-style: normal;
  font-weight: 700;
}

.x3d-contracting .span8-vhiA09 {
  font-style: normal;
}

.x3d-contracting .span9-vhiA09 {
  font-style: normal;
  font-weight: 700;
}

.x3d-contracting .title-Fr0PWV {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x3d-contracting .x-78i5ic {
  background-color: transparent;
  height: 25.81%;
  left: 74.20%;
  position: absolute;
  top: 15.62%;
  width: 7.81%;
}

.x3d-contracting .line-78i5ic {
  height: 22px;
  left: 6px;
  top: 4px;
  width: 15px;
}

.x3d-contracting .line-dtxoYg {
  height: 13px;
  left: 6px;
  top: 15px;
  width: 20px;
}

.x3d-contracting .line-9EbNgq {
  height: 4px;
  left: 7px;
  top: 22px;
  width: 18px;
}

.x3d-contracting .arrowdown-6ltFRW {
  height: 8.414306640625px;
}

.x3d-contracting .span0-bo5x5p {
  font-style: normal;
}

.x3d-contracting .span1-bo5x5p {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x3d-contracting .span2-bo5x5p {
  font-style: normal;
}

.x3d-contracting .outcomes-WINxyX {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3d-contracting .cluster-fmAXCI {
  flex-direction: column;
  gap: 20px;
}

.x3d-contracting .create-or-complete-t-80vuc5 {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x3d-contracting .goals-80vuc5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  position: relative;
}

.x3d-contracting .this-is-an-outcome-t-Qa57Ul {
  white-space: nowrap;
}

.x3d-contracting .references-WINxyX {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3d-contracting .frame-140-uL8Agw {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x3d-contracting .content-dxgNSW {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3d-contracting .content-b17ehk {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3d-contracting .content-ZbyFTN {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3d-contracting .content-npcxQR {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x3d-contracting .footer-nav-WINxyX {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x3d-contracting .navfooterprev-345qO1 {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3d-contracting .arrow-32-0xZZpn {
  margin-left: -0.85px;
}

.x3d-contracting .group-134-0xZZpn {
  margin-right: -4.00px;
  min-width: 140px;
}

.x3d-contracting .x1a-welcome-TzQ4ko {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x3d-contracting .previous-TzQ4ko {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3d-contracting .navfooternext-345qO1 {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x3d-contracting .group-134-Z5bkdg {
  min-width: 203px;
}

.x3d-contracting .x1b-discovery-research-hB0dvk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x3d-contracting .next-hB0dvk {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3d-contracting .arrow-32-Z5bkdg {
  margin-right: -0.85px;
}

.x3d-contracting .sidebarv2-t8QTtU {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: normal;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x3d-contracting .top-8pe66Q {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3d-contracting .navsidebarexpanded-XHXAqS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  position: relative;
  width: 240px;
}

.x3d-contracting .navmainv3-26du7l {
  background-color: var(--algae-green);
}

.x3d-contracting .x1-section-name-Jp5F6f {
  color: var(--black);
}

.x3d-contracting .navsubsectionv2-o1DSsK {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-DLoD8D {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-yOGX4Q {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-xcTsY2 {
  background-color: transparent;
}

.x3d-contracting .d-subsection-name-6v9r4i {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x3d-contracting .navsubsectionv2-uUIKoa {
  background-color: transparent;
}

.x3d-contracting .navmainv3-335K69 {
  background-color: var(--fpcbluehl);
}

.x3d-contracting .x1-section-name-OiUI73 {
  color: var(--black-2);
}

.x3d-contracting .navsubsectionv2-BPVEe5 {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-5bxb7A {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-dWPeB6 {
  background-color: transparent;
}

.x3d-contracting .navmainv3-f9yV4m {
  background-color: var(--fpchlpeach);
}

.x3d-contracting .x1-section-name-TydcHh {
  color: var(--black);
}

.x3d-contracting .navsubsectionv2-PPMlwl {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-x5plAR {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-jVJ1xq {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-z4d5gA {
  background-color: var(--fpcpeachmid);
}

.x3d-contracting .span0-oxCqXh {
  font-style: normal;
}

.x3d-contracting .navmainv3-Ygz97e {
  background-color: var(--periwinkle-gray);
}

.x3d-contracting .x1-section-name-gRuO9N {
  color: var(--black-2);
}

.x3d-contracting .navsubsectionv2-nSPXTr {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-HjUDx9 {
  background-color: transparent;
}

.x3d-contracting .navsubsectionv2-FqCqC9 {
  background-color: transparent;
}

.x3d-contracting .sidebarbottom-8pe66Q {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3d-contracting .have-a-question-eCa2NG {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 240px;
}

.x3d-contracting .have-a-question-dI6wcB {
  align-self: stretch;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
}

.x3d-contracting .email-us-dI6wcB {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3d-contracting .footer-xqOeb2 {
  align-self: stretch;
  background-color: transparent;
  height: 916px;
  min-width: 1440px;
  mix-blend-mode: normal;
  position: relative;
}

.x3d-contracting .base-MhDSbM {
  background-color: var(--concrete);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x3d-contracting .information-MhDSbM {
  background-color: transparent;
  height: 281px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 575px;
  width: 1024px;
}

.x3d-contracting .metadata-gn5SlU {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: calc(50.00% - 142px);
  position: absolute;
  top: 196px;
  width: fit-content;
}

.x3d-contracting .updated-yun6Bp {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3d-contracting .icon-clock-zVfp6j {
  background-color: transparent;
  height: 16px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x3d-contracting .last-updated-15-february-2021-zVfp6j {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x3d-contracting .copyright-yun6Bp {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3d-contracting .text_label-yi4SPD {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x3d-contracting .x2021-foundation-for-public-code-yi4SPD {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x3d-contracting .span0-rOEpgb {
  font-style: normal;
}

.x3d-contracting .span1-rOEpgb {
  font-style: normal;
  text-decoration: underline;
}

.x3d-contracting .license-yun6Bp {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x3d-contracting .iconlicense-rfDwWx {
  background-color: transparent;
  height: 14.5px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x3d-contracting .creative-commons-zero-v10-universal-rfDwWx {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x3d-contracting .organizational-notes-gn5SlU {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 142px);
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 650px;
}

.x3d-contracting .foundation-for-publi-gn5SlU {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 142px);
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 650px;
}

.x3d-contracting .span0-KZl35u {
  font-style: normal;
}

.x3d-contracting .span1-KZl35u {
  font-style: normal;
  text-decoration: underline;
}

.x3d-contracting .span2-KZl35u {
  font-style: normal;
}

.x3d-contracting .span3-KZl35u {
  font-style: normal;
  text-decoration: underline;
}

.x3d-contracting .span4-KZl35u {
  font-style: normal;
}

.x3d-contracting .span5-KZl35u {
  font-style: normal;
  text-decoration: underline;
}

.x3d-contracting .span6-KZl35u {
  font-style: normal;
}

.x3d-contracting .span7-KZl35u {
  font-style: normal;
  text-decoration: underline;
}

.x3d-contracting .span8-KZl35u {
  font-style: normal;
}

.x3d-contracting .contact-gn5SlU {
  height: 201px;
  left: calc(50.00% - 512px);
  width: 345px;
}

.x3d-contracting .contact-Dmc34N {
  height: auto;
  left: calc(50.00% - 172px);
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
  width: 120px;
}

.x3d-contracting .frame-201-Dmc34N {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  left: calc(50.00% - 172px);
  position: absolute;
  top: 36px;
  width: fit-content;
}

.x3d-contracting .group-196-GeGdd7 {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3d-contracting .join-our-mailing-list-Wh8zw1 {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x3d-contracting .newsletter-Wh8zw1 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3d-contracting .group-197-GeGdd7 {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3d-contracting .x31-20-2-444-500-YWVyx7 {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x3d-contracting .phone-YWVyx7 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3d-contracting .group-200-GeGdd7 {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3d-contracting .infopubliccodenet-igcTc2 {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x3d-contracting .email-igcTc2 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3d-contracting .group-199-GeGdd7 {
  background-color: transparent;
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x3d-contracting .links-sgytHT {
  align-items: flex-start;
  gap: 10px;
  left: 103px;
  position: absolute;
  top: 40px;
  width: fit-content;
}

.x3d-contracting .open-street-map-mWTe1u {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3d-contracting .x-mWTe1u {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x3d-contracting .google-mWTe1u {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x3d-contracting .keizersgracht-617-10-sgytHT {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.x3d-contracting .address-sgytHT {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x3d-contracting .block-trio-MhDSbM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 340px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 175px;
  width: 1080px;
}

.x3d-contracting .about-us-UuVuZx {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x3d-contracting .content-65vrFK {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x3d-contracting .about-us-ibDuRq {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x3d-contracting .all-of-our-staff-inf-ibDuRq {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .links-65vrFK {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x3d-contracting .how-we-work-aro5Sr {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x3d-contracting .project-resources-UuVuZx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x3d-contracting .content-rvQ2LZ {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x3d-contracting .project-resources-ZBM3zF {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x3d-contracting .open-products-were-r-ZBM3zF {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .links-rvQ2LZ {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.x3d-contracting .free-to-use-and-modify-lJY36J {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x3d-contracting .see-all-our-work-on-git-hub-lJY36J {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x3d-contracting .careers-UuVuZx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x3d-contracting .content-EQddXQ {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x3d-contracting .careers-JZpOXG {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x3d-contracting .calling-all-publicly-JZpOXG {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .links-EQddXQ {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x3d-contracting .open-positions-A2grFk {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x3d-contracting .logo-title-MhDSbM {
  left: calc(50.00% - 540px);
  position: absolute;
  top: 60px;
  width: 410px;
}

.x3d-contracting .an-action-that-requires-high-engagement {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x3d-contracting .arrow-32 {
  background-color: transparent;
  height: 12.46923828125px;
  min-width: 15.2421875px;
  position: relative;
}

.x3d-contracting .arrowdown {
  background-color: transparent;
  margin-right: -1.00px;
  min-width: 14px;
  position: relative;
}

.x3d-contracting .bullet-sub-bullet-sub-bullet-bullet {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .cluster {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  position: relative;
}

.x3d-contracting .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.x3d-contracting .ellipse-193 {
  background-color: transparent;
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 18px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.x3d-contracting .gear-2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.01%;
}

.x3d-contracting .line {
  background-color: transparent;
  position: absolute;
}

.x3d-contracting .link-title-here {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x3d-contracting .lorem-ipsum {
  align-self: stretch;
  background-color: transparent;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x3d-contracting .this-is-an-outcome-t {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}
