/* screen - 4a-implementation-phase */

.x4a-implementation-phase {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2376px;
  overflow: hidden;
  width: 1440px;
}

.x4a-implementation-phase .header {
  align-items: center;
  align-self: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-top: 60px;
  min-width: 1080px;
  width: auto;
}

.x4a-implementation-phase .home-resources-and {
  color: transparent;
  font-weight: 400;
  line-height: normal;
  margin-left: 180px;
  margin-top: 59px;
  min-height: 20px;
  width: 567px;
}

.x4a-implementation-phase .title {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-left: 180px;
  margin-top: 85px;
  min-height: 40px;
  width: 690px;
}

.x4a-implementation-phase .flex-row {
  align-self: center;
  gap: 58px;
  margin-right: 32.0px;
  margin-top: 62px;
  min-width: 1048px;
}

.x4a-implementation-phase .content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: fit-content;
}

.x4a-implementation-phase .intro {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: fit-content;
}

.x4a-implementation-phase .titlepage {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 690px;
}

.x4a-implementation-phase .page-title {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x4a-implementation-phase .illo-block {
  height: 856px;
  margin-right: -4.00px;
  min-width: 694px;
  position: relative;
}

.x4a-implementation-phase .that-sounds-like-a-l {
  color: var(--black);
  font-weight: 400;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 250px;
  width: 690px;
}

.x4a-implementation-phase .flex-row-1 {
  gap: 30px;
  height: 240px;
  left: 0;
  min-width: 690px;
  position: absolute;
  top: 0;
}

.x4a-implementation-phase .phaseimplementation {
  align-items: flex-start;
  background-color: var(--fpcpurple);
  border-radius: 12px;
  display: flex;
  height: 230px;
  overflow: hidden;
  padding: 14.2px 20.8px;
  width: 230px;
}

.x4a-implementation-phase .group-149 {
  height: 183px;
  margin-left: 7px;
  position: relative;
  width: 182px;
}

.x4a-implementation-phase .overlap-group2 {
  height: 170px;
  left: -1px;
  position: absolute;
  top: 14px;
  width: 169px;
}

.x4a-implementation-phase .rectangle-1 {
  background-color: var(--black);
  height: 132px;
  left: 38px;
  position: absolute;
  top: 38px;
  width: 104px;
}

.x4a-implementation-phase .rectangle-2 {
  background-color: #00ba8d;
  height: 132px;
  left: 33px;
  position: absolute;
  top: 32px;
  width: 104px;
}

.x4a-implementation-phase .comment {
  align-items: flex-start;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 137px;
  min-width: 31px;
  position: absolute;
  top: 81px;
  transform: rotate(180deg);
}

.x4a-implementation-phase .overlap-group1 {
  height: 33px;
  margin-top: -1.0px;
  position: relative;
  width: 33px;
}

.x4a-implementation-phase .union {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 33px;
}

.x4a-implementation-phase .group-2 {
  height: 12px;
  left: 11px;
  position: absolute;
  top: 11px;
  transform: rotate(-180deg);
  width: 12px;
}

.x4a-implementation-phase .symbol-dev {
  align-items: flex-end;
  display: flex;
  gap: 7px;
  height: 27px;
  justify-content: center;
  left: 55px;
  min-width: 60px;
  position: absolute;
  top: 85px;
}

.x4a-implementation-phase .rectangle {
  height: 30px;
  margin-bottom: -1.5px;
  width: 16px;
}

.x4a-implementation-phase .line {
  height: 26px;
  margin-bottom: -0.09px;
  width: 17px;
}

.x4a-implementation-phase .rectangle-2-1 {
  height: 41px;
  left: 21px;
  position: absolute;
  top: 21px;
  width: 42px;
}

.x4a-implementation-phase .ellipse {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 32.21px;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}

.x4a-implementation-phase .abstract-lines {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 28px;
  min-height: 23px;
  position: absolute;
  top: 29px;
  width: 35px;
}

.x4a-implementation-phase .rectangle-3-1 {
  background-color: var(--white);
  border-radius: 1px;
  height: 1px;
  width: 35px;
}

.x4a-implementation-phase .flex-row-2 {
  gap: 3px;
  margin-top: 5px;
  min-width: 35px;
}

.x4a-implementation-phase .rectangle-3 {
  background-color: var(--white);
  border-radius: 1px;
  height: 1px;
  width: 9px;
}

.x4a-implementation-phase .rectangle-32 {
  background-color: var(--white);
  border-radius: 1px;
  height: 1px;
  width: 22px;
}

.x4a-implementation-phase .flex-row-3 {
  gap: 3px;
  margin-top: 5px;
  min-width: 30px;
}

.x4a-implementation-phase .rectangle-33 {
  background-color: var(--white);
  border-radius: 1px;
  height: 1px;
  width: 18px;
}

.x4a-implementation-phase .rectangle-37 {
  background-color: var(--white);
  border-radius: 1px;
  height: 1px;
  margin-top: 6px;
  transform: rotate(180deg);
  width: 22px;
}

.x4a-implementation-phase .star {
  height: 10px;
  left: 76px;
  position: absolute;
  top: 37px;
  width: 11px;
}

.x4a-implementation-phase .star-1 {
  left: 91px;
}

.x4a-implementation-phase .star-2 {
  left: 105px;
}

.x4a-implementation-phase .star-3 {
  left: 120px;
}

.x4a-implementation-phase .comment-1 {
  align-items: flex-start;
  display: flex;
  height: 46px;
  justify-content: center;
  left: 136px;
  min-width: 46px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
}

.x4a-implementation-phase .overlap-group-1 {
  height: 48px;
  margin-top: -1.0px;
  position: relative;
  width: 48px;
}

.x4a-implementation-phase .union-1 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 48px;
}

.x4a-implementation-phase .group-2-1 {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 16px;
  transform: rotate(-180deg);
  width: 16px;
}

.x4a-implementation-phase .the-fourth-and-final {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  min-height: 240px;
  width: 430px;
}

.x4a-implementation-phase .footer-nav {
  align-self: stretch;
  justify-content: space-between;
  position: relative;
}

.x4a-implementation-phase .navfooterprev {
  align-items: center;
  background-color: var(--fpcbgpeach);
  border-radius: 32px 4px 4px 32px;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x4a-implementation-phase .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  min-width: 15.24px;
  position: relative;
}

.x4a-implementation-phase .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  min-width: 122px;
  position: relative;
}

.x4a-implementation-phase .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 118px;
}

.x4a-implementation-phase .navfooternext {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 4px 32px 32px 4px;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x4a-implementation-phase .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  min-width: 174px;
  position: relative;
}

.x4a-implementation-phase .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 170px;
}

.x4a-implementation-phase .sidebarv2 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 1054px;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x4a-implementation-phase .navmainv3 {
  align-items: center;
  background-color: var(--algae-green);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 260px;
}

.x4a-implementation-phase .x1-section-name {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4a-implementation-phase .navmainv3-1 {
  align-items: center;
  background-color: var(--fpcbluehl);
  justify-content: space-between;
}

.x4a-implementation-phase .x1-section-name-1 {
  color: var(--black-3);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4a-implementation-phase .navmainv3-2 {
  align-items: center;
  background-color: var(--fpchlpeach);
  justify-content: space-between;
}

.x4a-implementation-phase .navmainv3-3 {
  align-items: flex-start;
  background-color: var(--periwinkle-gray);
  flex-direction: column;
  gap: 10px;
}

.x4a-implementation-phase .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcpurple50);
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: fit-content;
}

.x4a-implementation-phase .capacity-building {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4a-implementation-phase .footer-floating {
  margin-top: 91px;
  min-width: 1440px;
}

.x4a-implementation-phase .overlap-group3 {
  height: 850px;
  position: relative;
  width: 1440px;
}

.x4a-implementation-phase .logo {
  display: flex;
  gap: 13.3px;
  width: 412px;
}

.x4a-implementation-phase .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  padding: 30px 20px;
  width: 524px;
}

.x4a-implementation-phase .overlap-group-2 {
  height: 196px;
  position: relative;
  width: 343px;
}

.x4a-implementation-phase .span0 {
  line-height: 26px;
}

.x4a-implementation-phase .span-2 {
  color: var(--black);
  font-weight: 400;
}

.x4a-implementation-phase .flex-col {
  flex-direction: column;
  gap: 30px;
  min-height: 233px;
  width: 650px;
}

.x4a-implementation-phase .span-4 {
  color: var(--fpclinkblue);
  font-weight: 400;
  text-decoration: underline;
}

.x4a-implementation-phase .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5px;
  min-height: 80px;
  width: 17px;
}

.x4a-implementation-phase .span0-1 {
  color: var(--black);
}

.x4a-implementation-phase .span1 {
  color: var(--fpclinkblue);
  text-decoration: underline;
}

.x4a-implementation-phase .flex-row-4 {
  align-items: flex-start;
  display: flex;
}

.x4a-implementation-phase .navmainv3-4 {
  border-radius: 4px;
  display: flex;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 260px;
}

.x4a-implementation-phase .star-4 {
  height: 10px;
  position: absolute;
  top: 37px;
  width: 11px;
}
