/* screen - 4b-agile-development */

.x4b-agile-development {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 1440px;
  padding: 60px 0px 0px;
  position: relative;
}

.x4b-agile-development .title-3 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x4b-agile-development .main-frame {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x4b-agile-development .content-3 {
  flex: 1;
  gap: 60px;
}

.x4b-agile-development .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.x4b-agile-development .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
}

.x4b-agile-development .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  padding: 20px;
}

.x4b-agile-development .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
}

.x4b-agile-development .group-193 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 2px;
  min-width: 30px;
  padding: 0.0px 0.0px;
  position: relative;
}

.x4b-agile-development .you-may-encounter-th {
  align-self: stretch;
  color: var(--red);
  font-weight: 400;
  line-height: 16px;
  position: relative;
}

.x4b-agile-development .span {
  color: var(--black);
  line-height: 24px;
}

.x4b-agile-development .span1-1 {
  color: var(--black);
  font-weight: 600;
}

.x4b-agile-development .overlap-group {
  height: 24px;
  left: 3px;
  position: relative;
  top: 1px;
  width: 27px;
}

.x4b-agile-development .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x4b-agile-development .title-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4b-agile-development .lorem-ipsum {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x4b-agile-development .lorem-ipsum-1 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .x-2 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x4b-agile-development .lorem-ipsum-2 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .x-3 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x4b-agile-development .lorem-ipsum-3 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .frame-142 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x4b-agile-development .x1-supporting-the-agile-work-plan {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4b-agile-development .your-software-develo {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x4b-agile-development .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x4b-agile-development .lorem-ipsum-4 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .lorem-ipsum-5 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .lorem-ipsum-6 {
  color: var(--black);
  font-weight: 400;
  white-space: nowrap;
}

.x4b-agile-development .lorem-ipsum-7 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .lorem-ipsum-8 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .frame-143 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x4b-agile-development .x2-sprint-planning {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4b-agile-development .your-development-par {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x4b-agile-development .lorem-ipsum-9 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .span1 {
  letter-spacing: 0;
}

.x4b-agile-development .lorem-ipsum-10 {
  letter-spacing: 0;
  white-space: nowrap;
}

.x4b-agile-development .title-2 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .overlap-group-2 {
  height: 26px;
  left: 6px;
  position: relative;
  top: 2px;
  width: 26px;
}

.x4b-agile-development .ellipse-193 {
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 14px;
}

.x4b-agile-development .line {
  height: 22px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}

.x4b-agile-development .line-1 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 20px;
}

.x4b-agile-development .line-2 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 18px;
}

.x4b-agile-development .bullet-sub-bullet-sub-bullet-bullet {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
}

.x4b-agile-development .frame-144 {
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x4b-agile-development .x3-using-a-dev-ops-approach {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4b-agile-development .dev-ops-short-for-d {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x4b-agile-development .lorem-ipsum-11 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .lorem-ipsum-12 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .lorem-ipsum-13 {
  color: var(--black);
  font-weight: 400;
}

.x4b-agile-development .bullet-sub-bullet-sub-bullet-bullet-1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x4b-agile-development .cluster-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.x4b-agile-development .create-or-complete-t {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 690px;
}

.x4b-agile-development .this-is-an-outcome-t {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.x4b-agile-development .v2-1 {
  background-image: url(../img/gear-2-6@2x.png);
}

.x4b-agile-development .this-is-an-outcome-t-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.x4b-agile-development .v2-2 {
  background-image: url(../img/gear-2-7@2x.png);
}

.x4b-agile-development .frame-141 {
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
}

.x4b-agile-development .text-4 {
  text-align: right;
  width: 30px;
}

.x4b-agile-development .content-1 {
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .frame-163 {
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  gap: 10px;
  padding: 1px 5px;
  width: fit-content;
}

.x4b-agile-development .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x4b-agile-development .navfooterprev {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  min-width: 15.24px;
  position: relative;
}

.x4b-agile-development .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  min-width: 203px;
  position: relative;
}

.x4b-agile-development .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 199px;
}

.x4b-agile-development .navfooternext {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  min-width: 115px;
  position: relative;
}

.x4b-agile-development .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 111px;
}

.x4b-agile-development .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcpurple50);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x4b-agile-development .content-2 {
  align-self: stretch;
  gap: 15px;
}

.x4b-agile-development .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x4b-agile-development .links-1 {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
}

.x4b-agile-development .links-2 {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
}

.x4b-agile-development .frame-201 {
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  width: 343px;
}

.x4b-agile-development .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .group-199 {
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x4b-agile-development .links-3 {
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
}

.x4b-agile-development .text-5 {
  width: fit-content;
}

.x4b-agile-development .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x4b-agile-development .span-2 {
  text-decoration: underline;
}

.x4b-agile-development .content-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x4b-agile-development .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x4b-agile-development .frame {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.x4b-agile-development .links-4 {
  display: flex;
  position: relative;
}

.x4b-agile-development .lorem-ipsum-14 {
  align-self: stretch;
  line-height: 21px;
  position: relative;
}

.x4b-agile-development .source-name-8 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .v2-3 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x4b-agile-development .x1-7 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
