/* screen - 4b-agile-development */

.x4b-agile-development {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  left: 0px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 60px 0px 0px;
  position: relative;
  top: 0px;
}

.x4b-agile-development .header-xh4jGm {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x4b-agile-development .logo-title-VaqSHM {
  min-width: 410px;
  position: relative;
}

.x4b-agile-development .navigation-VaqSHM {
  background-color: transparent;
  height: 24px;
  min-width: 534px;
  position: relative;
}

.x4b-agile-development .links-5NORPe {
  align-items: flex-start;
  gap: 30px;
  justify-content: flex-end;
  left: 0px;
  position: absolute;
  top: 2px;
  width: fit-content;
}

.x4b-agile-development .stewardship-WMmg2A {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x4b-agile-development .resources-WMmg2A {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x4b-agile-development .who-we-are-WMmg2A {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x4b-agile-development .join-us-WMmg2A {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x4b-agile-development .services-5NORPe {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  left: 422px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.x4b-agile-development .mastodon-6ZQFqm {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x4b-agile-development .twitter-6ZQFqm {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x4b-agile-development .github-6ZQFqm {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  position: relative;
}

.x4b-agile-development .title-xh4jGm {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  mix-blend-mode: normal;
  text-align: left;
  width: 1080px;
}

.x4b-agile-development .main-frame-xh4jGm {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x4b-agile-development .content-xGzoPX {
  background-color: transparent;
  flex: 1;
  gap: 60px;
}

.x4b-agile-development .intro-AJdIZV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x4b-agile-development .titlepage-LVpovE {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  gap: 10px;
  height: auto;
  padding: 0px 0px 10px;
  position: relative;
}

.x4b-agile-development .page-title-M7LDzy {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x4b-agile-development .content-LVpovE {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  mix-blend-mode: normal;
  padding: 20px;
}

.x4b-agile-development .this-section-will-help-you-pHmH3A {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 650px;
}

.x4b-agile-development .cluster-pHmH3A {
  gap: 10px;
}

.x4b-agile-development .challenges-AJdIZV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x4b-agile-development .you-may-encounter-th-CFRvnX {
  align-self: stretch;
  background-color: transparent;
  color: var(--red);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .span0-g6JXU6 {
  color: var(--black);
  font-style: normal;
  line-height: 24px;
}

.x4b-agile-development .span1-g6JXU6 {
  color: var(--black);
  font-style: normal;
  font-weight: 600;
}

.x4b-agile-development .span2-g6JXU6 {
  color: var(--black);
  font-style: normal;
  line-height: 24px;
}

.x4b-agile-development .x-o7Bttb {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x4b-agile-development .content-K6Ce4Z {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .title-5OuQgt {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x4b-agile-development .lorem-ipsum-5OuQgt {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .x-xtNPba {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x4b-agile-development .content-vxAb8f {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .title-A5nmZ5 {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x4b-agile-development .lorem-ipsum-A5nmZ5 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .x-MjUUF7 {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x4b-agile-development .content-IvJpIp {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .title-uICEke {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x4b-agile-development .lorem-ipsum-uICEke {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .x-s5AMlj {
  background-color: transparent;
  height: 44.56%;
  left: 46.80%;
  position: absolute;
  top: 21.88%;
  width: 7.81%;
}

.x4b-agile-development .content-TWiwJo {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .title-9mwLVV {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
}

.x4b-agile-development .lorem-ipsum-9mwLVV {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .actions-AJdIZV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x4b-agile-development .frame-142-aAEx52 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x4b-agile-development .x1-supporting-the-agile-work-plan-eIebGM {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .your-software-develo-eIebGM {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .content-L0EhMq {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-l3xenI {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .content-LIrmPP {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-sYAJls {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .content-ZJncVr {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-EGzN9l {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

.x4b-agile-development .content-bo22VW {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-DkxWI7 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .content-xdtf1i {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-qZMSNs {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .frame-143-aAEx52 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x4b-agile-development .x2-sprint-planning-QP91BE {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .your-development-par-QP91BE {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .content-GFWY1y {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-MNTzFc {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .span0-cGlvlF {
  font-style: normal;
}

.x4b-agile-development .span1-cGlvlF {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x4b-agile-development .span2-cGlvlF {
  font-style: normal;
}

.x4b-agile-development .content-4MMxuS {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-hg8yYq {
  letter-spacing: 0.00px;
  white-space: nowrap;
}

.x4b-agile-development .title-0H2630 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x4b-agile-development .x-zH5pox {
  background-color: transparent;
  height: 25.81%;
  left: 74.20%;
  position: absolute;
  top: 15.62%;
  width: 7.81%;
}

.x4b-agile-development .line-zH5pox {
  height: 22px;
  left: 6px;
  top: 4px;
  width: 15px;
}

.x4b-agile-development .line-yjMDJG {
  height: 13px;
  left: 6px;
  top: 15px;
  width: 20px;
}

.x4b-agile-development .line-hQbTJV {
  height: 4px;
  left: 7px;
  top: 22px;
  width: 18px;
}

.x4b-agile-development .bullet-sub-bullet-sub-bullet-bullet-0H2630 {
  letter-spacing: 0.00px;
  line-height: 14px;
}

.x4b-agile-development .frame-144-aAEx52 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.x4b-agile-development .x3-using-a-dev-ops-approach-ziZx3J {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .dev-ops-short-for-de-ziZx3J {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .span0-hYWxza {
  font-style: normal;
}

.x4b-agile-development .span1-hYWxza {
  font-style: normal;
  letter-spacing: 0.00px;
}

.x4b-agile-development .span2-hYWxza {
  font-style: normal;
}

.x4b-agile-development .content-43icPA {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-MLJHqT {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .content-JylwDl {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-nPNByk {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .content-Vx0hr6 {
  background-color: transparent;
  flex: 1;
  gap: 2px;
}

.x4b-agile-development .lorem-ipsum-MTtrE7 {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
}

.x4b-agile-development .title-8axrxN {
  align-items: center;
  display: flex;
  gap: 10px;
  height: auto;
  width: fit-content;
}

.x4b-agile-development .x-0A2cxm {
  background-color: transparent;
  height: 25.81%;
  left: 74.20%;
  position: absolute;
  top: 15.62%;
  width: 7.81%;
}

.x4b-agile-development .line-0A2cxm {
  height: 22px;
  left: 6px;
  top: 4px;
  width: 15px;
}

.x4b-agile-development .line-uXeynR {
  height: 13px;
  left: 6px;
  top: 15px;
  width: 20px;
}

.x4b-agile-development .line-7Bj2xx {
  height: 4px;
  left: 7px;
  top: 22px;
  width: 18px;
}

.x4b-agile-development .bullet-sub-bullet-sub-bullet-bullet-8axrxN {
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.x4b-agile-development .outcomes-AJdIZV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x4b-agile-development .cluster-DzVs68 {
  flex-direction: column;
  gap: 20px;
}

.x4b-agile-development .create-or-complete-t-mcDmLw {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 690px;
}

.x4b-agile-development .goals-mcDmLw {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  position: relative;
}

.x4b-agile-development .icon-check_mark-FqlUzS {
  background-color: transparent;
  height: 33.77%;
  left: 28.39%;
  position: absolute;
  top: 34.62%;
  width: 44.21%;
}

.x4b-agile-development .this-is-an-outcome-t-v7a8PI {
  white-space: nowrap;
}

.x4b-agile-development .references-AJdIZV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x4b-agile-development .frame-141-ulhyzA {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
}

.x4b-agile-development .content-VJthZb {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .content-uLqz8w {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .content-vR1IKX {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .content-XRyUrx {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .content-OBEXax {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .content-NaW5os {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .content-z48wt7 {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .content-uQAG95 {
  background-color: transparent;
  flex: 1;
  gap: 5px;
}

.x4b-agile-development .footer-nav-AJdIZV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
}

.x4b-agile-development .navfooterprev-L5pIld {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .arrow-32-TFusdj {
  margin-left: -0.85px;
}

.x4b-agile-development .group-134-TFusdj {
  margin-right: -4.00px;
  min-width: 203px;
}

.x4b-agile-development .x1a-welcome-tLi41z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x4b-agile-development .previous-tLi41z {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x4b-agile-development .navfooternext-L5pIld {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  height: auto;
  mix-blend-mode: normal;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .group-134-2qQQTv {
  min-width: 115px;
}

.x4b-agile-development .x1b-discovery-research-uXMTjY {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.x4b-agile-development .next-uXMTjY {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x4b-agile-development .arrow-32-2qQQTv {
  margin-right: -0.85px;
}

.x4b-agile-development .sidebarv2-xGzoPX {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: normal;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .top-pA2lTn {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .navsidebarexpanded-XB062W {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  position: relative;
  width: 240px;
}

.x4b-agile-development .navmainv3-aZMuRY {
  background-color: var(--algae-green);
}

.x4b-agile-development .x1-section-name-0pOs0D {
  color: var(--black);
}

.x4b-agile-development .navsubsectionv2-fKZxVi {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-zIkDfc {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-Td9IWs {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-SViFPK {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-0hFTV9 {
  background-color: transparent;
}

.x4b-agile-development .navmainv3-fhKqPv {
  background-color: var(--fpcbluehl);
}

.x4b-agile-development .x1-section-name-muV11X {
  color: var(--black-2);
}

.x4b-agile-development .navsubsectionv2-D2vUDE {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-FeQnZq {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-zmI8EY {
  background-color: transparent;
}

.x4b-agile-development .navmainv3-Q89pyl {
  background-color: var(--fpchlpeach);
}

.x4b-agile-development .x1-section-name-s9P1oA {
  color: var(--black);
}

.x4b-agile-development .navsubsectionv2-ISFiBs {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-2pxISA {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-D7PdCe {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-Tj7rQj {
  background-color: transparent;
}

.x4b-agile-development .span0-vQ5OCx {
  font-style: normal;
}

.x4b-agile-development .navmainv3-ALHr0F {
  background-color: var(--periwinkle-gray);
}

.x4b-agile-development .x1-section-name-1jjcxc {
  color: var(--black-2);
}

.x4b-agile-development .navsubsectionv2-C3lfzI {
  background-color: transparent;
}

.x4b-agile-development .navsubsectionv2-BNay5o {
  background-color: var(--fpcpurple50);
}

.x4b-agile-development .navsubsectionv2-hkP5vM {
  background-color: transparent;
}

.x4b-agile-development .sidebarbottom-pA2lTn {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .have-a-question-o7l0EG {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 240px;
}

.x4b-agile-development .have-a-question-IxbfHf {
  align-self: stretch;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
}

.x4b-agile-development .email-us-IxbfHf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x4b-agile-development .footer-xh4jGm {
  align-self: stretch;
  background-color: transparent;
  height: 916px;
  min-width: 1440px;
  mix-blend-mode: normal;
  position: relative;
}

.x4b-agile-development .base-CjieLH {
  background-color: var(--concrete);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x4b-agile-development .information-CjieLH {
  background-color: transparent;
  height: 281px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 575px;
  width: 1024px;
}

.x4b-agile-development .metadata-rZi3i2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: calc(50.00% - 142px);
  position: absolute;
  top: 196px;
  width: fit-content;
}

.x4b-agile-development .updated-ZHJCN4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .icon-clock-CH708O {
  background-color: transparent;
  height: 16px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x4b-agile-development .last-updated-15-february-2021-CH708O {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x4b-agile-development .copyright-ZHJCN4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .text_label-aMv37k {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x4b-agile-development .x2021-foundation-for-public-code-aMv37k {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.x4b-agile-development .span0-nBXma3 {
  font-style: normal;
}

.x4b-agile-development .span1-nBXma3 {
  font-style: normal;
  text-decoration: underline;
}

.x4b-agile-development .license-ZHJCN4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.x4b-agile-development .iconlicense-nNxiNn {
  background-color: transparent;
  height: 14.5px;
  min-width: 16px;
  mix-blend-mode: normal;
  position: relative;
}

.x4b-agile-development .creative-commons-zero-v10-universal-nNxiNn {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.x4b-agile-development .organizational-notes-rZi3i2 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 142px);
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 650px;
}

.x4b-agile-development .foundation-for-publi-rZi3i2 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 142px);
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 650px;
}

.x4b-agile-development .span0-lejXlC {
  font-style: normal;
}

.x4b-agile-development .span1-lejXlC {
  font-style: normal;
  text-decoration: underline;
}

.x4b-agile-development .span2-lejXlC {
  font-style: normal;
}

.x4b-agile-development .span3-lejXlC {
  font-style: normal;
  text-decoration: underline;
}

.x4b-agile-development .span4-lejXlC {
  font-style: normal;
}

.x4b-agile-development .span5-lejXlC {
  font-style: normal;
  text-decoration: underline;
}

.x4b-agile-development .span6-lejXlC {
  font-style: normal;
}

.x4b-agile-development .span7-lejXlC {
  font-style: normal;
  text-decoration: underline;
}

.x4b-agile-development .span8-lejXlC {
  font-style: normal;
}

.x4b-agile-development .contact-rZi3i2 {
  height: 201px;
  left: calc(50.00% - 512px);
  width: 345px;
}

.x4b-agile-development .contact-XaDcGQ {
  height: auto;
  left: calc(50.00% - 172px);
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  text-align: left;
  white-space: nowrap;
  width: 120px;
}

.x4b-agile-development .frame-201-XaDcGQ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  left: calc(50.00% - 172px);
  position: absolute;
  top: 36px;
  width: fit-content;
}

.x4b-agile-development .group-196-xd3agG {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .join-our-mailing-list-hCxXMW {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x4b-agile-development .newsletter-hCxXMW {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x4b-agile-development .group-197-xd3agG {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .x31-20-2-444-500-YuPxdo {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x4b-agile-development .phone-YuPxdo {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x4b-agile-development .group-200-xd3agG {
  background-color: transparent;
  height: 20px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .infopubliccodenet-IKsaOT {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 240px;
}

.x4b-agile-development .email-IKsaOT {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x4b-agile-development .group-199-xd3agG {
  background-color: transparent;
  height: 60px;
  margin-right: -4.00px;
  min-width: 347px;
  position: relative;
}

.x4b-agile-development .links-dVMC7I {
  align-items: flex-start;
  gap: 10px;
  left: 103px;
  position: absolute;
  top: 40px;
  width: fit-content;
}

.x4b-agile-development .open-street-map-zcIpxQ {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x4b-agile-development .x-zcIpxQ {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.x4b-agile-development .google-zcIpxQ {
  background-color: transparent;
  color: var(--fpclinkblue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.x4b-agile-development .keizersgracht-617-10-dVMC7I {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 103px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}

.x4b-agile-development .address-dVMC7I {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.x4b-agile-development .block-trio-CjieLH {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 340px;
  left: calc(50.00% - 540px);
  position: absolute;
  top: 175px;
  width: 1080px;
}

.x4b-agile-development .about-us-7xnVag {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x4b-agile-development .content-oy9CK9 {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x4b-agile-development .about-us-G55pbA {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x4b-agile-development .all-of-our-staff-inf-G55pbA {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .links-oy9CK9 {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x4b-agile-development .how-we-work-odEYSx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x4b-agile-development .project-resources-7xnVag {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x4b-agile-development .content-dQqG2F {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x4b-agile-development .project-resources-uDjMnp {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x4b-agile-development .open-products-were-r-uDjMnp {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .links-dQqG2F {
  align-items: flex-end;
  align-self: stretch;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.x4b-agile-development .free-to-use-and-modify-mXxOeH {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x4b-agile-development .see-all-our-work-on-git-hub-mXxOeH {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
}

.x4b-agile-development .careers-7xnVag {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.x4b-agile-development .content-wazCKo {
  align-self: stretch;
  background-color: transparent;
  gap: 15px;
}

.x4b-agile-development .careers-MOQs6x {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.x4b-agile-development .calling-all-publicly-MOQs6x {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .links-wazCKo {
  align-items: flex-end;
  align-self: stretch;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.x4b-agile-development .open-positions-hPOMiw {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.x4b-agile-development .logo-title-CjieLH {
  left: calc(50.00% - 540px);
  position: absolute;
  top: 60px;
  width: 410px;
}

.x4b-agile-development .an-action-that-requires-high-engagement {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.x4b-agile-development .arrow-32 {
  background-color: transparent;
  height: 12.46875px;
  min-width: 15.2421875px;
  position: relative;
}

.x4b-agile-development .arrowdown {
  background-color: transparent;
  height: 8.414306640625px;
  margin-right: -1.00px;
  min-width: 14px;
  position: relative;
}

.x4b-agile-development .bullet-sub-bullet-sub-bullet-bullet {
  align-self: stretch;
  background-color: transparent;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .cluster {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  position: relative;
}

.x4b-agile-development .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.x4b-agile-development .ellipse-193 {
  background-color: transparent;
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 18px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.x4b-agile-development .gear-2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.01%;
}

.x4b-agile-development .line {
  background-color: transparent;
  position: absolute;
}

.x4b-agile-development .link-title-here {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.x4b-agile-development .lorem-ipsum {
  align-self: stretch;
  background-color: transparent;
  line-height: 21px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .this-is-an-outcome-t {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
}

.x4b-agile-development .union {
  background-color: transparent;
  height: 83.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}
