/* screen - 4bu46-agile-development */

.x4bu46-agile-development {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px 0px;
  position: relative;
}

.x4bu46-agile-development .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1080px;
}

.x4bu46-agile-development .logo-title {
  cursor: pointer;
  height: 55px;
  position: relative;
  width: 410px;
}

.x4bu46-agile-development .foundation-for-public-code {
  height: 56px;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 349px;
}

.x4bu46-agile-development .logo-symbol {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.x4bu46-agile-development .navigation {
  display: flex;
  gap: 51px;
  height: 24px;
  position: relative;
  width: 534px;
}

.x4bu46-agile-development .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  height: 19px;
  justify-content: flex-end;
  margin-top: 2.5px;
  position: relative;
  width: 371px;
}

.x4bu46-agile-development .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x4bu46-agile-development .services {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  height: 24px;
  position: relative;
  width: 112px;
}

.x4bu46-agile-development .title-3 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: 1080px;
}

.x4bu46-agile-development .main-frame {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  padding: 0px 0px 60px;
  position: relative;
  width: 1080px;
}

.x4bu46-agile-development .content-3 {
  flex: 1;
  flex-grow: 1;
  gap: 60px;
}

.x4bu46-agile-development .intro {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .title {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .content-4 {
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.x4bu46-agile-development .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .you-may-encounter-th {
  align-self: stretch;
  color: var(--red);
  font-weight: 400;
  line-height: 16px;
  position: relative;
}

.x4bu46-agile-development .span {
  color: var(--black);
  line-height: 24px;
}

.x4bu46-agile-development .span1 {
  color: var(--black);
  font-weight: 600;
}

.x4bu46-agile-development .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  position: relative;
}

.x4bu46-agile-development .title-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4bu46-agile-development .frame-142 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x4bu46-agile-development .x1-supporting-the-agile-work-plan {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4bu46-agile-development .your-software-develo {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x4bu46-agile-development .overlap-group {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x4bu46-agile-development .lorem-ipsum-4 {
  color: var(--black);
  font-weight: 400;
}

.x4bu46-agile-development .lorem-ipsum-6 {
  color: var(--black);
  font-weight: 400;
}

.x4bu46-agile-development .lorem-ipsum-7 {
  color: var(--black);
  font-weight: 400;
}

.x4bu46-agile-development .lorem-ipsum-8 {
  color: var(--black);
  font-weight: 400;
}

.x4bu46-agile-development .frame-143 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x4bu46-agile-development .x2-sprint-planning {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4bu46-agile-development .your-development-par {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x4bu46-agile-development .text0-i231689960214892 {
  line-height: 21px;
}

.x4bu46-agile-development .text1-i231689960214892 {
  line-height: 21px;
}

.x4bu46-agile-development .span-2 {
  letter-spacing: 0;
}

.x4bu46-agile-development .lorem-ipsum-9 {
  letter-spacing: 0;
}

.x4bu46-agile-development .title-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.x4bu46-agile-development .text0-i21175332117085 {
  line-height: 21px;
}

.x4bu46-agile-development .text1-i21175332117085 {
  line-height: 21px;
}

.x4bu46-agile-development .frame-144 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.x4bu46-agile-development .x3-using-a-dev-ops-approach {
  align-self: stretch;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4bu46-agile-development .dev-ops-short-for-d {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x4bu46-agile-development .lorem-ipsum-10 {
  color: var(--black);
  font-weight: 400;
}

.x4bu46-agile-development .lorem-ipsum-11 {
  color: var(--black);
  font-weight: 400;
}

.x4bu46-agile-development .lorem-ipsum-12 {
  color: var(--black);
  font-weight: 400;
}

.x4bu46-agile-development .text0-i23973782117085 {
  line-height: 21px;
}

.x4bu46-agile-development .text1-i23973782117085 {
  line-height: 21px;
}

.x4bu46-agile-development .text6-i23973782117085 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x4bu46-agile-development .cluster-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .create-or-complete-t {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 690px;
}

.x4bu46-agile-development .this-is-an-outcome-t {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.x4bu46-agile-development .v2-1 {
  background-image: url(../img/gear-2-9@2x.png);
}

.x4bu46-agile-development .v2-2 {
  background-image: url(../img/gear-2-10@2x.png);
}

.x4bu46-agile-development .frame-141 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.x4bu46-agile-development .text-5 {
  text-align: right;
  width: 30px;
}

.x4bu46-agile-development .content-1 {
  flex: 1;
  flex-grow: 1;
  gap: 5px;
}

.x4bu46-agile-development .frame-163 {
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 1px 5px;
}

.x4bu46-agile-development .footer-nav {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .navfooterprev {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 32px 4px 4px 32px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x4bu46-agile-development .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  position: relative;
  width: 15.24px;
}

.x4bu46-agile-development .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  position: relative;
  width: 203px;
}

.x4bu46-agile-development .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 199px;
}

.x4bu46-agile-development .navfooternext {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 4px 32px 32px 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
}

.x4bu46-agile-development .group-134-1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  position: relative;
  width: 115px;
}

.x4bu46-agile-development .next {
  color: var(--white);
  font-weight: 400;
  height: 15px;
  line-height: normal;
  width: 27px;
}

.x4bu46-agile-development .x1b-discovery-research {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 111px;
}

.x4bu46-agile-development .sidebarv2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.x4bu46-agile-development .navsidebarexpanded {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x4bu46-agile-development .navmainv3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--algae-green);
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .x1-section-name {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4bu46-agile-development .subsections {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x4bu46-agile-development .navsubsectionv2 {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x4bu46-agile-development .capacity-building {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4bu46-agile-development .b-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4bu46-agile-development .c-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4bu46-agile-development .d-subsection-name {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4bu46-agile-development .navmainv3-1 {
  background-color: var(--fpcbluehl);
}

.x4bu46-agile-development .x1-section-name-1 {
  color: var(--black-2);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4bu46-agile-development .navmainv3-2 {
  background-color: var(--fpchlpeach);
}

.x4bu46-agile-development .navmainv3-3 {
  background-color: var(--periwinkle-gray);
}

.x4bu46-agile-development .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcpurple50);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
}

.x4bu46-agile-development .have-a-question {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 240px;
}

.x4bu46-agile-development .email-us {
  cursor: pointer;
  letter-spacing: -0.16px;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.x4bu46-agile-development .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 180px;
  min-height: 796px;
  position: relative;
  top: 60px;
  width: 1080px;
}

.x4bu46-agile-development .content-2 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  width: 100%;
}

.x4bu46-agile-development .text0-i8593897285932298 {
  line-height: normal;
}

.x4bu46-agile-development .text1-i8593897285932298 {
  line-height: normal;
}

.x4bu46-agile-development .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .links-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .links-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .frame-201 {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  height: 165px;
  margin-left: -2px;
  width: 343px;
}

.x4bu46-agile-development .group-196 {
  display: flex;
  gap: 18px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x4bu46-agile-development .group-197 {
  display: flex;
  gap: 52px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x4bu46-agile-development .group-200 {
  display: flex;
  gap: 58px;
  height: 20px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x4bu46-agile-development .group-199 {
  height: 60px;
  margin-right: -4.00px;
  position: relative;
  width: 347px;
}

.x4bu46-agile-development .flex-col-1 {
  left: 103px;
  min-height: 60px;
  position: absolute;
  top: 0;
  width: 240px;
}

.x4bu46-agile-development .links-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.x4bu46-agile-development .text-6 {
  width: fit-content;
}

.x4bu46-agile-development .flex-col-2 {
  min-height: 281px;
  width: 650px;
}

.x4bu46-agile-development .flex-container-i8593897285932358 {
  height: 130px;
  margin-top: 8px;
  position: relative;
  width: 650px;
}

.x4bu46-agile-development .text0-i8593897285932358 {
  line-height: 24px;
}

.x4bu46-agile-development .span-3 {
  text-decoration: underline;
}

.x4bu46-agile-development .text1-i8593897285932358 {
  line-height: 24px;
}

.x4bu46-agile-development .content-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x4bu46-agile-development .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.x4bu46-agile-development .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.x4bu46-agile-development .frame {
  align-items: flex-start;
  position: relative;
}

.x4bu46-agile-development .lorem-ipsum-13 {
  align-self: stretch;
  line-height: 21px;
  position: relative;
}

.x4bu46-agile-development .navmainv3-4 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.x4bu46-agile-development .source-name-8 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x4bu46-agile-development .text {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.x4bu46-agile-development .text0 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  position: relative;
}

.x4bu46-agile-development .text1 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  position: relative;
}

.x4bu46-agile-development .text2 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x4bu46-agile-development .text3 {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x4bu46-agile-development .v2-3 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x4bu46-agile-development .x1-7 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}
