/* screen - 4c-integration */

.x4c-integration {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 7179px;
  width: 1440px;
}

.x4c-integration .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-top: 60px;
  min-width: 1080px;
  width: auto;
}

.x4c-integration .home-resources-and {
  align-self: flex-start;
  color: transparent;
  font-weight: 400;
  line-height: normal;
  margin-left: 180px;
  margin-top: 59px;
  min-height: 20px;
  width: 567px;
}

.x4c-integration .title-2 {
  align-self: flex-start;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-left: 180px;
  margin-top: 85px;
  min-height: 40px;
  width: 690px;
}

.x4c-integration .flex-row {
  gap: 58px;
  margin-right: 32.0px;
  margin-top: 62px;
  min-width: 1048px;
}

.x4c-integration .content-2 {
  gap: 60px;
  width: fit-content;
}

.x4c-integration .content-item {
  gap: 30px;
  width: fit-content;
}

.x4c-integration .title {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 690px;
}

.x4c-integration .content-3 {
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  gap: 10px;
  padding: 20px;
  width: 690px;
}

.x4c-integration .this-section-will-help-you {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 650px;
}

.x4c-integration .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
}

.x4c-integration .icon {
  height: 32px;
  min-width: 32.01px;
  position: relative;
}

.x4c-integration .group-193 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 2px;
  min-width: 30px;
  padding: 0 0.0px;
  position: relative;
}

.x4c-integration .group-container {
  height: 22px;
  margin-top: 0;
  position: relative;
  width: 28px;
}

.x4c-integration .titlesubsection {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  display: flex;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 690.01px;
}

.x4c-integration .you-may-encounter-th {
  color: transparent;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  width: 690px;
}

.x4c-integration .span-2 {
  color: var(--black);
  line-height: 24px;
}

.x4c-integration .span1 {
  color: var(--fpclinkblue);
  font-weight: 600;
  text-decoration: underline;
}

.x4c-integration .challenge {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.x4c-integration .overlap-group {
  height: 24px;
  left: 3px;
  position: relative;
  top: 1px;
  width: 27px;
}

.x4c-integration .content-4 {
  gap: 2px;
  width: fit-content;
}

.x4c-integration .title-3 {
  height: 15.41px;
  min-width: 234.32px;
  position: relative;
}

.x4c-integration .lorem-ipsum {
  color: var(--black);
  font-weight: 400;
  line-height: 21px;
  position: relative;
  width: 648px;
}

.x4c-integration .x-1 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x4c-integration .content-5 {
  gap: 2px;
  width: fit-content;
}

.x4c-integration .title-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 648px;
}

.x4c-integration .x-2 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.x4c-integration .content-6 {
  gap: 2px;
  width: fit-content;
}

.x4c-integration .actions {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.x4c-integration .frame-14 {
  align-items: flex-start;
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x4c-integration .x1-documentation {
  font-weight: 700;
  width: 690px;
}

.x4c-integration .it-is-crucial-to-doc {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  width: 690px;
}

.x4c-integration .icon-1 {
  height: 32px;
  min-width: 32px;
  position: relative;
}

.x4c-integration .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 20px;
  min-width: 18px;
  padding: 7.2px 5.2px;
}

.x4c-integration .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.x4c-integration .an-action-that-requires-high-engagement {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.x4c-integration .lorem-ipsum-1 {
  color: var(--black);
}

.x4c-integration .lorem-ipsum-2 {
  color: var(--black);
}

.x4c-integration .an-action-that-requires-high-engagement-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.x4c-integration .lorem-ipsum-3 {
  color: var(--black);
}

.x4c-integration .x2-creating-a-traini {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 690px;
}

.x4c-integration .there-should-be-a-ro {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  width: 690px;
}

.x4c-integration .lorem-ipsum-4 {
  color: var(--black);
}

.x4c-integration .lorem-ipsum-5 {
  color: var(--black);
}

.x4c-integration .x3-releasing-code-un {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 690px;
}

.x4c-integration .many-national-govern {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  width: 690px;
}

.x4c-integration .lorem-ipsum-6 {
  color: var(--black);
}

.x4c-integration .lorem-ipsum-7 {
  color: var(--black);
  white-space: nowrap;
}

.x4c-integration .frame-145 {
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

.x4c-integration .x4-joining-a-community-of-practice {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 690px;
}

.x4c-integration .if-you-used-open-sou {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  width: 690px;
}

.x4c-integration .lorem-ipsum-8 {
  color: transparent;
}

.x4c-integration .span0 {
  color: var(--black);
}

.x4c-integration .span1-1 {
  font-weight: 700;
}

.x4c-integration .image-6 {
  height: 301.24px;
  min-width: 554px;
  object-fit: cover;
  position: relative;
}

.x4c-integration .lorem-ipsum-9 {
  color: var(--black);
}

.x4c-integration .title-4 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.x4c-integration .overlap-group-4 {
  height: 26px;
  left: 6px;
  position: relative;
  top: 2px;
  width: 26px;
}

.x4c-integration .x-3 {
  height: 8px;
  left: 18px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.x4c-integration .ellipse-193 {
  border: 1.5px solid;
  border-color: var(--black);
  border-radius: 6.75px;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 14px;
}

.x4c-integration .line-1 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}

.x4c-integration .line-2 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 20px;
}

.x4c-integration .line-3 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 18px;
}

.x4c-integration .bullet-sub-bullet-sub-bullet-bullet {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.x4c-integration .cluster-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.x4c-integration .create-or-complete-t {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 690px;
}

.x4c-integration .outcome {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.x4c-integration .v2 {
  align-items: flex-end;
  background-image: url(../img/gear-2-7@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x4c-integration .this-is-an-outcome-t {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.x4c-integration .v2-1 {
  background-image: url(../img/gear-2-8@2x.png);
}

.x4c-integration .v2-2 {
  background-image: url(../img/gear-2-7@2x.png);
}

.x4c-integration .v2-3 {
  background-image: url(../img/gear-2-8@2x.png);
}

.x4c-integration .frame-141 {
  align-items: flex-start;
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
}

.x4c-integration .text-3 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 30px;
}

.x4c-integration .content-1 {
  gap: 5px;
  width: fit-content;
}

.x4c-integration .frame-163 {
  align-items: flex-start;
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  gap: 10px;
  padding: 1px 5px;
  width: fit-content;
}

.x4c-integration .overlap-group-2 {
  height: 19px;
  margin-left: -1px;
  margin-top: -0.75px;
  position: relative;
  width: 15px;
}

.x4c-integration .x1-1 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-2 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-3 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-4 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-5 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-6 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-7 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-8 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .x1-9 {
  font-weight: 400;
  text-align: right;
  width: 30px;
}

.x4c-integration .footer-nav {
  align-self: stretch;
  gap: 5px;
  padding: 60px 0px 0px;
  position: relative;
}

.x4c-integration .navfooterprev {
  align-items: center;
  background-color: var(--fpcpurple);
  border-radius: 32px 4px 4px 32px;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  position: relative;
  width: fit-content;
}

.x4c-integration .arrow-32 {
  height: 12.47px;
  margin-left: -0.85px;
  min-width: 15.24px;
  position: relative;
}

.x4c-integration .group-134 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 38px;
  margin-right: -4.00px;
  min-width: 174px;
  position: relative;
}

.x4c-integration .x1a-welcome {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 170px;
}

.x4c-integration .sidebarv2 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 4979px;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: fit-content;
}

.x4c-integration .top {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: fit-content;
}

.x4c-integration .navmainv3 {
  align-items: center;
  background-color: var(--algae-green);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 260px;
}

.x4c-integration .x1-section-name {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4c-integration .navmainv3-1 {
  align-items: center;
  background-color: var(--fpcbluehl);
  justify-content: space-between;
}

.x4c-integration .x1-section-name-1 {
  color: var(--black-3);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4c-integration .navmainv3-2 {
  align-items: center;
  background-color: var(--fpchlpeach);
  justify-content: space-between;
}

.x4c-integration .navmainv3-3 {
  align-items: flex-start;
  background-color: var(--periwinkle-gray);
  flex-direction: column;
  gap: 10px;
}

.x4c-integration .capacity-building {
  color: var(--black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x4c-integration .navsubsectionv2-1 {
  align-items: center;
  background-color: var(--fpcpurple50);
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: fit-content;
}

.x4c-integration .endcap {
  align-items: flex-start;
  background-color: var(--melon);
  border-radius: 12px;
  display: flex;
  height: 540px;
  margin-right: 32.0px;
  margin-top: 304px;
  overflow: hidden;
  padding: 53.4px 60px;
  width: 1048px;
}

.x4c-integration .overlap-group4 {
  height: 433px;
  position: relative;
  width: 924px;
}

.x4c-integration .eco-system-1 {
  align-items: flex-end;
  background-color: var(--melon);
  display: flex;
  height: 433px;
  left: 491px;
  padding: 53.2px 38.7px;
  position: absolute;
  top: 0;
  width: 433px;
}

.x4c-integration .overlap-group2 {
  height: 325px;
  margin-left: 2px;
  position: relative;
  width: 354px;
}

.x4c-integration .rectangle-11 {
  background-color: var(--white);
  height: 35px;
  left: 108px;
  position: absolute;
  top: 136px;
  width: 58px;
}

.x4c-integration .vector {
  height: 33px;
  left: 78px;
  position: absolute;
  top: 39px;
  width: 50px;
}

.x4c-integration .vector-1 {
  height: 49px;
  left: 79px;
  position: absolute;
  top: 33px;
  width: 62px;
}

.x4c-integration .vector-2 {
  height: 44px;
  left: 80px;
  position: absolute;
  top: 35px;
  width: 74px;
}

.x4c-integration .group-2 {
  height: 86px;
  left: 141px;
  position: absolute;
  top: 239px;
  width: 211px;
}

.x4c-integration .ellipse {
  border: 2.06px solid;
  border-color: var(--blue-violet);
  border-radius: 123.23px/123.74px;
  height: 247px;
  left: 61px;
  position: absolute;
  top: 36px;
  width: 246px;
}

.x4c-integration .comment {
  align-items: flex-start;
  display: flex;
  height: 72px;
  left: 26px;
  min-width: 72px;
  position: absolute;
  top: 246px;
  transform: rotate(-90.00deg);
}

.x4c-integration .overlap-group-5 {
  height: 72px;
  margin-top: 0;
  position: relative;
  width: 72px;
}

.x4c-integration .union {
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(90.00deg);
  width: 72px;
}

.x4c-integration .rectangle-315 {
  border: 1.03px solid;
  border-color: var(--white);
  border-radius: 5.16px;
  height: 8px;
  left: 19px;
  position: absolute;
  top: 32px;
  width: 8px;
}

.x4c-integration .rectangle-316 {
  border: 1.03px solid;
  border-color: var(--white);
  border-radius: 5.16px;
  height: 8px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 8px;
}

.x4c-integration .rectangle-317 {
  border: 1.03px solid;
  border-color: var(--white);
  border-radius: 5.16px;
  height: 8px;
  left: 45px;
  position: absolute;
  top: 32px;
  width: 8px;
}

.x4c-integration .rectangle-315-1 {
  background-color: var(--blue-violet);
  border-radius: 5.16px;
  height: 8px;
  left: 120px;
  position: absolute;
  top: 149px;
  width: 8px;
}

.x4c-integration .rectangle-316-1 {
  background-color: var(--blue-violet);
  border-radius: 5.16px;
  height: 8px;
  left: 133px;
  position: absolute;
  top: 149px;
  width: 8px;
}

.x4c-integration .rectangle-317-1 {
  background-color: var(--blue-violet);
  border-radius: 5.16px;
  height: 8px;
  left: 146px;
  position: absolute;
  top: 149px;
  width: 8px;
}

.x4c-integration .ellipse-1 {
  background-color: var(--fpchlyellow);
  border-radius: 13.92px;
  height: 28px;
  left: 106px;
  position: absolute;
  top: 100px;
  width: 28px;
}

.x4c-integration .symbol-dev {
  align-items: flex-start;
  display: flex;
  height: 22px;
  justify-content: center;
  left: 159px;
  min-width: 49px;
  position: absolute;
  top: 25px;
}

.x4c-integration .rectangle-1 {
  height: 24px;
  margin-top: -1.02px;
  width: 13px;
}

.x4c-integration .ellipse-2 {
  align-self: center;
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  margin-left: 9px;
  margin-top: 0;
  width: 15px;
}

.x4c-integration .rectangle-2 {
  height: 24px;
  margin-left: 10px;
  margin-top: -1.02px;
  width: 13px;
}

.x4c-integration .ellipse-3 {
  height: 158px;
  left: 61px;
  position: absolute;
  top: 83px;
  width: 293px;
}

.x4c-integration .ellipse-4 {
  height: 98px;
  left: 164px;
  position: absolute;
  top: 106px;
  width: 143px;
}

.x4c-integration .ellipse-5 {
  height: 291px;
  left: 106px;
  position: absolute;
  top: 7px;
  width: 234px;
}

.x4c-integration .vector-3 {
  height: 98px;
  left: 0;
  position: absolute;
  top: 113px;
  width: 121px;
}

.x4c-integration .ellipse-6 {
  background-color: var(--fpchlyellow);
  border-radius: 12.37px;
  height: 25px;
  left: 170px;
  position: absolute;
  top: 270px;
  width: 25px;
}

.x4c-integration .group {
  height: 27px;
  left: 312px;
  position: absolute;
  top: 253px;
  width: 27px;
}

.x4c-integration .vector-4 {
  height: 90px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 161px;
}

.x4c-integration .group-3 {
  height: 23px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 23px;
}

.x4c-integration .rectangle-9 {
  background-color: var(--blue-violet);
  height: 35px;
  left: 184px;
  position: absolute;
  top: 159px;
  width: 58px;
}

.x4c-integration .symbol-dev-1 {
  left: 195px;
  top: 169px;
}

.x4c-integration .rectangle-3 {
  height: 19px;
  margin-bottom: -1.04px;
  margin-left: -1px;
  width: 10px;
}

.x4c-integration .line {
  height: 16px;
  margin-bottom: -0.14px;
  width: 10px;
}

.x4c-integration .rectangle {
  height: 19px;
  margin-bottom: -1.04px;
  width: 10px;
}

.x4c-integration .rectangle-10 {
  background-color: var(--carnation);
  height: 35px;
  left: 51px;
  position: absolute;
  top: 186px;
  width: 58px;
}

.x4c-integration .symbol-dev-2 {
  justify-content: flex-end;
  left: 62px;
  top: 195px;
}

.x4c-integration .ellipse-2-1 {
  background-color: var(--bittersweet);
  border-radius: 6.19px;
  height: 12px;
  left: 177px;
  position: absolute;
  top: 172px;
  width: 12px;
}

.x4c-integration .ellipse-5-1 {
  background-color: var(--bittersweet);
  border-radius: 6.19px;
  height: 12px;
  left: 102px;
  position: absolute;
  top: 147px;
  width: 12px;
}

.x4c-integration .ellipse-3-1 {
  background-color: var(--blue-violet);
  border-radius: 6.19px;
  height: 12px;
  left: 102px;
  position: absolute;
  top: 199px;
  width: 12px;
}

.x4c-integration .ellipse-4-1 {
  background-color: var(--blue-violet);
  border-radius: 6.19px;
  height: 12px;
  left: 176px;
  position: absolute;
  top: 276px;
  width: 12px;
}

.x4c-integration .ellipse-7 {
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  left: 54px;
  position: absolute;
  top: 149px;
  width: 15px;
}

.x4c-integration .vector-3-1 {
  height: 29px;
  left: 107px;
  position: absolute;
  top: 177px;
  width: 78px;
}

.x4c-integration .vector-5 {
  height: 41px;
  left: 46px;
  position: absolute;
  top: 113px;
  width: 64px;
}

.x4c-integration .vector-4-1 {
  height: 79px;
  left: 107px;
  position: absolute;
  top: 204px;
  width: 76px;
}

.x4c-integration .ellipse-8 {
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  left: 298px;
  position: absolute;
  top: 149px;
  width: 15px;
}

.x4c-integration .ellipse-9 {
  background-color: var(--fpchlyellow);
  border-radius: 7.73px;
  height: 15px;
  left: 90px;
  position: absolute;
  top: 239px;
  width: 15px;
}

.x4c-integration .ellipse-10 {
  background-color: var(--fpchlyellow);
  border-radius: 23.2px;
  height: 46px;
  left: 205px;
  position: absolute;
  top: 61px;
  width: 46px;
}

.x4c-integration .comment-1 {
  align-items: flex-start;
  display: flex;
  height: 59px;
  justify-content: flex-end;
  left: 199px;
  min-width: 59px;
  position: absolute;
  top: 55px;
  transform: rotate(180deg);
}

.x4c-integration .overlap-group1 {
  height: 61px;
  margin-top: -1.03px;
  position: relative;
  width: 61px;
}

.x4c-integration .union-1 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 61px;
}

.x4c-integration .group-2-1 {
  height: 21px;
  left: 20px;
  position: absolute;
  top: 20px;
  transform: rotate(-180deg);
  width: 21px;
}

.x4c-integration .group-178 {
  display: flex;
  gap: 10px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 293px;
  width: 166px;
}

.x4c-integration .logo {
  height: 32px;
  width: 32px;
}

.x4c-integration .publiccodenet {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  white-space: nowrap;
  width: 122px;
}

.x4c-integration .group-179 {
  display: flex;
  gap: 10px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 246px;
  width: 240px;
}

.x4c-integration .publiccodeflosssocial {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  white-space: nowrap;
  width: 196px;
}

.x4c-integration .headline {
  display: flex;
  flex-direction: column;
  height: 340px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 494px;
}

.x4c-integration .youve-completed-the {
  color: var(--black);
  font-weight: 700;
  height: 80px;
  line-height: normal;
  width: 487.85px;
}

.x4c-integration .like-this-guide-and {
  color: var(--black);
  font-weight: 400;
  height: 48px;
  line-height: 24px;
  margin-top: 20px;
  width: 420px;
}

.x4c-integration .see-our-other-process-codes {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 168.3px;
  white-space: nowrap;
  width: 420px;
}

.x4c-integration .footer-floating {
  margin-top: 125px;
  min-width: 1440px;
}

.x4c-integration .overlap-group3 {
  height: 850px;
  position: relative;
  width: 1440px;
}

.x4c-integration .logo-1 {
  display: flex;
  gap: 13.3px;
  width: 412px;
}

.x4c-integration .overlap-group-3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  padding: 30px 20px;
  width: 524px;
}

.x4c-integration .span0-1 {
  line-height: 26px;
}

.x4c-integration .span-3 {
  color: var(--black);
  font-weight: 400;
}

.x4c-integration .flex-col {
  flex-direction: column;
  gap: 30px;
  min-height: 233px;
  width: 650px;
}

.x4c-integration .span-5 {
  color: var(--fpclinkblue);
  font-weight: 400;
  text-decoration: underline;
}

.x4c-integration .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5px;
  min-height: 80px;
  width: 17px;
}

.x4c-integration .content-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.x4c-integration .frame {
  display: flex;
  position: relative;
}

.x4c-integration .lorem-ipsum-10 {
  align-self: stretch;
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.x4c-integration .navmainv3-4 {
  border-radius: 4px;
  display: flex;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 260px;
}

.x4c-integration .symbol-dev-3 {
  align-items: flex-end;
  display: flex;
  gap: 4px;
  height: 16px;
  min-width: 36px;
  position: absolute;
}

.x4c-integration .v2-4 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 4px;
  min-width: 24px;
  padding: 8.2px 6.5px;
  position: relative;
}

.x4c-integration .x1-10 {
  color: var(--black);
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}
