/* screen - codebase-stewardship */

.codebase-stewardship {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.codebase-stewardship .header-Wzhfqz {
  background-color: transparent;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.codebase-stewardship .base-xXd0DV {
  background: linear-gradient(180deg, rgb(91.00000217556953, 87.00000241398811, 202.00000315904617) 0%, rgb(59.00000028312206, 133.00000727176666, 244.0000006556511) 100%);
  background-color: transparent;
  box-shadow: inset -200px 250px 200px #5b57ca;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.codebase-stewardship .bg-xXd0DV {
  background-color: transparent;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.codebase-stewardship .headline-xXd0DV {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  left: 180px;
  position: absolute;
  top: 250px;
}

.codebase-stewardship .title-AgjZsR {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 600px;
}

.codebase-stewardship .our-stewards-help-gu-AgjZsR {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
  width: 420px;
}

.codebase-stewardship .buttonsecondary-AgjZsR {
  gap: 15px;
}

.codebase-stewardship .arrow-NHsAnX {
  height: 15.2392578125px;
  margin-right: -6.23px;
  width: 12.46875px;
}

.codebase-stewardship .cluster-Wzhfqz {
  align-items: center;
  flex: 0 0 auto;
  gap: 60px;
  width: 1080px;
}

.codebase-stewardship .x01-wD8Vxl {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.codebase-stewardship .story-rW4JSr {
  background-color: var(--peach);
  border-radius: 6px;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.codebase-stewardship .illo-Jfl2CL {
  background-color: transparent;
  height: 196px;
  left: 47px;
  position: absolute;
  top: 48px;
  width: 207px;
}

.codebase-stewardship .frame-128-rW4JSr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  padding: 0px 60px;
  position: relative;
}

.codebase-stewardship .ensure-code-tests-an-KIUOBt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .our-audit-process-ch-KIUOBt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .x02-wD8Vxl {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-96-DdVY9l {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  padding: 0px 60px;
  position: relative;
}

.codebase-stewardship .enable-community-to-30FtF0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .we-co-develop-commun-30FtF0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .community-DdVY9l {
  background-color: transparent;
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .x03-wD8Vxl {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.codebase-stewardship .code-up-to-standard-h0DhLP {
  background-color: transparent;
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .frame-93-h0DhLP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  padding: 0px 60px;
  position: relative;
}

.codebase-stewardship .build-the-story-that-bQdyjr {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .we-manage-and-mature-bQdyjr {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .x04-wD8Vxl {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-97-gzixik {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  padding: 0px 60px;
  position: relative;
}

.codebase-stewardship .provide-tools-skills-mia4lZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .we-help-developers-w-mia4lZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .service-3-gzixik {
  background-color: transparent;
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .x05-wD8Vxl {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.codebase-stewardship .collaborative-dev2-eUbEfJ {
  background-color: transparent;
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .frame-126-eUbEfJ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  padding: 0px 60px;
  position: relative;
}

.codebase-stewardship .take-care-of-operati-lyl1g4 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .we-provide-operation-lyl1g4 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .x06-wD8Vxl {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-100-Lji6x4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  padding: 0px 60px;
  position: relative;
}

.codebase-stewardship .operate-globally-think-locally-C8T0gm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .we-collaborate-with-C8T0gm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .portable-code-Lji6x4 {
  background-color: transparent;
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .testimonial-wD8Vxl {
  align-items: center;
  align-self: stretch;
  background: radial-gradient(50% 50% at 50% 50%, rgb(59.00000028312206, 133.00000727176666, 244.0000006556511) 0%, rgb(91.00000217556953, 87.00000241398811, 202.00000315904617) 100%);
  background-color: transparent;
  border-radius: 200px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 60px 120px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-194-M7RP3m {
  align-items: flex-end;
}

.codebase-stewardship .in-just-two-sessions-qK4tgN {
  background-color: transparent;
  color: var(--white);
  flex: 1;
  font-family: var(--font-family-bressay-italic);
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .cluster-qK4tgN {
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  width: 240px;
}

.codebase-stewardship .attr-oe1e6N {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .attrportraits-0A9r6V {
  background-color: transparent;
  height: 64px;
  position: relative;
  width: 64.00022888183594px;
}

.codebase-stewardship .logius-logo-TTG1Mx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}

.codebase-stewardship .flex-container-i317810842317810826-0A9r6V {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.codebase-stewardship .text0-i317810842317810826-EVoE5B {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.codebase-stewardship .span0-yBfZ63 {
}

.codebase-stewardship .text1-i317810842317810826-EVoE5B {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.codebase-stewardship .span1-oIxrXu {
  color: var(--white);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.codebase-stewardship .buttonsecondary-oe1e6N {
  gap: 8px;
}

.codebase-stewardship .arrow-iJrO7K {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.2392578125px;
}

.codebase-stewardship .frame-194-wD8Vxl {
  align-items: flex-start;
}

.codebase-stewardship .contact-us-kDTvLA {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 23px;
  padding: 30px;
  position: relative;
}

.codebase-stewardship .questions-SfHT15 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -0.83px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450.8348693847656px;
}

.codebase-stewardship .every-situation-is-d-SfHT15 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.codebase-stewardship .span0-fcaRfZ {
}

.codebase-stewardship .span1-fcaRfZ {
  text-decoration: underline;
}

.codebase-stewardship .span2-fcaRfZ {
}

.codebase-stewardship .socials-jZUjs5 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.codebase-stewardship .mastodon-p5bkNx {
  height: 32px;
  width: 32px;
}

.codebase-stewardship .twitter-p5bkNx {
  height: 32px;
  width: 32.0595703125px;
}

.codebase-stewardship .you-tube-p5bkNx {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.0595703125px;
}

.codebase-stewardship .github-p5bkNx {
  height: 28px;
  width: 28.0517578125px;
}

.codebase-stewardship .who-we-are-kDTvLA {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 13px;
  padding: 30px;
  position: relative;
}

.codebase-stewardship .related-info-sYxbyB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .frame-148-sYxbyB {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.codebase-stewardship .buttonsecondary-su9i1i {
  gap: 8px;
}

.codebase-stewardship .arrow-LsljVW {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.2392578125px;
}

.codebase-stewardship .buttonsecondary-XSktpd {
  gap: 8px;
}

.codebase-stewardship .arrow-LR9nUO {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.2392578125px;
}

.codebase-stewardship .buttonsecondary-2aDNza {
  gap: 8px;
}

.codebase-stewardship .arrow-VqS2wh {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.2392578125px;
}

.codebase-stewardship .buttonsecondary-QL1Pww {
  gap: 8px;
}

.codebase-stewardship .arrow-X5lmuu {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.2392578125px;
}

.codebase-stewardship .home-codebase-stewardship-Wzhfqz {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 174px;
  width: 567px;
}

.codebase-stewardship .span0-Me2lRu {
  text-decoration: underline;
}

.codebase-stewardship .span1-Me2lRu {
  color: #ffffff80;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.codebase-stewardship .navheader-Wzhfqz {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  left: 0px;
  padding: 30px 60px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.codebase-stewardship .content-z1oowQ {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.codebase-stewardship .logo-title-xuMro4 {
  width: 426px;
}

.codebase-stewardship .foundation-for-public-code-wronoo {
  color: var(--white);
  flex: 1;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.codebase-stewardship .navigation-xuMro4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.codebase-stewardship .links-JVB6Pu {
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
}

.codebase-stewardship .stewardship-t3YqXU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.codebase-stewardship .resources-t3YqXU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.codebase-stewardship .who-we-are-t3YqXU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.codebase-stewardship .join-us-t3YqXU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.codebase-stewardship .services-JVB6Pu {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.codebase-stewardship .mastodon-p8mt9w {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.codebase-stewardship .twitter-p8mt9w {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.codebase-stewardship .github-p8mt9w {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.codebase-stewardship .footer-Wzhfqz {
  align-items: center;
  align-self: stretch;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .logo-title-C8bYKx {
  align-self: stretch;
  flex: 0 0 auto;
  padding: 0px 80px;
  width: 100%;
}

.codebase-stewardship .foundation-for-public-code-u5DVST {
  width: 349px;
}

.codebase-stewardship .block-trio-C8bYKx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .about-us-bOdDLD {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
}

.codebase-stewardship .content-OUEJ1A {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.codebase-stewardship .about-us-Wwb6xW {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.codebase-stewardship .flex-container-i3190506485932298-Wwb6xW {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.codebase-stewardship .text0-i3190506485932298-acxzlD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.codebase-stewardship .span0-BGKAWx {
}

.codebase-stewardship .text1-i3190506485932298-acxzlD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.codebase-stewardship .span1-3K5iLg {
}

.codebase-stewardship .links-OUEJ1A {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.codebase-stewardship .how-we-work-wpexST {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.codebase-stewardship .project-resources-bOdDLD {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.codebase-stewardship .content-xfhUQ5 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.codebase-stewardship .project-resources-Zrdb5T {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.codebase-stewardship .open-products-were-r-Zrdb5T {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.codebase-stewardship .links-xfhUQ5 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.codebase-stewardship .free-to-use-and-modify-XYNNNB {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.codebase-stewardship .careers-bOdDLD {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.codebase-stewardship .content-XyEcT7 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.codebase-stewardship .careers-ExTRoj {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.codebase-stewardship .calling-all-publicly-ExTRoj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.codebase-stewardship .links-XyEcT7 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.codebase-stewardship .open-positions-qWaYpZ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.codebase-stewardship .information-C8bYKx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .contact-Q5Ud8Q {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 373px;
}

.codebase-stewardship .contact-bx1AMm {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: 26px;
  margin-top: -1.00px;
  text-align: left;
}

.codebase-stewardship .contact-info-bx1AMm {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  margin-right: -15.00px;
  position: relative;
  width: 388px;
}

.codebase-stewardship .newsletter-Qc2nbA {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.codebase-stewardship .newsletter-eSpj1j {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.codebase-stewardship .join-our-mailing-list-eSpj1j {
  background-color: transparent;
  cursor: pointer;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.codebase-stewardship .phone-Qc2nbA {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.codebase-stewardship .phone-iDCVAz {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.codebase-stewardship .x31-20-2-444-500-iDCVAz {
  background-color: transparent;
  cursor: pointer;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.codebase-stewardship .email-Qc2nbA {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.codebase-stewardship .email-D6fSlO {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.codebase-stewardship .infopubliccodenet-D6fSlO {
  background-color: transparent;
  cursor: pointer;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.codebase-stewardship .address-Qc2nbA {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.codebase-stewardship .address-wkWVjX {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.codebase-stewardship .content-wkWVjX {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

.codebase-stewardship .keizersgracht-617-10-Qa2JxE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 240px;
}

.codebase-stewardship .links-Qa2JxE {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
}

.codebase-stewardship .open-street-map-C6jxYx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.codebase-stewardship .x-C6jxYx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.codebase-stewardship .google-C6jxYx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.codebase-stewardship .organization-Q5Ud8Q {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.codebase-stewardship .notes-lZxGN5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .organizational-notes-mBejP0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .flex-container-i3190506485932358-mBejP0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.codebase-stewardship .text0-i3190506485932358-JGPSAx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .span0-6DujuX {
}

.codebase-stewardship .span1-6DujuX {
  text-decoration: underline;
}

.codebase-stewardship .span2-6DujuX {
}

.codebase-stewardship .span3-6DujuX {
  text-decoration: underline;
}

.codebase-stewardship .span4-6DujuX {
}

.codebase-stewardship .text1-i3190506485932358-JGPSAx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.codebase-stewardship .span5-EOn2kb {
}

.codebase-stewardship .span6-EOn2kb {
  text-decoration: underline;
}

.codebase-stewardship .span7-EOn2kb {
}

.codebase-stewardship .span8-EOn2kb {
  text-decoration: underline;
}

.codebase-stewardship .span9-EOn2kb {
}

.codebase-stewardship .metadata-lZxGN5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .updated-Z0ISCx {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.codebase-stewardship .iconupdated-AjJi9x {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.codebase-stewardship .last-updated-22-august-2023-AjJi9x {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.codebase-stewardship .copyright-Z0ISCx {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.codebase-stewardship .text_label-igfxs8 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.codebase-stewardship .x2023-foundation-for-public-code-igfxs8 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.codebase-stewardship .span0-9UaBvZ {
}

.codebase-stewardship .span1-9UaBvZ {
  text-decoration: underline;
}

.codebase-stewardship .license-Z0ISCx {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.codebase-stewardship .iconlicense-g5AxnY {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.codebase-stewardship .creative-commons-zero-v10-universal-g5AxnY {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.codebase-stewardship .arrow {
  background-color: transparent;
  position: relative;
}

.codebase-stewardship .buttonsecondary {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.codebase-stewardship .cluster {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}

.codebase-stewardship .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.codebase-stewardship .div {
  align-self: stretch;
  background-color: transparent;
  height: 2px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-194 {
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-197 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.6630859375px;
}
