/* screen - codebase-stewardship */

.codebase-stewardship {
  align-items: center;
  background-color: var(--fpcwhite);
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.codebase-stewardship .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.codebase-stewardship .base {
  background: linear-gradient(180deg, rgb(91, 87, 202) 0%, rgb(59, 133, 244) 100%);
  box-shadow: inset -200px 250px 200px #5b57ca;
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.codebase-stewardship .illostewardship-transparent-hands {
  background-image: url(../img/vector-1.png);
  background-size: 100% 100%;
  height: 800px;
  left: -17767px;
  position: absolute;
  top: -2px;
  width: 800px;
}

.codebase-stewardship .group {
  align-items: flex-start;
  display: flex;
  height: 674px;
  left: 63px;
  min-width: 673px;
  position: relative;
  top: 69px;
}

.codebase-stewardship .overlap-group {
  background-image: url(../img/subtract-14.svg);
  background-size: 100% 100%;
  height: 553px;
  position: relative;
  width: 653px;
}

.codebase-stewardship .right-hand-fingers {
  height: 429px;
  left: 81px;
  position: absolute;
  top: 123px;
  width: 210px;
}

.codebase-stewardship .left-hand-fingers {
  height: 338px;
  left: 260px;
  position: absolute;
  top: 215px;
  width: 214px;
}

.codebase-stewardship .mask-group {
  height: 440px;
  left: 62px;
  position: absolute;
  top: 112px;
  width: 438px;
}

.codebase-stewardship .navheader {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
  position: relative;
}

.codebase-stewardship .logo-lockup {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 13px;
  position: relative;
  width: 426px;
}

.codebase-stewardship .logo-symbol {
  height: 55px;
  position: relative;
  width: 47.66px;
}

.codebase-stewardship .foundation-for-public-code {
  color: var(--fpcwhite);
  flex: 1;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .navigation {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.codebase-stewardship .links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.codebase-stewardship .link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.codebase-stewardship .services {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.codebase-stewardship .logo {
  height: 24px;
  position: relative;
  width: 24px;
}

.codebase-stewardship .subtract {
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 22px;
}

.codebase-stewardship .cluster-1 {
  align-items: flex-start;
  gap: 10px;
  max-width: 1120px;
  padding: 0px 20px;
}

.codebase-stewardship .cluster-2 {
  align-items: flex-start;
  gap: 55px;
  max-width: 600px;
}

.codebase-stewardship .home-codebase-stewardship {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .span1 {
  color: #ffffff80;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.codebase-stewardship .frame-148 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.codebase-stewardship .codebase-stewardship-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .our-stewards-help-yo {
  align-self: stretch;
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.codebase-stewardship .buttonsecondary-2 {
  gap: 15px;
  padding: 0px 6px 0px 0px;
}

.codebase-stewardship .text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.codebase-stewardship .arrow-2 {
  height: 15.24px;
  margin-right: -6.23px;
  position: relative;
  width: 12.47px;
}

.codebase-stewardship .cluster-3 {
  align-items: center;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
}

.codebase-stewardship .frame-260 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.codebase-stewardship .frame-260-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.codebase-stewardship .story {
  background-color: var(--fpcpeach);
  border-radius: 24px;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.codebase-stewardship .illo {
  height: 196px;
  left: 47px;
  position: absolute;
  top: 48px;
  width: 207px;
}

.codebase-stewardship .cluster {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 0px 75px 0px 60px;
  position: relative;
}

.codebase-stewardship .x1-code-auditing {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .div {
  align-self: stretch;
  background-color: var(--fpcpeach);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .ensure-code-tests-a {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .our-audit-process-ch {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.codebase-stewardship .community {
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .x2-community-building {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .div-1 {
  background-color: var(--fpcblue);
}

.codebase-stewardship .enable-community-to {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .we-co-develop-commun {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.codebase-stewardship .code-up-to-standard {
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .x3-marketing {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .div-2 {
  background-color: var(--fpcgreen);
}

.codebase-stewardship .build-the-story-that {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .we-manage-and-mature {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.codebase-stewardship .service-3 {
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .x4-support {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .div-3 {
  background-color: var(--fpcpeach);
}

.codebase-stewardship .provide-tools-skill {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .we-help-developers-w {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.codebase-stewardship .collaborative-dev2 {
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .x5-advise {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .div-4 {
  background-color: var(--fpcpurple);
}

.codebase-stewardship .take-care-of-operati {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .we-provide-operation {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.codebase-stewardship .portable-code {
  height: 300px;
  position: relative;
  width: 300px;
}

.codebase-stewardship .x6-grow {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .div-5 {
  background-color: var(--fpcyellow);
}

.codebase-stewardship .operate-globally-think-locally {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .we-collaborate-with {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.codebase-stewardship .div-6 {
  background-color: var(--charcoal);
}

.codebase-stewardship .cta-get-in-touch-w {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.codebase-stewardship .div-7 {
  background-color: var(--charcoal);
}

.codebase-stewardship .frame-243 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 30px;
  width: 100%;
}

.codebase-stewardship .testimonial {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  padding: 30px 60px;
  position: relative;
}

.codebase-stewardship .quoted-text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.codebase-stewardship .attr {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  padding: 0px 10px 0px 5px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .attrportraits {
  background-image: url(../img/logius-logo.svg);
  background-size: 100% 100%;
  border: 1px solid;
  border-color: var(--fpcpurple);
  border-radius: 80px;
  height: 80px;
  position: relative;
  width: 80.0px;
}

.codebase-stewardship .rim {
  border: 4px solid;
  border-color: var(--fpcpurple);
  border-radius: 44px;
  height: 88px;
  left: -4px;
  position: relative;
  top: -4px;
  width: 88px;
}

.codebase-stewardship .flex-container-i3435540034036497 {
  display: inline-flex;
  gap: 3px;
}

.codebase-stewardship .text0-i3435540034036497 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .text1-i3435540034036497 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .link-to-our-collaborators-page {
  color: var(--red);
  flex: 1;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
}

.codebase-stewardship .div-8 {
  background-color: var(--charcoal);
}

.codebase-stewardship .related-info {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 240px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-197 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.codebase-stewardship .related-info-keep {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .frame-148-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.codebase-stewardship .buttonsecondary {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.codebase-stewardship .arrow {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.codebase-stewardship .connect {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .contact {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
  position: relative;
}

.codebase-stewardship .frame-197-1 {
  max-width: 520px;
}

.codebase-stewardship .connect-with-us {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.codebase-stewardship .logo-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.codebase-stewardship .subtract-1 {
  height: 32px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 30px;
}

.codebase-stewardship .subtract-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 32px;
}

.codebase-stewardship .mailing-list {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 217px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 217px;
}

.codebase-stewardship .buttonprimary {
  align-items: center;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.codebase-stewardship .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .logo-lockup-1 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .foundation-for-public-code-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.codebase-stewardship .frame-217 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  width: 100%;
}

.codebase-stewardship .blocks {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.codebase-stewardship .blocks-item {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .buttonsecondary-1 {
  cursor: pointer;
  gap: 8px;
}

.codebase-stewardship .arrow-1 {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.codebase-stewardship .information {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.codebase-stewardship .div-9 {
  background-color: var(--charcoal);
}

.codebase-stewardship .information-item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .contact-info {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .frame-218 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.codebase-stewardship .keizersgracht-617-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .div-10 {
  background-color: var(--charcoal);
}

.codebase-stewardship .flex-container-i3381593633815548 {
  display: flex;
  gap: 10px;
}

.codebase-stewardship .text-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.codebase-stewardship .div-11 {
  background-color: var(--charcoal);
}

.codebase-stewardship .image {
  height: 14.46px;
  position: relative;
  width: 14.46px;
}

.codebase-stewardship .address {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.codebase-stewardship .buttonsecondary-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.codebase-stewardship .cluster-4 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.codebase-stewardship .content-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .div-12 {
  align-self: stretch;
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.codebase-stewardship .flex-container {
  align-items: flex-start;
  flex-direction: column;
}

.codebase-stewardship .frame {
  display: flex;
  position: relative;
}

.codebase-stewardship .frame-197-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}
