/* screen - contributing */

.contributing {
  align-items: center;
  background-color: var(--fpcwhite);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.contributing .navheader-ZRJxOg {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.contributing .content-Wg1064 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.contributing .logo-lockup-6MS2bW {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 13px;
  position: relative;
  width: 426px;
}

.contributing .foundation-for-public-code-oYOW1D {
  flex: 1;
}

.contributing .navigation-6MS2bW {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 40px 40px;
  justify-content: flex-end;
  position: relative;
}

.contributing .links-XutBgA {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.contributing .stewardship-sEPuwx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.contributing .resources-sEPuwx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.contributing .who-we-are-sEPuwx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.contributing .join-us-sEPuwx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.contributing .services-XutBgA {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.contributing .logomastodon-xTGzeh {
  height: 24px;
  width: 24px;
}

.contributing .subtract-RfjxBp {
  height: 24px;
  left: 1px;
  top: 0px;
  width: 22px;
}

.contributing .logotwitter-xTGzeh {
  height: 24px;
  width: 24px;
}

.contributing .logogithub-xTGzeh {
  height: 24px;
  width: 24px;
}

.contributing .content-ZRJxOg {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 20px 60px;
  width: 100%;
}

.contributing .breadcrumbs-lP5EFS {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.contributing .home-0lNMCZ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.contributing .x-0lNMCZ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.contributing .contributing-0lNMCZ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.contributing .content-lP5EFS {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.contributing .title-Ur0neB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .flex-container-347010646-Ur0neB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contributing .text0-347010646-00jRaB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.contributing .span0-V6s8wm {
}

.contributing .text1-347010646-00jRaB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.contributing .span1-iWcIrW {
}

.contributing .frame-256-Ur0neB {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contributing .currently-we-are-Uvr47y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .cluster-Uvr47y {
  gap: 30px;
}

.contributing .working-with-several-Yx5RJ7 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .span0-4UL8Oj {
}

.contributing .span1-4UL8Oj {
  text-decoration: underline;
}

.contributing .span2-4UL8Oj {
}

.contributing .building-partnership-w8gyIo {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .scaling-our-engagement-and-outreach-ODR25N {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .in-the-meantime-plea-Ur0neB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.contributing .frame-251-Ur0neB {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contributing .individual-contributors-7bUFCa {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .cluster-7bUFCa {
  gap: 15px;
  justify-content: center;
}

.contributing .module-7E9xgu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.contributing .content-kKzzLk {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contributing .read-our-contributor-guide-o5x4e7 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .our-contributor-guid-o5x4e7 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .module-walYIT {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.contributing .content-xkxZxy {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contributing .use-the-standard-oknb4p {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .we-want-to-know-what-oknb4p {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .span0-JI8Xoi {
}

.contributing .span1-JI8Xoi {
  text-decoration: underline;
}

.contributing .span2-JI8Xoi {
}

.contributing .module-N9FYoP {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.contributing .content-3gLDxn {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contributing .join-the-mailing-list-apMPPw {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .sign-up-for-our-mail-apMPPw {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .frame-252-Ur0neB {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contributing .public-organizations-ceobCF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .were-looking-for-pub-ceobCF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.contributing .cluster-ceobCF {
  gap: 15px;
  justify-content: center;
}

.contributing .module-SVroh2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.contributing .content-Lz6B9s {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contributing .benefits-and-requirements-q5wxlH {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .find-out-more-about-q5wxlH {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .module-j7xFxM {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.contributing .content-XBvdDD {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contributing .get-in-touch-zxFDSA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .interested-andor-hav-zxFDSA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .frame-253-Ur0neB {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contributing .institutional-giving-and-philanthropy-rye6i1 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .cluster-rye6i1 {
  gap: 15px;
  justify-content: center;
}

.contributing .module-XdNg6k {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.contributing .content-S4KQd7 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contributing .contact-us-x7x50S {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .if-you-believe-there-x7x50S {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .module-dWxvMk {
  opacity: 0;
}

.contributing .frame-254-Ur0neB {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contributing .international-sanctions-UvQvDb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .as-a-legal-associati-UvQvDb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.contributing .span0-XhmyiB {
}

.contributing .span1-XhmyiB {
  text-decoration: underline;
}

.contributing .span2-XhmyiB {
}

.contributing .frame-255-Ur0neB {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contributing .staff-oIfb2Z {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .find-out-more-how-our-staff-contribute-oIfb2Z {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.contributing .span0-XgsHDJ {
}

.contributing .span1-XgsHDJ {
  text-decoration: underline;
}

.contributing .span2-XgsHDJ {
}

.contributing .connect-lP5EFS {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.contributing .contact-ToKfMx {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
}

.contributing .frame-197-hect6v {
  max-width: 520px;
}

.contributing .connect-with-us-VVfjxv {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.contributing .got-a-question-sugge-VVfjxv {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.contributing .span0-GwEEKR {
}

.contributing .span1-GwEEKR {
  text-decoration: underline;
}

.contributing .span2-GwEEKR {
}

.contributing .channels-hect6v {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.contributing .logomastodon-xRAEp7 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.contributing .subtract-eNNbiy {
  height: 32px;
  left: 1px;
  top: 0px;
  width: 30px;
}

.contributing .logotwitter-xRAEp7 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.contributing .logoyoutube-xRAEp7 {
  background-color: transparent;
  cursor: pointer;
  height: 31.94074249267578px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.contributing .subtract-IdZsi7 {
  height: 22px;
  left: 0px;
  top: 5px;
  width: 32px;
}

.contributing .logogithub-xRAEp7 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.contributing .mailing-list-ToKfMx {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 217px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 217px;
}

.contributing .join-our-mailing-list-UmHan2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.contributing .buttonprimary-mzZ45c {
  align-items: center;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.contributing .read-more-blhVh2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.contributing .footer-ZRJxOg {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.contributing .logo-title-dDLSK5 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
  width: 100%;
}

.contributing .foundation-for-public-code-l7KGtu {
  width: 349px;
}

.contributing .frame-217-dDLSK5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contributing .blocks-7zQLE5 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.contributing .about-us-HDnogu {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.contributing .content-BKO4cS {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contributing .our-operational-details-g4C8nP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .our-staff-informatio-g4C8nP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .project-resources-HDnogu {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.contributing .content-wWGjWv {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contributing .project-resources-yAUp9q {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.contributing .open-products-were-r-yAUp9q {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .information-7zQLE5 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.contributing .div-I5HvIx {
  margin-top: -2.00px;
}

.contributing .contact-I5HvIx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.contributing .contact-info-N4e6pW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.contributing .frame-218-CpRyZx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.contributing .phone-31-20-2-444-500-qchYpx {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .span0-Y1bFfr {
}

.contributing .span1-Y1bFfr {
  text-decoration: underline;
}

.contributing .email-infopubliccodenet-qchYpx {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .span0-k3Pk97 {
}

.contributing .span1-k3Pk97 {
  text-decoration: underline;
}

.contributing .keizersgracht-617-10-CpRyZx {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.contributing .span0-JgYeAM {
}

.contributing .span1-JgYeAM {
  text-decoration: underline;
}

.contributing .span2-JgYeAM {
}

.contributing .span3-JgYeAM {
  text-decoration: underline;
}

.contributing .notes-I5HvIx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.contributing .flex-container-i34671034633815548-TgeyUb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contributing .text0-i34671034633815548-qCBa32 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .span0-MTfgGs {
}

.contributing .span1-MTfgGs {
  text-decoration: underline;
}

.contributing .span2-MTfgGs {
}

.contributing .span3-MTfgGs {
  text-decoration: underline;
}

.contributing .span4-MTfgGs {
}

.contributing .text1-i34671034633815548-qCBa32 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.contributing .span5-8RXmY5 {
}

.contributing .span6-8RXmY5 {
  text-decoration: underline;
}

.contributing .span7-8RXmY5 {
}

.contributing .span8-8RXmY5 {
  text-decoration: underline;
}

.contributing .span9-8RXmY5 {
}

.contributing .metadata-I5HvIx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.contributing .updated-MeAHN2 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.contributing .iconupdated-Be10c3 {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.contributing .last-updated-22-august-2023-Be10c3 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.contributing .copyright-MeAHN2 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.contributing .image-YsB0Um {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.contributing .x2023-foundation-for-public-code-YsB0Um {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.contributing .span0-WxzRBe {
}

.contributing .span1-WxzRBe {
  text-decoration: underline;
}

.contributing .license-MeAHN2 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.contributing .iconlicense-26Q1hn {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 15.999813079833984px;
}

.contributing .creative-commons-zero-v10-universal-26Q1hn {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.contributing .arrow {
  background-color: transparent;
  height: 12.46875px;
  margin-right: -0.85px;
  position: relative;
  width: 15.2392578125px;
}

.contributing .buttonsecondary {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.contributing .card {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.contributing .cluster {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.contributing .div {
  align-self: stretch;
  background-color: transparent;
  height: 2px;
  position: relative;
  width: 100%;
}

.contributing .frame-197 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.contributing .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}

.contributing .module {
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  border-radius: 6px;
  flex: 1;
  flex-grow: 1;
  position: relative;
}
