/* screen - digital-omgevingsbeleid */

.digital-omgevingsbeleid {
  align-items: center;
  background-color: var(--fpcwhite);
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.digital-omgevingsbeleid .navheader {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .content-1 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.digital-omgevingsbeleid .logo-lockup {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.digital-omgevingsbeleid .logo-symbol {
  height: 55px;
  position: relative;
  width: 47.66px;
}

.digital-omgevingsbeleid .foundation-for-public-code {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 365.34px;
}

.digital-omgevingsbeleid .navigation {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.digital-omgevingsbeleid .links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: flex-end;
  position: relative;
}

.digital-omgevingsbeleid .link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.digital-omgevingsbeleid .services {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.digital-omgevingsbeleid .logo {
  height: 24px;
  position: relative;
  width: 24px;
}

.digital-omgevingsbeleid .subtract {
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 22px;
}

.digital-omgevingsbeleid .content-2 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 20px 60px;
  width: 100%;
}

.digital-omgevingsbeleid .navbar {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.digital-omgevingsbeleid .navbar-link-digital-omgevingsbeleid {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.digital-omgevingsbeleid .title {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.digital-omgevingsbeleid .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .codebase-title {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.digital-omgevingsbeleid .digital-omgevingsbeleid-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.digital-omgevingsbeleid .frame-264 {
  align-items: center;
  background-color: var(--fpcblue25);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px 15px;
  position: relative;
}

.digital-omgevingsbeleid .stage-1-assessment {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.digital-omgevingsbeleid .frame-267 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .div {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .cluster {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .what-it-is {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .frame-265 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.digital-omgevingsbeleid .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.digital-omgevingsbeleid .frame-266 {
  align-items: flex-end;
  background-color: var(--fpcmachine-grey);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  position: relative;
}

.digital-omgevingsbeleid .omgevingsbeleid_thumb_g01-1 {
  height: 200.62px;
  object-fit: cover;
  position: relative;
  width: 300px;
}

.digital-omgevingsbeleid .uiarrowexpand {
  height: 20.65px;
  margin-bottom: -0.75px;
  margin-right: -0.75px;
  position: relative;
  width: 20.65px;
}

.digital-omgevingsbeleid .how-were-helping {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .frame-265-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .technology {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .line-items {
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.digital-omgevingsbeleid .line-item {
  align-items: flex-start;
  gap: 20px;
}

.digital-omgevingsbeleid .languages-and-frameworks {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 260px;
}

.digital-omgevingsbeleid .python-microsoft-sql-server {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .community {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .created-by {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 260px;
}

.digital-omgevingsbeleid .province-of-south-holland {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .replicating {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 260px;
}

.digital-omgevingsbeleid .none-yet-interest-f {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .opportunity {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .scaling-potential {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 260px;
}

.digital-omgevingsbeleid .easy-reuse-by-other {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .technical-details {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .text-1 {
  align-self: stretch;
  line-height: 24px;
  text-decoration: underline;
}

.digital-omgevingsbeleid .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .logo-lockup-1 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .foundation-for-public-code-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.digital-omgevingsbeleid .frame-217 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .blocks {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.digital-omgevingsbeleid .blocks-item {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .buttonsecondary {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.digital-omgevingsbeleid .text-3 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.digital-omgevingsbeleid .arrow {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.digital-omgevingsbeleid .text-4 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.digital-omgevingsbeleid .information {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.digital-omgevingsbeleid .information-item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .contact-info {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .frame-218 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.digital-omgevingsbeleid .keizersgracht-617-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .text-2 {
  align-self: stretch;
  line-height: 20px;
}

.digital-omgevingsbeleid .image {
  height: 14.46px;
  position: relative;
  width: 14.46px;
}

.digital-omgevingsbeleid .address {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.digital-omgevingsbeleid .content-3 {
  display: flex;
  position: relative;
}

.digital-omgevingsbeleid .div-9 {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .line {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .line-item-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.digital-omgevingsbeleid .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.digital-omgevingsbeleid .text-5 {
  letter-spacing: 0;
  position: relative;
}
