/* screen - frame-327 */

.frame-327 {
  background-color: var(--fpcwhite);
  margin: 0px;
  min-height: 740.66px;
  min-width: 682.66px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.frame-327 .group-139-4N2McL {
  background-color: transparent;
  height: 741px;
  left: calc(50.00% - 341px);
  position: absolute;
  top: calc(50.00% - 370px);
  width: 683px;
}
