@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Mulish:400italic,400,600italic,600,700italic,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */




.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.about-us {
  align-self: stretch;
  position: relative;
}

.address {
  background-color: transparent;
  position: relative;
}

.b-subsection-name {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.c-subsection-name {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.capacity-building {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.careers {
  align-self: stretch;
  position: relative;
}

.d-subsection-name {
  background-color: transparent;
  color: var(--black);
  flex: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.email {
  background-color: transparent;
  position: relative;
}

.get-software-off-the-shelf {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: left;
}

.have-a-question {
  align-self: stretch;
  background-color: transparent;
  position: relative;
}

.icons {
  background-color: transparent;
  height: 64px;
  position: relative;
  width: 64px;
}

.navmainv3 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 8px 15px 8px 10px;
  position: relative;
  width: 100%;
}

.navsubsectionv2 {
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  padding: 2px 8px 3px;
  position: relative;
  width: 100%;
}

.newsletter {
  background-color: transparent;
  position: relative;
}

.paper {
  background-color: transparent;
  height: 51px;
  position: absolute;
  width: 50px;
}

.phone {
  background-color: transparent;
  position: relative;
}

.project-resources {
  align-self: stretch;
  position: relative;
}

.purchase-existing {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.section-title {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.strategic-paths {
  align-self: stretch;
  background-color: transparent;
  position: relative;
}

.subsections {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
  width: 100%;
}

.text {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.x1-section-name {
  background-color: transparent;
  flex: 1;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.arrow-2 {
  background-color: transparent;
  height: 33.77%;
  left: 28.39%;
  position: absolute;
  top: 34.62%;
  width: 44.21%;
}

.challenge {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 0px 10px;
  position: relative;
  width: 100%;
}

.frame-163 {
  align-items: flex-start;
  background-color: var(--fpcgraymed);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 1px 5px;
  position: relative;
}

.iconaction {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.icongoal {
  background-color: transparent;
  height: 32px;
  position: relative;
}

.link-title-here {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.number {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 20px 5px 0px;
  position: relative;
}

.reference {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  width: 100%;
}

.source-name {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.subsection-title {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.titlesubsection {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--fpcgraydark);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 10px;
  position: relative;
  width: 100%;
}

.v2 {
  background-color: transparent;
  height: 26px;
  left: 4px;
  position: relative;
  top: 0px;
  width: 24px;
}

.x1 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 25px;
}

.you-should-read-this {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.this-is-a-goal-for-a-particular-activity {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  position: relative;
  text-align: left;
}

.a-knowledge-acquisit {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.bulb {
  background-color: transparent;
  height: 24px;
  left: 7px;
  position: relative;
  top: 3px;
  width: 18px;
}

.direction {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.group-194 {
  background-color: transparent;
  height: 16.68%;
  left: 29.17%;
  position: absolute;
  top: 29.19%;
  width: 41.67%;
}

.guidelines {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.guidelinessolo {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgraywhitesmoke);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  position: relative;
  width: 100%;
}

.iconknowledge {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.line-48 {
  background-color: transparent;
  height: 8.16%;
  left: 30.56%;
  position: absolute;
  top: 91.84%;
  width: 38.89%;
}

.group {
  background-color: transparent;
  position: absolute;
}

.symbol-dev {
  background-color: transparent;
  position: absolute;
}