@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Mulish:400italic,400,600,500,700|Xanh+Mono:400,400italic|IBM+Plex+Serif:400,400italic|Cormorant+Garamond:600italic,600|Playfair+Display:400,400italic");
/* The following line is used to measure usage of this code. You can remove it if you want. */




.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.read-more {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.subtract {
  background-color: transparent;
  position: absolute;
}

.ellipse {
  background-color: var(--fpcyellow);
  position: absolute;
}

.line {
  background-color: transparent;
  position: absolute;
}

.main {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.process-codes {
  align-self: stretch;
  position: relative;
}

.rim {
  background-color: transparent;
  border: 3.999985456466675px solid;
  border-radius: 44px;
  height: 88px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 88px;
}

.vector {
  background-color: transparent;
  position: absolute;
}

.logogithub {
  background-color: transparent;
  position: relative;
}

.logomastodon {
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.logotwitter {
  background-color: transparent;
  position: relative;
}

.project-resources {
  align-self: stretch;
  position: relative;
}

.the-standard-1 {
  align-self: stretch;
  background-color: transparent;
  position: relative;
}

.button-text {
  background-color: transparent;
  letter-spacing: -0.14px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.buttongithub {
  align-items: center;
  background-color: var(--fpcwhite);
  border: 1px solid;
  border-color: var(--fpcmachine-grey-dark);
  border-radius: 30px;
  display: inline-flex;
  gap: 4px;
  left: 0px;
  padding: 8px 15px;
  position: absolute;
}

.icon {
  background-color: transparent;
  height: 14px;
  position: relative;
  width: 14px;
}

.codebase-steward-for-communites {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.email {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.person-name {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.uiarrowexpand {
  background-color: transparent;
  height: 20.654296875px;
  margin-right: -0.75px;
  margin-top: -0.75px;
  position: relative;
  width: 20.65234375px;
}

.image {
  background-color: transparent;
  position: relative;
}