/* screen - home-u40desktopu41-ne */

.home-u40desktopu41-ne {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.home-u40desktopu41-ne .header-9zoykh {
  border: 2px solid;
  border-color: var(--charcoal);
  flex-direction: column;
  gap: 60px;
  height: 704px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -2.00px;
  overflow: hidden;
  z-index: 2;
}

.home-u40desktopu41-ne .base-gMaQ2L {
  background-color: var(--fpcgreen);
  box-shadow: inset 150px 150px 605px #109c7a;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home-u40desktopu41-ne .illostandard-fading-gMaQ2L {
  background-color: transparent;
  height: 600px;
  left: 620px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  width: 820px;
}

.home-u40desktopu41-ne .group-oqDXnr {
  background-color: transparent;
  height: 604px;
  left: -3px;
  position: relative;
  top: 6px;
  width: 833px;
}

.home-u40desktopu41-ne .wires-bottom-XVOH0V {
  background-color: transparent;
  height: 179px;
  left: 3px;
  position: absolute;
  top: 416px;
  width: 820px;
}

.home-u40desktopu41-ne .wires-top-XVOH0V {
  background-color: transparent;
  height: 205px;
  left: 299px;
  position: absolute;
  top: -1px;
  width: 226px;
}

.home-u40desktopu41-ne .wires-left-XVOH0V {
  background-color: transparent;
  height: 234px;
  left: 0px;
  position: absolute;
  top: 218px;
  width: 321px;
}

.home-u40desktopu41-ne .wires01-BulqDM {
  background-color: transparent;
  height: 77px;
  left: 3px;
  position: absolute;
  top: 68px;
  width: 305px;
}

.home-u40desktopu41-ne .wires02-BulqDM {
  background-color: transparent;
  height: 75px;
  left: 3px;
  position: absolute;
  top: 87px;
  width: 305px;
}

.home-u40desktopu41-ne .wires03-BulqDM {
  background-color: transparent;
  height: 75px;
  left: 3px;
  position: absolute;
  top: 56px;
  width: 305px;
}

.home-u40desktopu41-ne .wires04-BulqDM {
  background-color: transparent;
  height: 77px;
  left: 3px;
  position: absolute;
  top: 103px;
  width: 305px;
}

.home-u40desktopu41-ne .wires05-BulqDM {
  background-color: transparent;
  height: 77px;
  left: 3px;
  position: absolute;
  top: 41px;
  width: 305px;
}

.home-u40desktopu41-ne .wires06-BulqDM {
  background-color: transparent;
  height: 77px;
  left: 3px;
  position: absolute;
  top: 121px;
  width: 305px;
}

.home-u40desktopu41-ne .wires07-BulqDM {
  background-color: transparent;
  height: 77px;
  left: 3px;
  position: absolute;
  top: 28px;
  width: 305px;
}

.home-u40desktopu41-ne .wires08-BulqDM {
  background-color: transparent;
  height: 75px;
  left: 3px;
  position: absolute;
  top: 139px;
  width: 305px;
}

.home-u40desktopu41-ne .wires09-BulqDM {
  background-color: transparent;
  height: 75px;
  left: 3px;
  position: absolute;
  top: 13px;
  width: 305px;
}

.home-u40desktopu41-ne .wires10-BulqDM {
  background-color: transparent;
  height: 77px;
  left: 3px;
  position: absolute;
  top: 156px;
  width: 304px;
}

.home-u40desktopu41-ne .wires11-BulqDM {
  background-color: transparent;
  height: 77px;
  left: 3px;
  position: absolute;
  top: -1px;
  width: 319px;
}

.home-u40desktopu41-ne .data-circles-left-BulqDM {
  background-color: transparent;
  height: 162px;
  left: 18px;
  position: absolute;
  top: 72px;
  width: 247px;
}

.home-u40desktopu41-ne .ellipse-uS6lFs {
  border-radius: 2.76px/2.77px;
  height: 6px;
  left: 61px;
  top: 0px;
  width: 6px;
}

.home-u40desktopu41-ne .ellipse-STBzax {
  border-radius: 2.76px/2.77px;
  height: 6px;
  left: 130px;
  top: 122px;
  width: 6px;
}

.home-u40desktopu41-ne .ellipse-vRE2Qf {
  border-radius: 2.76px/2.77px;
  height: 6px;
  left: 0px;
  top: 157px;
  width: 6px;
}

.home-u40desktopu41-ne .ellipse-BNGkRE {
  border-radius: 4.15px/4.16px;
  height: 8px;
  left: 167px;
  top: 22px;
  width: 8px;
}

.home-u40desktopu41-ne .ellipse-CF2Oef {
  border-radius: 4.15px/4.16px;
  height: 8px;
  left: 239px;
  top: 11px;
  width: 8px;
}

.home-u40desktopu41-ne .ellipse-ztSZDd {
  border-radius: 4.15px/4.16px;
  height: 8px;
  left: 72px;
  top: 103px;
  width: 8px;
}

.home-u40desktopu41-ne .wires-right-XVOH0V {
  background-color: transparent;
  height: 187px;
  left: 500px;
  position: absolute;
  top: 120px;
  width: 323px;
}

.home-u40desktopu41-ne .policy-XVOH0V {
  background-color: transparent;
  height: 175px;
  left: 68px;
  position: absolute;
  top: 26px;
  width: 141px;
}

.home-u40desktopu41-ne .rectangle-5-qXxrpD {
  background-color: transparent;
  height: 104px;
  left: 55px;
  position: absolute;
  top: 57px;
  width: 72px;
}

.home-u40desktopu41-ne .rectangle-51-qXxrpD {
  background-color: transparent;
  height: 104px;
  left: 58px;
  position: absolute;
  top: 60px;
  width: 72px;
}

.home-u40desktopu41-ne .rectangle-52-qXxrpD {
  background-color: transparent;
  height: 104px;
  left: 61px;
  position: absolute;
  top: 62px;
  width: 72px;
}

.home-u40desktopu41-ne .rectangle-53-qXxrpD {
  background-color: transparent;
  height: 104px;
  left: 64px;
  position: absolute;
  top: 65px;
  width: 72px;
}

.home-u40desktopu41-ne .rectangle-54-qXxrpD {
  background-color: transparent;
  height: 104px;
  left: 66px;
  position: absolute;
  top: 68px;
  width: 72px;
}

.home-u40desktopu41-ne .rectangle-55-qXxrpD {
  background-color: transparent;
  height: 104px;
  left: 69px;
  position: absolute;
  top: 71px;
  width: 72px;
}

.home-u40desktopu41-ne .rectangle-4-qXxrpD {
  background-color: transparent;
  height: 104px;
  left: 53px;
  position: absolute;
  top: 53px;
  width: 72px;
}

.home-u40desktopu41-ne .group-62-qXxrpD {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 53px;
}

.home-u40desktopu41-ne .union-qnX7wn {
  height: 54px;
  width: 54px;
}

.home-u40desktopu41-ne .rectangle-315-qnX7wn {
  background-color: var(--fpcyellow);
  height: 6px;
  left: 14px;
  top: 23px;
  width: 6px;
}

.home-u40desktopu41-ne .rectangle-316-qnX7wn {
  background-color: var(--fpcyellow);
  height: 6px;
  left: 23px;
  top: 23px;
  width: 6px;
}

.home-u40desktopu41-ne .rectangle-317-qnX7wn {
  background-color: var(--fpcyellow);
  height: 6px;
  left: 33px;
  top: 23px;
  width: 6px;
}

.home-u40desktopu41-ne .line-qXxrpD {
  height: 57px;
  left: 88px;
  top: 76px;
  width: 2px;
}

.home-u40desktopu41-ne .line-sx2e2u {
  height: 2px;
  left: 64px;
  top: 104px;
  width: 51px;
}

.home-u40desktopu41-ne .line-SAjDSB {
  height: 23px;
  left: 78px;
  top: 93px;
  width: 23px;
}

.home-u40desktopu41-ne .line-BwRXxy {
  height: 23px;
  left: 78px;
  top: 93px;
  width: 23px;
}

.home-u40desktopu41-ne .policy-wire-XVOH0V {
  background-color: transparent;
  height: 78px;
  left: 153px;
  position: absolute;
  top: 196px;
  width: 177px;
}

.home-u40desktopu41-ne .vector-2-k0AdUp {
  background-color: transparent;
  height: 74px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 173px;
}

.home-u40desktopu41-ne .ellipse-k0AdUp {
  border-radius: 4.84px/4.85px;
  height: 10px;
  left: 0px;
  top: 0px;
  width: 10px;
}

.home-u40desktopu41-ne .coding-XVOH0V {
  background-color: transparent;
  height: 134px;
  left: 524px;
  position: absolute;
  top: 26px;
  width: 214px;
}

.home-u40desktopu41-ne .rectangle-ZbqxLn {
  background-color: var(--fpcpurple);
  height: 99px;
  left: 43px;
  position: absolute;
  top: 35px;
  width: 131px;
}

.home-u40desktopu41-ne .group-ZbqxLn {
  background-color: transparent;
  height: 35px;
  left: 43px;
  position: absolute;
  top: 50px;
  width: 65px;
}

.home-u40desktopu41-ne .rectangle-2-2Mowd0 {
  background-color: var(--red-2);
  height: 35px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 65px;
}

.home-u40desktopu41-ne .rectangle-2Mowd0 {
  background-color: transparent;
  height: 20px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 11px;
}

.home-u40desktopu41-ne .rectangle-bxpdL8 {
  background-color: transparent;
  height: 20px;
  left: 43px;
  position: absolute;
  top: 8px;
  width: 11px;
}

.home-u40desktopu41-ne .line-2Mowd0 {
  height: 18px;
  left: 27px;
  top: 9px;
  width: 11px;
}

.home-u40desktopu41-ne .rectangle-xRQFhu {
  background-color: transparent;
  border: 1.6738338470458984px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 245.00000059604645, 0) 100%, rgba(255, 245.00000059604645, 0, 0) 0%) 1;
  height: 100px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 132px;
}

.home-u40desktopu41-ne .group-63-ZbqxLn {
  background-color: transparent;
  height: 64px;
  left: 150px;
  position: absolute;
  top: 0px;
  transform: rotate(180deg);
  width: 64px;
}

.home-u40desktopu41-ne .union-mjbcb1 {
  height: 65px;
  transform: rotate(-180deg);
  width: 65px;
}

.home-u40desktopu41-ne .rectangle-315-mjbcb1 {
  background-color: var(--fpcpurple);
  height: 7px;
  left: 16px;
  top: 28px;
  width: 7px;
}

.home-u40desktopu41-ne .rectangle-316-mjbcb1 {
  background-color: var(--fpcpurple);
  height: 7px;
  left: 28px;
  top: 28px;
  width: 7px;
}

.home-u40desktopu41-ne .rectangle-317-mjbcb1 {
  background-color: var(--fpcpurple);
  height: 7px;
  left: 40px;
  top: 28px;
  width: 7px;
}

.home-u40desktopu41-ne .bottom-globe-XVOH0V {
  background-color: var(--bittersweet);
  border-radius: 135.47px/135.87px;
  height: 272px;
  left: 276px;
  position: absolute;
  top: 156px;
  width: 271px;
}

.home-u40desktopu41-ne .vector-XVOH0V {
  height: 71px;
  left: 321px;
  top: 327px;
  width: 228px;
}

.home-u40desktopu41-ne .vector-dhWorP {
  height: 98px;
  left: 289px;
  top: 334px;
  width: 264px;
}

.home-u40desktopu41-ne .vector-4Yz9Ta {
  height: 99px;
  left: 265px;
  top: 329px;
  width: 287px;
}

.home-u40desktopu41-ne .codebase-orb-XVOH0V {
  background-color: transparent;
  height: 494px;
  left: 169px;
  position: absolute;
  top: 38px;
  width: 492px;
}

.home-u40desktopu41-ne .glow2-9GkZhS {
  background-color: var(--yellow-sunshine);
  border-radius: 246.02px/246.75px;
  height: 494px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 492px;
}

.home-u40desktopu41-ne .glow1-9GkZhS {
  background-color: var(--yellow-sunshine);
  border-radius: 196.26px/196.85px;
  height: 394px;
  left: 50px;
  position: absolute;
  top: 50px;
  width: 393px;
}

.home-u40desktopu41-ne .codebase-9GkZhS {
  background-color: var(--yellow-sunshine-2);
  border-radius: 142.36px/142.78px;
  height: 286px;
  left: 101px;
  position: absolute;
  top: 111px;
  width: 285px;
}

.home-u40desktopu41-ne .hand-holding-XVOH0V {
  background-color: transparent;
  height: 301px;
  left: 245px;
  position: absolute;
  top: 180px;
  width: 541px;
}

.home-u40desktopu41-ne .navheader-gMaQ2L {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 1440px;
}

.home-u40desktopu41-ne .content-u7CWzq {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.home-u40desktopu41-ne .logo-lockup-sXZq2S {
  display: inline-flex;
}

.home-u40desktopu41-ne .foundation-for-public-code-7CbmF3 {
  width: 365.33685302734375px;
}

.home-u40desktopu41-ne .navigation-sXZq2S {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.home-u40desktopu41-ne .links-IWWVSL {
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
}

.home-u40desktopu41-ne .what-is-public-code-HOqxVm {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .the-standard-HOqxVm {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .blog-HOqxVm {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .about-HOqxVm {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 47px;
}

.home-u40desktopu41-ne .span0-rkSwFt {
}

.home-u40desktopu41-ne .span1-rkSwFt {
}

.home-u40desktopu41-ne .nav-button-HOqxVm {
  align-items: flex-start;
  background-color: var(--charcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px;
  position: relative;
}

.home-u40desktopu41-ne .support-us-dJH6Oq {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .cluster-gMaQ2L {
  flex: 0 0 auto;
  gap: 10px;
  max-width: 1120px;
  padding: 0px 20px;
  width: 100%;
}

.home-u40desktopu41-ne .text-qiSExc {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  max-width: 520px;
  width: 100%;
}

.home-u40desktopu41-ne .title-kAbeQx {
  align-self: stretch;
  background-color: transparent;
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .public-code-is-an-ap-kAbeQx {
  align-self: stretch;
  background-color: transparent;
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonprimary-kAbeQx {
  background-color: var(--fpcpurple);
}

.home-u40desktopu41-ne .arrow-hc64os {
  height: 12.4691162109375px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .content-9zoykh {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 90px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 20px 60px;
  width: 100%;
  z-index: 1;
}

.home-u40desktopu41-ne .card-crax9d {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  gap: 30px;
  height: 480px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .eco-system-1-P2EiCq {
  background-color: transparent;
  height: 420px;
  position: relative;
  width: 625px;
}

.home-u40desktopu41-ne .frame-298-P2EiCq {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.home-u40desktopu41-ne .frame-299-zU9Zn3 {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .what-are-public-product-organizations-kbk0CV {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .we-believe-successfu-kbk0CV {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .links-zU9Zn3 {
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.home-u40desktopu41-ne .buttonsecondary-aAL4NB {
  display: inline-flex;
}

.home-u40desktopu41-ne .text-dF3707 {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-dF3707 {
  height: 12.468994140625px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .section-crax9d {
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.home-u40desktopu41-ne .header-desc-wLoz7c {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .great-examples-of-public-code-Nsg2AT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .were-helping-build-p-Nsg2AT {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
  width: 1080px;
}

.home-u40desktopu41-ne .cards-wLoz7c {
  overflow: hidden;
  padding: 0px 115px 0px 0px;
}

.home-u40desktopu41-ne .card-SvEvpn {
  align-items: flex-end;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  height: 350px;
  justify-content: space-between;
  min-height: 320px;
  position: relative;
}

.home-u40desktopu41-ne .content-M9BaDa {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.home-u40desktopu41-ne .icons-WRqC3r {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.home-u40desktopu41-ne .diia-logo-1-g2mLT4 {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.home-u40desktopu41-ne .x250-1-g2mLT4 {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.home-u40desktopu41-ne .diia-WRqC3r {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .groundbreaking-mobil-WRqC3r {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonsecondary-M9BaDa {
  display: inline-flex;
}

.home-u40desktopu41-ne .text-lpsm4w {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-lpsm4w {
  height: 12.468994140625px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .card-wGaY11 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 320px;
  position: relative;
}

.home-u40desktopu41-ne .content-s8ecCP {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.home-u40desktopu41-ne .govuk_icon-1-ZKU3vH {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.home-u40desktopu41-ne .notify-ZKU3vH {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .text-message-service-ZKU3vH {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonsecondary-s8ecCP {
  cursor: pointer;
  display: inline-flex;
}

.home-u40desktopu41-ne .text-jZb7YU {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-jZb7YU {
  height: 12.468994140625px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .card-thqtrA {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  flex-direction: column;
  gap: 15px;
  height: 350px;
  left: 980px;
  min-height: 320px;
  position: absolute;
  top: 0px;
  width: 415px;
}

.home-u40desktopu41-ne .content-xxlrZo {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.home-u40desktopu41-ne .iconappspacecraft-uiVKmW {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 70px;
}

.home-u40desktopu41-ne .space-craft-uiVKmW {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .space-craft-is-worki-uiVKmW {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-right: -60.00px;
  position: relative;
  text-align: left;
  width: 415px;
}

.home-u40desktopu41-ne .scrim-SvEvpn {
  background: linear-gradient(180deg, rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 0) 0%, rgb(229.00000154972076, 229.00000154972076, 229.00000154972076) 100%);
  background-color: transparent;
  height: 350px;
  left: 980px;
  position: absolute;
  top: 0px;
  width: 101px;
}

.home-u40desktopu41-ne .cluster-crax9d {
  flex: 0 0 auto;
  gap: 45px;
  width: 100%;
}

.home-u40desktopu41-ne .frame-297-5MtrrC {
  gap: 10px;
}

.home-u40desktopu41-ne .resources-z5R4xL {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .tools-to-help-you-bu-z5R4xL {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 1080px;
}

.home-u40desktopu41-ne .process-codes-fxsYcD {
  align-items: flex-start;
  background-color: var(--fpcpeach);
  border-radius: 24px;
  box-shadow: inset 0px -6px 0px #d79f92;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 725px;
  overflow: hidden;
  padding: 30px;
}

.home-u40desktopu41-ne .fpc_processcodes-f5yxEi {
  background-color: transparent;
  height: 200px;
  object-fit: cover;
  position: relative;
  width: 200px;
}

.home-u40desktopu41-ne .content-f5yxEi {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 55px;
  width: 100%;
}

.home-u40desktopu41-ne .content-emHXB4 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.home-u40desktopu41-ne .process-codes-SfJIgb {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.home-u40desktopu41-ne .from-software-procur-SfJIgb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonsecondary-CSavpA {
  display: inline-flex;
}

.home-u40desktopu41-ne .text-51mXtw {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-51mXtw {
  height: 12.46923828125px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .the-standard-fxsYcD {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcblue);
  border-radius: 24px;
  box-shadow: inset 0px -6px 0px #49aece;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 725px;
  overflow: hidden;
  padding: 30px;
  position: relative;
}

.home-u40desktopu41-ne .fpc_standard-EOkqh0 {
  background-color: transparent;
  height: 200px;
  object-fit: cover;
  position: relative;
  width: 200px;
}

.home-u40desktopu41-ne .content-EOkqh0 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 59px;
  width: 100%;
}

.home-u40desktopu41-ne .content-bt2901 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.home-u40desktopu41-ne .the-standard-KzQnU0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .we-maintain-the-stan-KzQnU0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonsecondary-1rrmnM {
  align-self: stretch;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.home-u40desktopu41-ne .text-CxKmPu {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-CxKmPu {
  height: 12.46923828125px;
}

.home-u40desktopu41-ne .cluster-fxsYcD {
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
}

.home-u40desktopu41-ne .frame-322-NxHxF0 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .testimonial-eI78bh {
  border-radius: 24px;
}

.home-u40desktopu41-ne .quoted-text-6F6xTZ {
  background-color: transparent;
  height: 33px;
  left: -8px;
  position: absolute;
  top: -18px;
  width: 42px;
}

.home-u40desktopu41-ne .quoted-text-14N7Xi {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .attr-6F6xTZ {
  padding: 0px 0px 0px 5px;
}

.home-u40desktopu41-ne .audrey-tang-uF9Jzs {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.home-u40desktopu41-ne .rim-uF9Jzs {
  border-color: var(--fpcblue);
}

.home-u40desktopu41-ne .flex-container-i3781801040395081-2pCpPA {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.home-u40desktopu41-ne .text0-i3781801040395081-XJyCap {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span0-lLTF3R {
}

.home-u40desktopu41-ne .text1-i3781801040395081-XJyCap {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span1-J40wVU {
}

.home-u40desktopu41-ne .span2-J40wVU {
}

.home-u40desktopu41-ne .governance-game-NxHxF0 {
  align-items: flex-start;
  background-color: #43d2af;
  border-radius: 24px;
  box-shadow: inset 0px -6px 0px #39b396;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 100%;
}

.home-u40desktopu41-ne .frame-196-wDsQGy {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .governance-game-Nds9at {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.home-u40desktopu41-ne .a-simple-card-game-a-Nds9at {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonsecondary-wDsQGy {
  display: inline-flex;
}

.home-u40desktopu41-ne .text-e4xxHO {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-e4xxHO {
  height: 12.46923828125px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .frame-300-crax9d {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .frame-297-fJOZjz {
  gap: 15px;
}

.home-u40desktopu41-ne .get-involved-GRwAIe {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .public-code-is-a-mov-GRwAIe {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 1080px;
}

.home-u40desktopu41-ne .section-fJOZjz {
  align-items: flex-end;
  gap: 15px;
}

.home-u40desktopu41-ne .card-cQxALk {
  align-items: center;
  background-color: var(--fpcpurple);
  box-shadow: inset 0px -6px 0px #4d4aac;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.home-u40desktopu41-ne .content-JQGGEx {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  max-width: 520px;
  width: 100%;
}

.home-u40desktopu41-ne .trustworthy-nHGPx1 {
  background-color: transparent;
  height: 90px;
  position: relative;
  width: 90px;
}

.home-u40desktopu41-ne .support-public-code-nHGPx1 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.home-u40desktopu41-ne .your-contributions-m-nHGPx1 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: center;
}

.home-u40desktopu41-ne .buttons-JQGGEx {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .buttonprimary-aPywaS {
  background-color: var(--fpcwhite);
}

.home-u40desktopu41-ne .span0-xpkMtz {
}

.home-u40desktopu41-ne .span1-xpkMtz {
}

.home-u40desktopu41-ne .arrow-qBMz1v {
  height: 12.46923828125px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .buttonsecondary-aPywaS {
  cursor: pointer;
  display: inline-flex;
}

.home-u40desktopu41-ne .text-VgeAXi {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-VgeAXi {
  height: 12.46923828125px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .card-YhrjG2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.home-u40desktopu41-ne .content-LBjrUC {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.home-u40desktopu41-ne .fpc_service_workshops-prMsko {
  background-color: transparent;
  display: block;
  height: 90px;
  object-fit: cover;
  opacity: 0;
  position: relative;
  width: 90px;
}

.home-u40desktopu41-ne .fpc_service_workshops-prMsko.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.home-u40desktopu41-ne .let-us-help-you-prMsko {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.home-u40desktopu41-ne .our-team-is-here-to-prMsko {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: center;
}

.home-u40desktopu41-ne .buttonsecondary-LBjrUC {
  display: inline-flex;
}

.home-u40desktopu41-ne .text-sHx9Kf {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-sHx9Kf {
  height: 12.46923828125px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .frame-195-crax9d {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .latest-blog-post-XENiAa {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .article-XENiAa {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  border-radius: 24px;
  display: flex;
  gap: 30px;
  height: 310px;
  justify-content: flex-end;
  padding: 30px;
  position: relative;
  width: 1080px;
}

.home-u40desktopu41-ne .illo-qHRPvY {
  align-self: stretch;
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.home-u40desktopu41-ne .frame-301-qHRPvY {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 500px;
}

.home-u40desktopu41-ne .header-U2vs3E {
  flex: 0 0 auto;
  justify-content: space-between;
}

.home-u40desktopu41-ne .medialabel-HPCCc9 {
  align-items: flex-start;
  background-color: var(--fpcpeach);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 30px;
  padding: 5px 10px;
  position: relative;
}

.home-u40desktopu41-ne .text-TGo9Ej {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .x12-jun-2024-HPCCc9 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.home-u40desktopu41-ne .content-U2vs3E {
  align-items: flex-end;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.home-u40desktopu41-ne .article-title-lorem-taxX9z {
  align-self: stretch;
  background-color: transparent;
  color: var(--red);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .lorem-ipsum-rotating-taxX9z {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonsecondary-U2vs3E {
  display: inline-flex;
}

.home-u40desktopu41-ne .text-kEX2Lm {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-kEX2Lm {
  height: 12.46923828125px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .section-l22dvF {
  align-items: center;
  gap: 15px;
}

.home-u40desktopu41-ne .our-team-9xUADW {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  border-radius: 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px 45px 30px 30px;
  position: relative;
}

.home-u40desktopu41-ne .content-mZgWpy {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.home-u40desktopu41-ne .about-our-team-RvcgoG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .our-globally-distrib-RvcgoG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonsecondary-mZgWpy {
  cursor: pointer;
  display: inline-flex;
}

.home-u40desktopu41-ne .text-3i7ZGl {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: fit-content;
}

.home-u40desktopu41-ne .arrow-3i7ZGl {
  height: 12.46875px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .frame-9xUADW {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  padding: 20px 30px;
  position: relative;
}

.home-u40desktopu41-ne .testimonial-iwb0Pb {
  border-radius: 20px;
}

.home-u40desktopu41-ne .quoted-text-kWwCmw {
  background-color: transparent;
  height: 33px;
  left: -8px;
  position: absolute;
  top: -18px;
  width: 42px;
}

.home-u40desktopu41-ne .quoted-text-5NNDDM {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .attr-kWwCmw {
  padding: 0px 10px 0px 5px;
}

.home-u40desktopu41-ne .luukas-ilves-OToYQL {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.home-u40desktopu41-ne .rim-OToYQL {
  border-color: var(--fpcgreen);
}

.home-u40desktopu41-ne .flex-container-i3940859440395081-wM6fQx {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.home-u40desktopu41-ne .text0-i3940859440395081-YrQ8gt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span0-x2GeV4 {
}

.home-u40desktopu41-ne .text1-i3940859440395081-YrQ8gt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span1-w61wQk {
}

.home-u40desktopu41-ne .footer-9zoykh {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.home-u40desktopu41-ne .logo-lockup-QxxhME {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.home-u40desktopu41-ne .foundation-for-public-code-GHueWn {
  flex: 1;
}

.home-u40desktopu41-ne .information-QxxhME {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .contact-fZpFOo {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .connect-EmfTIn {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.home-u40desktopu41-ne .connect-with-us-UzLuss {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .channels-UzLuss {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.home-u40desktopu41-ne .logomastodon-10qCMA {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.home-u40desktopu41-ne .subtract-9ygFmN {
  height: 32px;
  left: 1px;
  top: 0px;
  width: 30px;
}

.home-u40desktopu41-ne .logotwitter-10qCMA {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.home-u40desktopu41-ne .logoyoutube-10qCMA {
  background-color: transparent;
  cursor: pointer;
  height: 31.94074249267578px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.home-u40desktopu41-ne .subtract-NR9iwY {
  height: 22px;
  left: 0px;
  top: 5px;
  width: 32px;
}

.home-u40desktopu41-ne .logogithub-10qCMA {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.home-u40desktopu41-ne .email-EmfTIn {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.home-u40desktopu41-ne .email-us-QgBrKO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonprimary-QgBrKO {
  background-color: var(--basic-link);
}

.home-u40desktopu41-ne .arrow-dyLYp5 {
  height: 12.46875px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .mailing-list-EmfTIn {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.home-u40desktopu41-ne .join-our-mailing-list-LxXkXi {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .buttonprimary-LxXkXi {
  background-color: var(--basic-link);
}

.home-u40desktopu41-ne .arrow-guryTx {
  height: 12.46875px;
  margin-right: -0.85px;
}

.home-u40desktopu41-ne .notes-fZpFOo {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .flex-container-i3781804835764323-lFWwMD {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-u40desktopu41-ne .text0-i3781804835764323-DjMh1Z {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -30.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span0-RhrScG {
}

.home-u40desktopu41-ne .span1-RhrScG {
  text-decoration: underline;
}

.home-u40desktopu41-ne .span2-RhrScG {
}

.home-u40desktopu41-ne .span3-RhrScG {
  text-decoration: underline;
}

.home-u40desktopu41-ne .span4-RhrScG {
}

.home-u40desktopu41-ne .text1-i3781804835764323-DjMh1Z {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -30.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span5-rMSMQj {
}

.home-u40desktopu41-ne .span6-rMSMQj {
  text-decoration: underline;
}

.home-u40desktopu41-ne .span7-rMSMQj {
}

.home-u40desktopu41-ne .span8-rMSMQj {
  text-decoration: underline;
}

.home-u40desktopu41-ne .span9-rMSMQj {
}

.home-u40desktopu41-ne .metadata-fZpFOo {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .updated-AHnExi {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .iconupdated-kTrxaF {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.home-u40desktopu41-ne .last-updated-10-march-2024-kTrxaF {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .copyright-AHnExi {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .image-mQyqVt {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.home-u40desktopu41-ne .x2024-foundation-for-public-code-mQyqVt {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span0-ezujDZ {
}

.home-u40desktopu41-ne .span1-ezujDZ {
  text-decoration: underline;
}

.home-u40desktopu41-ne .license-AHnExi {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .iconlicense-OJkWx5 {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 15.999813079833984px;
}

.home-u40desktopu41-ne .creative-commons-zer-OJkWx5 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .span0-RjaZGX {
  text-decoration: underline;
}

.home-u40desktopu41-ne .span1-RjaZGX {
}

.home-u40desktopu41-ne .arrow {
  background-color: transparent;
  position: relative;
  width: 15.2392578125px;
}

.home-u40desktopu41-ne .attr {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .attrportraits {
  background-color: transparent;
  border-radius: 80px;
  height: 80px;
  position: relative;
  width: 80.00028228759766px;
}

.home-u40desktopu41-ne .buttonprimary {
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.home-u40desktopu41-ne .buttonsecondary {
  align-items: center;
  background-color: transparent;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.home-u40desktopu41-ne .card {
  border-radius: 24px;
  display: flex;
  padding: 30px;
}

.home-u40desktopu41-ne .cards {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .cluster {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-u40desktopu41-ne .div {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.home-u40desktopu41-ne .frame-297 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .governance-game {
  align-self: stretch;
  position: relative;
}

.home-u40desktopu41-ne .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .links {
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.home-u40desktopu41-ne .logo-lockup {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.home-u40desktopu41-ne .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}

.home-u40desktopu41-ne .rectangle-315 {
  border-radius: 8.37px;
  position: absolute;
}

.home-u40desktopu41-ne .rectangle-316 {
  border-radius: 8.37px;
  position: absolute;
}

.home-u40desktopu41-ne .rectangle-317 {
  border-radius: 8.37px;
  position: absolute;
}

.home-u40desktopu41-ne .section {
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .testimonial {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.home-u40desktopu41-ne .text {
  background-color: transparent;
  position: relative;
}

.home-u40desktopu41-ne .union {
  background-color: transparent;
  left: -1px;
  position: absolute;
  top: -1px;
}
