/* screen - illou46stewardship-u40transparent-handsu41 */

.illou46stewardship-u40transparent-handsu41 {
  background-color: transparent;
  margin: 0px;
  min-height: 672px;
  min-width: 672px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.illou46stewardship-u40transparent-handsu41 .group-qBfKox {
  background-color: transparent;
  height: 108.20%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 99.70%;
}

.illou46stewardship-u40transparent-handsu41 .subtract-exv6h4 {
  background-color: transparent;
  height: 670px;
  left: calc(50.00% - 335px);
  position: absolute;
  top: calc(50.00% - 364px);
  width: 670px;
}

.illou46stewardship-u40transparent-handsu41 .right-hand-fingers-exv6h4 {
  background-color: transparent;
  height: 519px;
  left: 103px;
  position: absolute;
  top: 152px;
  width: 242px;
}

.illou46stewardship-u40transparent-handsu41 .left-hand-fingers-exv6h4 {
  background-color: transparent;
  height: 413px;
  left: 309px;
  position: absolute;
  top: 258px;
  width: 246px;
}

.illou46stewardship-u40transparent-handsu41 .mask-group-exv6h4 {
  background-color: transparent;
  height: 531px;
  left: 81px;
  position: absolute;
  top: 140px;
  width: 504px;
}
