/* screen - media-center */

.media-center {
  align-items: center;
  background-color: var(--fpcwhite);
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.media-center .navheader {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.media-center .content-3 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.media-center .logo-lockup {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.media-center .logo-symbol {
  height: 55px;
  position: relative;
  width: 47.66px;
}

.media-center .foundation-for-public-code {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 365.34px;
}

.media-center .navigation {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.media-center .links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: flex-end;
  position: relative;
}

.media-center .link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.media-center .services {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.media-center .logo {
  height: 24px;
  position: relative;
  width: 24px;
}

.media-center .subtract {
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 22px;
}

.media-center .content-4 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 20px 60px;
  width: 100%;
}

.media-center .home-media-center {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.media-center .frame-1 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.media-center .title {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.media-center .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.media-center .article {
  align-items: flex-end;
  background-color: var(--fpcmachine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.media-center .header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px 15px 10px 10px;
  position: relative;
  width: 100%;
}

.media-center .medialabel {
  align-items: flex-start;
  background-color: var(--fpcblue);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 30px;
  padding: 5px 10px;
  position: relative;
}

.media-center .address {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.media-center .content {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
  position: relative;
  width: 100%;
}

.media-center .illo {
  align-self: stretch;
  height: 190px;
  position: relative;
  width: 100%;
}

.media-center .content-5 {
  align-items: flex-end;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.media-center .article-title-lorem {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.media-center .lorem-ipsum-rotating {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.media-center .buttonsecondary {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 15px;
  position: relative;
}

.media-center .arrow {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.media-center .cluster-1 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

.media-center .cluster-item {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  border-radius: 6px;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
}

.media-center .medialabel-2 {
  background-color: var(--fpcgreen);
}

.media-center .address-1 {
  line-height: normal;
  text-align: right;
  width: fit-content;
}

.media-center .october-community-call {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.media-center .join-us-thursday-14 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.media-center .medialabel-1 {
  background-color: var(--fpcpeach);
}

.media-center .address-2 {
  line-height: normal;
  text-align: right;
  width: fit-content;
}

.media-center .cluster-2 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  width: 100%;
}

.media-center .at-tallinn-digital-su {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.media-center .f5-qo__r-xw-a-awm-gt-1 {
  height: 90px;
  object-fit: cover;
  position: relative;
  width: 120px;
}

.media-center .div {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.media-center .stories-were-reading {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.media-center .cluster-3 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  width: 100%;
}

.media-center .mediastoryexternal {
  align-items: flex-start;
  background-color: var(--basic-link);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 20px;
  position: relative;
}

.media-center .mediasource {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.media-center .arrow-1 {
  height: 10.52px;
  width: 11.52px;
}

.media-center .driving-the-global-c {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.media-center .frame-157 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.media-center .media-archive {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.media-center .nav {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.media-center .links-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 0px 30px 0px 0px;
  position: relative;
}

.media-center .uitag-1 {
  align-items: flex-start;
  background-color: var(--charcoal);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 3px 10px;
  position: relative;
}

.media-center .tag {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.media-center .uitag {
  align-items: flex-start;
  background-color: var(--fpcmachine-grey);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 3px 10px;
  position: relative;
}

.media-center .search {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--fpcblack);
  border-radius: 32px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 44px;
  justify-content: space-around;
  max-width: 340px;
  min-width: 240px;
  padding: 12px 13px;
  position: relative;
}

.media-center .ui {
  height: 20px;
  position: relative;
  width: 105.42px;
}

.media-center .search-all {
  color: var(--fpcmachine-grey-darker);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.media-center .iconsearch {
  height: 18px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 26px;
}

.media-center .frame-193 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 15px 15px;
  width: 100%;
}

.media-center .blockmediasummary {
  align-items: flex-end;
  background-color: var(--fpcmachine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 360px;
  min-width: 280px;
  overflow: hidden;
  position: relative;
}

.media-center .address-3 {
  line-height: normal;
  text-align: right;
  width: fit-content;
}

.media-center .content-1 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
  width: 100%;
}

.media-center .arrow-2 {
  height: 12.47px;
  width: 15.24px;
}

.media-center .medialabel-3 {
  background-color: var(--fpcpurple);
}

.media-center .x12-aug-2023 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.media-center .medialabel-4 {
  background-color: var(--fpcyellow);
}

.media-center .headline {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  align-self: stretch;
  display: -webkit-box;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.media-center .medialabel-5 {
  background-color: var(--charcoal);
}

.media-center .label {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.media-center .connect {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.media-center .contact {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
  position: relative;
}

.media-center .frame-197 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  max-width: 520px;
  width: 100%;
}

.media-center .connect-with-us {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.media-center .logo-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.media-center .subtract-1 {
  height: 32px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 30px;
}

.media-center .subtract-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 32px;
}

.media-center .mailing-list {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 217px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 217px;
}

.media-center .frame-197-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.media-center .buttonprimary {
  align-items: center;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.media-center .arrow-3 {
  height: 12.47px;
  width: 15.24px;
}

.media-center .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.media-center .logo-lockup-1 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
  width: 100%;
}

.media-center .foundation-for-public-code-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.media-center .frame-217 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  width: 100%;
}

.media-center .blocks {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.media-center .blocks-item {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.media-center .content-2 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.media-center .buttonsecondary-1 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.media-center .information {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.media-center .information-item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.media-center .contact-info {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.media-center .frame-218 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.media-center .keizersgracht-617-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.media-center .flex-container-i3381580233815548 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media-center .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.media-center .image {
  height: 14.46px;
  position: relative;
  width: 14.46px;
}

.media-center .address-4 {
  flex: 1;
  line-height: 20px;
  margin-top: -1.00px;
}

.media-center .address-5 {
  letter-spacing: 0;
  position: relative;
}

.media-center .arrow-4 {
  margin-right: -0.85px;
  position: relative;
}

.media-center .cluster-4 {
  display: flex;
  position: relative;
}

.media-center .content-6 {
  display: flex;
  position: relative;
}

.media-center .div-6 {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.media-center .driving-the-global-c-4 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.media-center .frame {
  display: flex;
  position: relative;
}

.media-center .headline-5 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.media-center .medialabel-6 {
  align-items: flex-start;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 30px;
  padding: 5px 10px;
  position: relative;
}

.media-center .tag-7 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.media-center .text-25 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.media-center .x12-aug-2023-5 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}
