/* screen - our-services */

.our-services {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.our-services .navheader-RQB2Az {
  align-items: center;
  align-self: stretch;
  background-color: var(--machine-grey);
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.our-services .content-AWqztJ {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.our-services .logo-title-Czg6hO {
  width: 426px;
}

.our-services .foundation-for-public-code-eqcs3C {
  flex: 1;
}

.our-services .navigation-Czg6hO {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.our-services .links-qErSf1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  margin-left: -22.00px;
  position: relative;
}

.our-services .stewardship-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .resources-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .who-we-are-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .join-us-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .services-qErSf1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.our-services .logomastodon-GnXJlG {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.our-services .subtract-p2q3QO {
  height: 24px;
  left: 1px;
  top: 0px;
  width: 22px;
}

.our-services .logotwitter-GnXJlG {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.our-services .logogithub-GnXJlG {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.our-services .content-RQB2Az {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  width: 1080px;
}

.our-services .our-services-eeQsDx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .frame-231-eeQsDx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.our-services .card-6ZTXWm {
  background-color: var(--yellow);
  padding: 20px;
}

.our-services .frame-228-mbu8iA {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 0px 120px 0px 0px;
  position: relative;
  width: 100%;
}

.our-services .service-3-ucRaLD {
  background-color: transparent;
  height: 160px;
  position: relative;
  width: 160px;
}

.our-services .frame-227-ucRaLD {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.our-services .title-5UtCqR {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .we-plan-and-facilita-5UtCqR {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .frame-222-mbu8iA {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.our-services .examples-S1CLFQ {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: left;
}

.our-services .div-PJOLLb {
  align-self: stretch;
  width: 100%;
}

.our-services .flex-container-i3396510533965038-PJOLLb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-bzdovx {
}

.our-services .text1-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-E6xGRf {
}

.our-services .text2-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-ZxIOzX {
}

.our-services .text3-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-jxMuG2 {
}

.our-services .div-at9s4v {
  align-self: stretch;
  width: 100%;
}

.our-services .flex-container-i3396510633965038-at9s4v {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-MTDqFH {
}

.our-services .text1-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-kUcfTn {
}

.our-services .text2-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-sLbffV {
}

.our-services .text3-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-x5QOXa {
}

.our-services .div-8F6JSF {
  align-self: stretch;
  width: 100%;
}

.our-services .flex-container-i3396510733965038-8F6JSF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-3SrbFA {
}

.our-services .text1-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-5Frh7W {
}

.our-services .text2-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-IBRxwy {
}

.our-services .text3-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-ogSp4O {
}

.our-services .div-hSQUYm {
  align-self: stretch;
  width: 100%;
}

.our-services .flex-container-i3396510833965038-hSQUYm {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-oZ9uy2 {
}

.our-services .text1-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-KkNu5S {
}

.our-services .text2-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-LyhUSk {
}

.our-services .text3-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-exWnjm {
}

.our-services .card-EXgXif {
  background-color: var(--purple);
  padding: 30px;
}

.our-services .frame-230-4QAxnE {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .interconnecting-componements-nNg9mm {
  background-color: transparent;
  height: 160px;
  position: relative;
  width: 160px;
}

.our-services .frame-229-nNg9mm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  padding: 0px 120px 0px 0px;
  position: relative;
}

.our-services .communities-of-practice-lsYC9N {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-mulish);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -180.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 905px;
}

.our-services .a-community-of-pract-lsYC9N {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .examples-4QAxnE {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.our-services .examples-NsRpmX {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: left;
}

.our-services .div-KJ3hWV {
  align-self: stretch;
  width: 100%;
}

.our-services .flex-container-i3396514333965038-KJ3hWV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-i5xnqT {
}

.our-services .text1-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-CtLnQ0 {
}

.our-services .text2-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-5E2wI7 {
}

.our-services .text3-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-rpWUe5 {
}

.our-services .div-kUZ0xV {
  align-self: stretch;
  width: 100%;
}

.our-services .flex-container-i3396514433965038-kUZ0xV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-3ce1PE {
}

.our-services .text1-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-DnWIYX {
}

.our-services .text2-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-G7soro {
}

.our-services .text3-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-vxIAmH {
}

.our-services .div-C2vQNV {
  align-self: stretch;
  width: 100%;
}

.our-services .flex-container-i3396514533965038-C2vQNV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-7ymkAm {
}

.our-services .text1-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-uhOgFk {
}

.our-services .text2-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-T6zZvD {
}

.our-services .text3-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-hPsrsh {
}

.our-services .testimonial-eeQsDx {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.our-services .the-foundation-for-p-Vt0Sjd {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.our-services .attr-Vt0Sjd {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-services .attrportraits-HeAKUT {
  background-color: transparent;
  background-image: url(../img/attr-portraits@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 3.999985456466675px solid;
  border-color: var(--yellow);
  border-radius: 80px;
  height: 87.99997091293335px;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  position: relative;
  width: 88.000253200531px;
}

.our-services .jacco-brouwer-8X3pBn {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.our-services .flex-container-i3396486034036497-HeAKUT {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.our-services .text0-i3396486034036497-nKlDu2 {
  align-self: stretch;
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-2LSQgZ {
  font-style: normal;
}

.our-services .text1-i3396486034036497-nKlDu2 {
  align-self: stretch;
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-NNpxVG {
  font-style: normal;
}

.our-services .div-eeQsDx {
  width: 1080px;
}

.our-services .additional-info-as-f-eeQsDx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-QK6GnY {
}

.our-services .span1-QK6GnY {
  color: var(--red);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.our-services .span2-QK6GnY {
}

.our-services .div-PmZxB7 {
  width: 1080px;
}

.our-services .frame-211-eeQsDx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.our-services .contact-form-5Gqjab {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .lets-quickly-see-how-5Gqjab {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .frame-239-5Gqjab {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.our-services .frame-232-yRSySj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.our-services .label-YwMBRv {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-YwMBRv {
  flex: 0 0 auto;
}

.our-services .label-j8Dswj {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-j8Dswj {
  flex: 0 0 auto;
}

.our-services .label-roxEDF {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-roxEDF {
  flex: 0 0 auto;
}

.our-services .label-uEOLy6 {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-uEOLy6 {
  flex: 0 0 auto;
}

.our-services .frame-238-yRSySj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.our-services .label-E5vzpW {
  margin-top: -1.00px;
}

.our-services .label-72dxrd {
  margin-top: -1.00px;
}

.our-services .label-LIIDcL {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-LIIDcL {
  height: 87px;
}

.our-services .uiformcheckbox-5Gqjab {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.our-services .uicheckbox-08uWEZ {
  background-color: transparent;
  height: 32.4208984375px;
  margin-bottom: -0.42px;
  margin-left: -0.16px;
  position: relative;
  width: 32.158203125px;
}

.our-services .buttonprimary-5Gqjab {
  background-color: var(--charcoal);
}

.our-services .div-ecQnje {
  width: 1080px;
}

.our-services .frame-219-eeQsDx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.our-services .contact-us-2IDDPv {
  flex: 1;
  flex-grow: 1;
  gap: 30px;
}

.our-services .connect-with-us-yyg1kk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.our-services .every-situation-is-d-yyg1kk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.our-services .span0-xvnKIy {
}

.our-services .span1-xvnKIy {
  text-decoration: underline;
}

.our-services .span2-xvnKIy {
}

.our-services .channels-ONkfIL {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.our-services .logomastodon-Gc0AXt {
  height: 32px;
  width: 32px;
}

.our-services .subtract-oR4HVg {
  height: 32px;
  left: 1px;
  top: 0px;
  width: 30px;
}

.our-services .logotwitter-Gc0AXt {
  height: 32px;
  width: 32px;
}

.our-services .logoyoutube-Gc0AXt {
  background-color: transparent;
  height: 31.94074249267578px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.our-services .subtract-B4okdF {
  height: 22px;
  left: 0px;
  top: 5px;
  width: 32px;
}

.our-services .logogithub-Gc0AXt {
  height: 32px;
  width: 32px;
}

.our-services .contact-us-HgbNRU {
  gap: 20px;
  height: 217px;
  justify-content: center;
  width: 217px;
}

.our-services .join-our-mailing-list-979KfP {
  align-self: stretch;
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.our-services .buttonprimary-vICRKL {
  background-color: var(--white);
  cursor: pointer;
}

.our-services .footer-RQB2Az {
  align-items: center;
  align-self: stretch;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.our-services .logo-title-xDVaF4 {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.our-services .foundation-for-public-code-7MVB8D {
  width: 349px;
}

.our-services .frame-217-xDVaF4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-services .blocks-D9MPBL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.our-services .about-us-ZeZGQ5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.our-services .content-4MPGpq {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.our-services .our-operational-details-1UaqxD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .our-staff-informatio-1UaqxD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .project-resources-ZeZGQ5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.our-services .content-xmvJxA {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.our-services .project-resources-oWVb3L {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.our-services .open-products-were-r-oWVb3L {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .information-D9MPBL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.our-services .div-iqvG9x {
  align-self: stretch;
  margin-top: -2.00px;
  width: 100%;
}

.our-services .contact-iqvG9x {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.our-services .contact-info-ePCW2K {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .frame-218-cUeKye {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.our-services .phone-31-20-2-444-500-xMtHp3 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .span0-LUCRZ2 {
}

.our-services .span1-LUCRZ2 {
  text-decoration: underline;
}

.our-services .email-infopubliccodenet-xMtHp3 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-b5zKMW {
}

.our-services .span1-b5zKMW {
  text-decoration: underline;
}

.our-services .keizersgracht-617-10-cUeKye {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .span0-0NHQXz {
}

.our-services .span1-0NHQXz {
  text-decoration: underline;
}

.our-services .span2-0NHQXz {
}

.our-services .span3-0NHQXz {
  text-decoration: underline;
}

.our-services .div-d2eINz {
  align-self: stretch;
  width: 100%;
}

.our-services .notes-iqvG9x {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.our-services .flex-container-i3381573533815548-TSywf8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3381573533815548-pQsLkj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-I6XmS9 {
}

.our-services .span1-I6XmS9 {
  text-decoration: underline;
}

.our-services .span2-I6XmS9 {
}

.our-services .span3-I6XmS9 {
  text-decoration: underline;
}

.our-services .span4-I6XmS9 {
}

.our-services .text1-i3381573533815548-pQsLkj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span5-1t1XZU {
}

.our-services .span6-1t1XZU {
  text-decoration: underline;
}

.our-services .span7-1t1XZU {
}

.our-services .span8-1t1XZU {
  text-decoration: underline;
}

.our-services .span9-1t1XZU {
}

.our-services .div-T6G3xz {
  align-self: stretch;
  width: 100%;
}

.our-services .metadata-iqvG9x {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.our-services .updated-CfYUVv {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.our-services .iconupdated-UxvKV9 {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.our-services .last-updated-22-august-2023-UxvKV9 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.our-services .copyright-CfYUVv {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.our-services .image-Mj4ZGi {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.our-services .x2023-foundation-for-public-code-Mj4ZGi {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.our-services .span0-ExO6Ru {
}

.our-services .span1-ExO6Ru {
  text-decoration: underline;
}

.our-services .license-CfYUVv {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.our-services .iconlicense-HbJxbc {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 15.999813079833984px;
}

.our-services .creative-commons-zero-v10-universal-HbJxbc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.our-services .arrow {
  background-color: transparent;
  height: 12.46875px;
  margin-right: -0.85px;
  position: relative;
  width: 15.2392578125px;
}

.our-services .buttonprimary {
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.our-services .buttonsecondary {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.our-services .card {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-services .cluster {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
}

.our-services .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.our-services .div {
  background-color: transparent;
  height: 2px;
  position: relative;
}

.our-services .ellipse-11 {
  background-color: var(--machine-grey-light);
  border: 1px solid;
  border-color: var(--basic-link);
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 32px;
}

.our-services .examples {
  align-self: stretch;
  background-color: transparent;
  position: relative;
}

.our-services .field-text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .frame-197 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .frame-226 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.our-services .introduction-to-public-code {
  align-self: stretch;
  background-color: transparent;
  height: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.our-services .label {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}

.our-services .modules-include {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .option {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.our-services .selection {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .uiformradio {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
}

.our-services .uiformtextfieldsingle {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-services .uiradio {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.our-services .uitextfieldsingle {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--machine-grey-light);
  border: 1px solid;
  border-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  gap: 10px;
  padding: 12px 15px;
  position: relative;
  width: 100%;
}

.our-services .workshop {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 15px;
  position: relative;
}
