/* screen - our-services */

.our-services {
  align-items: center;
  background-color: var(--fpcwhite);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.our-services .navheader-RQB2Az {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcgrey-f2);
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.our-services .content-AWqztJ {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.our-services .logo-lockup-Czg6hO {
  display: inline-flex;
}

.our-services .foundation-for-public-code-nYnufO {
  width: 365.33685302734375px;
}

.our-services .navigation-Czg6hO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.our-services .links-qErSf1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: flex-end;
  position: relative;
}

.our-services .stewardship-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .resources-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .who-we-are-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .join-us-F4bdZc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .services-qErSf1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.our-services .logomastodon-GnXJlG {
  height: 24px;
  width: 24px;
}

.our-services .subtract-p2q3QO {
  height: 24px;
  left: 1px;
  top: 0px;
  width: 22px;
}

.our-services .logotwitter-GnXJlG {
  height: 24px;
  width: 24px;
}

.our-services .logogithub-GnXJlG {
  height: 24px;
  width: 24px;
}

.our-services .content-RQB2Az {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 20px 60px;
  width: 100%;
}

.our-services .breadcrumbs-eeQsDx {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.our-services .home-tuXFeC {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.our-services .x-tuXFeC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .our-services-tuXFeC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .title-eeQsDx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .intro-copy-eg-public-eeQsDx {
  align-self: stretch;
  background-color: transparent;
  color: var(--red);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .frame-231-eeQsDx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .card-6ZTXWm {
  background-color: var(--fpcyellow);
  box-shadow: inset -4px -4px 0px 4px #fdbbab;
}

.our-services .frame-228-mbu8iA {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .service-3-ucRaLD {
  background-color: var(--fpcyellow);
  height: 160px;
  overflow: hidden;
  position: relative;
  width: 160px;
}

.our-services .group-siePLx {
  background-color: transparent;
  height: 145px;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 119px;
}

.our-services .union-siePLx {
  height: 74px;
  left: 69px;
  top: 16px;
  width: 74px;
}

.our-services .wrench-siePLx {
  background-color: transparent;
  height: 51px;
  left: 96px;
  position: absolute;
  top: 41px;
  transform: rotate(-105.00deg);
  width: 15px;
}

.our-services .union-x3kpQ3 {
  height: 22px;
  left: -16px;
  top: 16px;
  transform: rotate(105.00deg);
  width: 51px;
}

.our-services .rectangle-x3kpQ3 {
  background-color: var(--turbo);
  border-radius: 3.81px;
  height: 37px;
  left: 6px;
  position: absolute;
  top: 13px;
  width: 4px;
}

.our-services .union-nvGXdW {
  height: 46px;
  left: 83px;
  top: 98px;
  width: 46px;
}

.our-services .screwdriver-siePLx {
  background-color: transparent;
  height: 52px;
  left: 102px;
  position: absolute;
  top: 17px;
  transform: rotate(90.00deg);
  width: 12px;
}

.our-services .rectangle-krx3yT {
  background-color: transparent;
  height: 9px;
  left: -7px;
  position: absolute;
  top: 8px;
  transform: rotate(-90.00deg);
  width: 26px;
}

.our-services .rectangle-EFGrue {
  background-color: var(--turbo);
  border-radius: 3.81px;
  height: 20px;
  left: 3px;
  position: absolute;
  top: 28px;
  width: 1px;
}

.our-services .rectangle-tN6BQx {
  background-color: var(--turbo);
  border-radius: 3.81px;
  height: 20px;
  left: 8px;
  position: absolute;
  top: 28px;
  width: 1px;
}

.our-services .rectangle-xuqYps {
  background-color: var(--turbo);
  border-radius: 3.81px;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 28px;
  width: 1px;
}

.our-services .rectangle-ciIsL2 {
  background-color: transparent;
  height: 4px;
  left: -7px;
  position: absolute;
  top: 37px;
  transform: rotate(-90.00deg);
  width: 26px;
}

.our-services .rectangle-mwoUlX {
  background-color: transparent;
  height: 4px;
  left: 3px;
  position: absolute;
  top: 47px;
  transform: rotate(-90.00deg);
  width: 5px;
}

.our-services .rectangle-CHNaAi {
  background-color: var(--turbo);
  border-radius: 3.81px;
  height: 2px;
  left: -0px;
  position: absolute;
  top: 25px;
  width: 12px;
}

.our-services .bolt-ortho-siePLx {
  background-color: transparent;
  height: 12px;
  left: 110px;
  position: absolute;
  top: 122px;
  transform: rotate(-105.00deg);
  width: 14px;
}

.our-services .subtract-uujBG1 {
  height: 13px;
  left: 0px;
  top: -1px;
  transform: rotate(105.00deg);
  width: 13px;
}

.our-services .nut-siePLx {
  background-color: transparent;
  height: 18px;
  left: 95px;
  position: absolute;
  top: 105px;
  transform: rotate(-120.35deg);
  width: 13px;
}

.our-services .rectangle-QGufmN {
  background-color: transparent;
  height: 12px;
  left: -1px;
  position: absolute;
  top: 5px;
  transform: rotate(120.35deg);
  width: 15px;
}

.our-services .rectangle-C7vFa5 {
  background-color: #f55c5c;
  border-radius: 0.38px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 13px;
}

.our-services .rectangle-k6e3Cy {
  background-color: var(--fpcpeach);
  border-radius: 0.38px;
  height: 4px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 6px;
}

.our-services .frame-227-ucRaLD {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  justify-content: center;
  max-width: 720px;
  position: relative;
}

.our-services .public-code-workshops-5UtCqR {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .we-plan-and-facilita-5UtCqR {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .frame-222-mbu8iA {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.our-services .examples-S1CLFQ {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: left;
}

.our-services .flex-container-i3396510533965038-PJOLLb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-bzdovx {
}

.our-services .text1-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-E6xGRf {
}

.our-services .text2-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-ZxIOzX {
}

.our-services .text3-i3396510533965038-sdfejt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-jxMuG2 {
}

.our-services .flex-container-i3396510633965038-at9s4v {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-MTDqFH {
}

.our-services .text1-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-kUcfTn {
}

.our-services .text2-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-sLbffV {
}

.our-services .text3-i3396510633965038-6xQlXf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-x5QOXa {
}

.our-services .flex-container-i3396510733965038-8F6JSF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-3SrbFA {
}

.our-services .text1-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-5Frh7W {
}

.our-services .text2-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-IBRxwy {
}

.our-services .text3-i3396510733965038-xKP4jI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-ogSp4O {
}

.our-services .flex-container-i3396510833965038-hSQUYm {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-oZ9uy2 {
}

.our-services .text1-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-KkNu5S {
}

.our-services .text2-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-LyhUSk {
}

.our-services .text3-i3396510833965038-Fi3QYP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-exWnjm {
}

.our-services .card-EXgXif {
  background-color: var(--fpcpurple);
  box-shadow: inset -4px -4px 0px 4px #56ccf2;
}

.our-services .frame-230-4QAxnE {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .fpc_service_practice-nNg9mm {
  background-color: transparent;
  height: 160px;
  object-fit: cover;
  position: relative;
  width: 160px;
}

.our-services .frame-229-nNg9mm {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  justify-content: center;
  max-width: 720px;
  position: relative;
}

.our-services .communities-of-practice-lsYC9N {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -185.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 905px;
}

.our-services .flex-container-33965125-lsYC9N {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-33965125-xgchYi {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-4Pfvao {
}

.our-services .span1-4Pfvao {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 400;
}

.our-services .span2-4Pfvao {
}

.our-services .text1-33965125-xgchYi {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-lfWECr {
}

.our-services .examples-4QAxnE {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.our-services .examples-NsRpmX {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: left;
}

.our-services .flex-container-i3396514333965038-KJ3hWV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-i5xnqT {
}

.our-services .text1-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-CtLnQ0 {
}

.our-services .text2-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-5E2wI7 {
}

.our-services .text3-i3396514333965038-LgyCpp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-rpWUe5 {
}

.our-services .flex-container-i3396514433965038-kUZ0xV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-3ce1PE {
}

.our-services .text1-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-DnWIYX {
}

.our-services .text2-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-G7soro {
}

.our-services .text3-i3396514433965038-f44sTZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-vxIAmH {
}

.our-services .flex-container-i3396514533965038-C2vQNV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-7ymkAm {
}

.our-services .text1-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-uhOgFk {
}

.our-services .text2-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span2-T6zZvD {
}

.our-services .text3-i3396514533965038-1Jz52y {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span3-hPsrsh {
}

.our-services .testimonial-eeQsDx {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.our-services .quoted-text-Vt0Sjd {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.our-services .attr-Vt0Sjd {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  padding: 0px 10px 0px 5px;
  position: relative;
  width: 100%;
}

.our-services .attrportraits-HeAKUT {
  background-color: transparent;
  border: 0.9999963641166687px solid;
  border-color: var(--fpcyellow);
  border-radius: 80px;
  height: 80px;
  position: relative;
  width: 80.00028228759766px;
}

.our-services .jacco-brouwer-8X3pBn {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.our-services .rim-8X3pBn {
  background-color: transparent;
  border: 3.999985456466675px solid;
  border-color: var(--fpcpurple);
  border-radius: 44px;
  height: 88px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 88px;
}

.our-services .flex-container-i3396486034036497-HeAKUT {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.our-services .text0-i3396486034036497-nKlDu2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-2LSQgZ {
}

.our-services .text1-i3396486034036497-nKlDu2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span1-NNpxVG {
}

.our-services .additional-info-as-f-eeQsDx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .span0-QK6GnY {
}

.our-services .span1-QK6GnY {
}

.our-services .span2-QK6GnY {
}

.our-services .frame-211-eeQsDx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.our-services .contact-form-5Gqjab {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .lets-quickly-see-how-5Gqjab {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .frame-239-5Gqjab {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.our-services .frame-232-yRSySj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.our-services .label-YwMBRv {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-YwMBRv {
  flex: 0 0 auto;
}

.our-services .label-j8Dswj {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-j8Dswj {
  flex: 0 0 auto;
}

.our-services .label-roxEDF {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-roxEDF {
  flex: 0 0 auto;
}

.our-services .label-uEOLy6 {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-uEOLy6 {
  flex: 0 0 auto;
}

.our-services .frame-238-yRSySj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.our-services .label-E5vzpW {
  margin-top: -1.00px;
}

.our-services .label-72dxrd {
  margin-top: -1.00px;
}

.our-services .label-LIIDcL {
  margin-top: -1.00px;
}

.our-services .uitextfieldsingle-LIIDcL {
  height: 87px;
}

.our-services .uiformcheckbox-5Gqjab {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.our-services .uicheckbox-08uWEZ {
  background-color: transparent;
  height: 32.4208984375px;
  margin-bottom: -0.42px;
  margin-left: -0.16px;
  position: relative;
  width: 32.158203125px;
}

.our-services .buttonprimary-5Gqjab {
  background-color: var(--charcoal);
}

.our-services .connect-eeQsDx {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .contact-xrjGh1 {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
}

.our-services .frame-197-shuLco {
  max-width: 520px;
}

.our-services .connect-with-us-Qi55ze {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.our-services .got-a-question-sugge-Qi55ze {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.our-services .span0-G9219J {
}

.our-services .span1-G9219J {
  text-decoration: underline;
}

.our-services .span2-G9219J {
}

.our-services .channels-shuLco {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.our-services .logomastodon-WTAab2 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.our-services .subtract-tYKs6f {
  height: 32px;
  left: 1px;
  top: 0px;
  width: 30px;
}

.our-services .logotwitter-WTAab2 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.our-services .logoyoutube-WTAab2 {
  background-color: transparent;
  cursor: pointer;
  height: 31.94074249267578px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.our-services .subtract-WIn2GN {
  height: 22px;
  left: 0px;
  top: 5px;
  width: 32px;
}

.our-services .logogithub-WTAab2 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.our-services .mailing-list-xrjGh1 {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 217px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 217px;
}

.our-services .join-our-mailing-list-Kv1l1A {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.our-services .buttonprimary-yHqPBE {
  background-color: var(--fpcwhite);
  cursor: pointer;
}

.our-services .footer-RQB2Az {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcgrey-f2);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.our-services .logo-lockup-xDVaF4 {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.our-services .foundation-for-public-code-AGzoxJ {
  flex: 1;
}

.our-services .frame-217-xDVaF4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-services .blocks-D9MPBL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.our-services .about-us-ZeZGQ5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.our-services .content-4MPGpq {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.our-services .our-operational-details-1UaqxD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .our-staff-informatio-1UaqxD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .project-resources-ZeZGQ5 {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.our-services .content-xmvJxA {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.our-services .project-resources-oWVb3L {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.our-services .open-products-were-r-oWVb3L {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .information-D9MPBL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.our-services .contact-iqvG9x {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.our-services .contact-info-ePCW2K {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .frame-218-cUeKye {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.our-services .phone-31-20-2-444-500-xMtHp3 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .span0-LUCRZ2 {
}

.our-services .span1-LUCRZ2 {
  text-decoration: underline;
}

.our-services .email-infopubliccodenet-xMtHp3 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.our-services .span0-b5zKMW {
}

.our-services .span1-b5zKMW {
  text-decoration: underline;
}

.our-services .keizersgracht-617-10-cUeKye {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .span0-0NHQXz {
}

.our-services .span1-0NHQXz {
  text-decoration: underline;
}

.our-services .span2-0NHQXz {
}

.our-services .span3-0NHQXz {
  text-decoration: underline;
}

.our-services .notes-iqvG9x {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.our-services .flex-container-i3381573533815548-TSywf8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-services .text0-i3381573533815548-pQsLkj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.our-services .span0-I6XmS9 {
}

.our-services .span1-I6XmS9 {
  text-decoration: underline;
}

.our-services .span2-I6XmS9 {
}

.our-services .span3-I6XmS9 {
  text-decoration: underline;
}

.our-services .span4-I6XmS9 {
}

.our-services .text1-i3381573533815548-pQsLkj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.our-services .span5-1t1XZU {
}

.our-services .span6-1t1XZU {
  text-decoration: underline;
}

.our-services .span7-1t1XZU {
}

.our-services .span8-1t1XZU {
  text-decoration: underline;
}

.our-services .span9-1t1XZU {
}

.our-services .metadata-iqvG9x {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.our-services .updated-CfYUVv {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.our-services .iconupdated-UxvKV9 {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.our-services .last-updated-22-august-2023-UxvKV9 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .copyright-CfYUVv {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.our-services .image-Mj4ZGi {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.our-services .x2023-foundation-for-public-code-Mj4ZGi {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .span0-ExO6Ru {
}

.our-services .span1-ExO6Ru {
  text-decoration: underline;
}

.our-services .license-CfYUVv {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.our-services .iconlicense-HbJxbc {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.our-services .creative-commons-zer-HbJxbc {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.our-services .span0-O0dj0v {
  text-decoration: underline;
}

.our-services .span1-O0dj0v {
}

.our-services .arrow {
  background-color: transparent;
  height: 12.46923828125px;
  margin-right: -0.85px;
  position: relative;
  width: 15.2392578125px;
}

.our-services .buttonprimary {
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.our-services .buttonsecondary {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.our-services .card {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: 100%;
}

.our-services .cluster {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 15px 15px;
  position: relative;
  width: 100%;
}

.our-services .contact {
  display: flex;
  flex-direction: column;
  position: relative;
}

.our-services .div {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.our-services .ellipse-11 {
  background-color: var(--fpcmachine-grey-light);
  border: 1px solid;
  border-color: var(--basic-link);
  border-radius: 16px;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 32px;
}

.our-services .examples {
  align-self: stretch;
  background-color: transparent;
  position: relative;
}

.our-services .field-text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .frame-197 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.our-services .frame-226 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.our-services .introduction-to-public-code {
  align-self: stretch;
  background-color: transparent;
  height: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.our-services .label {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .logo-lockup {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.our-services .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}

.our-services .modules-include {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.our-services .option {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.our-services .selection {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.our-services .uiformradio {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-services .uiformtextfieldsingle {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.our-services .uiradio {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.our-services .uitextfieldsingle {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcmachine-grey-light);
  border: 1px solid;
  border-color: var(--fpcgrey-f2);
  border-radius: 6px;
  display: flex;
  gap: 10px;
  padding: 12px 15px;
  position: relative;
  width: 100%;
}

.our-services .union {
  background-color: transparent;
  position: absolute;
}

.our-services .workshop {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 15px;
  position: relative;
}
