/* screen - product-model-u40desktopu41-ne */

.product-model-u40desktopu41-ne {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.product-model-u40desktopu41-ne .header-ADK8pG {
  align-items: center;
  align-self: stretch;
  border: 2px solid;
  border-color: var(--charcoal);
  gap: 60px;
  height: 704px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -2.00px;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.product-model-u40desktopu41-ne .base-OJw0sr {
  background: linear-gradient(180deg, rgb(255, 245.00000059604645, 0) 0%, rgb(253.0000001192093, 187.00000405311584, 171.00000500679016) 100%);
  background-color: transparent;
  box-shadow: inset -200px 250px 200px #fdbbab;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.product-model-u40desktopu41-ne .bg-OJw0sr {
  background-color: transparent;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.product-model-u40desktopu41-ne .eco-system-1-OJw0sr {
  background-color: transparent;
  height: 606px;
  left: 736px;
  position: absolute;
  top: 94px;
  width: 704px;
}

.product-model-u40desktopu41-ne .navheader-OJw0sr {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .content-aGgxPy {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.product-model-u40desktopu41-ne .logo-lockup-x580X0 {
  display: inline-flex;
}

.product-model-u40desktopu41-ne .foundation-for-public-code-qgdggA {
  width: 365.33685302734375px;
}

.product-model-u40desktopu41-ne .navigation-x580X0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.product-model-u40desktopu41-ne .links-Gx6leT {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.product-model-u40desktopu41-ne .what-is-public-code-xs4NZ8 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.product-model-u40desktopu41-ne .the-standard-xs4NZ8 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.product-model-u40desktopu41-ne .blog-xs4NZ8 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.product-model-u40desktopu41-ne .about-xs4NZ8 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.product-model-u40desktopu41-ne .span0-GgcxSm {
}

.product-model-u40desktopu41-ne .span1-GgcxSm {
}

.product-model-u40desktopu41-ne .nav-button-xs4NZ8 {
  align-items: flex-start;
  background-color: var(--charcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px;
  position: relative;
}

.product-model-u40desktopu41-ne .support-us-Srx1b9 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.product-model-u40desktopu41-ne .cluster-OJw0sr {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 10px;
  max-width: 1120px;
  padding: 0px 20px;
  width: 100%;
}

.product-model-u40desktopu41-ne .cluster-pNxsBJ {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 55px;
  max-width: 600px;
  width: 100%;
}

.product-model-u40desktopu41-ne .home-digital-product-model-06xbJ8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-D3RgUR {
  text-decoration: underline;
}

.product-model-u40desktopu41-ne .span1-D3RgUR {
}

.product-model-u40desktopu41-ne .frame-148-06xbJ8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .title-iABDdA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .any-software-develop-iABDdA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-71BxDR {
}

.product-model-u40desktopu41-ne .span1-71BxDR {
}

.product-model-u40desktopu41-ne .span2-71BxDR {
}

.product-model-u40desktopu41-ne .content-ADK8pG {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 20px 60px;
  width: 100%;
  z-index: 1;
}

.product-model-u40desktopu41-ne .frame-294-mYo0XL {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .a-public-product-org-6VydCV {
  align-self: stretch;
  background-color: transparent;
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 36px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .frame-323-6VydCV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .flex-container-40633125-xWvVlk {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-model-u40desktopu41-ne .text0-40633125-oSFhWt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-5z0hF9 {
}

.product-model-u40desktopu41-ne .text1-40633125-oSFhWt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-F3xv0t {
}

.product-model-u40desktopu41-ne .text2-40633125-oSFhWt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span2-bZripi {
}

.product-model-u40desktopu41-ne .text3-40633125-oSFhWt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span3-XKhfk6 {
}

.product-model-u40desktopu41-ne .text4-40633125-oSFhWt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span4-Nxo5ng {
}

.product-model-u40desktopu41-ne .flex-container-40633126-xWvVlk {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-model-u40desktopu41-ne .text0-40633126-FpL98B {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-peobxt {
}

.product-model-u40desktopu41-ne .text1-40633126-FpL98B {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-JzbapZ {
}

.product-model-u40desktopu41-ne .div-mYo0XL {
  align-self: stretch;
  height: 2px;
  width: 100%;
}

.product-model-u40desktopu41-ne .content-mYo0XL {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

.product-model-u40desktopu41-ne .public-product-organizations-QAE1FC {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .flex-container-40393285-QAE1FC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-40393285-bXxSXW {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-uVsRwN {
}

.product-model-u40desktopu41-ne .text1-40393285-bXxSXW {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-dwAtzE {
}

.product-model-u40desktopu41-ne .text2-40393285-bXxSXW {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span2-1X1Ztv {
}

.product-model-u40desktopu41-ne .card-QAE1FC {
  align-items: flex-end;
}

.product-model-u40desktopu41-ne .cluster-Jxdlw8 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 30px;
  width: 100%;
}

.product-model-u40desktopu41-ne .frame-280-mcnQxb {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.product-model-u40desktopu41-ne .diia-logo-1-7UuXvH {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.product-model-u40desktopu41-ne .x250-1-7UuXvH {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.product-model-u40desktopu41-ne .diia-Jxdlw8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .content-Jxdlw8 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: flex-end;
  width: 100%;
}

.product-model-u40desktopu41-ne .header-gzyCVt {
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  gap: 15px;
}

.product-model-u40desktopu41-ne .flex-container-40393294-cuyzC6 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-40393294-tGFqeF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-JKgIGb {
}

.product-model-u40desktopu41-ne .text1-40393294-tGFqeF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-Ab7xOH {
}

.product-model-u40desktopu41-ne .text2-40393294-tGFqeF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span2-pWOPRj {
}

.product-model-u40desktopu41-ne .div-gzyCVt {
  align-self: stretch;
  transform: rotate(-90deg);
  width: 200px;
}

.product-model-u40desktopu41-ne .cluster-gzyCVt {
  flex: 1;
  flex-grow: 1;
  gap: 15px;
}

.product-model-u40desktopu41-ne .ukraine-ministry-of-xkAWAF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .primary-replicator-hD5npl {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .national-and-state-governments-hD5npl {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .state-governments-lo-7xo2JR {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .arrow-NJrgHm {
  height: 10.5205078125px;
  width: 11.5234375px;
}

.product-model-u40desktopu41-ne .frame-296-Jxdlw8 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 29.39167594909668px;
  justify-content: flex-end;
  position: relative;
}

.product-model-u40desktopu41-ne .diia_phone-720-1-VxP5sm {
  background-color: var(--fpcblack);
  height: 522.5186767578125px;
  position: relative;
  width: 293.916748046875px;
}

.product-model-u40desktopu41-ne .image-1-VxP5sm {
  background-color: transparent;
  height: 522.5185546875px;
  object-fit: cover;
  position: relative;
  width: 696.69140625px;
}

.product-model-u40desktopu41-ne .card-3ccTN4 {
  align-items: flex-start;
}

.product-model-u40desktopu41-ne .govuk_icon-1-3EjQ8S {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.product-model-u40desktopu41-ne .notify-3EjQ8S {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .content-3EjQ8S {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 30px;
  width: 100%;
}

.product-model-u40desktopu41-ne .flex-container-40393314-mpmjhD {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-40393314-KY19Za {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-Il25Vs {
}

.product-model-u40desktopu41-ne .text1-40393314-KY19Za {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-vFU9e0 {
}

.product-model-u40desktopu41-ne .div-mpmjhD {
  height: 2px;
  transform: rotate(-90deg);
  width: 200px;
}

.product-model-u40desktopu41-ne .cluster-mpmjhD {
  flex: 1;
  flex-grow: 1;
  gap: 15px;
}

.product-model-u40desktopu41-ne .uk-government-digital-service-4HAif5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .replicators-SGHNGb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .canadian-digital-ser-SGHNGb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .possibilities-for-in-Tp6mN6 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .arrow-wu88qx {
  height: 12.46923828125px;
  width: 15.2392578125px;
}

.product-model-u40desktopu41-ne .frame-302-3EjQ8S {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .frame-318-BkzBCQ {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .notify_01-xhxv46 {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 172px;
  object-fit: cover;
  position: relative;
}

.product-model-u40desktopu41-ne .notify_03-xhxv46 {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 172px;
  object-fit: cover;
  position: relative;
}

.product-model-u40desktopu41-ne .notify_02-xhxv46 {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 172px;
  object-fit: cover;
  position: relative;
}

.product-model-u40desktopu41-ne .card-8fvPo7 {
  align-items: flex-start;
}

.product-model-u40desktopu41-ne .iconappspacecraft-Fd7v6W {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.product-model-u40desktopu41-ne .space-craft-Fd7v6W {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .content-Fd7v6W {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 30px;
  width: 100%;
}

.product-model-u40desktopu41-ne .flex-container-40393335-SPzZD8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-40393335-MZpoFh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-HLkuNh {
}

.product-model-u40desktopu41-ne .text1-40393335-MZpoFh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-VfpXf1 {
}

.product-model-u40desktopu41-ne .text2-40393335-MZpoFh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span2-LQnOnF {
}

.product-model-u40desktopu41-ne .text3-40393335-MZpoFh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span3-Gd5Dqt {
}

.product-model-u40desktopu41-ne .text4-40393335-MZpoFh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span4-Gqctox {
}

.product-model-u40desktopu41-ne .div-SPzZD8 {
  align-self: stretch;
  transform: rotate(-90deg);
  width: 280px;
}

.product-model-u40desktopu41-ne .cluster-SPzZD8 {
  flex: 1;
  flex-grow: 1;
  gap: 15px;
}

.product-model-u40desktopu41-ne .flex-container-40393343-RICqSS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-40393343-9DXfEm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-8OIxSJ {
}

.product-model-u40desktopu41-ne .text1-40393343-9DXfEm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-EF6tUB {
}

.product-model-u40desktopu41-ne .state-and-city-and-p-vhMpqS {
  align-self: stretch;
  background-color: transparent;
  color: #070707;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .arrow-Q2F9b8 {
  height: 12.46923828125px;
  width: 15.2392578125px;
}

.product-model-u40desktopu41-ne .card-3aUBN9 {
  align-items: flex-start;
}

.product-model-u40desktopu41-ne .iconappgeospatial-EMODbh {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.product-model-u40desktopu41-ne .public-geospatial-server-EMODbh {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .content-EMODbh {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 30px;
  width: 100%;
}

.product-model-u40desktopu41-ne .flex-container-40393352-RVeqSC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-40393352-lywCQk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-7vp0Xd {
}

.product-model-u40desktopu41-ne .text1-40393352-lywCQk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-aPQNcq {
}

.product-model-u40desktopu41-ne .div-RVeqSC {
  align-self: stretch;
  transform: rotate(-90deg);
  width: 240px;
}

.product-model-u40desktopu41-ne .cluster-RVeqSC {
  flex: 1;
  flex-grow: 1;
  gap: 15px;
}

.product-model-u40desktopu41-ne .flex-container-40393360-AEQDKJ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-40393360-sf1zlq {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-23LcX7 {
}

.product-model-u40desktopu41-ne .text1-40393360-sf1zlq {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span1-a0F0Cg {
}

.product-model-u40desktopu41-ne .state-and-city-geosp-7lD5ko {
  align-self: stretch;
  background-color: transparent;
  color: #070707;
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .arrow-xMI4U2 {
  height: 12.46875px;
  width: 15.2392578125px;
}

.product-model-u40desktopu41-ne .image-4-12-24-at-6-1-EMODbh {
  align-self: stretch;
  background-color: transparent;
  height: 381.41015625px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .footer-ADK8pG {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.product-model-u40desktopu41-ne .logo-lockup-OAyqZz {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.product-model-u40desktopu41-ne .foundation-for-public-code-Rl8ZvS {
  flex: 1;
}

.product-model-u40desktopu41-ne .information-OAyqZz {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .contact-Gel4lB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .connect-Mg9QYM {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.product-model-u40desktopu41-ne .connect-with-us-mFf5EN {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .channels-mFf5EN {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.product-model-u40desktopu41-ne .logomastodon-TkeN8I {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.product-model-u40desktopu41-ne .subtract-UyNKNN {
  height: 32px;
  left: 1px;
  top: 0px;
  width: 30px;
}

.product-model-u40desktopu41-ne .logotwitter-TkeN8I {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.product-model-u40desktopu41-ne .logoyoutube-TkeN8I {
  background-color: transparent;
  cursor: pointer;
  height: 31.94074249267578px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.product-model-u40desktopu41-ne .subtract-qhcx2r {
  height: 22px;
  left: 0px;
  top: 5px;
  width: 32px;
}

.product-model-u40desktopu41-ne .logogithub-TkeN8I {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.product-model-u40desktopu41-ne .email-Mg9QYM {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.product-model-u40desktopu41-ne .email-us-1Rz9gw {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .arrow-xxcrZ9 {
  height: 12.46875px;
  width: 15.2392578125px;
}

.product-model-u40desktopu41-ne .mailing-list-Mg9QYM {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.product-model-u40desktopu41-ne .join-our-mailing-list-AQo26l {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .arrow-3rNkd8 {
  height: 12.46875px;
  width: 15.2392578125px;
}

.product-model-u40desktopu41-ne .div-Gel4lB {
  align-self: stretch;
  height: 2px;
  width: 100%;
}

.product-model-u40desktopu41-ne .notes-Gel4lB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .flex-container-i4039320935764323-Jx0klC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-model-u40desktopu41-ne .text0-i4039320935764323-NA2Nc0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -30.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-fQ0lbZ {
}

.product-model-u40desktopu41-ne .span1-fQ0lbZ {
  text-decoration: underline;
}

.product-model-u40desktopu41-ne .span2-fQ0lbZ {
}

.product-model-u40desktopu41-ne .span3-fQ0lbZ {
  text-decoration: underline;
}

.product-model-u40desktopu41-ne .span4-fQ0lbZ {
}

.product-model-u40desktopu41-ne .text1-i4039320935764323-NA2Nc0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -30.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span5-w6cYIo {
}

.product-model-u40desktopu41-ne .span6-w6cYIo {
  text-decoration: underline;
}

.product-model-u40desktopu41-ne .span7-w6cYIo {
}

.product-model-u40desktopu41-ne .span8-w6cYIo {
  text-decoration: underline;
}

.product-model-u40desktopu41-ne .span9-w6cYIo {
}

.product-model-u40desktopu41-ne .div-od5sqP {
  align-self: stretch;
  height: 2px;
  width: 100%;
}

.product-model-u40desktopu41-ne .metadata-Gel4lB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .updated-MusI6A {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .iconupdated-zQK7kP {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.product-model-u40desktopu41-ne .last-updated-10-march-2024-zQK7kP {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .copyright-MusI6A {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .image-2KBTOT {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.product-model-u40desktopu41-ne .x2024-foundation-for-public-code-2KBTOT {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-wqSjqf {
}

.product-model-u40desktopu41-ne .span1-wqSjqf {
  text-decoration: underline;
}

.product-model-u40desktopu41-ne .license-MusI6A {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .iconlicense-n4Y8Vu {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.product-model-u40desktopu41-ne .creative-commons-zer-n4Y8Vu {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .span0-gLHcpe {
  text-decoration: underline;
}

.product-model-u40desktopu41-ne .span1-gLHcpe {
}

.product-model-u40desktopu41-ne .arrow {
  background-color: transparent;
  margin-right: -0.85px;
  position: relative;
}

.product-model-u40desktopu41-ne .buttonprimary {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.product-model-u40desktopu41-ne .buttonsecondary {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.product-model-u40desktopu41-ne .card {
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  min-width: 480px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .cluster {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-model-u40desktopu41-ne .components {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .creator {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .div {
  background-color: var(--charcoal);
  border-radius: 2px;
  position: relative;
}

.product-model-u40desktopu41-ne .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-model-u40desktopu41-ne .line-item {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}

.product-model-u40desktopu41-ne .logo-lockup {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.product-model-u40desktopu41-ne .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}

.product-model-u40desktopu41-ne .possibilities-for-involvement {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.product-model-u40desktopu41-ne .text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.product-model-u40desktopu41-ne .were-forming-a-publi {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}
