/* screen - resources-and-projects */

.resources-and-projects {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.resources-and-projects .header-xqb7lB {
  background-color: transparent;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.resources-and-projects .base-E3EZB4 {
  background: linear-gradient(180deg, rgb(253.0000001192093, 187.00000405311584, 171.00000500679016) 0%, rgb(253.0000001192093, 187.00000405311584, 171.00000500679016) 100%);
  background-color: transparent;
  box-shadow: inset -200px 250px 200px #fdbbab;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.resources-and-projects .bg-E3EZB4 {
  background-color: transparent;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.resources-and-projects .service-3-E3EZB4 {
  background-color: transparent;
  height: 680px;
  left: 736px;
  overflow: hidden;
  position: absolute;
  top: 116px;
  width: 680px;
}

.resources-and-projects .group-q28O8u {
  background-color: transparent;
  height: 521px;
  left: 0px;
  position: absolute;
  top: 63px;
  width: 507px;
}

.resources-and-projects .union-q28O8u {
  height: 316px;
  left: 293px;
  top: 67px;
  width: 316px;
}

.resources-and-projects .wrench-q28O8u {
  background-color: transparent;
  height: 219px;
  left: 409px;
  position: absolute;
  top: 176px;
  transform: rotate(-105.00deg);
  width: 64px;
}

.resources-and-projects .union-wbfSAP {
  height: 95px;
  left: -68px;
  top: 66px;
  transform: rotate(105.00deg);
  width: 216px;
}

.resources-and-projects .rectangle-wbfSAP {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 156px;
  left: 24px;
  position: absolute;
  top: 57px;
  width: 16px;
}

.resources-and-projects .union-p7hnST {
  height: 169px;
  left: 352px;
  top: 415px;
  width: 196px;
}

.resources-and-projects .screwdriver-q28O8u {
  background-color: transparent;
  height: 220px;
  left: 433px;
  position: absolute;
  top: 72px;
  transform: rotate(90.00deg);
  width: 50px;
}

.resources-and-projects .rectangle-TvW9qy {
  background-color: transparent;
  height: 39px;
  left: -30px;
  position: absolute;
  top: 36px;
  transform: rotate(-90.00deg);
  width: 111px;
}

.resources-and-projects .rectangle-Qk0UmY {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 86px;
  left: 14px;
  position: absolute;
  top: 118px;
  width: 5px;
}

.resources-and-projects .rectangle-tvV6mo {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 86px;
  left: 32px;
  position: absolute;
  top: 118px;
  width: 5px;
}

.resources-and-projects .rectangle-bHAeVA {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 86px;
  left: 23px;
  position: absolute;
  top: 118px;
  width: 5px;
}

.resources-and-projects .rectangle-vvWQoa {
  background-color: transparent;
  height: 16px;
  left: -29px;
  position: absolute;
  top: 158px;
  transform: rotate(-90.00deg);
  width: 109px;
}

.resources-and-projects .rectangle-g2FPLR {
  background-color: transparent;
  height: 16px;
  left: 14px;
  position: absolute;
  top: 201px;
  transform: rotate(-90.00deg);
  width: 23px;
}

.resources-and-projects .rectangle-ZlZL2h {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 8px;
  left: -0px;
  position: absolute;
  top: 104px;
  width: 50px;
}

.resources-and-projects .bolt-ortho-q28O8u {
  background-color: transparent;
  height: 51px;
  left: 468px;
  position: absolute;
  top: 520px;
  transform: rotate(-105.00deg);
  width: 58px;
}

.resources-and-projects .subtract-gDSL3b {
  background-color: transparent;
  height: 56px;
  left: 1px;
  position: absolute;
  top: -3px;
  transform: rotate(105.00deg);
  width: 56px;
}

.resources-and-projects .nut-q28O8u {
  background-color: transparent;
  height: 78px;
  left: 402px;
  position: absolute;
  top: 445px;
  transform: rotate(-120.35deg);
  width: 57px;
}

.resources-and-projects .rectangle-aRFxT6 {
  background-color: transparent;
  height: 52px;
  left: -4px;
  position: absolute;
  top: 20px;
  transform: rotate(120.35deg);
  width: 66px;
}

.resources-and-projects .rectangle-UZ5TQP {
  background-color: var(--yellow);
  border-radius: 1.62px;
  height: 15px;
  left: -0px;
  position: absolute;
  top: 0px;
  width: 57px;
}

.resources-and-projects .rectangle-5M8xgM {
  background-color: var(--turbo);
  border-radius: 1.62px;
  height: 15px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 28px;
}

.resources-and-projects .headline-E3EZB4 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 180px;
  position: absolute;
  top: 250px;
  width: 525px;
}

.resources-and-projects .title-mJ8yXu {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .we-built-these-openl-mJ8yXu {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.resources-and-projects .buttonsecondary-mJ8yXu {
  gap: 15px;
}

.resources-and-projects .arrow-xrxpur {
  height: 15.2392578125px;
  margin-right: -6.23px;
  width: 12.46875px;
}

.resources-and-projects .home-resources-and-projects-E3EZB4 {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 174px;
  width: 567px;
}

.resources-and-projects .span0-6JYy3k {
  text-decoration: underline;
}

.resources-and-projects .span1-6JYy3k {
}

.resources-and-projects .frame-195-xqb7lB {
  align-items: center;
  flex-direction: column;
  gap: 60px;
  width: 1080px;
}

.resources-and-projects .frame-195-pjck3o {
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.resources-and-projects .current-projects-ItiCnI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .we-rely-on-these-res-ItiCnI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .frame-195-ItiCnI {
  align-items: flex-start;
  align-self: stretch;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.resources-and-projects .module-jxWmQ0 {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-UcssRO {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .the-standard-for-public-code-uvx9WF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .flex-container-30972759-uvx9WF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972759-TfEHOm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-pd3D7K {
}

.resources-and-projects .text1-30972759-TfEHOm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-Km4iiZ {
}

.resources-and-projects .buttonsecondary-UcssRO {
  gap: 8px;
}

.resources-and-projects .arrow-Xt2jae {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-jqfsYn {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-Y2cj1q {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .governance-game-InS7RF {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .flex-container-30972763-InS7RF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972763-kRjtsJ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-mQm72Y {
}

.resources-and-projects .text1-30972763-kRjtsJ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-7DjwbA {
}

.resources-and-projects .buttonsecondary-Y2cj1q {
  gap: 8px;
}

.resources-and-projects .arrow-82uXd6 {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-196-ItiCnI {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.resources-and-projects .module-1LJHbh {
  align-self: stretch;
  width: 340px;
}

.resources-and-projects .content-8yYcnN {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .our-podcast-lets-talk-about-public-code-XMiCd0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .flex-container-31903044-XMiCd0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903044-rmXLmF {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-DBXsww {
  letter-spacing: 0.00px;
}

.resources-and-projects .span1-DBXsww {
  letter-spacing: -0.24px;
}

.resources-and-projects .text1-31903044-rmXLmF {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span2-pIzvAn {
  letter-spacing: 0.00px;
}

.resources-and-projects .buttonsecondary-8yYcnN {
  gap: 8px;
}

.resources-and-projects .arrow-kRLK5f {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-LgDpxp {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-DhiZGJ {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .ospo-alliance-and-ospo-zone-tmSdGz {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .flex-container-31903049-tmSdGz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903049-TvUVz2 {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-00aqgX {
  letter-spacing: -0.16px;
}

.resources-and-projects .text1-31903049-TvUVz2 {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-ONJ6pu {
  letter-spacing: 0.00px;
}

.resources-and-projects .text2-31903049-TvUVz2 {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span2-d2fy17 {
  letter-spacing: 0.00px;
}

.resources-and-projects .buttonsecondary-DhiZGJ {
  gap: 8px;
}

.resources-and-projects .arrow-UTqBVi {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-197-ItiCnI {
  gap: 30px;
  justify-content: center;
}

.resources-and-projects .module-vxHe88 {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-ByvWx1 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .bumperscripter-fhzxtT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .flex-container-31903059-fhzxtT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903059-ciJT3u {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-Z0J1xK {
}

.resources-and-projects .text1-31903059-ciJT3u {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-YoJfRA {
}

.resources-and-projects .buttonsecondary-ByvWx1 {
  gap: 8px;
}

.resources-and-projects .arrow-LhySgv {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-JCEyfo {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-CKy4OB {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .url-check-dyAz44 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .flex-container-31903064-dyAz44 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903064-dBEFsx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-BAE7td {
}

.resources-and-projects .text1-31903064-dBEFsx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -14.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-GTkCmS {
}

.resources-and-projects .span2-GTkCmS {
  text-decoration: underline;
}

.resources-and-projects .span3-GTkCmS {
}

.resources-and-projects .buttonsecondary-CKy4OB {
  gap: 8px;
}

.resources-and-projects .span0-45GlIZ {
}

.resources-and-projects .span1-45GlIZ {
}

.resources-and-projects .span2-45GlIZ {
}

.resources-and-projects .arrow-FVaTNH {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-195-dLubJo {
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.resources-and-projects .past-projects-4D9xE5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .though-our-involveme-4D9xE5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .cluster-4D9xE5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.resources-and-projects .module-RQi3q9 {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-V0kOrs {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .flex-container-30972773-z6nPvk {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972773-7cWKAQ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-AzispY {
}

.resources-and-projects .text1-30972773-7cWKAQ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-8H7BSG {
}

.resources-and-projects .flex-container-30972774-z6nPvk {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972774-tdXdqb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-q8zKtx {
}

.resources-and-projects .text1-30972774-tdXdqb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-bGRxLL {
}

.resources-and-projects .buttonsecondary-V0kOrs {
  gap: 8px;
}

.resources-and-projects .arrow-RSAo4y {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-qYaelR {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-wHWxLh {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .flex-container-30972776-Pziulg {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972776-k8RECa {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-k4QS0H {
}

.resources-and-projects .text1-30972776-k8RECa {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-Fet7OI {
}

.resources-and-projects .flex-container-30972777-Pziulg {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972777-jxBq5m {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-xKzd0H {
}

.resources-and-projects .text1-30972777-jxBq5m {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-KsSWCI {
}

.resources-and-projects .span2-KsSWCI {
  text-decoration: underline;
}

.resources-and-projects .span3-KsSWCI {
}

.resources-and-projects .buttonsecondary-wHWxLh {
  gap: 8px;
}

.resources-and-projects .arrow-x0iiVt {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-194-pjck3o {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  position: relative;
  width: 100%;
}

.resources-and-projects .contact-us-xLbBxF {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 23px;
  padding: 30px;
  position: relative;
}

.resources-and-projects .frame-197-fkVzgQ {
  flex-direction: column;
  gap: 15px;
}

.resources-and-projects .questions-YPexrj {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -0.83px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450.8348693847656px;
}

.resources-and-projects .please-reach-out-wit-YPexrj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-xuGT6R {
}

.resources-and-projects .span1-xuGT6R {
  text-decoration: underline;
}

.resources-and-projects .span2-xuGT6R {
}

.resources-and-projects .socials-fkVzgQ {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.resources-and-projects .mastodon-PFBlx9 {
  height: 32px;
  width: 32px;
}

.resources-and-projects .twitter-PFBlx9 {
  height: 32px;
  width: 32.05859375px;
}

.resources-and-projects .you-tube-PFBlx9 {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.05859375px;
}

.resources-and-projects .github-PFBlx9 {
  height: 28px;
  width: 28.052734375px;
}

.resources-and-projects .who-we-are-xLbBxF {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 13px;
  padding: 30px;
  position: relative;
}

.resources-and-projects .frame-197-x2ixxx {
  flex-direction: column;
  gap: 15px;
}

.resources-and-projects .contribute-on-git-hub-rliSEk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .this-site-was-last-p-rliSEk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-LUWRWn {
}

.resources-and-projects .span1-LUWRWn {
  text-decoration: underline;
}

.resources-and-projects .span2-LUWRWn {
}

.resources-and-projects .github-rliSEk {
  height: 74px;
  width: 137px;
}

.resources-and-projects .buttongithub-aKnDt5 {
  top: 40px;
}

.resources-and-projects .icongithubissue-5Ij4mF {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}

.resources-and-projects .buttongithub-CYBL41 {
  top: 0px;
}

.resources-and-projects .icongithubedit-b6zALw {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}

.resources-and-projects .navheader-xqb7lB {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  left: 0px;
  padding: 30px 60px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.resources-and-projects .content-NrIDWa {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.resources-and-projects .logo-title-NAixyj {
  width: 426px;
}

.resources-and-projects .foundation-for-public-code-5raxEt {
  flex: 1;
}

.resources-and-projects .navigation-NAixyj {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.resources-and-projects .links-0ZQniN {
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
}

.resources-and-projects .stewardship-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .resources-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .who-we-are-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .join-us-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .services-0ZQniN {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.resources-and-projects .mastodon-uKWJ4F {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.resources-and-projects .twitter-uKWJ4F {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.resources-and-projects .github-uKWJ4F {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.resources-and-projects .footer-xqb7lB {
  align-items: center;
  align-self: stretch;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.resources-and-projects .logo-title-LwDHpZ {
  align-self: stretch;
  flex: 0 0 auto;
  padding: 0px 80px;
  width: 100%;
}

.resources-and-projects .foundation-for-public-code-ySjJ2Q {
  width: 349px;
}

.resources-and-projects .block-trio-LwDHpZ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.resources-and-projects .about-us-xKhOjx {
  align-items: center;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
}

.resources-and-projects .content-iOYk7m {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .about-us-zcIY8h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.resources-and-projects .flex-container-i3190526585932298-zcIY8h {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-i3190526585932298-L57d0a {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-XkASt8 {
}

.resources-and-projects .text1-i3190526585932298-L57d0a {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-wt4u8j {
}

.resources-and-projects .links-iOYk7m {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.resources-and-projects .how-we-work-uTlwje {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.resources-and-projects .project-resources-xKhOjx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.resources-and-projects .content-u5Z62J {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .project-resources-e7kfxw {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.resources-and-projects .open-products-were-r-e7kfxw {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .links-u5Z62J {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .free-to-use-and-modify-VF9rVy {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.resources-and-projects .careers-xKhOjx {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 30px;
}

.resources-and-projects .content-b3XgnA {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .careers-hJPBN5 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.resources-and-projects .calling-all-publicly-hJPBN5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .links-b3XgnA {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.resources-and-projects .open-positions-9MFSLx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.resources-and-projects .information-LwDHpZ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  max-width: 1160px;
  position: relative;
  width: 100%;
}

.resources-and-projects .contact-faV5rt {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 373px;
}

.resources-and-projects .contact-sDSGaY {
  align-self: stretch;
  letter-spacing: 0.00px;
  line-height: 26px;
  margin-top: -1.00px;
  text-align: left;
}

.resources-and-projects .contact-info-sDSGaY {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  margin-right: -15.00px;
  position: relative;
  width: 388px;
}

.resources-and-projects .newsletter-hHfGTS {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.resources-and-projects .newsletter-XL7A0P {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.resources-and-projects .join-our-mailing-list-XL7A0P {
  background-color: transparent;
  cursor: pointer;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.resources-and-projects .phone-hHfGTS {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.resources-and-projects .phone-QxApGy {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.resources-and-projects .x31-20-2-444-500-QxApGy {
  background-color: transparent;
  cursor: pointer;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.resources-and-projects .email-hHfGTS {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.resources-and-projects .email-22jGZq {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.resources-and-projects .infopubliccodenet-22jGZq {
  background-color: transparent;
  cursor: pointer;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.resources-and-projects .address-hHfGTS {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  width: 100%;
}

.resources-and-projects .address-lBwZwK {
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
  width: 90px;
}

.resources-and-projects .content-lBwZwK {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
}

.resources-and-projects .keizersgracht-617-10-yqo4bE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 240px;
}

.resources-and-projects .links-yqo4bE {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
}

.resources-and-projects .open-street-map-jXFwj2 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .x-jXFwj2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .google-jXFwj2 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .organization-faV5rt {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.resources-and-projects .notes-DT2m9t {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.resources-and-projects .organizational-notes-zAyukH {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .flex-container-i3190526585932358-zAyukH {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-i3190526585932358-ZCKWrv {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-LIdYPA {
}

.resources-and-projects .span1-LIdYPA {
  text-decoration: underline;
}

.resources-and-projects .span2-LIdYPA {
}

.resources-and-projects .span3-LIdYPA {
  text-decoration: underline;
}

.resources-and-projects .span4-LIdYPA {
}

.resources-and-projects .text1-i3190526585932358-ZCKWrv {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span5-YPw2N5 {
}

.resources-and-projects .span6-YPw2N5 {
  text-decoration: underline;
}

.resources-and-projects .span7-YPw2N5 {
}

.resources-and-projects .span8-YPw2N5 {
  text-decoration: underline;
}

.resources-and-projects .span9-YPw2N5 {
}

.resources-and-projects .metadata-DT2m9t {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.resources-and-projects .updated-1FPypz {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.resources-and-projects .iconupdated-q8DGwc {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.resources-and-projects .last-updated-22-august-2023-q8DGwc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.resources-and-projects .copyright-1FPypz {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.resources-and-projects .text_label-ht31pv {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .x2023-foundation-for-public-code-ht31pv {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 299px;
}

.resources-and-projects .span0-cruP95 {
}

.resources-and-projects .span1-cruP95 {
  text-decoration: underline;
}

.resources-and-projects .license-1FPypz {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.resources-and-projects .iconlicense-1gXlnD {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.resources-and-projects .creative-commons-zero-v10-universal-1gXlnD {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.resources-and-projects .arrow {
  background-color: transparent;
  position: relative;
}

.resources-and-projects .buttonsecondary {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.resources-and-projects .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.resources-and-projects .div {
  align-self: stretch;
  background-color: transparent;
  height: 2px;
  position: relative;
  width: 100%;
}

.resources-and-projects .frame-195 {
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.resources-and-projects .frame-197 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.resources-and-projects .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.6640625px;
}

.resources-and-projects .module {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
}

.resources-and-projects .union {
  background-color: transparent;
  position: absolute;
}
