/* screen - resources-and-projects */

.resources-and-projects {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.resources-and-projects .header-xqb7lB {
  background-color: transparent;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.resources-and-projects .base-E3EZB4 {
  background: linear-gradient(180deg, rgb(243.1131586432457, 198.00266325473785, 156.36226326227188) 0%, rgb(253.0000001192093, 187.00000405311584, 171.00000500679016) 100%);
  background-color: transparent;
  box-shadow: inset -200px 250px 200px #fdbbab;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.resources-and-projects .bg-E3EZB4 {
  background-color: transparent;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.resources-and-projects .service-3-E3EZB4 {
  background-color: transparent;
  height: 584px;
  left: 736px;
  position: absolute;
  top: 116px;
  width: 680px;
}

.resources-and-projects .headline-E3EZB4 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 180px;
  position: absolute;
  top: 250px;
  width: 525px;
}

.resources-and-projects .title-mJ8yXu {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .we-built-these-openl-mJ8yXu {
  align-self: stretch;
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.resources-and-projects .buttonsecondary-mJ8yXu {
  gap: 15px;
}

.resources-and-projects .arrow-xrxpur {
  height: 15.2392578125px;
  margin-right: -6.23px;
  width: 12.46875px;
}

.resources-and-projects .home-resources-and-projects-E3EZB4 {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 174px;
  width: 567px;
}

.resources-and-projects .span0-6JYy3k {
  text-decoration: underline;
}

.resources-and-projects .span1-6JYy3k {
}

.resources-and-projects .frame-195-xqb7lB {
  align-items: center;
  flex-direction: column;
  gap: 60px;
  width: 1080px;
}

.resources-and-projects .frame-195-pjck3o {
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.resources-and-projects .current-projects-ItiCnI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .we-rely-on-these-res-ItiCnI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .frame-195-ItiCnI {
  align-items: flex-start;
  align-self: stretch;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.resources-and-projects .module-jxWmQ0 {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-UcssRO {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .the-standard-for-public-code-uvx9WF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .flex-container-30972759-uvx9WF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972759-TfEHOm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-pd3D7K {
}

.resources-and-projects .text1-30972759-TfEHOm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-Km4iiZ {
}

.resources-and-projects .buttonsecondary-UcssRO {
  gap: 8px;
}

.resources-and-projects .arrow-Xt2jae {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-jqfsYn {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-Y2cj1q {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .governance-game-InS7RF {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .flex-container-30972763-InS7RF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972763-kRjtsJ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-mQm72Y {
}

.resources-and-projects .text1-30972763-kRjtsJ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-7DjwbA {
}

.resources-and-projects .buttonsecondary-Y2cj1q {
  gap: 8px;
}

.resources-and-projects .arrow-82uXd6 {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-196-ItiCnI {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.resources-and-projects .module-1LJHbh {
  align-self: stretch;
  width: 340px;
}

.resources-and-projects .content-8yYcnN {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .our-podcast-lets-talk-about-public-code-XMiCd0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .flex-container-31903044-XMiCd0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903044-rmXLmF {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-DBXsww {
  letter-spacing: 0.00px;
}

.resources-and-projects .span1-DBXsww {
  letter-spacing: -0.24px;
}

.resources-and-projects .text1-31903044-rmXLmF {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span2-pIzvAn {
  letter-spacing: 0.00px;
}

.resources-and-projects .buttonsecondary-8yYcnN {
  gap: 8px;
}

.resources-and-projects .arrow-kRLK5f {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-LgDpxp {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-DhiZGJ {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .ospo-alliance-and-ospo-zone-tmSdGz {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .flex-container-31903049-tmSdGz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903049-TvUVz2 {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-00aqgX {
  letter-spacing: -0.16px;
}

.resources-and-projects .text1-31903049-TvUVz2 {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-ONJ6pu {
  letter-spacing: 0.00px;
}

.resources-and-projects .text2-31903049-TvUVz2 {
  align-self: stretch;
  background-color: transparent;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span2-d2fy17 {
  letter-spacing: 0.00px;
}

.resources-and-projects .buttonsecondary-DhiZGJ {
  gap: 8px;
}

.resources-and-projects .arrow-UTqBVi {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-197-ItiCnI {
  gap: 30px;
  justify-content: center;
}

.resources-and-projects .module-vxHe88 {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-ByvWx1 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .bumperscripter-fhzxtT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .flex-container-31903059-fhzxtT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903059-ciJT3u {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-Z0J1xK {
}

.resources-and-projects .text1-31903059-ciJT3u {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-YoJfRA {
}

.resources-and-projects .buttonsecondary-ByvWx1 {
  gap: 8px;
}

.resources-and-projects .arrow-LhySgv {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-JCEyfo {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-CKy4OB {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .url-check-dyAz44 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.resources-and-projects .flex-container-31903064-dyAz44 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-31903064-dBEFsx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-BAE7td {
}

.resources-and-projects .text1-31903064-dBEFsx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -14.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-GTkCmS {
}

.resources-and-projects .span2-GTkCmS {
  text-decoration: underline;
}

.resources-and-projects .span3-GTkCmS {
}

.resources-and-projects .buttonsecondary-CKy4OB {
  gap: 8px;
}

.resources-and-projects .span0-45GlIZ {
}

.resources-and-projects .span1-45GlIZ {
}

.resources-and-projects .span2-45GlIZ {
}

.resources-and-projects .arrow-FVaTNH {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-195-dLubJo {
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.resources-and-projects .past-projects-4D9xE5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .though-our-involveme-4D9xE5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.resources-and-projects .cluster-4D9xE5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.resources-and-projects .module-RQi3q9 {
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-V0kOrs {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .flex-container-30972773-z6nPvk {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972773-7cWKAQ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-AzispY {
}

.resources-and-projects .text1-30972773-7cWKAQ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-8H7BSG {
}

.resources-and-projects .flex-container-30972774-z6nPvk {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972774-tdXdqb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-q8zKtx {
}

.resources-and-projects .text1-30972774-tdXdqb {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-bGRxLL {
}

.resources-and-projects .buttonsecondary-V0kOrs {
  gap: 8px;
}

.resources-and-projects .arrow-RSAo4y {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .module-qYaelR {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
}

.resources-and-projects .content-wHWxLh {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .flex-container-30972776-Pziulg {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972776-k8RECa {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-k4QS0H {
}

.resources-and-projects .text1-30972776-k8RECa {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-Fet7OI {
}

.resources-and-projects .flex-container-30972777-Pziulg {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972777-jxBq5m {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-xKzd0H {
}

.resources-and-projects .text1-30972777-jxBq5m {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span1-KsSWCI {
}

.resources-and-projects .span2-KsSWCI {
  text-decoration: underline;
}

.resources-and-projects .span3-KsSWCI {
}

.resources-and-projects .buttonsecondary-wHWxLh {
  gap: 8px;
}

.resources-and-projects .arrow-x0iiVt {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .frame-194-pjck3o {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  position: relative;
  width: 100%;
}

.resources-and-projects .contact-us-xLbBxF {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 23px;
  padding: 30px;
  position: relative;
}

.resources-and-projects .frame-197-fkVzgQ {
  flex-direction: column;
  gap: 15px;
}

.resources-and-projects .questions-YPexrj {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -0.83px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450.8348693847656px;
}

.resources-and-projects .please-reach-out-wit-YPexrj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-xuGT6R {
}

.resources-and-projects .span1-xuGT6R {
  text-decoration: underline;
}

.resources-and-projects .span2-xuGT6R {
}

.resources-and-projects .socials-fkVzgQ {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.resources-and-projects .mastodon-PFBlx9 {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.resources-and-projects .twitter-PFBlx9 {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.05936813354492px;
}

.resources-and-projects .you-tube-PFBlx9 {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.05936813354492px;
}

.resources-and-projects .github-PFBlx9 {
  height: 28px;
  width: 28.052734375px;
}

.resources-and-projects .who-we-are-xLbBxF {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 13px;
  padding: 30px;
  position: relative;
}

.resources-and-projects .frame-197-x2ixxx {
  flex-direction: column;
  gap: 15px;
}

.resources-and-projects .contribute-on-git-hub-rliSEk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .this-site-was-last-p-rliSEk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-LUWRWn {
}

.resources-and-projects .span1-LUWRWn {
  text-decoration: underline;
}

.resources-and-projects .span2-LUWRWn {
}

.resources-and-projects .github-rliSEk {
  height: 74px;
  width: 137px;
}

.resources-and-projects .buttongithub-aKnDt5 {
  top: 40px;
}

.resources-and-projects .icongithubissue-5Ij4mF {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}

.resources-and-projects .buttongithub-CYBL41 {
  top: 0px;
}

.resources-and-projects .icongithubedit-b6zALw {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}

.resources-and-projects .navheader-xqb7lB {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  left: 0px;
  padding: 30px 60px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.resources-and-projects .content-NrIDWa {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.resources-and-projects .logo-title-NAixyj {
  width: 426px;
}

.resources-and-projects .foundation-for-public-code-5raxEt {
  flex: 1;
}

.resources-and-projects .navigation-NAixyj {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.resources-and-projects .links-0ZQniN {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.resources-and-projects .stewardship-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .resources-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .who-we-are-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .join-us-9eHMwY {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.resources-and-projects .services-0ZQniN {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.resources-and-projects .logomastodon-uKWJ4F {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}

.resources-and-projects .subtract-Ah55yZ {
  background-color: transparent;
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 22px;
}

.resources-and-projects .logotwitter-uKWJ4F {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.resources-and-projects .logogithub-uKWJ4F {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.resources-and-projects .footer-xqb7lB {
  align-items: center;
  align-self: stretch;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.resources-and-projects .logo-title-LwDHpZ {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.resources-and-projects .foundation-for-public-code-ySjJ2Q {
  width: 349px;
}

.resources-and-projects .frame-217-LwDHpZ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.resources-and-projects .blocks-tFdAwM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.resources-and-projects .about-us-WAQP7b {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.resources-and-projects .content-4xg893 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .our-operational-details-NQXP2O {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .our-staff-informatio-NQXP2O {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .buttonsecondary-4xg893 {
  cursor: pointer;
  gap: 8px;
}

.resources-and-projects .arrow-aJFJB2 {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .project-resources-WAQP7b {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.resources-and-projects .content-07XdZg {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .project-resources-s60kRA {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.resources-and-projects .open-products-were-r-s60kRA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .buttonsecondary-07XdZg {
  cursor: pointer;
  gap: 8px;
}

.resources-and-projects .arrow-wy4JkH {
  height: 12.46875px;
  margin-right: -0.85px;
  width: 15.23828125px;
}

.resources-and-projects .information-tFdAwM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.resources-and-projects .div-VlZT7n {
  margin-top: -2.00px;
}

.resources-and-projects .contact-VlZT7n {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.resources-and-projects .contact-info-8F9hlL {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.resources-and-projects .frame-218-NT8U9p {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.resources-and-projects .phone-31-20-2-444-500-1xVvTc {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-UJFbWC {
}

.resources-and-projects .span1-UJFbWC {
  text-decoration: underline;
}

.resources-and-projects .email-infopubliccodenet-1xVvTc {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-LNyYEW {
}

.resources-and-projects .span1-LNyYEW {
  text-decoration: underline;
}

.resources-and-projects .keizersgracht-617-10-NT8U9p {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-C3rQc5 {
}

.resources-and-projects .span1-C3rQc5 {
  text-decoration: underline;
}

.resources-and-projects .span2-C3rQc5 {
}

.resources-and-projects .span3-C3rQc5 {
  text-decoration: underline;
}

.resources-and-projects .notes-VlZT7n {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.resources-and-projects .flex-container-i3381613733815548-xfQeGY {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-i3381613733815548-FZytRi {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span0-UVx7zY {
}

.resources-and-projects .span1-UVx7zY {
  text-decoration: underline;
}

.resources-and-projects .span2-UVx7zY {
}

.resources-and-projects .span3-UVx7zY {
  text-decoration: underline;
}

.resources-and-projects .span4-UVx7zY {
}

.resources-and-projects .text1-i3381613733815548-FZytRi {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.resources-and-projects .span5-xgDe96 {
}

.resources-and-projects .span6-xgDe96 {
  text-decoration: underline;
}

.resources-and-projects .span7-xgDe96 {
}

.resources-and-projects .span8-xgDe96 {
  text-decoration: underline;
}

.resources-and-projects .span9-xgDe96 {
}

.resources-and-projects .metadata-VlZT7n {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.resources-and-projects .updated-xIxm9x {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.resources-and-projects .iconupdated-1Dl0Rj {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.resources-and-projects .last-updated-22-august-2023-1Dl0Rj {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.resources-and-projects .copyright-xIxm9x {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.resources-and-projects .image-J4B40y {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.resources-and-projects .x2023-foundation-for-public-code-J4B40y {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.resources-and-projects .span0-bdROyp {
}

.resources-and-projects .span1-bdROyp {
  text-decoration: underline;
}

.resources-and-projects .license-xIxm9x {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.resources-and-projects .iconlicense-Yst4Vs {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.resources-and-projects .creative-commons-zero-v10-universal-Yst4Vs {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.resources-and-projects .arrow {
  background-color: transparent;
  position: relative;
}

.resources-and-projects .buttonsecondary {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.resources-and-projects .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.resources-and-projects .div {
  align-self: stretch;
  background-color: transparent;
  height: 2px;
  position: relative;
  width: 100%;
}

.resources-and-projects .frame-195 {
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.resources-and-projects .frame-197 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.resources-and-projects .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.6640625px;
}

.resources-and-projects .module {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: relative;
}
