/* screen - resources-and-projects */

.resources-and-projects {
  align-items: center;
  background-color: var(--fpcwhite);
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.resources-and-projects .header {
  background: linear-gradient(180deg, rgb(243.11, 198, 156.36) 0%, rgb(253, 187, 171) 100%);
  background-color: transparent;
  background-image: url(../img/bg.png);
  background-size: 100% 100%;
  box-shadow: inset -200px 250px 200px #fdbbab;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.resources-and-projects .overlap-group6 {
  height: 680px;
  left: 180px;
  position: relative;
  top: 116px;
  width: 1236px;
}

.resources-and-projects .overlap-group5 {
  height: 680px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1236px;
}

.resources-and-projects .service-3 {
  align-items: flex-start;
  display: flex;
  height: 680px;
  left: 556px;
  overflow: hidden;
  padding: 63.1px 0;
  position: absolute;
  top: 0;
  width: 680px;
}

.resources-and-projects .overlap-group4 {
  height: 521px;
  position: relative;
  width: 610px;
}

.resources-and-projects .group {
  height: 521px;
  left: 0;
  position: absolute;
  top: 0;
  width: 507px;
}

.resources-and-projects .union {
  height: 316px;
  left: 293px;
  position: absolute;
  top: 4px;
  width: 316px;
}

.resources-and-projects .wrench {
  align-items: flex-end;
  display: flex;
  height: 219px;
  justify-content: flex-end;
  left: 409px;
  min-width: 64px;
  position: absolute;
  top: 113px;
  transform: rotate(-105.00deg);
}

.resources-and-projects .overlap-group {
  height: 233px;
  margin-bottom: -11.38px;
  position: relative;
  width: 147px;
}

.resources-and-projects .union-1 {
  height: 95px;
  left: -34px;
  position: absolute;
  top: 69px;
  transform: rotate(105.00deg);
  width: 216px;
}

.resources-and-projects .rectangle {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 156px;
  left: 58px;
  position: absolute;
  top: 60px;
  width: 16px;
}

.resources-and-projects .union-2 {
  height: 169px;
  left: 352px;
  position: absolute;
  top: 352px;
  width: 196px;
}

.resources-and-projects .screwdriver {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  left: 433px;
  min-height: 220px;
  padding: 0.0px 0;
  position: absolute;
  top: 8px;
  transform: rotate(90.00deg);
  width: 50px;
}

.resources-and-projects .rectangle-1 {
  height: 39px;
  margin-left: -30.15px;
  margin-top: 36px;
  transform: rotate(-90.00deg);
  width: 111px;
}

.resources-and-projects .overlap-group2 {
  height: 116px;
  margin-left: 0;
  position: relative;
  width: 50px;
}

.resources-and-projects .overlap-group1 {
  height: 109px;
  left: 14px;
  position: absolute;
  top: 7px;
  width: 23px;
}

.resources-and-projects .rectangle-2 {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 86px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 5px;
}

.resources-and-projects .rectangle-3 {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 86px;
  left: 18px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.resources-and-projects .rectangle-4 {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 86px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.resources-and-projects .rectangle-5 {
  height: 16px;
  left: -42px;
  position: absolute;
  top: 46px;
  transform: rotate(-90.00deg);
  width: 109px;
}

.resources-and-projects .rectangle-6 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 89px;
  transform: rotate(-90.00deg);
  width: 23px;
}

.resources-and-projects .rectangle-7 {
  background-color: var(--turbo);
  border-radius: 16.19px;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.resources-and-projects .bolt-ortho {
  align-items: flex-start;
  display: flex;
  height: 51px;
  left: 468px;
  min-width: 58px;
  padding: 0 0.9px;
  position: absolute;
  top: 457px;
  transform: rotate(-105.00deg);
}

.resources-and-projects .subtract {
  height: 56px;
  margin-top: -2.74px;
  transform: rotate(105.00deg);
  width: 56px;
}

.resources-and-projects .nut {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 402px;
  min-height: 78px;
  padding: 0.0px 0;
  position: absolute;
  top: 382px;
  transform: rotate(-120.35deg);
  width: 57px;
}

.resources-and-projects .overlap-group3 {
  align-items: flex-start;
  background-color: var(--fpcyellow);
  border-radius: 1.62px;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  min-width: 57px;
  padding: 0 14.8px;
}

.resources-and-projects .rectangle-8 {
  background-color: var(--turbo);
  border-radius: 1.62px;
  height: 15px;
  width: 28px;
}

.resources-and-projects .rectangle-9 {
  height: 52px;
  margin-left: -3.64px;
  transform: rotate(120.35deg);
  width: 66px;
}

.resources-and-projects .home-resources-and-projects {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
  width: 567px;
}

.resources-and-projects .headline {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 0;
  position: absolute;
  top: 134px;
  width: 525px;
}

.resources-and-projects .title {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .we-built-these-openl {
  align-self: stretch;
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
}

.resources-and-projects .buttonsecondary-2 {
  gap: 15px;
  padding: 0px 6px 0px 0px;
}

.resources-and-projects .text-2 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.resources-and-projects .arrow-2 {
  height: 15.24px;
  margin-right: -6.23px;
  position: relative;
  width: 12.47px;
}

.resources-and-projects .frame-195-1 {
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding: 0px 0px 60px;
  width: 1080px;
}

.resources-and-projects .frame-195 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.resources-and-projects .current-projects {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .we-rely-on-these-res {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.resources-and-projects .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.resources-and-projects .frame-195-2 {
  align-items: flex-start;
  align-self: stretch;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.resources-and-projects .module {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  padding: 30px 45px 30px 30px;
  position: relative;
}

.resources-and-projects .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.resources-and-projects .the-standard-for-public-code {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resources-and-projects .text0-30972759 {
  line-height: 24px;
}

.resources-and-projects .text1-30972759 {
  line-height: 24px;
}

.resources-and-projects .buttonsecondary {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.resources-and-projects .text-3 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.resources-and-projects .arrow {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.resources-and-projects .content-1 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .governance-game {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources-and-projects .text0-30972763 {
  line-height: 24px;
}

.resources-and-projects .text1-30972763 {
  line-height: 24px;
}

.resources-and-projects .text-4 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.resources-and-projects .frame-196 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.resources-and-projects .module-1 {
  align-self: stretch;
  border-color: var(--charcoal);
  padding: 30px;
  width: 340px;
}

.resources-and-projects .content-2 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .our-podcast-lets {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .text {
  align-self: stretch;
  line-height: 24px;
  position: relative;
}

.resources-and-projects .span-2 {
  letter-spacing: 0;
}

.resources-and-projects .span1 {
  letter-spacing: -0.04px;
}

.resources-and-projects .text-5 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.resources-and-projects .content-3 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .ospo-alliance-and-ospo-zone {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources-and-projects .span0 {
  letter-spacing: -0.03px;
}

.resources-and-projects .text-6 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.resources-and-projects .frame-197 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.resources-and-projects .content-4 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .bumperscripter {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .text0-31903059 {
  line-height: 24px;
}

.resources-and-projects .text1-31903059 {
  line-height: 24px;
}

.resources-and-projects .content-5 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .url-check {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources-and-projects .text0-31903064 {
  line-height: 24px;
}

.resources-and-projects .text1-31903064 {
  line-height: 24px;
  margin-bottom: -14.00px;
}

.resources-and-projects .div {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.resources-and-projects .past-projects {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .though-our-involveme {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.resources-and-projects .cluster {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.resources-and-projects .module-2 {
  border-color: var(--fpcblack);
  flex: 1;
  flex-grow: 1;
  padding: 30px 45px 30px 30px;
}

.resources-and-projects .content-6 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .text0-30972773 {
  line-height: normal;
}

.resources-and-projects .text1-30972773 {
  line-height: normal;
}

.resources-and-projects .text0-30972774 {
  line-height: normal;
}

.resources-and-projects .text1-30972774 {
  line-height: normal;
}

.resources-and-projects .arrow-1 {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.resources-and-projects .module-3 {
  align-self: stretch;
  border-color: var(--fpcblack);
  flex: 1;
  flex-grow: 1;
  padding: 30px 45px 30px 30px;
}

.resources-and-projects .content-7 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .text0-30972776 {
  line-height: normal;
}

.resources-and-projects .text1-30972776 {
  line-height: normal;
}

.resources-and-projects .text0-30972777 {
  line-height: normal;
}

.resources-and-projects .text1-30972777 {
  line-height: normal;
}

.resources-and-projects .frame-194 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 60px;
  width: 100%;
}

.resources-and-projects .frame-197-1 {
  align-items: flex-start;
}

.resources-and-projects .icon {
  background-image: url(../img/icon-github-issue.svg);
  background-size: 100% 100%;
  height: 14px;
  position: relative;
  width: 14px;
}

.resources-and-projects .icon-1 {
  background-image: url(../img/icon-github-edit-2.svg);
  background-size: 100% 100%;
  height: 14px;
  position: relative;
  width: 14px;
}

.resources-and-projects .connect {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.resources-and-projects .contact {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
  position: relative;
}

.resources-and-projects .frame-197-2 {
  align-items: center;
  max-width: 520px;
}

.resources-and-projects .connect-with-us {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.resources-and-projects .logo {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.resources-and-projects .subtract-1 {
  height: 32px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 30px;
}

.resources-and-projects .subtract-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 32px;
}

.resources-and-projects .mailing-list {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 217px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 217px;
}

.resources-and-projects .buttonprimary {
  align-items: center;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.resources-and-projects .navheader {
  align-items: center;
  display: flex;
  justify-content: space-around;
  left: 0;
  padding: 30px 60px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.resources-and-projects .content-8 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.resources-and-projects .logo-lockup {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.resources-and-projects .logo-symbol {
  height: 55px;
  position: relative;
  width: 47.66px;
}

.resources-and-projects .foundation-for-public-code {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 365.34px;
}

.resources-and-projects .navigation {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.resources-and-projects .links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 25px 25px;
  justify-content: flex-end;
  position: relative;
}

.resources-and-projects .link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.resources-and-projects .services {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.resources-and-projects .logo-1 {
  height: 24px;
  position: relative;
  width: 24px;
}

.resources-and-projects .subtract-3 {
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 22px;
}

.resources-and-projects .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcmachine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.resources-and-projects .logo-lockup-1 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
  width: 100%;
}

.resources-and-projects .foundation-for-public-code-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.resources-and-projects .frame-217 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  width: 100%;
}

.resources-and-projects .blocks {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.resources-and-projects .blocks-item {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.resources-and-projects .content-9 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .buttonsecondary-1 {
  cursor: pointer;
  gap: 8px;
}

.resources-and-projects .text-11 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.resources-and-projects .content-10 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.resources-and-projects .text-12 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.resources-and-projects .information {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.resources-and-projects .information-item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.resources-and-projects .contact-info {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.resources-and-projects .frame-218 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.resources-and-projects .keizersgracht-617-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .text-1 {
  align-self: stretch;
  line-height: 20px;
}

.resources-and-projects .image {
  height: 14.46px;
  position: relative;
  width: 14.46px;
}

.resources-and-projects .address {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.resources-and-projects .buttonsecondary-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.resources-and-projects .content-11 {
  display: flex;
  position: relative;
}

.resources-and-projects .div-6 {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.resources-and-projects .frame-1 {
  display: flex;
  position: relative;
}

.resources-and-projects .frame-195-3 {
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.resources-and-projects .frame-197-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.resources-and-projects .module-4 {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.resources-and-projects .text-13 {
  letter-spacing: 0;
  position: relative;
}

.resources-and-projects .text0 {
  align-self: stretch;
  letter-spacing: 0;
  position: relative;
}

.resources-and-projects .text1 {
  align-self: stretch;
  letter-spacing: 0;
  position: relative;
}
