/* screen - section */

.section {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0px;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.section .header-rBSlw3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.section .title-hxou5o {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.section .were-helping-build-p-hxou5o {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.section .cards-rBSlw3 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  overflow: hidden;
  padding: 0px 115px 0px 0px;
  position: relative;
  width: 1080px;
}

.section .card-EpRBrw {
  align-items: flex-end;
  flex: 1;
  flex-grow: 1;
  height: 350px;
  justify-content: space-between;
  position: relative;
}

.section .icons-kO8wEF {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.section .diia-logo-1-RPy5kq {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.section .x250-1-RPy5kq {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.section .diia-kO8wEF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.section .groundbreaking-mobil-kO8wEF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.section .card-kuCU4u {
  align-items: flex-end;
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.section .govuk_icon-1-OS7UOY {
  background-color: transparent;
  height: 72px;
  object-fit: cover;
  position: relative;
  width: 72px;
}

.section .notify-OS7UOY {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.section .text-message-service-OS7UOY {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.section .buttonsecondary-xCVx4p {
  cursor: pointer;
}

.section .card-2b9lB9 {
  align-items: flex-start;
  gap: 15px;
  height: 350px;
  position: absolute;
  right: -315px;
  top: 0px;
  width: 415px;
}

.section .iconappspacecraft-NIl1Bp {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 70px;
}

.section .space-craft-NIl1Bp {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.section .space-craft-is-worki-NIl1Bp {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-right: -60.00px;
  position: relative;
  text-align: left;
  width: 415px;
}

.section .scrim-EpRBrw {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
}

.section .arrow-cluster {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.section .buttonsecondary {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 0px 6px 0px 0px;
  position: relative;
}

.section .card {
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  padding: 30px;
}

.section .content {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.section .text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}
