:root { 
  --basic-link: #007fff;
  --bittersweet: #ff6565;
  --charcoal: #333333;
  --fpcbasic-link: #007fff;
  --fpcblack: #000000;
  --fpcblack-50: #00000080;
  --fpcblue: #56ccf2;
  --fpcblue25: #56ccf240;
  --fpccharcoal: #333333;
  --fpcgreen: #00ba8d;
  --fpcgreendark: #109c7a;
  --fpcgrey-e5: #e5e5e5;
  --fpcgrey-f2: #f2f2f2;
  --fpcmachine-grey: #f2f2f2;
  --fpcmachine-grey-dark: #cccccc;
  --fpcmachine-grey-darker: #bbbbbb;
  --fpcmachine-grey-light: #f9f9f9;
  --fpcpeach: #fdbbab;
  --fpcpurple: #5b57ca;
  --fpcpurple25: #5b57ca40;
  --fpcwhite: #ffffff;
  --fpcyellow: #fff500;
  --green: #00ba8d;
  --light-grey: #c4c4c4;
  --machine-grey: #f2f2f2;
  --machine-grey-light: #f9f9f9;
  --red: #ff0000;
  --red-2: #ff0f00;
  --turbo: #f3e900;
  --white: #ffffff;
  --yellow-sunshine: #fff4001a;
  --yellow-sunshine-2: #fff400de;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 27px;
  --font-size-xxxxl: 32px;
 
  --font-family-ibm_plex_serif: "IBM Plex Serif", Helvetica;
  --font-family-mulish: "Mulish", Helvetica;
}
.mulish-normal-black-14px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.mulish-normal-black-16px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-azure-radiance-16px {
  color: var(--basic-link);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.mulish-bold-black-24px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-black-20px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.mulish-normal-mine-shaft-16px {
  color: var(--charcoal);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-black-16px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-azure-radiance-14px {
  color: var(--basic-link);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-black-32px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-azure-radiance-16px {
  color: var(--basic-link);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-normal-white-16px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-medium-black-16px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.mulish-bold-mine-shaft-16px {
  color: var(--charcoal);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-red-14px {
  color: var(--red);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.mulish-normal-white-14px {
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.mulish-normal-white-16px-2 {
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-black-20px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-mine-shaft-14px {
  color: var(--charcoal);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-black-27px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.mulish-bold-white-16px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.mulish-semi-bold-black-16px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.mulish-normal-black-16px-2 {
  color: var(--fpcblack-50);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-black-20px-2 {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-black-16px-3 {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-azure-radiance-18px {
  color: var(--basic-link);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.mulish-semi-bold-white-16px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.mulish-bold-white-32px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-azure-radiance-16px-2 {
  color: var(--basic-link);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-white-24px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.mulish-bold-black-14px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.ibmplexserif-normal-mine-shaft-20px {
  color: var(--charcoal);
  font-family: var(--font-family-ibm_plex_serif);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 400;
}

.mulish-normal-azure-radiance-18px {
  color: var(--basic-link);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-white-18px {
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-white-20px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.mulish-normal-black-16px-4 {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 400;
}

.mulish-bold-gossamer-16px {
  color: var(--fpcgreendark);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.mulish-bold-white-16px-2 {
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.mulish-semi-bold-mine-shaft-14px {
  color: var(--charcoal);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.mulish-bold-black-18px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-mine-shaft-20px {
  color: var(--charcoal);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-black-48px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.mulish-medium-black-20px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.mulish-bold-azure-radiance-16px-2 {
  color: var(--basic-link);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-red-16px {
  color: var(--red);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mulish-semi-bold-black-14px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.mulish-bold-white-14px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.mulish-normal-white-15px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.mulish-bold-red-32px {
  color: var(--red);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.mulish-medium-black-14px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.mulish-bold-white-27px {
  color: var(--fpcwhite);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.mulish-semi-bold-black-20px {
  color: var(--fpcblack);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.mulish-normal-red-32px {
  color: var(--red);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

:root {
}
