/* screen - team-matthew-claudel-u40desktopu41-all-breakpoints */

.team-matthew-claudel-u40desktopu41-all-breakpoints {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  min-width: 1140px;
  overflow: hidden;
  position: relative;
  top: 0px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .nav-QXTDxM {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .navheader-xS0SFs {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .content-fylXTP {
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .logo-lockup-FZsZhf {
  display: inline-flex;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .foundation-for-public-code-nlur6e {
  width: 365.33685302734375px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .navigation-FZsZhf {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .links-0DJB1N {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-end;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .public-code-6FYgOe {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .public-product-orgs-6FYgOe {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .the-standard-6FYgOe {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .team-6FYgOe {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .nav-button-6FYgOe {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .support-us-JwTgzd {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .main-QXTDxM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
  position: relative;
  width: 1120px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .breadcrumbs-41TkSS {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .home-zSfvPw {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .layer-2-zSfvPw {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .layer-3-zSfvPw {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .card-41TkSS {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: flex-end;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .matthew-claudel-XSvH7c {
  background-color: transparent;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 350px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .frame-272-XSvH7c {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .frame-276-bY4uPa {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .title-bboZXS {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .strategy-north-america-bboZXS {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .matthewpubliccodenet-bboZXS {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .flex-container-445817411-bY4uPa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .text0-445817411-1z6PHT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span0-xxQx5R {
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .text1-445817411-1z6PHT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span1-V4Is3T {
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .text2-445817411-1z6PHT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span2-xMXeFi {
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .footer-QXTDxM {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .content-EO6AmL {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .logo-lockup-j6xAut {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .foundation-for-public-code-7lA8GL {
  flex: 1;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .information-j6xAut {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .contact-GRv4XW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .email-pjUNxV {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .email-us-4KB2FH {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .buttonprimary-4KB2FH {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .text-r95toc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .arrow-cluster-r95toc {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .mailing-list-pjUNxV {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .connect-with-us-Oy7zVy {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .channels-Oy7zVy {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .mastodon-IVpxNi {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .twitter-IVpxNi {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .you-tube-IVpxNi {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .git-hub-IVpxNi {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .divhoriz-GRv4XW {
  border-radius: 2px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .metadata-GRv4XW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .copyright-KYiHuV {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .image-ViuPxV {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .x2024-foundation-for-public-code-ViuPxV {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span0-k77oeP {
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span1-k77oeP {
  text-decoration: underline;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .license-KYiHuV {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .iconlicense-C8SOXD {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .creative-commons-zer-C8SOXD {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span0-WhM16D {
  text-decoration: underline;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span1-WhM16D {
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .divhoriz-EL2E8H {
  border-radius: 2px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .flex-container-i44581717235764323-GRv4XW {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .text0-i44581717235764323-i7Kr3q {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span0-VhYGuk {
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .text1-i44581717235764323-i7Kr3q {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .span1-fo7AH8 {
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .content {
  align-items: center;
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40desktopu41-all-breakpoints .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}
/* screen - team-matthew-claudel-u40mobileu41 */

.team-matthew-claudel-u40mobileu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  left: 0px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  top: 0px;
}

.team-matthew-claudel-u40mobileu41 .nav-pnci91 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 2;
}

.team-matthew-claudel-u40mobileu41 .navheader-ao23nS {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .content-NgD0xz {
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 20px 16px;
  justify-content: space-between;
}

.team-matthew-claudel-u40mobileu41 .logo-RipYK2 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  height: 35px;
  justify-content: space-around;
  position: relative;
}

.team-matthew-claudel-u40mobileu41 .logo-lockup-9axixZ {
  display: inline-flex;
  margin-bottom: -2.50px;
  margin-top: -2.50px;
}

.team-matthew-claudel-u40mobileu41 .foundation-for-public-code-kqLOmN {
  width: fit-content;
}

.team-matthew-claudel-u40mobileu41 .menu-RipYK2 {
  align-items: flex-start;
  background-color: var(--fpcgrey-e5);
  border-radius: 30px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  padding: 17px 12px;
  position: relative;
}

.team-matthew-claudel-u40mobileu41 .rectangle-178-CHEcpP {
  background-color: var(--fpccharcoal);
  border-radius: 3px;
  height: 2px;
  position: relative;
  width: 20px;
}

.team-matthew-claudel-u40mobileu41 .rectangle-180-CHEcpP {
  background-color: var(--fpccharcoal);
  border-radius: 3px;
  height: 2px;
  position: relative;
  width: 20px;
}

.team-matthew-claudel-u40mobileu41 .main-pnci91 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  max-width: 1120px;
  padding: 40px 20px 120px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.team-matthew-claudel-u40mobileu41 .breadcrumbs-x5APgy {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .home-HnUeDb {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-matthew-claudel-u40mobileu41 .layer-2-HnUeDb {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-matthew-claudel-u40mobileu41 .layer-3-HnUeDb {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40mobileu41 .card-x5APgy {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .matthew-claudel-xfkpuS {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: relative;
  width: 240px;
}

.team-matthew-claudel-u40mobileu41 .frame-272-xfkpuS {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .frame-276-2cRxIf {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .title-jqxHC2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .strategy-north-america-jqxHC2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .matthewpubliccodenet-jqxHC2 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-matthew-claudel-u40mobileu41 .flex-container-445817427-2cRxIf {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-matthew-claudel-u40mobileu41 .text0-445817427-DbYzo2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .span0-GSijdJ {
}

.team-matthew-claudel-u40mobileu41 .text1-445817427-DbYzo2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .span1-2eJXa8 {
}

.team-matthew-claudel-u40mobileu41 .text2-445817427-DbYzo2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .span2-SkAxWe {
}

.team-matthew-claudel-u40mobileu41 .footer-pnci91 {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 0px 40px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.team-matthew-claudel-u40mobileu41 .content-Abdixe {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 20px;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .logo-lockup-lkjCKz {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .foundation-for-public-code-4ewuNP {
  flex: 1;
}

.team-matthew-claudel-u40mobileu41 .information-lkjCKz {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .contact-QcUNnB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .email-RWtlHU {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  min-width: 280px;
  padding: 20px;
  position: relative;
}

.team-matthew-claudel-u40mobileu41 .email-us-6uM5lj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .buttonprimary-6uM5lj {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-matthew-claudel-u40mobileu41 .text-QwZ15c {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40mobileu41 .arrow-cluster-QwZ15c {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-matthew-claudel-u40mobileu41 .mailing-list-RWtlHU {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  min-width: 280px;
  padding: 20px;
  position: relative;
}

.team-matthew-claudel-u40mobileu41 .connect-with-us-FZqAxk {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .channels-FZqAxk {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-matthew-claudel-u40mobileu41 .mastodon-4xnxw1 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40mobileu41 .twitter-4xnxw1 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40mobileu41 .you-tube-4xnxw1 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40mobileu41 .git-hub-4xnxw1 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40mobileu41 .divhoriz-QcUNnB {
  border-radius: 2px;
}

.team-matthew-claudel-u40mobileu41 .metadata-QcUNnB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .copyright-xc86Rz {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .image-w89PKa {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.team-matthew-claudel-u40mobileu41 .x2024-foundation-for-public-code-w89PKa {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .span0-GdOyfP {
}

.team-matthew-claudel-u40mobileu41 .span1-GdOyfP {
  text-decoration: underline;
}

.team-matthew-claudel-u40mobileu41 .license-xc86Rz {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .iconlicense-TbMBw7 {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-matthew-claudel-u40mobileu41 .creative-commons-zer-TbMBw7 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .span0-QkBfPB {
  text-decoration: underline;
}

.team-matthew-claudel-u40mobileu41 .span1-QkBfPB {
}

.team-matthew-claudel-u40mobileu41 .divhoriz-WzjWKi {
  border-radius: 2px;
}

.team-matthew-claudel-u40mobileu41 .flex-container-i44581720635764359-QcUNnB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-matthew-claudel-u40mobileu41 .text0-i44581720635764359-eQCc6K {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .span0-lpFfDT {
}

.team-matthew-claudel-u40mobileu41 .text1-i44581720635764359-eQCc6K {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .span1-sWUcxg {
}

.team-matthew-claudel-u40mobileu41 .content {
  align-items: center;
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-matthew-claudel-u40mobileu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40mobileu41 .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40mobileu41 .logo-symbol {
  background-color: transparent;
  height: 40px;
  position: relative;
  width: 34.66410446166992px;
}
/* screen - team-matthew-claudel-u40tabletu41 */

.team-matthew-claudel-u40tabletu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0px;
  min-width: 840px;
  overflow: hidden;
  position: relative;
  top: 0px;
}

.team-matthew-claudel-u40tabletu41 .nav-b56PDY {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .navheader-u4xPYs {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .content-NiuLtL {
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 20px 16px;
}

.team-matthew-claudel-u40tabletu41 .logo-COySUm {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  height: 35px;
  justify-content: space-around;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .logo-lockup-zC9yIT {
  display: inline-flex;
  margin-bottom: -2.50px;
  margin-top: -2.50px;
}

.team-matthew-claudel-u40tabletu41 .logo-symbol-qBZnLG {
  height: 40px;
  width: 34.66410446166992px;
}

.team-matthew-claudel-u40tabletu41 .foundation-for-public-code-qBZnLG {
  margin-top: -0.50px;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .navigation-COySUm {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 15px 15px;
  justify-content: flex-end;
  min-width: 10px;
  padding: 2px 0px;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .public-code-vDgstS {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .public-product-orgs-vDgstS {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .the-standard-vDgstS {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .team-vDgstS {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .nav-button-vDgstS {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 6px 12px;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .support-us-Y7f2tf {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .main-b56PDY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 30px 60px;
  position: relative;
  width: 840px;
}

.team-matthew-claudel-u40tabletu41 .breadcrumbs-e0MYlC {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .home-7z4zjJ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .layer-2-7z4zjJ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .layer-3-7z4zjJ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .card-e0MYlC {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: flex-end;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .matthew-claudel-fw2hZJ {
  background-color: transparent;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 350px;
}

.team-matthew-claudel-u40tabletu41 .frame-272-fw2hZJ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .frame-276-oPkxE6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .title-h1arLx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .strategy-north-america-h1arLx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .matthewpubliccodenet-h1arLx {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-matthew-claudel-u40tabletu41 .flex-container-445817419-oPkxE6 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-matthew-claudel-u40tabletu41 .text0-445817419-92oOaN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .span0-bDbwIV {
}

.team-matthew-claudel-u40tabletu41 .text1-445817419-92oOaN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .span1-F5xEqt {
}

.team-matthew-claudel-u40tabletu41 .text2-445817419-92oOaN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .span2-DSI3dP {
}

.team-matthew-claudel-u40tabletu41 .footer-b56PDY {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .content-eCw4JC {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .logo-lockup-axM16b {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .logo-symbol-8btxDm {
  height: 55px;
  width: 47.6640625px;
}

.team-matthew-claudel-u40tabletu41 .foundation-for-public-code-8btxDm {
  flex: 1;
}

.team-matthew-claudel-u40tabletu41 .information-axM16b {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .contact-4l0OK4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .email-4tFxTL {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .email-us-8CPaTc {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .buttonprimary-8CPaTc {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .text-2ymDIA {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-matthew-claudel-u40tabletu41 .arrow-cluster-2ymDIA {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-matthew-claudel-u40tabletu41 .mailing-list-4tFxTL {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .connect-with-us-bWwvO6 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .channels-bWwvO6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-matthew-claudel-u40tabletu41 .mastodon-boC0rk {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40tabletu41 .twitter-boC0rk {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40tabletu41 .you-tube-boC0rk {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40tabletu41 .git-hub-boC0rk {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-matthew-claudel-u40tabletu41 .divhoriz-4l0OK4 {
  border-radius: 2px;
}

.team-matthew-claudel-u40tabletu41 .metadata-4l0OK4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .copyright-jUJmDc {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .image-5gNjWK {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.team-matthew-claudel-u40tabletu41 .x2024-foundation-for-public-code-5gNjWK {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .span0-zyW7RG {
}

.team-matthew-claudel-u40tabletu41 .span1-zyW7RG {
  text-decoration: underline;
}

.team-matthew-claudel-u40tabletu41 .license-jUJmDc {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .iconlicense-x7yyLZ {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-matthew-claudel-u40tabletu41 .creative-commons-zer-x7yyLZ {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .span0-jITQLx {
  text-decoration: underline;
}

.team-matthew-claudel-u40tabletu41 .span1-jITQLx {
}

.team-matthew-claudel-u40tabletu41 .divhoriz-ebcQU7 {
  border-radius: 2px;
}

.team-matthew-claudel-u40tabletu41 .flex-container-i44581718935764323-4l0OK4 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-matthew-claudel-u40tabletu41 .text0-i44581718935764323-uOTYtJ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .span0-Q201NB {
}

.team-matthew-claudel-u40tabletu41 .text1-i44581718935764323-uOTYtJ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .span1-JfyBpf {
}

.team-matthew-claudel-u40tabletu41 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-matthew-claudel-u40tabletu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-matthew-claudel-u40tabletu41 .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.team-matthew-claudel-u40tabletu41 .logo-symbol {
  background-color: transparent;
  position: relative;
}
@media screen and (max-width: 839px) {
  .screen.team-matthew-claudel-u40desktopu41-all-breakpoints { 
    display: none;
   }
  .screen.team-matthew-claudel-u40tabletu41 { 
    display: none;
   }
}
@media screen and (min-width: 840px) and (max-width: 1139px) {
  .screen.team-matthew-claudel-u40desktopu41-all-breakpoints { 
    display: none;
   }
  .screen.team-matthew-claudel-u40mobileu41 { 
    display: none;
   }
}
@media screen and (min-width: 1140px) {
  .screen.team-matthew-claudel-u40tabletu41 { 
    display: none;
   }
  .screen.team-matthew-claudel-u40mobileu41 { 
    display: none;
   }
}