/* screen - team-amy-darling-u40desktopu41-all-breakpoints */

.team-amy-darling-u40desktopu41-all-breakpoints {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  min-width: 1140px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .nav-wlyye1 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .navheader-RlcG5n {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .content-Yyf1s2 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
}

.team-amy-darling-u40desktopu41-all-breakpoints .logo-lockup-2G2DI1 {
  display: inline-flex;
}

.team-amy-darling-u40desktopu41-all-breakpoints .foundation-for-public-code-D20oFx {
  width: 365.33685302734375px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .navigation-2G2DI1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.team-amy-darling-u40desktopu41-all-breakpoints .links-tTa8uA {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-end;
  position: relative;
}

.team-amy-darling-u40desktopu41-all-breakpoints .public-code-Oq7QAl {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .public-product-orgs-Oq7QAl {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .the-standard-Oq7QAl {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .team-Oq7QAl {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .nav-button-Oq7QAl {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px 9px;
  position: relative;
}

.team-amy-darling-u40desktopu41-all-breakpoints .support-us-tHehGF {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .main-wlyye1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
  position: relative;
  width: 1120px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .breadcrumbs-3f6331 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .home-aRkrlH {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .layer-2-aRkrlH {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .layer-3-aRkrlH {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .card-3f6331 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: flex-end;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .amy-darling-O7DKa4 {
  background-color: transparent;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 350px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .content-O7DKa4 {
  align-items: flex-start;
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .header-lYaQCo {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .title-yG9ptE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .operations-north-america-yG9ptE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .amypubliccodenet-yG9ptE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-amy-darling-u40desktopu41-all-breakpoints .flex-container-37438644-lYaQCo {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .text0-37438644-90WEYF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span0-yNdY8x {
}

.team-amy-darling-u40desktopu41-all-breakpoints .text1-37438644-90WEYF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span1-gUxisl {
}

.team-amy-darling-u40desktopu41-all-breakpoints .text2-37438644-90WEYF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span2-IyjqUq {
}

.team-amy-darling-u40desktopu41-all-breakpoints .footer-wlyye1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .content-2RaBbx {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .logo-lockup-510or0 {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .foundation-for-public-code-Mkb17V {
  flex: 1;
}

.team-amy-darling-u40desktopu41-all-breakpoints .information-510or0 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .contact-P1DGJx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .email-aKMVW1 {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-amy-darling-u40desktopu41-all-breakpoints .email-us-uRynOF {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .buttonprimary-uRynOF {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-amy-darling-u40desktopu41-all-breakpoints .text-XNq3qv {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40desktopu41-all-breakpoints .arrow-cluster-XNq3qv {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .mailing-list-aKMVW1 {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-amy-darling-u40desktopu41-all-breakpoints .connect-with-us-xdRFqx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .channels-xdRFqx {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .mastodon-cBDYOq {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .twitter-cBDYOq {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .you-tube-cBDYOq {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .git-hub-cBDYOq {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .divhoriz-P1DGJx {
  border-radius: 2px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .metadata-P1DGJx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .copyright-KJcdIq {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .image-o5e518 {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .x2024-foundation-for-public-code-o5e518 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span0-1a7Hfu {
}

.team-amy-darling-u40desktopu41-all-breakpoints .span1-1a7Hfu {
  text-decoration: underline;
}

.team-amy-darling-u40desktopu41-all-breakpoints .license-KJcdIq {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .iconlicense-Ymmjw2 {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .creative-commons-zer-Ymmjw2 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span0-8jXi0N {
  text-decoration: underline;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span1-8jXi0N {
}

.team-amy-darling-u40desktopu41-all-breakpoints .divhoriz-kixzBc {
  border-radius: 2px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .flex-container-i3743864535764323-P1DGJx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-amy-darling-u40desktopu41-all-breakpoints .text0-i3743864535764323-Y51Ubt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span0-UDxxJG {
}

.team-amy-darling-u40desktopu41-all-breakpoints .text1-i3743864535764323-Y51Ubt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .span1-z5sG9o {
}

.team-amy-darling-u40desktopu41-all-breakpoints .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-amy-darling-u40desktopu41-all-breakpoints .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40desktopu41-all-breakpoints .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40desktopu41-all-breakpoints .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}
/* screen - team-amy-darling-u40mobileu41 */

.team-amy-darling-u40mobileu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  left: 0px;
  min-width: 320px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.team-amy-darling-u40mobileu41 .nav-Vv27pA {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 2;
}

.team-amy-darling-u40mobileu41 .navheader-W2AWbW {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .content-8brWZl {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
}

.team-amy-darling-u40mobileu41 .logo-41Rnrz {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.team-amy-darling-u40mobileu41 .logo-lockup-DgaCKf {
  display: inline-flex;
}

.team-amy-darling-u40mobileu41 .foundation-for-public-code-eulwEO {
  width: fit-content;
}

.team-amy-darling-u40mobileu41 .menu-41Rnrz {
  align-items: flex-start;
  background-color: var(--fpcgrey-e5);
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  padding: 17px 12px;
  position: relative;
}

.team-amy-darling-u40mobileu41 .rectangle-178-cb5WEj {
  background-color: var(--fpccharcoal);
  border-radius: 3px;
  height: 2px;
  position: relative;
  width: 20px;
}

.team-amy-darling-u40mobileu41 .rectangle-180-cb5WEj {
  background-color: var(--fpccharcoal);
  border-radius: 3px;
  height: 2px;
  position: relative;
  width: 20px;
}

.team-amy-darling-u40mobileu41 .main-Vv27pA {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  max-width: 1120px;
  padding: 40px 20px 120px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.team-amy-darling-u40mobileu41 .breadcrumbs-Ivydm5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .home-SRk1kc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-amy-darling-u40mobileu41 .layer-2-SRk1kc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-amy-darling-u40mobileu41 .layer-3-SRk1kc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40mobileu41 .card-Ivydm5 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .amy-darling-TqrSmU {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: relative;
  width: 240px;
}

.team-amy-darling-u40mobileu41 .content-TqrSmU {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .header-LEzJHR {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .title-7WamxO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .operations-north-america-7WamxO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .amypubliccodenet-7WamxO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-amy-darling-u40mobileu41 .flex-container-44567472-LEzJHR {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-amy-darling-u40mobileu41 .text0-44567472-iY53ja {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .span0-878aaM {
}

.team-amy-darling-u40mobileu41 .text1-44567472-iY53ja {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .span1-jF1Rl6 {
}

.team-amy-darling-u40mobileu41 .text2-44567472-iY53ja {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .span2-jjxOu9 {
}

.team-amy-darling-u40mobileu41 .footer-Vv27pA {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 0px 40px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.team-amy-darling-u40mobileu41 .content-D5I4Ny {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 20px;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .logo-lockup-TlwdwF {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .foundation-for-public-code-TIX2Br {
  flex: 1;
}

.team-amy-darling-u40mobileu41 .information-TlwdwF {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .contact-7oxwZS {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .email-2LGzrz {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  min-width: 280px;
  padding: 20px;
  position: relative;
}

.team-amy-darling-u40mobileu41 .email-us-HO2KRP {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .buttonprimary-HO2KRP {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-amy-darling-u40mobileu41 .text-Yx7I7b {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40mobileu41 .arrow-cluster-Yx7I7b {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-amy-darling-u40mobileu41 .mailing-list-2LGzrz {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  min-width: 280px;
  padding: 20px;
  position: relative;
}

.team-amy-darling-u40mobileu41 .connect-with-us-aElxA7 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .channels-aElxA7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-amy-darling-u40mobileu41 .mastodon-AgxQQC {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40mobileu41 .twitter-AgxQQC {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40mobileu41 .you-tube-AgxQQC {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40mobileu41 .git-hub-AgxQQC {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40mobileu41 .divhoriz-7oxwZS {
  border-radius: 2px;
}

.team-amy-darling-u40mobileu41 .metadata-7oxwZS {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .copyright-Gdw17X {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .image-J14TSH {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.team-amy-darling-u40mobileu41 .x2024-foundation-for-public-code-J14TSH {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .span0-adXvL8 {
}

.team-amy-darling-u40mobileu41 .span1-adXvL8 {
  text-decoration: underline;
}

.team-amy-darling-u40mobileu41 .license-Gdw17X {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .iconlicense-N4coNT {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-amy-darling-u40mobileu41 .creative-commons-zer-N4coNT {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .span0-cOd0vR {
  text-decoration: underline;
}

.team-amy-darling-u40mobileu41 .span1-cOd0vR {
}

.team-amy-darling-u40mobileu41 .divhoriz-0LtcW4 {
  border-radius: 2px;
}

.team-amy-darling-u40mobileu41 .flex-container-i4456747635764359-7oxwZS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-amy-darling-u40mobileu41 .text0-i4456747635764359-bjsrau {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .span0-E3Erkv {
}

.team-amy-darling-u40mobileu41 .text1-i4456747635764359-bjsrau {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .span1-4pexRD {
}

.team-amy-darling-u40mobileu41 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-amy-darling-u40mobileu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40mobileu41 .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40mobileu41 .logo-symbol {
  background-color: transparent;
  height: 40px;
  position: relative;
  width: 34.66410446166992px;
}
/* screen - team-amy-darling-u40tabletu41 */

.team-amy-darling-u40tabletu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0px;
  min-width: 840px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.team-amy-darling-u40tabletu41 .nav-lMYwnC {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .navheader-8tnxAf {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  height: 95px;
  justify-content: space-around;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .content-1HThlp {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  margin-bottom: -2.50px;
  margin-top: -2.50px;
}

.team-amy-darling-u40tabletu41 .logo-re7vTO {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.team-amy-darling-u40tabletu41 .logo-lockup-xmuyAc {
  display: inline-flex;
}

.team-amy-darling-u40tabletu41 .logo-symbol-pzz7zW {
  height: 40px;
  width: 34.66410446166992px;
}

.team-amy-darling-u40tabletu41 .foundation-for-public-code-pzz7zW {
  margin-top: -0.50px;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .navigation-re7vTO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-end;
  min-width: 10px;
  padding: 2px 0px;
  position: relative;
}

.team-amy-darling-u40tabletu41 .public-code-MS76JU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .public-product-orgs-MS76JU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .the-standard-MS76JU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .team-MS76JU {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .nav-button-MS76JU {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 6px 12px 7px;
  position: relative;
}

.team-amy-darling-u40tabletu41 .support-us-biStQd {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .main-lMYwnC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 30px 60px;
  position: relative;
  width: 840px;
}

.team-amy-darling-u40tabletu41 .breadcrumbs-QsGBmR {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .home-xWUxH8 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .layer-2-xWUxH8 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .layer-3-xWUxH8 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .card-QsGBmR {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: flex-end;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .amy-darling-flpAgM {
  background-color: transparent;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 350px;
}

.team-amy-darling-u40tabletu41 .content-flpAgM {
  align-items: flex-start;
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.team-amy-darling-u40tabletu41 .header-b7oyKy {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .title-RX040w {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .operations-north-america-RX040w {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .amypubliccodenet-RX040w {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-amy-darling-u40tabletu41 .flex-container-44566316-b7oyKy {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-amy-darling-u40tabletu41 .text0-44566316-taaFID {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .span0-0qx7Wk {
}

.team-amy-darling-u40tabletu41 .text1-44566316-taaFID {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .span1-TtKX3d {
}

.team-amy-darling-u40tabletu41 .text2-44566316-taaFID {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .span2-YmerTx {
}

.team-amy-darling-u40tabletu41 .footer-lMYwnC {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .content-u7Nxn7 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .logo-lockup-G8xWrM {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .logo-symbol-WkqR5Q {
  height: 55px;
  width: 47.6640625px;
}

.team-amy-darling-u40tabletu41 .foundation-for-public-code-WkqR5Q {
  flex: 1;
}

.team-amy-darling-u40tabletu41 .information-G8xWrM {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .contact-61MCEa {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .email-XO9gQ7 {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-amy-darling-u40tabletu41 .email-us-A2UhSW {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .buttonprimary-A2UhSW {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-amy-darling-u40tabletu41 .text-M7WTyZ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-amy-darling-u40tabletu41 .arrow-cluster-M7WTyZ {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-amy-darling-u40tabletu41 .mailing-list-XO9gQ7 {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-amy-darling-u40tabletu41 .connect-with-us-nHZkIX {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .channels-nHZkIX {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-amy-darling-u40tabletu41 .mastodon-OgAhbn {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40tabletu41 .twitter-OgAhbn {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40tabletu41 .you-tube-OgAhbn {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40tabletu41 .git-hub-OgAhbn {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-amy-darling-u40tabletu41 .divhoriz-61MCEa {
  border-radius: 2px;
}

.team-amy-darling-u40tabletu41 .metadata-61MCEa {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .copyright-Up82Sy {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .image-tzzELv {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.team-amy-darling-u40tabletu41 .x2024-foundation-for-public-code-tzzELv {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .span0-gjdupE {
}

.team-amy-darling-u40tabletu41 .span1-gjdupE {
  text-decoration: underline;
}

.team-amy-darling-u40tabletu41 .license-Up82Sy {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .iconlicense-UBoy97 {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-amy-darling-u40tabletu41 .creative-commons-zer-UBoy97 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .span0-ORTz8c {
  text-decoration: underline;
}

.team-amy-darling-u40tabletu41 .span1-ORTz8c {
}

.team-amy-darling-u40tabletu41 .divhoriz-gaTnLO {
  border-radius: 2px;
}

.team-amy-darling-u40tabletu41 .flex-container-i4456632035764323-61MCEa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-amy-darling-u40tabletu41 .text0-i4456632035764323-UVyFO5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .span0-sMWS3l {
}

.team-amy-darling-u40tabletu41 .text1-i4456632035764323-UVyFO5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .span1-Uk8Spv {
}

.team-amy-darling-u40tabletu41 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-amy-darling-u40tabletu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-amy-darling-u40tabletu41 .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.team-amy-darling-u40tabletu41 .logo-symbol {
  background-color: transparent;
  position: relative;
}
@media screen and (max-width: 839px) {
  .screen.team-amy-darling-u40tabletu41 { 
    display: none;
   }
  .screen.team-amy-darling-u40desktopu41-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 840px) and (max-width: 1139px) {
  .screen.team-amy-darling-u40mobileu41 { 
    display: none;
   }
  .screen.team-amy-darling-u40desktopu41-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1140px) {
  .screen.team-amy-darling-u40mobileu41 { 
    display: none;
   }
  .screen.team-amy-darling-u40tabletu41 { 
    display: none;
   }
}