/* screen - team-max-carlson-u40desktopu41-all-breakpoints */

.team-max-carlson-u40desktopu41-all-breakpoints {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  min-width: 1140px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .nav-EBIpDB {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .navheader-2wMlla {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .content-0OZEgx {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
}

.team-max-carlson-u40desktopu41-all-breakpoints .logo-lockup-sJK8Xv {
  display: inline-flex;
}

.team-max-carlson-u40desktopu41-all-breakpoints .foundation-for-public-code-xwPccM {
  width: 365.33685302734375px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .navigation-sJK8Xv {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.team-max-carlson-u40desktopu41-all-breakpoints .links-4M6b9Z {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-end;
  position: relative;
}

.team-max-carlson-u40desktopu41-all-breakpoints .public-code-68956U {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .public-product-orgs-68956U {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .the-standard-68956U {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .team-68956U {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .nav-button-68956U {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px 9px;
  position: relative;
}

.team-max-carlson-u40desktopu41-all-breakpoints .support-us-3dUhOK {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .main-EBIpDB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
  position: relative;
  width: 1120px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .breadcrumbs-rMTa94 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .home-WqF8y0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .layer-2-WqF8y0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .layer-3-WqF8y0 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .card-rMTa94 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: flex-end;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .max-carlson-Q0FFVf {
  background-color: transparent;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 350px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .content-Q0FFVf {
  align-items: flex-start;
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .header-rbi6PG {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .title-hgc5g8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .codebase-steward-north-america-hgc5g8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .maxpubliccodenet-hgc5g8 {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-max-carlson-u40desktopu41-all-breakpoints .flex-container-445817139-rbi6PG {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .text0-445817139-ZpBY9W {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span0-bUyGBO {
}

.team-max-carlson-u40desktopu41-all-breakpoints .text1-445817139-ZpBY9W {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span1-PkXExs {
}

.team-max-carlson-u40desktopu41-all-breakpoints .text2-445817139-ZpBY9W {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span2-CyUa3r {
}

.team-max-carlson-u40desktopu41-all-breakpoints .footer-EBIpDB {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .content-J9eNOb {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .logo-lockup-AEikOB {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .foundation-for-public-code-JX1zag {
  flex: 1;
}

.team-max-carlson-u40desktopu41-all-breakpoints .information-AEikOB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .contact-DFtpxD {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .email-RlOBql {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-max-carlson-u40desktopu41-all-breakpoints .email-us-ijo4ff {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .buttonprimary-ijo4ff {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-max-carlson-u40desktopu41-all-breakpoints .text-dI7Jtq {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40desktopu41-all-breakpoints .arrow-cluster-dI7Jtq {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .mailing-list-RlOBql {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-max-carlson-u40desktopu41-all-breakpoints .connect-with-us-2DXOjE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .channels-2DXOjE {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .mastodon-oEcL3I {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .twitter-oEcL3I {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .you-tube-oEcL3I {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .git-hub-oEcL3I {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .divhoriz-DFtpxD {
  border-radius: 2px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .metadata-DFtpxD {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .copyright-JX0j4E {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .image-DdmjTO {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .x2024-foundation-for-public-code-DdmjTO {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span0-waEDtz {
}

.team-max-carlson-u40desktopu41-all-breakpoints .span1-waEDtz {
  text-decoration: underline;
}

.team-max-carlson-u40desktopu41-all-breakpoints .license-JX0j4E {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .iconlicense-p8hD1l {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .creative-commons-zer-p8hD1l {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span0-KAxkmL {
  text-decoration: underline;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span1-KAxkmL {
}

.team-max-carlson-u40desktopu41-all-breakpoints .divhoriz-YAqHzu {
  border-radius: 2px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .flex-container-i44581689235764323-DFtpxD {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-max-carlson-u40desktopu41-all-breakpoints .text0-i44581689235764323-mCs7uA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span0-4aqo81 {
}

.team-max-carlson-u40desktopu41-all-breakpoints .text1-i44581689235764323-mCs7uA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .span1-MYxQ2I {
}

.team-max-carlson-u40desktopu41-all-breakpoints .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-max-carlson-u40desktopu41-all-breakpoints .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40desktopu41-all-breakpoints .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40desktopu41-all-breakpoints .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}
/* screen - team-max-carlson-u40mobileu41 */

.team-max-carlson-u40mobileu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  left: 0px;
  min-width: 320px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.team-max-carlson-u40mobileu41 .nav-klCsPs {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 2;
}

.team-max-carlson-u40mobileu41 .navheader-7xhQC7 {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .content-XrbW5c {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
}

.team-max-carlson-u40mobileu41 .logo-PE9JRC {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.team-max-carlson-u40mobileu41 .logo-lockup-iZwImr {
  display: inline-flex;
}

.team-max-carlson-u40mobileu41 .foundation-for-public-code-oryjO2 {
  width: fit-content;
}

.team-max-carlson-u40mobileu41 .menu-PE9JRC {
  align-items: flex-start;
  background-color: var(--fpcgrey-e5);
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  padding: 17px 12px;
  position: relative;
}

.team-max-carlson-u40mobileu41 .rectangle-178-3pRYxt {
  background-color: var(--fpccharcoal);
  border-radius: 3px;
  height: 2px;
  position: relative;
  width: 20px;
}

.team-max-carlson-u40mobileu41 .rectangle-180-3pRYxt {
  background-color: var(--fpccharcoal);
  border-radius: 3px;
  height: 2px;
  position: relative;
  width: 20px;
}

.team-max-carlson-u40mobileu41 .main-klCsPs {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  max-width: 1120px;
  padding: 40px 20px 120px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.team-max-carlson-u40mobileu41 .breadcrumbs-rDnHrE {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .home-tlqTzM {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-max-carlson-u40mobileu41 .layer-2-tlqTzM {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-max-carlson-u40mobileu41 .layer-3-tlqTzM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40mobileu41 .card-rDnHrE {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .max-carlson-SxFtii {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: relative;
  width: 240px;
}

.team-max-carlson-u40mobileu41 .content-SxFtii {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .header-2ZcNWn {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .title-02cCjl {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .codebase-steward-north-america-02cCjl {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .maxpubliccodenet-02cCjl {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-max-carlson-u40mobileu41 .flex-container-445817155-2ZcNWn {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-max-carlson-u40mobileu41 .text0-445817155-MkUR8H {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .span0-IBlWIx {
}

.team-max-carlson-u40mobileu41 .text1-445817155-MkUR8H {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .span1-w3XtNc {
}

.team-max-carlson-u40mobileu41 .text2-445817155-MkUR8H {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .span2-aN8OdU {
}

.team-max-carlson-u40mobileu41 .footer-klCsPs {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 0px 40px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.team-max-carlson-u40mobileu41 .content-CyME9t {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 20px;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .logo-lockup-LvYjkf {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .foundation-for-public-code-GWriV0 {
  flex: 1;
}

.team-max-carlson-u40mobileu41 .information-LvYjkf {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .contact-Khwjla {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .email-Yx7H6a {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  min-width: 280px;
  padding: 20px;
  position: relative;
}

.team-max-carlson-u40mobileu41 .email-us-sEYOe5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .buttonprimary-sEYOe5 {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-max-carlson-u40mobileu41 .text-z0MBnZ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40mobileu41 .arrow-cluster-z0MBnZ {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-max-carlson-u40mobileu41 .mailing-list-Yx7H6a {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  min-width: 280px;
  padding: 20px;
  position: relative;
}

.team-max-carlson-u40mobileu41 .connect-with-us-6JUiJr {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .channels-6JUiJr {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-max-carlson-u40mobileu41 .mastodon-Pydkl4 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40mobileu41 .twitter-Pydkl4 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40mobileu41 .you-tube-Pydkl4 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40mobileu41 .git-hub-Pydkl4 {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40mobileu41 .divhoriz-Khwjla {
  border-radius: 2px;
}

.team-max-carlson-u40mobileu41 .metadata-Khwjla {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .copyright-xD20tM {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .image-hTnB9I {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.team-max-carlson-u40mobileu41 .x2024-foundation-for-public-code-hTnB9I {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .span0-ahdJIM {
}

.team-max-carlson-u40mobileu41 .span1-ahdJIM {
  text-decoration: underline;
}

.team-max-carlson-u40mobileu41 .license-xD20tM {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .iconlicense-hM9Tkw {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-max-carlson-u40mobileu41 .creative-commons-zer-hM9Tkw {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .span0-VWMncJ {
  text-decoration: underline;
}

.team-max-carlson-u40mobileu41 .span1-VWMncJ {
}

.team-max-carlson-u40mobileu41 .divhoriz-tZ9fvl {
  border-radius: 2px;
}

.team-max-carlson-u40mobileu41 .flex-container-i44581692635764359-Khwjla {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-max-carlson-u40mobileu41 .text0-i44581692635764359-ldp1ky {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .span0-r3TSFV {
}

.team-max-carlson-u40mobileu41 .text1-i44581692635764359-ldp1ky {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .span1-tVLsxj {
}

.team-max-carlson-u40mobileu41 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-max-carlson-u40mobileu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40mobileu41 .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40mobileu41 .logo-symbol {
  background-color: transparent;
  height: 40px;
  position: relative;
  width: 34.66410446166992px;
}
/* screen - team-max-carlson-u40tabletu41 */

.team-max-carlson-u40tabletu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0px;
  min-width: 840px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.team-max-carlson-u40tabletu41 .nav-jKm8Gg {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .navheader-ii03MP {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  height: 95px;
  justify-content: space-around;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .content-mio9zT {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  margin-bottom: -2.50px;
  margin-top: -2.50px;
}

.team-max-carlson-u40tabletu41 .logo-dI7wlW {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.team-max-carlson-u40tabletu41 .logo-lockup-gx8a3c {
  display: inline-flex;
}

.team-max-carlson-u40tabletu41 .logo-symbol-0LgWYa {
  height: 40px;
  width: 34.66410446166992px;
}

.team-max-carlson-u40tabletu41 .foundation-for-public-code-0LgWYa {
  margin-top: -0.50px;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .navigation-dI7wlW {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-end;
  min-width: 10px;
  padding: 2px 0px;
  position: relative;
}

.team-max-carlson-u40tabletu41 .public-code-B9ftNy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .public-product-orgs-B9ftNy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .the-standard-B9ftNy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .team-B9ftNy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .nav-button-B9ftNy {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 6px 12px 7px;
  position: relative;
}

.team-max-carlson-u40tabletu41 .support-us-qfCF5c {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .main-jKm8Gg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  max-width: 1120px;
  padding: 0px 30px 60px;
  position: relative;
  width: 840px;
}

.team-max-carlson-u40tabletu41 .breadcrumbs-iVKbVW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .home-xrVX2X {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .layer-2-xrVX2X {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .layer-3-xrVX2X {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .card-iVKbVW {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 1.9999958276748657px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  justify-content: flex-end;
  padding: 30px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .max-carlson-xmN8ri {
  background-color: transparent;
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 350px;
}

.team-max-carlson-u40tabletu41 .content-xmN8ri {
  align-items: flex-start;
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.team-max-carlson-u40tabletu41 .header-RExBWq {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .title-mNLFuA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .codebase-steward-north-america-mNLFuA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .maxpubliccodenet-mNLFuA {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.team-max-carlson-u40tabletu41 .flex-container-445817147-RExBWq {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-max-carlson-u40tabletu41 .text0-445817147-p2iwRx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .span0-As8xGo {
}

.team-max-carlson-u40tabletu41 .text1-445817147-p2iwRx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .span1-QA2LAU {
}

.team-max-carlson-u40tabletu41 .text2-445817147-p2iwRx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .span2-DY2HWi {
}

.team-max-carlson-u40tabletu41 .footer-jKm8Gg {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .content-zZHhTG {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .logo-lockup-p85D0O {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .logo-symbol-nfIDzM {
  height: 55px;
  width: 47.6640625px;
}

.team-max-carlson-u40tabletu41 .foundation-for-public-code-nfIDzM {
  flex: 1;
}

.team-max-carlson-u40tabletu41 .information-p85D0O {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .contact-vCOfCL {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .email-Vx6kNG {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-max-carlson-u40tabletu41 .email-us-wR1Q8h {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .buttonprimary-wR1Q8h {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.team-max-carlson-u40tabletu41 .text-K3xfS0 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.team-max-carlson-u40tabletu41 .arrow-cluster-K3xfS0 {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.team-max-carlson-u40tabletu41 .mailing-list-Vx6kNG {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.team-max-carlson-u40tabletu41 .connect-with-us-kFUeTQ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .channels-kFUeTQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.team-max-carlson-u40tabletu41 .mastodon-r3GVPX {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40tabletu41 .twitter-r3GVPX {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40tabletu41 .you-tube-r3GVPX {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40tabletu41 .git-hub-r3GVPX {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.team-max-carlson-u40tabletu41 .divhoriz-vCOfCL {
  border-radius: 2px;
}

.team-max-carlson-u40tabletu41 .metadata-vCOfCL {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .copyright-x7Jg9D {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .image-cfiTr9 {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.team-max-carlson-u40tabletu41 .x2024-foundation-for-public-code-cfiTr9 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .span0-O7a6ws {
}

.team-max-carlson-u40tabletu41 .span1-O7a6ws {
  text-decoration: underline;
}

.team-max-carlson-u40tabletu41 .license-x7Jg9D {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .iconlicense-aMpqge {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.team-max-carlson-u40tabletu41 .creative-commons-zer-aMpqge {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .span0-brLo0f {
  text-decoration: underline;
}

.team-max-carlson-u40tabletu41 .span1-brLo0f {
}

.team-max-carlson-u40tabletu41 .divhoriz-Ktgu5H {
  border-radius: 2px;
}

.team-max-carlson-u40tabletu41 .flex-container-i44581690935764323-vCOfCL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-max-carlson-u40tabletu41 .text0-i44581690935764323-7yllNY {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .span0-IdqDua {
}

.team-max-carlson-u40tabletu41 .text1-i44581690935764323-7yllNY {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .span1-JKdcsc {
}

.team-max-carlson-u40tabletu41 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.team-max-carlson-u40tabletu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.team-max-carlson-u40tabletu41 .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.team-max-carlson-u40tabletu41 .logo-symbol {
  background-color: transparent;
  position: relative;
}
@media screen and (max-width: 839px) {
  .screen.team-max-carlson-u40desktopu41-all-breakpoints { 
    display: none;
   }
  .screen.team-max-carlson-u40tabletu41 { 
    display: none;
   }
}
@media screen and (min-width: 840px) and (max-width: 1139px) {
  .screen.team-max-carlson-u40mobileu41 { 
    display: none;
   }
  .screen.team-max-carlson-u40desktopu41-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1140px) {
  .screen.team-max-carlson-u40mobileu41 { 
    display: none;
   }
  .screen.team-max-carlson-u40tabletu41 { 
    display: none;
   }
}