/* screen - the-standard-u40desktopu41-ne */

.the-standard-u40desktopu41-ne {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
  position: relative;
}

.the-standard-u40desktopu41-ne .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 700px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .base {
  background-color: #716cf5;
  box-shadow: inset 275px 550px 605px #56ccf2;
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.the-standard-u40desktopu41-ne .navheader {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
  position: relative;
}

.the-standard-u40desktopu41-ne .logo-lockup {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.the-standard-u40desktopu41-ne .logo-symbol {
  height: 55px;
  position: relative;
  width: 47.66px;
}

.the-standard-u40desktopu41-ne .foundation-for-public-code {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 365.34px;
}

.the-standard-u40desktopu41-ne .navigation {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41-ne .links {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41-ne .link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .nav-button {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px;
  position: relative;
}

.the-standard-u40desktopu41-ne .cluster-1 {
  flex-direction: column;
  gap: 10px;
  max-width: 1120px;
  padding: 0px 20px;
}

.the-standard-u40desktopu41-ne .cluster-2 {
  flex-direction: column;
  gap: 55px;
  max-width: 600px;
}

.the-standard-u40desktopu41-ne .span-1 {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .frame-148 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.the-standard-u40desktopu41-ne .buttonsecondary {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .main {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .frame-195 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.the-standard-u40desktopu41-ne .cluster-3 {
  background-color: var(--red);
  gap: 15px;
}

.the-standard-u40desktopu41-ne .img_0730 {
  flex: 1;
  flex-grow: 1;
  height: 240px;
  object-fit: cover;
  position: relative;
}

.the-standard-u40desktopu41-ne .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .cluster-4 {
  flex-direction: column;
  gap: 30px;
}

.the-standard-u40desktopu41-ne .cluster-5 {
  flex-wrap: wrap;
  gap: 15px 15px;
}

.the-standard-u40desktopu41-ne .frame-24 {
  align-items: flex-start;
  background-color: var(--fpcyellow);
  border-radius: 6px;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 360px;
  min-width: 240px;
  padding: 15px;
}

.the-standard-u40desktopu41-ne .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41-ne .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.the-standard-u40desktopu41-ne .cluster-6 {
  gap: 15px;
}

.the-standard-u40desktopu41-ne .overlap-group {
  align-items: center;
  background-color: #56ccf280;
  display: flex;
  height: 163px;
  justify-content: flex-end;
  min-width: 290px;
  padding: 0 123.5px;
}

.the-standard-u40desktopu41-ne .text-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .cluster {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .text0-x2taqa9-ed0-tokf-jk {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text1-x2taqa9-ed0-tokf-jk {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .flexcontainer-r-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  min-height: 368px;
  position: absolute;
  top: 49px;
  width: 1080px;
}

.the-standard-u40desktopu41-ne .flex-container-r {
  height: 174px;
  position: relative;
  width: 1080px;
}

.the-standard-u40desktopu41-ne .text0-r-ks-v-zfhn-nghg-cm2n {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text1-r-ks-v-zfhn-nghg-cm2n {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text2-r-ks-v-zfhn-nghg-cm2n {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text3-r-ks-v-zfhn-nghg-cm2n {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text4-r-ks-v-zfhn-nghg-cm2n {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text5-r-ks-v-zfhn-nghg-cm2n {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text0-ro-svar-l6k-txkv8u-q {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text1-ro-svar-l6k-txkv8u-q {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text2-ro-svar-l6k-txkv8u-q {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text3-ro-svar-l6k-txkv8u-q {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text4-ro-svar-l6k-txkv8u-q {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text0-hl-hd-q-tj0-n-lp-ew-ng-y {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text1-hl-hd-q-tj0-n-lp-ew-ng-y {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text2-hl-hd-q-tj0-n-lp-ew-ng-y {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text3-hl-hd-q-tj0-n-lp-ew-ng-y {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .text4-hl-hd-q-tj0-n-lp-ew-ng-y {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41-ne .testimonial {
  align-items: center;
  align-self: stretch;
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .quoted-text {
  height: 33px;
  left: 511px;
  position: absolute;
  top: -18px;
  width: 42px;
}

.the-standard-u40desktopu41-ne .quoted-text-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
}

.the-standard-u40desktopu41-ne .attr {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  padding: 0px 0px 0px 5px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .attrportraits {
  background-image: url(../img/audrey-tang@2x.png);
  background-size: 100% 100%;
  border-radius: 80px;
  height: 80px;
  position: relative;
  width: 80.0px;
}

.the-standard-u40desktopu41-ne .rim {
  border: 4px solid;
  border-color: var(--fpcblue);
  border-radius: 44px;
  height: 88px;
  left: -4px;
  position: relative;
  top: -4px;
  width: 88px;
}

.the-standard-u40desktopu41-ne .flex-container-n-c-rn-k-cnes-h18ux-kv {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.the-standard-u40desktopu41-ne .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--fpccharcoal);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .logo-lockup-1 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .foundation-for-public-code-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.the-standard-u40desktopu41-ne .information {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .contact {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .mail-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
}

.the-standard-u40desktopu41-ne .buttonprimary {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.the-standard-u40desktopu41-ne .arrow {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.the-standard-u40desktopu41-ne .text-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -30.00px;
  position: relative;
}

.the-standard-u40desktopu41-ne .address {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41-ne .arrow-3 {
  height: 12.47px;
  margin-right: -0.85px;
  position: relative;
  width: 15.24px;
}

.the-standard-u40desktopu41-ne .cluster-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .flex-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41-ne .frame {
  display: flex;
  position: relative;
}
