/* screen - the-standard-u40desktopu41 */

.the-standard-u40desktopu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.the-standard-u40desktopu41 .header-68NTsV {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .base-xZMeF3 {
  background-color: #716cf5;
  box-shadow: inset 275px 550px 605px #56ccf2;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.the-standard-u40desktopu41 .bg-xZMeF3 {
  background-color: transparent;
  height: 700px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 100%;
}

.the-standard-u40desktopu41 .illogobal-xZMeF3 {
  background-color: transparent;
  bottom: 0px;
  height: 680px;
  left: calc(50.00% - 72px);
  position: absolute;
  width: 792px;
}

.the-standard-u40desktopu41 .navheader-xZMeF3 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .content-HV7Z4o {
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.the-standard-u40desktopu41 .logo-lockup-j5UTjF {
  display: inline-flex;
}

.the-standard-u40desktopu41 .foundation-for-public-code-lu7MuS {
  width: 365.33685302734375px;
}

.the-standard-u40desktopu41 .navigation-j5UTjF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41 .links-GnnhSM {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41 .public-code-HlPawX {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41 .public-product-orgs-HlPawX {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41 .the-standard-HlPawX {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41 .team-HlPawX {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41 .nav-button-HlPawX {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px;
  position: relative;
}

.the-standard-u40desktopu41 .support-us-Snlc3y {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41 .cluster-xZMeF3 {
  align-items: flex-start;
  background-color: transparent;
  flex-direction: column;
  gap: 10px;
  max-width: 1120px;
  padding: 0px 20px;
}

.the-standard-u40desktopu41 .cluster-eByukI {
  align-items: flex-start;
  background-color: transparent;
  flex-direction: column;
  gap: 55px;
  max-width: 600px;
}

.the-standard-u40desktopu41 .home-the-standard-Gs8hHe {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-kEI1Bp {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .span1-kEI1Bp {
}

.the-standard-u40desktopu41 .frame-148-Gs8hHe {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .welcome-to-the-standard-for-public-code-Vmsgqg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .the-standard-helps-p-Vmsgqg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .link-down-Vmsgqg {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  position: relative;
}

.the-standard-u40desktopu41 .this-page-provides-a-FUYHHn {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41 .text-EbhdAA {
  margin-top: -1.00px;
}

.the-standard-u40desktopu41 .main-68NTsV {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .frame-195-DdBMfs {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .whos-using-the-standard-L2XcjA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .photos-of-various-pr-L2XcjA {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .cluster-L2XcjA {
  align-items: flex-start;
  background-color: var(--red);
  gap: 15px;
}

.the-standard-u40desktopu41 .roberto-viola-1-xOVlF9 {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 240px;
  object-fit: cover;
  position: relative;
}

.the-standard-u40desktopu41 .roberto-viola-2-xOVlF9 {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 240px;
  object-fit: cover;
  position: relative;
}

.the-standard-u40desktopu41 .divhoriz-DdBMfs {
  border-radius: 2px;
}

.the-standard-u40desktopu41 .cluster-DdBMfs {
  align-items: flex-start;
  background-color: transparent;
  flex-direction: column;
  gap: 30px;
}

.the-standard-u40desktopu41 .key-reasons-to-use-the-standard-RHxBZp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .cluster-RHxBZp {
  align-items: flex-start;
  background-color: transparent;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.the-standard-u40desktopu41 .frame-245-niY1mn {
  align-items: flex-start;
  background-color: var(--fpcyellow);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 360px;
  min-width: 240px;
  padding: 15px;
  position: relative;
}

.the-standard-u40desktopu41 .flex-container-40177677-gB25WE {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41 .text0-40177677-xvZY0X {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-G9C0SG {
}

.the-standard-u40desktopu41 .text1-40177677-xvZY0X {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-GeQalT {
}

.the-standard-u40desktopu41 .frame-246-niY1mn {
  align-items: flex-start;
  background-color: var(--fpcyellow);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 360px;
  min-width: 240px;
  padding: 15px;
  position: relative;
}

.the-standard-u40desktopu41 .flex-container-40177679-Yngj71 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41 .text0-40177679-u7hRgt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-c4H4Ew {
}

.the-standard-u40desktopu41 .text1-40177679-u7hRgt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-m8ijuC {
}

.the-standard-u40desktopu41 .frame-247-niY1mn {
  align-items: flex-start;
  background-color: var(--fpcyellow);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 360px;
  min-width: 240px;
  padding: 15px;
  position: relative;
}

.the-standard-u40desktopu41 .flex-container-40177681-N0opku {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41 .text0-40177681-Qf0URo {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-lTwEza {
}

.the-standard-u40desktopu41 .text1-40177681-Qf0URo {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-JUFrVR {
}

.the-standard-u40desktopu41 .frame-248-niY1mn {
  align-items: flex-start;
  background-color: var(--fpcyellow);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 360px;
  min-width: 240px;
  padding: 15px;
  position: relative;
}

.the-standard-u40desktopu41 .flex-container-40177683-MtQr9s {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41 .text0-40177683-G8meTD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-RhOMFp {
}

.the-standard-u40desktopu41 .text1-40177683-G8meTD {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-p7e3ZX {
}

.the-standard-u40desktopu41 .cluster-f0yAl7 {
  align-items: flex-start;
  background-color: transparent;
  gap: 15px;
}

.the-standard-u40desktopu41 .frame-271-Brwou9 {
  align-items: center;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41 .video-p345Di {
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0px 3.314271926879883px 0px #00000026;
  height: 163.1243438720703px;
  overflow: hidden;
  position: relative;
  width: 290px;
}

.the-standard-u40desktopu41 .thestandard_posterframe_v03-1-Sbqiuq {
  background-color: transparent;
  height: 163px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 290px;
}

.the-standard-u40desktopu41 .scrim-Sbqiuq {
  background-color: #56ccf280;
  bottom: 1px;
  height: 163px;
  left: 0px;
  position: absolute;
  width: 290px;
}

.the-standard-u40desktopu41 .polygon-1-Sbqiuq {
  background-color: transparent;
  height: 50px;
  left: calc(50.00% - 22px);
  position: absolute;
  top: calc(50.00% - 25px);
  width: 43px;
}

.the-standard-u40desktopu41 .text-overlay-p345Di {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.the-standard-u40desktopu41 .a-video-introduction-JE1JIv {
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  margin-top: -0.80px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .text-g1tmpz {
  margin-top: -1.00px;
}

.the-standard-u40desktopu41 .divhoriz-f0yAl7 {
  border-radius: 2px;
}

.the-standard-u40desktopu41 .cluster-nUQIOc {
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.the-standard-u40desktopu41 .standard-compliance-and-certification-2ZxNiJ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .flex-container-37335844-2ZxNiJ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41 .text0-37335844-5sjOoT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-Qtd32r {
}

.the-standard-u40desktopu41 .text1-37335844-5sjOoT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-oz5uyn {
}

.the-standard-u40desktopu41 .span2-oz5uyn {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .span3-oz5uyn {
}

.the-standard-u40desktopu41 .cluster-QJGE6H {
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.the-standard-u40desktopu41 .goals-for-the-standard-for-public-code-PmBthB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .flex-container-37335847-PmBthB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41 .text0-37335847-kLMiUf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-jhh6iy {
}

.the-standard-u40desktopu41 .text1-37335847-kLMiUf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-9Ykm8M {
}

.the-standard-u40desktopu41 .text2-37335847-kLMiUf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span2-knXsgD {
}

.the-standard-u40desktopu41 .text3-37335847-kLMiUf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span3-f3xbuJ {
}

.the-standard-u40desktopu41 .text4-37335847-kLMiUf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span4-A4EFYq {
}

.the-standard-u40desktopu41 .text5-37335847-kLMiUf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span5-H4u8zy {
}

.the-standard-u40desktopu41 .flex-container-41373149-PmBthB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41 .text0-41373149-2KE7xZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-GFeow6 {
}

.the-standard-u40desktopu41 .text1-41373149-2KE7xZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-ZkCQMz {
}

.the-standard-u40desktopu41 .text2-41373149-2KE7xZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span2-Cb4wAw {
}

.the-standard-u40desktopu41 .text3-41373149-2KE7xZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span3-6uoqEH {
}

.the-standard-u40desktopu41 .text4-41373149-2KE7xZ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span4-QhA1sA {
}

.the-standard-u40desktopu41 .cluster-4wX1UM {
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.the-standard-u40desktopu41 .make-the-standard-better-zy1J6f {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .flex-container-37335850-zy1J6f {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41 .text0-37335850-w3E6hg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-Wtii33 {
}

.the-standard-u40desktopu41 .text1-37335850-w3E6hg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-HfGy9I {
}

.the-standard-u40desktopu41 .text2-37335850-w3E6hg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span2-Haj95L {
}

.the-standard-u40desktopu41 .span3-Haj95L {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .span4-Haj95L {
}

.the-standard-u40desktopu41 .span5-Haj95L {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .text3-37335850-w3E6hg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span6-PNmvZR {
}

.the-standard-u40desktopu41 .span7-PNmvZR {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .span8-PNmvZR {
}

.the-standard-u40desktopu41 .text4-37335850-w3E6hg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span9-shXk3a {
}

.the-standard-u40desktopu41 .span10-shXk3a {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .divhoriz-nUQIOc {
  border-radius: 2px;
}

.the-standard-u40desktopu41 .testimonial-DdBMfs {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .quoted-text-vsqefp {
  background-color: transparent;
  height: 33px;
  left: calc(50.00% - 29px);
  position: absolute;
  top: -18px;
  width: 42px;
}

.the-standard-u40desktopu41 .quoted-text-TkLuBB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
}

.the-standard-u40desktopu41 .attr-vsqefp {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  padding: 0px 0px 0px 5px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .attrportraits-txY6wg {
  background-color: transparent;
  border-radius: 80px;
  height: 80px;
  position: relative;
  width: 80.00028228759766px;
}

.the-standard-u40desktopu41 .audrey-tang-cQpuSd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100.00%;
}

.the-standard-u40desktopu41 .rim-cQpuSd {
  background-color: transparent;
  border: 3.999985456466675px solid;
  border-color: var(--fpcblue);
  border-radius: 44px;
  height: 110.00%;
  left: -5.00%;
  position: absolute;
  top: -5.00%;
  width: 110.00%;
}

.the-standard-u40desktopu41 .flex-container-i4017757634036497-txY6wg {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.the-standard-u40desktopu41 .text0-i4017757634036497-fdJDA9 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-x7BtKK {
}

.the-standard-u40desktopu41 .text1-i4017757634036497-fdJDA9 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-hxpL2W {
}

.the-standard-u40desktopu41 .span2-hxpL2W {
}

.the-standard-u40desktopu41 .footer-68NTsV {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .content-5IdiVA {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  width: 100%;
}

.the-standard-u40desktopu41 .logo-lockup-beQdGP {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.the-standard-u40desktopu41 .foundation-for-public-code-CX2pEJ {
  flex: 1;
}

.the-standard-u40desktopu41 .information-beQdGP {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .contact-ZvGxx0 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .email-I0lTaD {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41 .email-us-Z0lqaM {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .text-kJTdmW {
  margin-top: -2.00px;
}

.the-standard-u40desktopu41 .join-our-mailing-list-qkjxLm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .text-MskALh {
  margin-top: -2.00px;
}

.the-standard-u40desktopu41 .connect-with-us-hpOokz {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .channels-hpOokz {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: 40px;
  position: relative;
  width: 218px;
}

.the-standard-u40desktopu41 .mastodon-lw5rMz {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41 .twitter-lw5rMz {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41 .you-tube-lw5rMz {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41 .git-hub-lw5rMz {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41 .divhoriz-ZvGxx0 {
  border-radius: 2px;
}

.the-standard-u40desktopu41 .metadata-ZvGxx0 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .copyright-AfvBox {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .image-k3s6wv {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.the-standard-u40desktopu41 .x2024-foundation-for-public-code-k3s6wv {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-SCS2xo {
}

.the-standard-u40desktopu41 .span1-SCS2xo {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .license-AfvBox {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .iconlicense-Ax0nSM {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.the-standard-u40desktopu41 .creative-commons-zer-Ax0nSM {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-pajNhY {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .span1-pajNhY {
}

.the-standard-u40desktopu41 .divhoriz-FDCYm1 {
  border-radius: 2px;
}

.the-standard-u40desktopu41 .flex-container-i3733585135764323-ZvGxx0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41 .text0-i3733585135764323-Lx0oVf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span0-5VlGqF {
}

.the-standard-u40desktopu41 .text1-i3733585135764323-Lx0oVf {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .span1-daMJXH {
}

.the-standard-u40desktopu41 .arrow-cluster {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.the-standard-u40desktopu41 .buttonprimary {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.the-standard-u40desktopu41 .buttonsecondary {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 0px 6px 0px 0px;
  position: relative;
}

.the-standard-u40desktopu41 .cluster {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .content {
  align-items: center;
  background-color: transparent;
  display: flex;
  position: relative;
}

.the-standard-u40desktopu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41 .img_0730 {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 240.0003662109375px;
  object-fit: cover;
  position: relative;
}

.the-standard-u40desktopu41 .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.6640625px;
}

.the-standard-u40desktopu41 .mailing-list {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41 .text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}
