/* screen - the-standard-u40desktopu41-ne */

.the-standard-u40desktopu41-ne {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.the-standard-u40desktopu41-ne .header-9D1S3k {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .base-fXMH7q {
  background-color: #716cf5;
  box-shadow: inset 275px 550px 605px #56ccf2;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.the-standard-u40desktopu41-ne .bg-fXMH7q {
  background-color: transparent;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.the-standard-u40desktopu41-ne .illogobal-fXMH7q {
  background-color: transparent;
  height: 680px;
  left: 648px;
  position: absolute;
  top: 20px;
  width: 792px;
}

.the-standard-u40desktopu41-ne .navheader-fXMH7q {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .content-RkBaxD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
  position: relative;
}

.the-standard-u40desktopu41-ne .logo-lockup-okW5H6 {
  display: inline-flex;
}

.the-standard-u40desktopu41-ne .foundation-for-public-code-oxuJqQ {
  width: 365.33685302734375px;
}

.the-standard-u40desktopu41-ne .navigation-okW5H6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41-ne .links-W7iZJE {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41-ne .what-is-public-code-LUMnRy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .the-standard-LUMnRy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .blog-LUMnRy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .about-LUMnRy {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .span0-aTPxvy {
}

.the-standard-u40desktopu41-ne .span1-aTPxvy {
}

.the-standard-u40desktopu41-ne .nav-button-LUMnRy {
  align-items: flex-start;
  background-color: var(--charcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px;
  position: relative;
}

.the-standard-u40desktopu41-ne .support-us-VgDLxb {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .cluster-fXMH7q {
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  max-width: 1120px;
  padding: 0px 20px;
}

.the-standard-u40desktopu41-ne .cluster-74LHve {
  align-items: flex-start;
  flex-direction: column;
  gap: 55px;
  max-width: 600px;
}

.the-standard-u40desktopu41-ne .home-the-standard-yDmD7o {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-eDvM8f {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span1-eDvM8f {
}

.the-standard-u40desktopu41-ne .frame-148-yDmD7o {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .welcome-to-the-standard-for-public-code-HWHxwg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .the-standard-helps-p-HWHxwg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .link-down-HWHxwg {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  position: relative;
}

.the-standard-u40desktopu41-ne .this-page-provides-a-8IJi4r {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .arrow-kNy6SG {
  height: 12.4691162109375px;
}

.the-standard-u40desktopu41-ne .main-9D1S3k {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .frame-195-zMHX44 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .quick-facts-about-the-standard-Kq6Ptl {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .cluster-Kq6Ptl {
  align-items: flex-start;
  gap: 15px;
}

.the-standard-u40desktopu41-ne .frame-246-T9xq2G {
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.the-standard-u40desktopu41-ne .dpg-badge-1-pxSqJn {
  background-color: transparent;
  height: 40px;
  position: relative;
  width: 79.3544921875px;
}

.the-standard-u40desktopu41-ne .the-standard-has-bee-pxSqJn {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-xI1h5U {
}

.the-standard-u40desktopu41-ne .span1-xI1h5U {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span2-xI1h5U {
}

.the-standard-u40desktopu41-ne .span3-xI1h5U {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span4-xI1h5U {
}

.the-standard-u40desktopu41-ne .frame-247-T9xq2G {
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.the-standard-u40desktopu41-ne .x908fc49c3f1db4cccb413c8f6fd23490-1-nlBwdT {
  background-color: transparent;
  object-fit: cover;
}

.the-standard-u40desktopu41-ne .the-cit-yx-city-acad-nlBwdT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-xE1YhR {
}

.the-standard-u40desktopu41-ne .span1-xE1YhR {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span2-xE1YhR {
}

.the-standard-u40desktopu41-ne .frame-248-T9xq2G {
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.the-standard-u40desktopu41-ne .x908fc49c3f1db4cccb413c8f6fd23490-1-6GxxuB {
  background-color: var(--light-grey);
}

.the-standard-u40desktopu41-ne .lorem-ipsum-dolor-sit-amet-6GxxuB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .cluster-zMHX44 {
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.the-standard-u40desktopu41-ne .key-reasons-to-use-the-standard-A0Ux3f {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .cluster-A0Ux3f {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.the-standard-u40desktopu41-ne .frame-245-Fwzkev {
  align-items: flex-start;
  background-color: var(--fpcblue);
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 360px;
  min-width: 240px;
  padding: 15px;
  position: relative;
}

.the-standard-u40desktopu41-ne .flex-container-40177677-Im5D1x {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41-ne .text0-40177677-AF7XVe {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-aHIEu3 {
}

.the-standard-u40desktopu41-ne .text1-40177677-AF7XVe {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-FumpLb {
}

.the-standard-u40desktopu41-ne .frame-246-Fwzkev {
  background-color: var(--fpcblue);
  gap: 10px;
  padding: 15px;
}

.the-standard-u40desktopu41-ne .flex-container-40177679-lAd6Mz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41-ne .text0-40177679-shLUm5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-ItRooz {
}

.the-standard-u40desktopu41-ne .text1-40177679-shLUm5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-FjJ5E0 {
}

.the-standard-u40desktopu41-ne .frame-247-Fwzkev {
  background-color: var(--fpcblue);
  gap: 10px;
  padding: 15px;
}

.the-standard-u40desktopu41-ne .flex-container-40177681-uXk8kE {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41-ne .text0-40177681-SyvtAO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-LEEcxb {
}

.the-standard-u40desktopu41-ne .text1-40177681-SyvtAO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-dBBxE9 {
}

.the-standard-u40desktopu41-ne .frame-248-Fwzkev {
  background-color: var(--fpcblue);
  gap: 10px;
  padding: 15px;
}

.the-standard-u40desktopu41-ne .flex-container-40177683-VwjM1M {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.the-standard-u40desktopu41-ne .text0-40177683-13Kzd2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-K27kfz {
}

.the-standard-u40desktopu41-ne .text1-40177683-13Kzd2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-ZZj0YT {
}

.the-standard-u40desktopu41-ne .cluster-fpfHgP {
  align-items: flex-start;
  gap: 15px;
}

.the-standard-u40desktopu41-ne .frame-271-nUcZDJ {
  align-items: center;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  border-radius: 24px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41-ne .video-63QDRF {
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0px 3.314271926879883px 0px #00000026;
  height: 163.1243438720703px;
  overflow: hidden;
  position: relative;
  width: 290px;
}

.the-standard-u40desktopu41-ne .thestandard_posterframe_v03-1-tEb69x {
  background-color: transparent;
  height: 163px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 290px;
}

.the-standard-u40desktopu41-ne .scrim-tEb69x {
  background-color: #56ccf280;
  height: 163px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 290px;
}

.the-standard-u40desktopu41-ne .polygon-1-tEb69x {
  background-color: transparent;
  height: 50px;
  left: 123px;
  position: absolute;
  top: 57px;
  width: 43px;
}

.the-standard-u40desktopu41-ne .text-overlay-63QDRF {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.the-standard-u40desktopu41-ne .a-video-introduction-EThjiS {
  align-self: stretch;
  background-color: transparent;
  flex: 0 0 auto;
  margin-top: -0.80px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .arrow-UEJmst {
  height: 12.468994140625px;
}

.the-standard-u40desktopu41-ne .cluster-bSAHaC {
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.the-standard-u40desktopu41-ne .standard-compliance-and-certification-1J8OZ0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .flex-container-37335844-1J8OZ0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41-ne .text0-37335844-L7vyEV {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-jeh88l {
}

.the-standard-u40desktopu41-ne .text1-37335844-L7vyEV {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-t8Mbae {
}

.the-standard-u40desktopu41-ne .span2-t8Mbae {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span3-t8Mbae {
}

.the-standard-u40desktopu41-ne .cluster-rh3fLd {
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.the-standard-u40desktopu41-ne .goals-for-the-standard-for-public-code-5nfB1x {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .flex-container-37335847-5nfB1x {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41-ne .text0-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-04Lcmk {
}

.the-standard-u40desktopu41-ne .text1-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-JXrn9r {
}

.the-standard-u40desktopu41-ne .text2-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span2-9Rh471 {
}

.the-standard-u40desktopu41-ne .text3-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span3-YfpyHm {
}

.the-standard-u40desktopu41-ne .text4-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span4-IZ82dO {
}

.the-standard-u40desktopu41-ne .text5-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span5-Zja3tr {
}

.the-standard-u40desktopu41-ne .text6-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span6-hFpQXC {
}

.the-standard-u40desktopu41-ne .text7-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span7-OQvG3j {
}

.the-standard-u40desktopu41-ne .text8-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span8-eQJWVM {
}

.the-standard-u40desktopu41-ne .text9-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span9-JWxAsD {
}

.the-standard-u40desktopu41-ne .text10-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span10-ffRAgY {
}

.the-standard-u40desktopu41-ne .text11-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span11-JnUcmB {
}

.the-standard-u40desktopu41-ne .text12-37335847-z79LmG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span12-Sizdql {
}

.the-standard-u40desktopu41-ne .cluster-wAgnRK {
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.the-standard-u40desktopu41-ne .make-the-standard-better-soZtST {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .flex-container-37335850-soZtST {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41-ne .text0-37335850-g6r4eE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-txt1uv {
}

.the-standard-u40desktopu41-ne .text1-37335850-g6r4eE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-yxDSic {
}

.the-standard-u40desktopu41-ne .text2-37335850-g6r4eE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span2-RVQOOl {
}

.the-standard-u40desktopu41-ne .span3-RVQOOl {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span4-RVQOOl {
}

.the-standard-u40desktopu41-ne .span5-RVQOOl {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .text3-37335850-g6r4eE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span6-LmdP37 {
}

.the-standard-u40desktopu41-ne .span7-LmdP37 {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span8-LmdP37 {
}

.the-standard-u40desktopu41-ne .text4-37335850-g6r4eE {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span9-kvhAMA {
}

.the-standard-u40desktopu41-ne .span10-kvhAMA {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .testimonial-zMHX44 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .quoted-text-RXRXkA {
  background-color: transparent;
  height: 33px;
  left: 511px;
  position: absolute;
  top: -18px;
  width: 42px;
}

.the-standard-u40desktopu41-ne .quoted-text-2EzaIH {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
}

.the-standard-u40desktopu41-ne .attr-RXRXkA {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  padding: 0px 0px 0px 5px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .attrportraits-xFMJJ5 {
  background-color: transparent;
  border-radius: 80px;
  height: 80px;
  position: relative;
  width: 80.00028228759766px;
}

.the-standard-u40desktopu41-ne .audrey-tang-W1fAfS {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.the-standard-u40desktopu41-ne .rim-W1fAfS {
  background-color: transparent;
  border: 3.999985456466675px solid;
  border-color: var(--fpcblue);
  border-radius: 44px;
  height: 88px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 88px;
}

.the-standard-u40desktopu41-ne .flex-container-i4017757634036497-xFMJJ5 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.the-standard-u40desktopu41-ne .text0-i4017757634036497-iuj7dR {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-OgAAd4 {
}

.the-standard-u40desktopu41-ne .text1-i4017757634036497-iuj7dR {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span1-3DCwQY {
}

.the-standard-u40desktopu41-ne .span2-3DCwQY {
}

.the-standard-u40desktopu41-ne .footer-9D1S3k {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--charcoal);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .logo-lockup-EK16xI {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.the-standard-u40desktopu41-ne .foundation-for-public-code-acfwGL {
  flex: 1;
}

.the-standard-u40desktopu41-ne .information-EK16xI {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .contact-hgIBCI {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .connect-FaEuvY {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  justify-content: center;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41-ne .connect-with-us-iO55Sh {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .channels-iO55Sh {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.the-standard-u40desktopu41-ne .logomastodon-GUw3kX {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41-ne .subtract-M6glSM {
  height: 32px;
  left: 1px;
  top: 0px;
  width: 30px;
}

.the-standard-u40desktopu41-ne .logotwitter-GUw3kX {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41-ne .logoyoutube-GUw3kX {
  background-color: transparent;
  cursor: pointer;
  height: 31.94074249267578px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41-ne .subtract-JH173K {
  height: 22px;
  left: 0px;
  top: 5px;
  width: 32px;
}

.the-standard-u40desktopu41-ne .logogithub-GUw3kX {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41-ne .email-FaEuvY {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41-ne .email-us-Ol8hNx {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .arrow-rO6ogk {
  height: 12.46923828125px;
}

.the-standard-u40desktopu41-ne .mailing-list-FaEuvY {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  min-width: 360px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41-ne .join-our-mailing-list-n1Q1z0 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .arrow-XRcEeU {
  height: 12.46923828125px;
}

.the-standard-u40desktopu41-ne .notes-hgIBCI {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .flex-container-i3733585135764323-LOtJXG {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.the-standard-u40desktopu41-ne .text0-i3733585135764323-MRoQKT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -30.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-USuxqB {
}

.the-standard-u40desktopu41-ne .span1-USuxqB {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span2-USuxqB {
}

.the-standard-u40desktopu41-ne .span3-USuxqB {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span4-USuxqB {
}

.the-standard-u40desktopu41-ne .text1-i3733585135764323-MRoQKT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -30.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span5-z8avfN {
}

.the-standard-u40desktopu41-ne .span6-z8avfN {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span7-z8avfN {
}

.the-standard-u40desktopu41-ne .span8-z8avfN {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span9-z8avfN {
}

.the-standard-u40desktopu41-ne .metadata-hgIBCI {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .updated-2BH81O {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .iconupdated-5gZlLO {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.the-standard-u40desktopu41-ne .last-updated-10-march-2024-5gZlLO {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .copyright-2BH81O {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .image-wRfxu9 {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.the-standard-u40desktopu41-ne .x2024-foundation-for-public-code-wRfxu9 {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-EVt8x1 {
}

.the-standard-u40desktopu41-ne .span1-EVt8x1 {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .license-2BH81O {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .iconlicense-tO2TXE {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.the-standard-u40desktopu41-ne .creative-commons-zer-tO2TXE {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .span0-NWFuzl {
  text-decoration: underline;
}

.the-standard-u40desktopu41-ne .span1-NWFuzl {
}

.the-standard-u40desktopu41-ne .arrow {
  background-color: transparent;
  margin-right: -0.85px;
  position: relative;
  width: 15.2392578125px;
}

.the-standard-u40desktopu41-ne .buttonprimary {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.the-standard-u40desktopu41-ne .buttonsecondary {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.the-standard-u40desktopu41-ne .cluster {
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .div {
  align-self: stretch;
  background-color: var(--charcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41-ne .foundation-for-public-code {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.the-standard-u40desktopu41-ne .frame-246 {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  max-width: 360px;
  min-width: 240px;
  position: relative;
}

.the-standard-u40desktopu41-ne .frame-247 {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  max-width: 360px;
  min-width: 240px;
  position: relative;
}

.the-standard-u40desktopu41-ne .frame-248 {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  max-width: 360px;
  min-width: 240px;
  position: relative;
}

.the-standard-u40desktopu41-ne .logo-lockup {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.the-standard-u40desktopu41-ne .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}

.the-standard-u40desktopu41-ne .text {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.the-standard-u40desktopu41-ne .x908fc49c3f1db4cccb413c8f6fd23490-1 {
  height: 40px;
  position: relative;
  width: 125.86956787109375px;
}
