/* screen - the-standard-u40desktopu41 */

.the-standard-u40desktopu41 {
  align-items: center;
  background-color: var(--fpcgrey-e5);
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.the-standard-u40desktopu41 .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 700px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .base {
  background-color: #716cf5;
  box-shadow: inset 275px 550px 605px #56ccf2;
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.the-standard-u40desktopu41 .bg {
  height: 700px;
  left: 0;
  position: absolute;
  top: calc(50.00% - 350px);
  width: 100%;
}

.the-standard-u40desktopu41 .illogobal {
  bottom: 0;
  height: 680px;
  left: calc(50.00% - 72px);
  position: absolute;
  width: 792px;
}

.the-standard-u40desktopu41 .navheader {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
  position: relative;
}

.the-standard-u40desktopu41 .logo-lockup {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.the-standard-u40desktopu41 .logo-symbol {
  height: 55px;
  position: relative;
  width: 47.66px;
}

.the-standard-u40desktopu41 .foundation-for-public-code {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 365.34px;
}

.the-standard-u40desktopu41 .navigation {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41 .links {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: flex-end;
  position: relative;
}

.the-standard-u40desktopu41 .link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41 .nav-button {
  align-items: flex-start;
  background-color: var(--fpccharcoal);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 15px;
  position: relative;
}

.the-standard-u40desktopu41 .cluster-1 {
  flex-direction: column;
  gap: 10px;
  max-width: 1120px;
  padding: 0px 20px;
}

.the-standard-u40desktopu41 .cluster-2 {
  flex-direction: column;
  gap: 55px;
  max-width: 600px;
}

.the-standard-u40desktopu41 .home-the-standard {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41 .span {
  text-decoration: underline;
}

.the-standard-u40desktopu41 .frame-148 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.the-standard-u40desktopu41 .welcome-to-the-stan {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41 .the-standard-helps-p {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
}

.the-standard-u40desktopu41 .link-down {
  align-items: flex-start;
  background-color: var(--fpcwhite);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  position: relative;
}

.the-standard-u40desktopu41 .this-page-provides-a {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41 .buttonsecondary {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 0px 6px 0px 0px;
  position: relative;
}

.the-standard-u40desktopu41 .text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41 .main {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  max-width: 1120px;
  padding: 0px 20px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .frame-195 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.the-standard-u40desktopu41 .whos-using-the-standard {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41 .photos-of-various-p {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41 .cluster-3 {
  background-color: var(--red);
  gap: 15px;
}

.the-standard-u40desktopu41 .roberto-viola {
  flex: 1;
  flex-grow: 1;
  height: 240px;
  object-fit: cover;
  position: relative;
}

.the-standard-u40desktopu41 .img_0730 {
  flex: 1;
  flex-grow: 1;
  height: 240px;
  object-fit: cover;
  position: relative;
}

.the-standard-u40desktopu41 .divhoriz {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  border-radius: 2px;
  height: 2px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .cluster-4 {
  flex-direction: column;
  gap: 30px;
}

.the-standard-u40desktopu41 .surname {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41 .cluster-5 {
  flex-wrap: wrap;
  gap: 15px 15px;
}

.the-standard-u40desktopu41 .frame-24 {
  align-items: flex-start;
  background-color: var(--fpcyellow);
  border-radius: 6px;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  max-width: 360px;
  min-width: 240px;
  padding: 15px;
}

.the-standard-u40desktopu41 .flex-container-401776 {
  display: flex;
  gap: 5px;
}

.the-standard-u40desktopu41 .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.the-standard-u40desktopu41 .cluster-6 {
  gap: 15px;
}

.the-standard-u40desktopu41 .frame-271 {
  align-items: center;
  background-color: var(--fpcwhite);
  border: 2px solid;
  border-color: var(--fpccharcoal);
  border-radius: 24px;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  padding: 30px;
}

.the-standard-u40desktopu41 .video {
  background-image: url(../img/thestandard-posterframe-v03-1.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0px 3.31px 0px #00000026;
  height: 163.12px;
  overflow: hidden;
  position: relative;
  width: 290px;
}

.the-standard-u40desktopu41 .overlap-group {
  align-items: center;
  background-color: #56ccf280;
  display: flex;
  height: 163px;
  min-width: 290px;
  padding: 0 123.5px;
}

.the-standard-u40desktopu41 .polygon-1 {
  height: 50px;
  width: 43px;
}

.the-standard-u40desktopu41 .text-overlay {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.the-standard-u40desktopu41 .a-video-introduction {
  align-self: stretch;
  flex: 0 0 auto;
  margin-top: -0.80px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .text-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41 .cluster {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .standard-compliance-and-certification {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41 .flex-container-373358 {
  display: flex;
  gap: 10px;
}

.the-standard-u40desktopu41 .goals-for-the-standard-for-public-code {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41 .flexcontainer-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  min-height: 368px;
  position: absolute;
  top: 49px;
  width: 1080px;
}

.the-standard-u40desktopu41 .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 174px;
  position: relative;
  width: 1080px;
}

.the-standard-u40desktopu41 .text5-37335847 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41 .make-the-standard-better {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.the-standard-u40desktopu41 .testimonial {
  align-items: center;
  align-self: stretch;
  border-radius: 24px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .quoted-text {
  height: 33px;
  left: calc(50.00% - 29px);
  position: absolute;
  top: -18px;
  width: 42px;
}

.the-standard-u40desktopu41 .quoted-text-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
}

.the-standard-u40desktopu41 .attr {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  padding: 0px 0px 0px 5px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .attrportraits {
  background-image: url(../img/audrey-tang@2x.png);
  background-size: 100% 100%;
  border-radius: 80px;
  height: 80px;
  position: relative;
  width: 80.0px;
}

.the-standard-u40desktopu41 .rim {
  border: 4px solid;
  border-color: var(--fpcblue);
  border-radius: 44px;
  height: 88px;
  left: -4px;
  position: relative;
  top: -4px;
  width: 88px;
}

.the-standard-u40desktopu41 .flex-container-i4017757634036497 {
  display: inline-flex;
  gap: 3px;
}

.the-standard-u40desktopu41 .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--fpcwhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 0px 0px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .divhoriz-1 {
  align-self: stretch;
  background-color: var(--fpccharcoal);
  height: 2px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .content-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .foundation-for-public-code-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.the-standard-u40desktopu41 .mail {
  align-items: flex-start;
  background-color: var(--fpcgrey-f2);
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  height: 150px;
  min-width: 280px;
  padding: 30px;
  position: relative;
}

.the-standard-u40desktopu41 .buttonprimary {
  align-items: center;
  background-color: var(--basic-link);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.the-standard-u40desktopu41 .text-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41 .text-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.the-standard-u40desktopu41 .link-1 {
  cursor: pointer;
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.the-standard-u40desktopu41 .cluster-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.the-standard-u40desktopu41 .flex-container-1 {
  align-items: flex-start;
  flex-direction: column;
}

.the-standard-u40desktopu41 .frame {
  display: flex;
  position: relative;
}

.the-standard-u40desktopu41 .text0 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41 .text1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41 .text2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41 .text3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.the-standard-u40desktopu41 .text4 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}
