/* screen - who-we-are-2 */

.who-we-are-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.who-we-are-2 .navheader-XujRMC {
  align-items: center;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 1440px;
}

.who-we-are-2 .content-Yshkrz {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.who-we-are-2 .logo-title-i7EfB8 {
  width: 426px;
}

.who-we-are-2 .foundation-for-public-code-QlCJZx {
  flex: 1;
}

.who-we-are-2 .navigation-i7EfB8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.who-we-are-2 .links-KXQw1M {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.who-we-are-2 .stewardship-oGWHjg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-2 .resources-oGWHjg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-2 .who-we-are-oGWHjg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-2 .join-us-oGWHjg {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-2 .services-KXQw1M {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.who-we-are-2 .logomastodon-CXS5NT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}

.who-we-are-2 .subtract-drIV8u {
  background-color: transparent;
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 22px;
}

.who-we-are-2 .logotwitter-CXS5NT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.who-we-are-2 .logogithub-CXS5NT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.who-we-are-2 .main-XujRMC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: 1080px;
}

.who-we-are-2 .home-who-we-are-jg4xph {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-zbOcUs {
  text-decoration: underline;
}

.who-we-are-2 .span1-zbOcUs {
}

.who-we-are-2 .frame-195-jg4xph {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.who-we-are-2 .title-itVBTC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450px;
}

.who-we-are-2 .cluster-itVBTC {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .flex-container-31872875-gjCVfq {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-2 .text0-31872875-qWJCDS {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-ygATjW {
}

.who-we-are-2 .text1-31872875-qWJCDS {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span1-kkSY1g {
}

.who-we-are-2 .flex-container-31872876-gjCVfq {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-2 .text0-31872876-VXPmUB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-syPqkH {
}

.who-we-are-2 .text1-31872876-VXPmUB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span1-EgAdf9 {
}

.who-we-are-2 .span2-EgAdf9 {
  text-decoration: underline;
}

.who-we-are-2 .span3-EgAdf9 {
}

.who-we-are-2 .span4-EgAdf9 {
  text-decoration: underline;
}

.who-we-are-2 .span5-EgAdf9 {
}

.who-we-are-2 .text2-31872876-VXPmUB {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span6-vADIXq {
  text-decoration: underline;
}

.who-we-are-2 .span7-vADIXq {
}

.who-we-are-2 .frame-195-lgG9Ol {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.who-we-are-2 .the-team-YJfrOO {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450px;
}

.who-we-are-2 .flex-container-30972892-YJfrOO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 525px;
}

.who-we-are-2 .text0-30972892-aMVwds {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-j0cC8E {
}

.who-we-are-2 .text1-30972892-aMVwds {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span1-Fd6zNT {
}

.who-we-are-2 .span2-Fd6zNT {
  text-decoration: underline;
}

.who-we-are-2 .span3-Fd6zNT {
}

.who-we-are-2 .span4-Fd6zNT {
  text-decoration: underline;
}

.who-we-are-2 .frame-186-YJfrOO {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 26px 30px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .teamdirectory-sr6K15 {
  cursor: pointer;
}

.who-we-are-2 .group-194-ZMyxj2 {
  top: 315px;
}

.who-we-are-2 .group-194-QeH0Pg {
  top: 315px;
}

.who-we-are-2 .person-name-vZBy0x {
  cursor: pointer;
}

.who-we-are-2 .group-194-aXCliP {
  top: 315px;
}

.who-we-are-2 .group-194-EdUYng {
  top: 315px;
}

.who-we-are-2 .person-name-Uef8UL {
  cursor: pointer;
}

.who-we-are-2 .group-194-V7Uc5x {
  top: 315px;
}

.who-we-are-2 .group-194-54aQIH {
  top: 315px;
}

.who-we-are-2 .group-194-pNDvDu {
  top: 315px;
}

.who-we-are-2 .group-194-IWpyE0 {
  top: 355px;
}

.who-we-are-2 .frame-195-3XRkVH {
  display: inline-flex;
}

.who-we-are-2 .former-team-members-uybq7D {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450px;
}

.who-we-are-2 .our-former-team-memb-uybq7D {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 690px;
}

.who-we-are-2 .span0-rRHuDF {
}

.who-we-are-2 .span1-rRHuDF {
  text-decoration: underline;
}

.who-we-are-2 .span2-rRHuDF {
}

.who-we-are-2 .contact-us-jg4xph {
  align-items: flex-start;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23px;
  padding: 30px;
  position: relative;
  width: 1080px;
}

.who-we-are-2 .frame-197-2slrRM {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .questions-b5DBOz {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450.8348693847656px;
}

.who-we-are-2 .every-situation-is-d-b5DBOz {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-AVEYLh {
}

.who-we-are-2 .span1-AVEYLh {
  text-decoration: underline;
}

.who-we-are-2 .span2-AVEYLh {
}

.who-we-are-2 .socials-2slrRM {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.who-we-are-2 .mastodon-0BH9wA {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.who-we-are-2 .twitter-0BH9wA {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.0595703125px;
}

.who-we-are-2 .you-tube-0BH9wA {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.0595703125px;
}

.who-we-are-2 .github-0BH9wA {
  background-color: transparent;
  height: 28px;
  position: relative;
  width: 28.05194854736328px;
}

.who-we-are-2 .footer-XujRMC {
  align-items: center;
  align-self: stretch;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .logo-title-tinInx {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.who-we-are-2 .foundation-for-public-code-EiazYs {
  width: 349px;
}

.who-we-are-2 .frame-217-tinInx {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.who-we-are-2 .blocks-1CuDWa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.who-we-are-2 .about-us-INx6ou {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .content-rQqFnN {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.who-we-are-2 .our-operational-details-ZEOXNs {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .our-staff-informatio-ZEOXNs {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-2 .project-resources-INx6ou {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.who-we-are-2 .content-WYuz4q {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.who-we-are-2 .project-resources-EuxKqG {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.who-we-are-2 .open-products-were-r-EuxKqG {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-2 .information-1CuDWa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.who-we-are-2 .div-WEZU3s {
  margin-top: -2.00px;
}

.who-we-are-2 .contact-WEZU3s {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .contact-info-vN3xzT {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .frame-218-WXgR8O {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.who-we-are-2 .phone-31-20-2-444-500-UM9rbv {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-jzN8KT {
}

.who-we-are-2 .span1-jzN8KT {
  text-decoration: underline;
}

.who-we-are-2 .email-infopubliccodenet-UM9rbv {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-MXi1s9 {
}

.who-we-are-2 .span1-MXi1s9 {
  text-decoration: underline;
}

.who-we-are-2 .keizersgracht-617-10-WXgR8O {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-oVkhmY {
}

.who-we-are-2 .span1-oVkhmY {
  text-decoration: underline;
}

.who-we-are-2 .span2-oVkhmY {
}

.who-we-are-2 .span3-oVkhmY {
  text-decoration: underline;
}

.who-we-are-2 .notes-WEZU3s {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .flex-container-i3381600333815548-Eccx9w {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-2 .text0-i3381600333815548-xFUKbj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span0-dZnXIT {
}

.who-we-are-2 .span1-dZnXIT {
  text-decoration: underline;
}

.who-we-are-2 .span2-dZnXIT {
}

.who-we-are-2 .span3-dZnXIT {
  text-decoration: underline;
}

.who-we-are-2 .span4-dZnXIT {
}

.who-we-are-2 .text1-i3381600333815548-xFUKbj {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-2 .span5-B5WiyY {
}

.who-we-are-2 .span6-B5WiyY {
  text-decoration: underline;
}

.who-we-are-2 .span7-B5WiyY {
}

.who-we-are-2 .span8-B5WiyY {
  text-decoration: underline;
}

.who-we-are-2 .span9-B5WiyY {
}

.who-we-are-2 .metadata-WEZU3s {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .updated-1YWmU7 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .iconupdated-fNx7e1 {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.who-we-are-2 .last-updated-22-august-2023-fNx7e1 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.who-we-are-2 .copyright-1YWmU7 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .image-RlYCri {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4599609375px;
}

.who-we-are-2 .x2023-foundation-for-public-code-RlYCri {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.who-we-are-2 .span0-APVbJv {
}

.who-we-are-2 .span1-APVbJv {
  text-decoration: underline;
}

.who-we-are-2 .license-1YWmU7 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .iconlicense-jQuHim {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.who-we-are-2 .creative-commons-zero-v10-universal-jQuHim {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.who-we-are-2 .arrow {
  background-color: transparent;
  height: 12.46875px;
  margin-right: -0.85px;
  position: relative;
  width: 15.2392578125px;
}

.who-we-are-2 .buttonsecondary {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.who-we-are-2 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.who-we-are-2 .div {
  align-self: stretch;
  background-color: transparent;
  height: 2px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .frame-194 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.9999895095825195px;
  position: relative;
  width: 100%;
}

.who-we-are-2 .frame-195 {
  align-items: flex-start;
  background-color: transparent;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.who-we-are-2 .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.66314697265625px;
}

.who-we-are-2 .teamdirectory {
  align-items: flex-end;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
  position: relative;
}
