/* screen - who-we-are-1 */

.who-we-are-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  top: 0px;
}

.who-we-are-1 .navheader-iNPXtP {
  align-items: center;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 30px 60px;
  position: relative;
  width: 1440px;
}

.who-we-are-1 .content-xqDk2k {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: space-between;
}

.who-we-are-1 .logo-title-N40T83 {
  width: 426px;
}

.who-we-are-1 .foundation-for-public-code-R72YTH {
  flex: 1;
}

.who-we-are-1 .navigation-N40T83 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
  width: 534px;
}

.who-we-are-1 .links-Abrqw5 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  position: relative;
}

.who-we-are-1 .stewardship-5oE4Hf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-1 .resources-5oE4Hf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-1 .who-we-are-5oE4Hf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-1 .join-us-5oE4Hf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: fit-content;
}

.who-we-are-1 .services-Abrqw5 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.who-we-are-1 .logomastodon-zEQ6dW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}

.who-we-are-1 .subtract-xZbQH8 {
  background-color: transparent;
  height: 24px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 22px;
}

.who-we-are-1 .logotwitter-zEQ6dW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.who-we-are-1 .logogithub-zEQ6dW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.who-we-are-1 .frame-194-iNPXtP {
  gap: 60px;
  width: 1080px;
}

.who-we-are-1 .home-who-we-are-gaL6b5 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-Lxb1yV {
  text-decoration: underline;
}

.who-we-are-1 .span1-Lxb1yV {
}

.who-we-are-1 .frame-195-gaL6b5 {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.who-we-are-1 .title-nzXUxJ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450px;
}

.who-we-are-1 .cluster-nzXUxJ {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .flex-container-31872905-qiYOeX {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-1 .text0-31872905-XOIfgW {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-xn2yzA {
}

.who-we-are-1 .text1-31872905-XOIfgW {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span1-okR4Za {
}

.who-we-are-1 .flex-container-31872906-qiYOeX {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-1 .text0-31872906-19kQF7 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-DKH0Ra {
}

.who-we-are-1 .text1-31872906-19kQF7 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span1-QOfCaJ {
}

.who-we-are-1 .span2-QOfCaJ {
  text-decoration: underline;
}

.who-we-are-1 .span3-QOfCaJ {
}

.who-we-are-1 .span4-QOfCaJ {
  text-decoration: underline;
}

.who-we-are-1 .span5-QOfCaJ {
}

.who-we-are-1 .text2-31872906-19kQF7 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span6-gZwPMN {
  text-decoration: underline;
}

.who-we-are-1 .span7-gZwPMN {
}

.who-we-are-1 .frame-195-Km0fb6 {
  align-self: stretch;
  display: flex;
  width: 100%;
}

.who-we-are-1 .the-team-86Uael {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450px;
}

.who-we-are-1 .flex-container-31872910-86Uael {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 525px;
}

.who-we-are-1 .text0-31872910-6sZCx8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-MVTBHj {
}

.who-we-are-1 .text1-31872910-6sZCx8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span1-xaytgx {
}

.who-we-are-1 .span2-xaytgx {
  text-decoration: underline;
}

.who-we-are-1 .span3-xaytgx {
}

.who-we-are-1 .span4-xaytgx {
  text-decoration: underline;
}

.who-we-are-1 .frame-186-86Uael {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 26px 30px;
  opacity: 0.25;
  position: relative;
  width: 100%;
}

.who-we-are-1 .teamdirectory-11Wgnd {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-hQ6MJy {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .group-194-hQ6MJy {
  top: 315px;
}

.who-we-are-1 .teamdirectory-CxxQPv {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-aMxmcS {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .group-194-aMxmcS {
  top: 315px;
}

.who-we-are-1 .teamdirectory-xQS7io {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-6eBFlV {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .person-name-j8oOYs {
  cursor: pointer;
}

.who-we-are-1 .group-194-6eBFlV {
  top: 315px;
}

.who-we-are-1 .teamdirectory-Nfrs3E {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-CVHorQ {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .group-194-CVHorQ {
  top: 315px;
}

.who-we-are-1 .teamdirectory-gxFsrG {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-XEMWdd {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .person-name-E7Zg0L {
  cursor: pointer;
}

.who-we-are-1 .group-194-XEMWdd {
  top: 315px;
}

.who-we-are-1 .teamdirectory-x2x7ao {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-t9nNli {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .group-194-t9nNli {
  top: 315px;
}

.who-we-are-1 .teamdirectory-9DhDOv {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-T1gZbW {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .group-194-T1gZbW {
  top: 315px;
}

.who-we-are-1 .teamdirectory-42IRCm {
  gap: 14.999968528747559px;
  padding: 14.999968528747559px;
}

.who-we-are-1 .frame-194-jFxxzm {
  align-self: stretch;
  gap: 4.9999895095825195px;
  width: 100%;
}

.who-we-are-1 .group-194-jFxxzm {
  top: 355px;
}

.who-we-are-1 .frame-195-J9eDx9 {
  display: inline-flex;
}

.who-we-are-1 .former-team-members-OID1Ua {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450px;
}

.who-we-are-1 .our-former-team-memb-OID1Ua {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 690px;
}

.who-we-are-1 .span0-Cj2cl7 {
}

.who-we-are-1 .span1-Cj2cl7 {
  text-decoration: underline;
}

.who-we-are-1 .span2-Cj2cl7 {
}

.who-we-are-1 .contact-us-gaL6b5 {
  align-items: flex-start;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23px;
  padding: 30px;
  position: relative;
  width: 1080px;
}

.who-we-are-1 .frame-197-1BiGZF {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .questions-Bl6HcT {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 450.8348693847656px;
}

.who-we-are-1 .every-situation-is-d-Bl6HcT {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-dYiAZy {
}

.who-we-are-1 .span1-dYiAZy {
  text-decoration: underline;
}

.who-we-are-1 .span2-dYiAZy {
}

.who-we-are-1 .socials-1BiGZF {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.who-we-are-1 .mastodon-EkxfYX {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.who-we-are-1 .twitter-EkxfYX {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.05936813354492px;
}

.who-we-are-1 .you-tube-EkxfYX {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32.05936813354492px;
}

.who-we-are-1 .github-EkxfYX {
  background-color: transparent;
  height: 28px;
  position: relative;
  width: 28.052734375px;
}

.who-we-are-1 .teammodalexpanded-iNPXtP {
  -webkit-backdrop-filter: blur(12px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(12px) brightness(100%);
  background-color: var(--machine-grey);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  gap: 30px;
  left: 165px;
  padding: 30px;
  position: absolute;
  top: 886px;
  width: 740px;
}

.who-we-are-1 .teamdirectory-un56Oi {
  gap: 15px;
}

.who-we-are-1 .frame-194-TkiCTP {
  align-self: stretch;
  gap: 5px;
  width: 100%;
}

.who-we-are-1 .flex-container-i318415377318412468-TkiCTP {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-1 .text0-i318415377318412468-TWVxZq {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.who-we-are-1 .span0-Hgf9tk {
}

.who-we-are-1 .text1-i318415377318412468-TWVxZq {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  text-decoration: underline;
}

.who-we-are-1 .span1-OTd7kZ {
}

.who-we-are-1 .group-194-TkiCTP {
  top: 315px;
}

.who-we-are-1 .flex-container-318415378-un56Oi {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-1 .text0-318415378-97vHBN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-VZ52VD {
}

.who-we-are-1 .text1-318415378-97vHBN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span1-HN23kv {
}

.who-we-are-1 .text2-318415378-97vHBN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span2-vJhb2E {
}

.who-we-are-1 .text3-318415378-97vHBN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span3-7QwJqx {
}

.who-we-are-1 .text4-318415378-97vHBN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span4-DFVeNK {
}

.who-we-are-1 .text5-318415378-97vHBN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span5-FJXuuO {
}

.who-we-are-1 .text6-318415378-97vHBN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span6-QG6EiO {
}

.who-we-are-1 .footer-iNPXtP {
  align-items: center;
  align-self: stretch;
  background-color: var(--machine-grey);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  min-width: 800px;
  padding: 60px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .logo-title-xxXSgP {
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.who-we-are-1 .foundation-for-public-code-Mx0ngE {
  width: 349px;
}

.who-we-are-1 .frame-217-xxXSgP {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.who-we-are-1 .blocks-relri9 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  max-width: 1160px;
  position: relative;
}

.who-we-are-1 .about-us-SX5E2a {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .content-xnmHEO {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.who-we-are-1 .our-operational-details-nk462I {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .our-staff-informatio-nk462I {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .project-resources-SX5E2a {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 0px #00000026;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.who-we-are-1 .content-yxkY4d {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.who-we-are-1 .project-resources-1xmnZp {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: left;
}

.who-we-are-1 .open-products-were-r-1xmnZp {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .information-relri9 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  max-width: 1160px;
  position: relative;
}

.who-we-are-1 .div-DOyRRt {
  margin-top: -2.00px;
}

.who-we-are-1 .contact-DOyRRt {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .contact-info-1XPx0J {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .frame-218-cJKwuu {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  position: relative;
}

.who-we-are-1 .phone-31-20-2-444-500-AAnX2K {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-IGNIxN {
}

.who-we-are-1 .span1-IGNIxN {
  text-decoration: underline;
}

.who-we-are-1 .email-infopubliccodenet-AAnX2K {
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-KClvma {
}

.who-we-are-1 .span1-KClvma {
  text-decoration: underline;
}

.who-we-are-1 .keizersgracht-617-10-cJKwuu {
  background-color: transparent;
  flex: 1;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-SDWtXv {
}

.who-we-are-1 .span1-SDWtXv {
  text-decoration: underline;
}

.who-we-are-1 .span2-SDWtXv {
}

.who-we-are-1 .span3-SDWtXv {
  text-decoration: underline;
}

.who-we-are-1 .notes-DOyRRt {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .flex-container-i3381607033815548-cAlQ9A {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.who-we-are-1 .text0-i3381607033815548-DRknks {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span0-x5Zfcu {
}

.who-we-are-1 .span1-x5Zfcu {
  text-decoration: underline;
}

.who-we-are-1 .span2-x5Zfcu {
}

.who-we-are-1 .span3-x5Zfcu {
  text-decoration: underline;
}

.who-we-are-1 .span4-x5Zfcu {
}

.who-we-are-1 .text1-i3381607033815548-DRknks {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
}

.who-we-are-1 .span5-CkpVck {
}

.who-we-are-1 .span6-CkpVck {
  text-decoration: underline;
}

.who-we-are-1 .span7-CkpVck {
}

.who-we-are-1 .span8-CkpVck {
  text-decoration: underline;
}

.who-we-are-1 .span9-CkpVck {
}

.who-we-are-1 .metadata-DOyRRt {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .updated-N9xTrw {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .iconupdated-80QYMX {
  background-color: transparent;
  height: 16px;
  position: relative;
  width: 16px;
}

.who-we-are-1 .last-updated-22-august-2023-80QYMX {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.who-we-are-1 .copyright-N9xTrw {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .image-cpU6lt {
  background-color: transparent;
  height: 14.4599609375px;
  position: relative;
  width: 14.4609375px;
}

.who-we-are-1 .x2023-foundation-for-public-code-cpU6lt {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 299px;
}

.who-we-are-1 .span0-0swnGG {
}

.who-we-are-1 .span1-0swnGG {
  text-decoration: underline;
}

.who-we-are-1 .license-N9xTrw {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .iconlicense-KrQTJI {
  background-color: transparent;
  height: 14.5px;
  position: relative;
  width: 16px;
}

.who-we-are-1 .creative-commons-zero-v10-universal-KrQTJI {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 299px;
}

.who-we-are-1 .arrow {
  background-color: transparent;
  height: 12.46875px;
  margin-right: -0.85px;
  position: relative;
  width: 15.23828125px;
}

.who-we-are-1 .buttonsecondary {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.who-we-are-1 .content {
  background-color: transparent;
  display: flex;
  position: relative;
}

.who-we-are-1 .div {
  align-self: stretch;
  background-color: transparent;
  height: 2px;
  position: relative;
  width: 100%;
}

.who-we-are-1 .frame-194 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.who-we-are-1 .frame-195 {
  align-items: flex-start;
  background-color: transparent;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.who-we-are-1 .logo-symbol {
  background-color: transparent;
  height: 55px;
  position: relative;
  width: 47.6640625px;
}

.who-we-are-1 .teamdirectory {
  align-items: flex-end;
  background-color: var(--machine-grey);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
